<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
	class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Header -->
		<% include ../../partials/header %>
		<!-- end::Header -->
		<!-- begin::Body -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-body__nav">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- begin::Horizontal Menu -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
							<button
								class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
								id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<% include ../../partials/Menu %>
						</div>

					</div>
				</div>
				<div
					class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
					<!-- BEGIN: Left Aside -->
					<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
						<i class="la la-close"></i>
					</button>

					<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<h3 class="m-subheader__title m-subheader__title--separator">
										Job Fair
									</h3>
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a href="/index" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>



									</ul>
								</div>
								<% include ../../partials/calendar %>
								<div>

								</div>
							</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">


							<div class="m-portlet">
                   <div id="searchjobdetail">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Interested Candidate Details
											</h3>

										</div>

									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form">
									<div class="m-portlet__body">
										<div class="m-form__section m-form__section--first">

											<div class="m-form__group form-group row">
                                                <label class="col-lg-2 col-form-label">
                                                    ITI Name :
                                                </label>
                                                <div class="col-lg-4">
                                                    <select id="ddlExchangeName" onfocusout=" getvalidated('ddlExchangeName','select','ITI Name')"; onchange="getvalidated('ddlExchangeName','select','ITI Name')"
														class="form-control m-input"></select>
														<span id="validddlExchangeName" style="font-size: 11px; color: #cc0033; "></span>
                                                </div>
												<label class="col-lg-2 col-form-label">
												     Job Fair  <span class="required" style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<select id="jfddl" onfocusout="getvalidated('jfddl','select',' Job Fair')" onchange="FillJFJsReg();getvalidated('jfddl','select',' Job Fair')" class="form-control m-input"></select>
													<span id="validjfddl" style="font-size: 11px; color: #cc0033; "></span>
												</div>
											</div>

										
										


										</div>
									</div>
									<div class="m-portlet__foot m-portlet__foot--fit">
										<div class="m-form__actions m-form__actions">
											<h5> Show Interested Candidate Detail</h5>
											<a style="margin-left: 96%;" ><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','IntrestedCandidateinJobFair')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
											<% include ../../pages/Table %>
										</div>
									</div>
							</div>
							<div id="JFdetailsById" style="display:none">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Job Fair
											</h3>

										</div>

									</div>
								</div>
								<!--begin::Form-->
								

							</div>
							</form>
						</div>

						<!--end::Form-->

					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
	<!-- begin::Body -->


	<% include ../../partials/footer %>
	</div>
	<!-- end:: Page -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/JobFair/InterstedCandidateReport.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function () {
		//FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice', 'ddlExchangeName');
		FillSecuredexchangeoffice1('parsedatasecuredFillSecuredexchangeoffice1','ddlExchangeName');
		
		FillJobFairDDL('100');
		
		var tablehead = "<th>Sr.No</th><th>Registration Id</th><th>Name</th><th>Email</th><th>Mobile</th>>";
		$("#tablehead").html(tablehead);
		


	});
	if (sessionStorage.getItem("CandidateId") == null) {
		window.location = "/";
	}
</script>
