<!DOCTYPE html>

<html lang="en" >
<!-- begin::Head -->
<head>
<% include ../../partials/head %>
<style>
    @charset "UTF-8";
* {
box-sizing: border-box;
}

a {
text-decoration: none;
color: #379937;
}

body {
margin: 40px;
}

.dropdown {
position: relative;
font-size: 14px;
color: #333;
}
.dropdown .dropdown-list {
padding: 12px;
background: #fff;
position: absolute;
top: 30px;
left: 2px;
right: 2px;
box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
transform-origin: 50% 0;
transform: scale(1, 0);
transition: transform 0.15s ease-in-out 0.15s;
max-height: 66vh;
overflow-y: scroll;
}
.dropdown .dropdown-option {
display: block;
padding: 8px 12px;
opacity: 0;
transition: opacity 0.15s ease-in-out;
}
.dropdown .dropdown-label {
display: block;
height: 30px;
background: #fff;
border: 1px solid #ccc;
padding: 6px 12px;
line-height: 1;
cursor: pointer;
}
.dropdown .dropdown-label:before {
content: "▼";
float: right;
}
.dropdown.on .dropdown-list {
transform: scale(1, 1);
transition-delay: 0s;
}
.dropdown.on .dropdown-list .dropdown-option {
opacity: 1;
transition-delay: 0.2s;
}
.dropdown.on .dropdown-label:before {
content: "▲";
}
.dropdown [type=checkbox] {
position: relative;
top: -1px;
margin-right: 4px;
}
    </style>

</head>
<!-- end::Head -->
<!-- end::Body -->
<body style="background-image: url(../images/bg/bg-1.jpg)" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default" >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
<!-- begin::Header -->
<% include ../../partials/header %>
<!-- end::Header -->
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
<div class="m-grid__item m-body__nav">
<div class="m-stack m-stack--ver m-stack--desktop">
<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
<button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
<i class="la la-close"></i>
</button>
<% include ../../partials/Menu %>
</div>

</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
<i class="la la-close"></i>
</button>

<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
<div class="d-flex align-items-center">
<div class="mr-auto">
<h3 class="m-subheader__title m-subheader__title--separator">
Employer Report
</h3>
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
<li class="m-nav__item m-nav__item--home">
<a href="/index" class="m-nav__link m-nav__link--icon">
<i class="m-nav__link-icon la la-home"></i>
</a>
</li>



</ul>
</div>
<% include ../../partials/calendar %>
<div>

</div>
</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
<div class="m-portlet">
<div class="m-portlet__head">
<div class="m-portlet__head-caption">
<div class="m-portlet__head-title">
<span class="m-portlet__head-icon m--hide">
<i class="la la-gear"></i>
</span>

</div>

</div>
</div>
<!--begin::Form-->
<form class="m-form">
<div class="m-portlet__body">
<div class="m-form__section m-form__section--first">





<div class="m-form__group form-group row">

<label class="col-lg-2 col-form-label">

Exchange:
</label>
<div class="col-lg-4">
<select type="text" id="ddlExchangeName" onchange="FillJobFairDetail(this.value)"  class="form-control" maxlength="40"
name="end" style="padding: initial;" disabled >

</select>

</div>

<label class="col-lg-2 col-form-label">

    Filter Employer:
    </label>
    <div class="col-lg-4">
    <select type="text" id="employerfilter"   class="form-control" onchange="FillReport('Filter')">
    <option value="">All</option>
    <option value="Top">Top 5</option>
    <option value="Bottom">Bottom 5</option>
    </select>
    
    </div>
</div>




<span id="validfiltertype" style="font-size: 11px; color: #cc0033; "></span>

</div>
</div>





<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
    
    <a style="margin-left: 96%;" ><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','jobempreport')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
    <% include ../../pages/Table %>

    <div class="form-group m-form__group row">
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
        
        <button type="button" onclick="FillReport()"
        class="btn btn-success"
        style="background-color:#716aca;border-color:#716aca;" >View Report
        </button>
        
        
        </div>
        <div class="col-lg-3">
        
            <button type="button" onclick="FillJobFairDetail($('#ddlExchangeName').val())"
            class="btn btn-success"
            style="background-color:#716aca;border-color:#716aca;" >Reset
            </button>
            
            
            </div>
        
        </div>
    </div>

    </div>

   
</div>



</div>





</div>
</div>

</form>
<!--end::Form-->

</div>
</div>
</div>
</div>
</div>
</div>
<!-- begin::Body -->
<% include ../../partials/footer %>
</div>
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/JobFair/JobfairEmployerReport.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {
if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
    $('#ddlExchangeName').attr('disabled', false);
}
FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddlExchangeName');
setTimeout(function(){ 
    $('#ddlExchangeName').val(sessionStorage.Ex_id);
FillJobFairDetail(sessionStorage.Ex_id); }, 300);


  

});

</script>



</body>

</html>

