<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>`
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Job Fair Verification
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet"><div class="m-portlet" >
													
										<div  >
												<div class="m-portlet__head">
														<div class="m-portlet__head-caption">
															<div class="m-portlet__head-title">
																<span class="m-portlet__head-icon m--hide">
																	<i class="la la-gear"></i>
																</span>
																<!-- <h3 class="m-portlet__head-text" >
																		<a href="#" onclick="FillJobFairDetailVerification('0','1')">Modify Verified Records</a>
																		/<a href="#" onclick="FillJobFairDetailVerification('0','0')">Non Verified Records</a>
																</h3> -->
																<form class="m-form">
																	<div class="m-portlet__body ">
																		<div class="m-form__section m-form__section--first">
																				<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;width: 184%;">
																				<h5 style="color: red;">  कैसे उपयोग करे </h5>
																				<p>उपयोगकर्ता Exchange   के अनुसार निम्न कार्य कर सकता है :-</p>
																		  <ul style="color:black">
																		 <li> “Modify Verified Records” इसके द्वारा सत्यापित Records को सुधारा जा सकता है । </li>
																		 <li> “Delete” इसके द्वारा सत्यापित एवं असत्यापित Job Fair के Records को हटाया जा सकता है ।</li>
																		 <li> “Non Verified Records” इसके द्वारा असत्यापित Records को सुधारा जा सकता है ।</li>

																		</ul>
			
																				</div>
																			</div>
																		<div class="form-group m-form__group row">
																			<div class="col-lg-6">
																					<a href="#" onclick="FillJobFairDetailVerification('0','1')"><button type="button" class="btn btn-success"
																					style="background-color:#716aca;border-color:#716aca;">
																					Modify Verified Records
																				</button></a>
																			</div>
																			<div class="col-lg-4">
																					<a href="#" onclick="FillJobFairDetailVerification('0','0')"><button type="button" class="btn btn-success"
																					style="background-color:#716aca;border-color:#716aca;">
																					Non Verified Records
																				</button></a>
																			</div>
																		</div>
																</div>
</form>
															</div>
														  
														</div>
													</div>
												<form class="m-form" id="modifyjobdetails" style="display: none;" >
													
														<div class="m-portlet__body">
															<div class="m-form__section m-form__section--first">
																	<span style="color:red">Fields mark with * are Mandatory.</span>
													   
														
																
																<div class="m-form__group form-group row">
																	<label class="col-lg-2 col-form-label">
																		Exchange Name:
																	</label>
																	<div class="col-lg-4">
																		<select id="modifyjobfairexchange" class="form-control m-input"></select>
																	</div>
																	<label class="col-lg-2 col-form-label">
																			Title<span class="required" style="color:red;">*</span> :
																		</label>
																		<div class="col-lg-4">
																			<input type="text" id="JFTitle" onfocusout="getvalidated('JFTitle','text','Title')" class="form-control" name="end">
																			<span id="validJFTitle" style="font-size: 11px; color: #cc0033; "></span>
																				
																		</div>
																	</div>
																</div>
																
																	<div class="m-form__group form-group row">
																			<label class="col-lg-2 col-form-label">
																			Detail:
																			</label>
																			<div class="col-lg-4">
																				<textarea class="form-control m-input"id="JFDetail" rows="3"></textarea>
																				<span id="validJFDetail" style="font-size: 11px; color: #cc0033; "></span>
																					
																			</div>
																			<label class="col-lg-2 col-form-label">
																					Venue<span class="required" style="color:red;">*</span>:
																					</label>
																					<div class="col-lg-4">
																						<textarea class="form-control m-input" id="JFVenue" rows="3"  onfocusout="getvalidated('JFVenue','text','Venue')" ></textarea>
																						<span id="validJFVenue" style="font-size: 11px; color: #cc0033; "></span>
																					</div>

																		</div>
																	
																				
																			
																			<div class="form-group m-form__group row">
																					<label class="col-lg-2 col-form-label">
																						From Date<span class="required" style="color:red;">*</span>:
																					</label>
																					<div class="col-lg-4">
																							<div class="input-group date">
																									<input type="text" class="form-control m-input" readonly=""  onfocusout="getvalidated('m_datepicker_5','text','From Date')"  placeholder="Enter From Date" id="m_datepicker_5">
																									<div class="input-group-append">
																										<span class="input-group-text">
																											<i class="la la-calendar-check-o"></i>
																										</span>
																									</div>
																								</div>
																								<span id="validm_datepicker_5" style="font-size: 11px; color: #cc0033; "></span>
																								
																					</div>
																					<label class="col-lg-2 col-form-label">
																							To Date<span class="required" style="color:red;">*</span>:
																						</label>
																						<div class="col-lg-4">
																								<div class="input-group date">
																										<input type="text" class="form-control m-input" readonly="" placeholder="Select date" onfocusout="getvalidated('m_datepicker_6','text','To Date')" id="m_datepicker_6">
																										<div class="input-group-append">
																											<span class="input-group-text">
																												<i class="la la-calendar-check-o"></i>
																											</span>
																										</div>
																									</div>
																									<span id="validm_datepicker_6" style="font-size: 11px; color: #cc0033; "></span>
																									 
																						</div>
																				</div>
																				<div class="form-group m-form__group row">
																						<label class="col-lg-2 col-form-label">
																							Status:
																						</label>
																						<div class="col-lg-4">
																							
																								<select  id="jfvStatus" class="form-control m-input">
																										<option value="0">Not Verified</option>
																										<option  value="1">Verified</option>
																										<option value="2">Reject</option>

																								</select>
																						</div>
																						<label class="col-lg-2 col-form-label">
																								Reason:
																							</label>
																							<div class="col-lg-4">
																									
																											<textarea class="form-control m-input"id="JFVReason" rows="3"></textarea>
																											<span id="validJFDetail" style="font-size: 11px; color: #cc0033; "></span>
																												
																										</div>
																										 
																						
																					</div>
																				<div class="form-group m-form__group row">
																						<label class="col-lg-2 col-form-label">
																								Active:
																						</label>
																						<div class="col-lg-4">
																								<label class="m-checkbox">
																										<input type="checkbox" id='chkActiveStatus'>
																										<span></span>
																									</label>
																								  </div>
																								  <label class="col-lg-2 col-form-label">
																										File Name:
																								</label>
																								<div class="col-lg-4">
																										<input type="file" name="myFile" ></input>
																										  </div>
																				 </div>
																				
																				 
														<div class="form-group m-form__group row">
														<div class="col-lg-5"></div>
																<div class="col-lg-2">
																	
																	<button type="button" onclick="CheckValidation()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																  Submit
																	</button>
																		
																	<button type="button"id="btnSubmit" onclick="resetmode();$('#addjobdetails').hide()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																			Cancel
																				</button>
																</div>
																
																
															</div>
														</form>	
															</div>
														</div>
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text" id='JFheading'>
                                                           
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
												<div class="m-portlet__body">
														<div class="m-form__section m-form__section--first">
														 
											<div class="m-form__group form-group row" id="ddlexchng" style="display: none">
												<label class="col-lg-3 col-form-label">
													Exchange Name	<span class="required" style="color:red;">*</span> :
												</label>
												<div class="col-lg-6">
													<select id="JFVExchangeName" class="form-control m-input"></select>
												</div>
											</div>
										</div>
									</div>
											<div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions">
											
										  <% include ../../pages/Table %>
												</div>
											</div>
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="m_modal_5" role="dialog">
						<div class="modal-dialog">
						
							<!-- Modal content-->
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
								
							  </div>
							  <div class="modal-body">
									<div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert">
											<div class="m-alert__icon">
												<i class="la la-warning"></i>
											</div>
											<div class="m-alert__text">
												<strong>
														Are you sure to delete? 
												</strong>
												
											</div>
											<div class="m-alert__actions" style="width: 200px;">
												<button type="button" onclick="Delete(localStorage.JFId,'JFDetail');$('#closebtn').click()" class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide">
													OK
												</button>
												<button  type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal" aria-label="Close">
													Dismiss
												</button>
											</div>
										</div>
							  </div>
							  <div class="modal-footer">
							 </div>
							</div>
							
						  </div>
						</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
        </div>
    

     

		<!-- end::Scroll Top -->	
        <% include ../../partials/script %>
        <script src="../customjs/JobFair/JobFairVerification.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				var tablehead="<th>ID</th><th>Title</th><th>Venue</th><th>From Date</th><th>To Date</th><th>Exchange Name</th><th>Action</th><th>Action Taken By</th><th>Action Date</th><th>Active </th><th>Modify </th><th>Delete</th>";
        $("#tablehead").html(tablehead);
                           
				FillJobFairDetailVerification('0','0');
				FillVerifyJFexchangeoffice();
				sessionStorage.Status='Not-Verified';
				$("#JFheading").html('Modify Non-Verified Job Fair')
			
                });
                           //Filltble();
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>