<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="padding-right: 17px; display: block;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Modify Existing Job Fair
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                    Exchange Name<span class="required" style="color:red;">*</span> :
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="textHindi" class="form-control m-input" placeholder="Exchange Name"></input>
                            </div>
                            <label class="col-lg-2 col-form-label">
                                    Company Name(In English)<span class="required" style="color:red;">*</span> :
                                  </label>
                                  <div class="col-lg-4">
                                      <input type="text" id="textHindi" class="form-control m-input" placeholder="Company Name(In English)"></input>
                                  </div>
                        </div>
                    <div class="form-group">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                        <label for="recipient-name" class="form-control-label">
                            Exchange Name:
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Job Fair Title:
                        </label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            Job Fair Details:
                        </label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            Venue:
                        </label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            Reject Reason:
                        </label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Send message
                </button>
            </div>
        </div>
    </div>
</div>