<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                          JobFair
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										
											<div  id="addjobdetails" >
													<div class="m-portlet__head">
															<div class="m-portlet__head-caption">
																<div class="m-portlet__head-title">
																		<!-- --><div class="m-portlet__body">
																<div class="col-lg-4">
																		
																		<button type="button"id="btnSubmit" onclick="$('#addPostCreate').show()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																				Add New
																					</button> 
														</div></div>
																	</div>
																
															</div>
															
														</div>
														<form class="m-form" id="addPostCreate" style="display:none">
																<div class="m-portlet__body">
																	<div class="m-form__section m-form__section--first">
																			<h4>Add Post of Job Seeker</h4>
															   
																
																		
																		<div class="m-form__group form-group row">
																			<label class="col-lg-2 col-form-label">
																				Exchange Name<span class="required" style="color:red;">*</span>:
																			</label>
																			<div class="col-lg-4">
																				<select id="AddPCexchange" class="form-control m-input"></select>
																			</div>
																			<label class="col-lg-2 col-form-label">
																					Year <span class="required" style="color:red;">*</span> :
																				</label>
																				<div class="col-lg-4">
																					<select type="text" id="txtYear"  class="form-control" name="end">
																					</select>
																				</div>
																			</div>
																		</div>
																		
																			<div class="m-form__group form-group row">
																					<label class="col-lg-2 col-form-label">
                                                                                            Month <span class="required" style="color:red;">*</span>:
																					</label>
																					<div class="col-lg-4">
																						<select class="form-control m-input"id="txtMonth" rows="3">
																						</select>
																					</div>
																					<label class="col-lg-2 col-form-label">
																							Job Fair<span class="required" style="color:red;">*</span>:
																							</label>
																							<div class="col-lg-4">
																								<select class="form-control m-input" id="ddlJF"  ></select>
																									</div>
	
																				</div>
																			
																						
																					
																					<div class="form-group m-form__group row">
																							<label class="col-lg-2 col-form-label">
                                                                                                    Employer <span class="required" style="color:red;">*</span>:
																							</label>
																							<div class="col-lg-4">
																											<select type="text" class="form-control m-input" readonly=""    placeholder="Enter From Date" id="ddlEmp"></select>
																								</div>
																							<label class="col-lg-2 col-form-label">
																									Type of Post/Designation<span class="required" style="color:red;">*</span>:
																								</label>
																								<div class="col-lg-4">
																										<input type="text" class="form-control m-input"  placeholder=" "  id="txtDesg"></input>
																								</div>
																						</div>
																					</div>	<div class="form-group m-form__group row">
																							<label class="col-lg-2 col-form-label">
																									No Of Vacnncies/Post <span style="color: red">*</span>
																							</label>
																							<div class="col-lg-4">
																							   <input type="text" class="form-control m-input"  placeholder=" "  id="txtVacancies"></input>
																									</div>

																							<label class="col-lg-2 col-form-label">
																									Pay/Allowances(per annum in INR) <span style="color: red">*</span>
																							</label>
																							<div class="col-lg-4">
																							   <input type="text" class="form-control m-input"  placeholder=" "  id="txtPayAllowance"></input>
																									</div>
																							
																									
																					 </div>
																						<div class="form-group m-form__group row">
																								<label class="col-lg-2 col-form-label">
                                                                                                        Place Of Work<span style="color: red">*</span>
																								</label>
																								<div class="col-lg-4">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="txtPlaceofWork"></input>
                                                                                                        </div>
                                                                                                        
																										  <label class="col-lg-2 col-form-label">
																												Gender <span style="color: red">*</span>
                                                                                                        </label>
                                                                                                        <div class="col-lg-4">
                                                                                                                <select type="text" class="form-control m-input"  placeholder=" "  id="ddlGender">
                                                                                                                    <option>Select Gender</option>
                                                                                                                    <option>Male</option>
                                                                                                                    <option>Female</option>
                                                                                                                    <option>Both</option>
                                                                                                                </select>   
                                                                                                                </div>
                                                                                         </div>
                                                                                         
                                                                                         <div class="form-group m-form__group row">
																								<label class="col-lg-2 col-form-label">
                                                                                                        Age :
																								</label>
                                                                                                <label class="col-lg-1 col-form-label">Min Age<span style="color: red">*</span></label>
                                                                                                <div class="col-lg-1">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="txtMnAge"></input>
                                                                                                        </div>

                                                                                                        <label class="col-lg-1 col-form-label">Max  Age<span style="color: red">*</span></label>
                                                                                                  <div class="col-lg-1">
                                                                                                                <input type="text" class="form-control m-input"  placeholder=" "  id="txtmaxAge"></input>
                                                                                                                     </div>

                                                                                                                     <label class="col-lg-2 col-form-label">as on Date<span style="color: red">*</span></label>
                                                                                                               <div class="col-lg-4">
                                                                                                                            <div class="input-group date">
                                                                                                                                    <input type="text" class="form-control m-input" readonly=""   placeholder="" id="m_datepicker_5">
                                                                                                                                    <div class="input-group-append">
                                                                                                                                        <span class="input-group-text">
                                                                                                                                            <i class="la la-calendar-check-o"></i>
                                                                                                                                        </span>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                </div>

																										  
                                                                                         </div>
                                                                                         	<div class="form-group m-form__group row">
                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                        Essential Qualification<span style="color: red">*</span>
                                                                                                </label>
                                                                                                <div class="col-lg-4">
                                                                                                        <input type="text" class="form-control m-input"  placeholder=" "  id="txtEQual"></input>
                                                                                                             </div>

																								<label class="col-lg-2 col-form-label">
                                                                                                        Desired Qualification<span style="color: red">*</span>
																								</label>
																								<div class="col-lg-4">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="txtDQual"></input>
                                                                                                        </div>
                                                                                                        
																										  
																						 </div>	<div class="form-group m-form__group row">
																								<label class="col-lg-2 col-form-label">
																										Pay/Allowances(per annum in INR) <span style="color: red">*</span>
																								</label>
																								<div class="col-lg-4">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="txtPayAllowance"></input>
                                                                                                        </div>
																								<label class="col-lg-2 col-form-label">
                                                                                                        Remark<span style="color: red">*</span>
																								</label>
																								<div class="col-lg-4">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="txtRemark"></input>
                                                                                                        </div>
                                                                                                        
																						 </div>
																						
																						 
																<div class="form-group m-form__group row">
																<div class="col-lg-5"></div>
																		<div class="col-lg-2">
																			
																			<button type="button" onclick=""  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																		  Save
																			</button>
																				
																			<button type="button"id="btnSubmit" onclick="$('#addPostCreate').hide()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																					Cancel
																						</button>
																		</div>
																		
																		
																	</div>
																</form>
																</div>
										<div id="SearchGD"><div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                       Job Seeker Selection for Any post
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
							
                                                    <div class="m-form__group form-group row">
                                                        <label class="col-lg-3 col-form-label">
                                                             Exchange Name	<span class="required" style="color:red;">*</span> :
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <select id="PCExchange" class="form-control m-input"></select>
                                                        </div>
                                                    </div>
												</div>
											</div>
											<div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions">
												<h5> Show Post Information </h5>
										  <% include ../../pages/Table %>
												</div>
											</div>
										</form></div>
										<!--end::Form-->
										
									
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/JobFair/PostCreation.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','PCExchange');
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','AddPCexchange');
				FillPCDetail('100');
				FillYear('parsedatasecuredFillYear','txtYear');
				FillMonth('parsedatasecuredFillMonth','txtMonth');
				localStorage.PCId='0'

				if(sessionStorage.CandidateId=='28'){
			$("#PCExchange").attr('disabled',true)
			$("#AddPCexchange").attr('disabled',true)
		}
                var tablehead="<th>Jobfair_Title</th><th>PostName</th><th>No Of Post</th><th>Pay Allowances</th><th>Place Of work</th><th>Gender</th><th>MinAge</th><th>MaxAge</th><th>As On Date</th><th>E-Qualification</th><th>D-Qualification</th><th>Modify</th><th>Delete</th><th>Verify</th>";
        $("#tablehead").html(tablehead);
							});
							
  
                </script>
