<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
            <% include ../../partials/head %>
            <style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Job Fair
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Search Candidate For Job Fair 
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                
                                                    <div class="form-group m-form__group row" id="exhide">
                                                        <label class="col-lg-2 col-form-label">
                                                            Exchange :
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <select type="text" id="exchange" class="form-control" placeholder="select Exchange"> </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group m-form__group row">
                                                        <label class="col-lg-2 col-form-label">
                                                            Job Fair :
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select type="text" id="JobFair" class="form-control" placeholder="select Job Fair"> </select>
                                                        </div>

                                                        <label class="col-lg-2 col-form-label">
                                                            Registration Date  :
                                                    </label>
                                                       <div class="col-lg-2">
                                                        <input type="text" id="m_datepicker_2" class="form-control" placeholder="From Date" autocomplete="off"> </input>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input type="text" id="m_datepicker_5" class="form-control" placeholder="To Date" autocomplete="off"> </input>
                                                            </div>
                                                    </div>
                                                    
                                                        <div class="form-group m-form__group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                Qualification :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" id="Qualification" class="demo-default" placeholder="Qualification"> </input>
                                                          
                                                            </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    Designation :
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="Designation" class="demo-default" placeholder="Designation"> </input>
                                                                   
                                                                    </div>

                                                        </div>

                                                        <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                        Location :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <input type="text" id="Location" class="demo-default" placeholder="Location"> </input>
                                                                  </div>
                                                                  <label class="col-lg-2 col-form-label">
                                                                    Gender :
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <select type="text" id="Gender" class="form-control" placeholder="Gender"><option value="0">Select Gender</option>
                                                                    <option  value="Male">Male</option> 
                                                                    <option  value="Female">Female</option>
                                                                   <option value="0">Both</option>
                                                                   </select>
                                                              </div>
                                                                </div>
                                                                
				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">
						Age Criteria :
					</label>
					<div class="col-lg-2">
						<input type="text" maxlength="2"  id="MinAge" autocomplete="off"  placeholder="Min Age"  onfocusout="lengthCheck();getvalidated('MinAge', 'select', 'Min Age');"
							
							class="form-control" name="end">
                            <span id="validMinAge"
							style="font-size: 11px; color: #cc0033; "></span>
                    </div>
        

					<div class="col-lg-2">
                        <input type="text" id="MaxAge" autocomplete="off" placeholder="Max Age"  maxlength="2" onfocusout="lengthCheck();getvalidated('MaxAge', 'text', 'Max Age');" class="form-control" name="end">
                        
                        <span id="validMaxAge"
							style="font-size: 11px; color: #cc0033; "></span>
							</div>
					
					
					<label class="col-lg-2 col-form-label">
						Trade :
					</label>
					<div class="col-lg-4">
						<input type="text" id="Trade" class="demo-default" style="padding-left:3px;    width: 336px;height: 37px; " placeholder="Trade" name="end">
		
                    </div>

                    
                </div>
                <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">
                    Salary :
                </label>
                <div class="col-lg-2">
                    <input type="text" id="MinSalary" autocomplete="off" placeholder="Min Salary" maxlength="6"
                        
                        class="form-control" name="end">

                </div>
                <div class="col-lg-2">
                    <input type="text" id="MaxSalary" maxlength="6"  autocomplete="off" placeholder="Max Salary" class="form-control" name="end" >
                    
                
                </div>
                <label class="col-lg-2 col-form-label">
                    Number of Candidate :
                </label>
               
                <div class="col-lg-4">
                    <input type="text" id="noofcandidate" value='100'  autocomplete="off" placeholder="Number of Candidate" class="form-control" name="end" >
                    
                
                </div>
            </div>
												
                                                                  <div class="form-group m-form__group row">
                                                              <div class="col-lg-2">
                                                                <button type="button"  onclick=" FillSearchCandidate()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                    Search
                                                                </button>
                                                                </div>
                                                                
                                                                <div class="col-lg-2">
                                                                    <button type="button"  onclick="goBack()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                         Back
                                                                    </button>
                                                                </div>


   


                                                                    </div>
                                                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                                                        <div class="m-form__actions m-form__actions">
                                                                    

                                  
                                                                        <% include ../../pages/Table %>

                      
                                                                        </div>

                                                                       

                                                                        <div class="form-group m-form__group row" style="display: none;" id='sendAlert'>
                                                                           
                                                                            

                                                                          <div class="col-lg-2">
                                                                            <button type="button"  onclick="CheckCandidate('email')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                               Send Email
                                                                            </button>
                                                                            </div>
                                                                            <div class="col-lg-2" >
                                                                                <button type="button"  onclick="CheckCandidate('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                    Send SMS
                                                                                </button>
                                                                            </div>

                                                                                                                                         
                                                                  

                                                                                </div>
 
                                                                                
        
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                      
                                                            <div class="modal fade" id="m_modal_5" role="dialog">
                                                                <div class="modal-dialog">
                                                        
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                                        
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                    Subject:
                                                                                </label>
                                                                              <input class="form-control m-input" id="subjecttxt"  onfocusout=" getvalidated('subjecttxt','text','Subject');"
                                                                                rows="3" placeholder="Please enter subject" />
                                                                                <span id="validJFDetail"
                                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                                            <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                    Body:
                                                                                </label>
                                                                              <textarea class="form-control m-input" id="JFDetail"  onfocusout=" getvalidated('JFDetail','text','Body');"
                                                                                rows="3" placeholder="Please enter body content"></textarea>
                                                                                <span id="validJFDetail"
                                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                                                <div class="form-group m-form__group row">
                                                                                <div class="m-alert__actions" style="width: 200px;">
                                                                                    <button type="button" onclick="SendAlert('email')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                        Send 
                                                                                     </button>
                                                                                    <button type="button" class="btn btn-success"
                                                                                        data-dismiss="modal" aria-label="Close">
                                                                                        Dismiss
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                        </div>
                                                                    </div>
                                                        
                                                                </div>
                                                            </div>
                                                            <div class="modal fade" id="m_modal_6" role="dialog">
                                                                <div class="modal-dialog">
                                                        
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                                        
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                   Content:
                                                                                </label>
                                                                              <textarea class="form-control m-input" id="SmsDetail"  onfocusout=" getvalidated('SmsDetail','text','Content');"
                                                                                rows="3" placeholder="Please enter sms content"></textarea>
                                                                                <span id="validSmsDetail"
                                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                                                <div class="form-group m-form__group row">
                                                                                <div class="m-alert__actions" style="width: 200px;">
                                                                                    <button type="button" onclick="SendAlert('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                        Send 
                                                                                     </button>
                                                                                    <button type="button" class="btn btn-success"
                                                                                        data-dismiss="modal" aria-label="Close">
                                                                                        Dismiss
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                        </div>
                                                                    </div>
                                                        
                                                                </div>
                                                            </div>
                                                                
                                                        </div>
                                                                
                                                    </div>       <!-- end:: Page -->
                                                </div>
                                            </div>
                                        </div>       <!-- end:: Page -->
                                    </div>
                                </div>

                                                               
                                                                <!-- begin::Scroll Top -->
                                                                <% include ../../partials/footer %>
                                                            </body>
                                                            <!-- end::Body -->
                                                        </html>
                                                        
                                                        <!-- end::Scroll Top -->	
                                                                <% include ../../partials/script %>
                                                                <script src="../customjs/JobFair/SearchParticipant.js" type="text/javascript"></script>
                                                                <script src="../js/pagination.js" type="text/javascript"></script>
                                                        
                                                                <script type="text/javascript">
                                                            
                                                                    $(document).ready(function () {
                                                                       
                                                                        FillQualification()
                                                                        FillDesignation()
                                                                        FillLocation()
                                                                        FillTradeName()
                                                                        FillJobFairDetail()
                                                                     //  page()
                                                                    //     $('#tbodyvalue').DataTable( {
                                                                    //    "pagingType": "full_numbers"
                                                                    //                   } );
 

                                                                    FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','exchange');
							
                            if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
                            $("#exhide").show();
                          //  $( ".disable" ).prop( "disabled", true );
                             }
                            else{
                            $("#exhide").hide();
                             }
                                 
 


                                                                      
                                                                //         var tablehead="<th><a  style='color: white;'><input type='checkbox' onclick='checkAll()' id='selectall'></a></th><th>Name</th><th>Mobile</th><th>Email</th>";
                                                                // $("#tablehead").html(tablehead);


                                                                // var tablehead = "<th>Sr. No</th><th>Company name</th><th>Modify</th><th><a  style='color: white;'><input type='checkbox' onclick='checkAll()' id='selectall'></a></th>";
                                                                //         $("#tablehead").html(tablehead);

                                                                                    });
                                                                                    localStorage.s_id="0"
                                                                                   if(sessionStorage.SearchCandidate=='Y'){
                                                                                    FillSearchCandidate();
                                                                                   }
                                                            						if (sessionStorage.getItem("CandidateId") == null) {
                                                            window.location = "/";
                                                         }

                                                        
                                                                        </script>


                                                     
