<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
            <% include ../../partials/head %>
            

            <style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>


		</head>
	<!-- end::Head -->
    <body style="background-image: url(&quot;../images/bg/bg-1.jpg&quot;);" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
		
            <% include ../../partials/header %>

			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
                                <% include ../../partials/Menu %>
    
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												Reports For Jobseeker
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
                                    </div>
                                    <% include ../../partials/calendar %>
								
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Upcoming Job Fair Details
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
							          
                                            
                                               
                                               <a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','Upcoming Job Fair List')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
													
                                               <div class="form-group m-form__group row" style="    overflow: auto;">
                                                <div class="col-lg-12">
                                                    
                                                    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                        <tr id="Detailhead" style="display: none;">
                                                        </tr>
                                                        <thead id="tablehead">
                                                           

															<tr class="profilesubheading" style="background-color: #cecdcd;">

																<th>Sr No</th>
																<th>Job Title</th>
																<th>Venue</th>
																<th>From Date</th>
																<th>To Date</th>
																<th>Detail</th>
											  
															  </tr>

   
                                                        </thead>
                                                        <tbody id="tbodyvalue"></tbody>
                                                    </table>
                                                 </div>
                                            </div>         
												</div>
											</form></div>
					
										
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<div class="modal fade" id="m_modal_6" role="dialog" style="overflow: auto;">
				<div class="modal-dialog">
				
				<!-- Modal content-->
				<div class="modal-content">
				<div class="modal-header">
				<h4 class="modal-title" id="modalhead">Job Fair Detail</h4>
				<button type="button" id="close" class="close" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body" id="modalbody6">
				
				
				</div>
				<div class="modal-footer" id="modalfooter">
		
				<button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal"
				aria-label="Close">
				Dismiss
				</button>
				</div>
				</div>
				
				</div>
				</div>
            <% include ../../partials/footer %>
  
		
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
        

        <% include ../../partials/script %>

        <script src="../customjs/JobFair/Upcomingjobfair.js" type="text/javascript"></script>
       <script type="text/javascript">
        // <script src="../js/pagination.js" type="text/javascript">
            $(document).ready(function () {
				latestJobFairs()
               

            
             
		var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
  var lastdate = new Date(date.getFullYear(), date.getMonth(), date.getDate());

  $('#m_datepicker_5').datepicker({
format: "dd/mm/yyyy",
todayHighlight: true,
startDate: today,
enddate:lastdate,
autoclose: true
  });
  $('#m_datepicker_6').datepicker({
format: "dd/mm/yyyy",
todayHighlight: true,
startDate: today,
autoclose: true,
endDate:today
  });
		
  $('#m_datepicker_5').datepicker('setDate', today);
  $('#m_datepicker_6').datepicker('setDate', today);

    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
                         window.location = "/";
                          }
                </script>
	
	<!-- end::Body -->

</body>
	<!-- end::Body -->
</html>
