<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
            <% include ../../partials/head %>
            
           

            <script src="https://cdn.jsdelivr.net/npm/translate@1/translate.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    
            <style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                .btn-link {
    border: 0;
    padding: .5rem .7rem;
}
.btn-link, .btn-link.disabled, .btn-link.disabled.active, .btn-link.disabled.focus, .btn-link.disabled:active, .btn-link.disabled:focus, .btn-link.disabled:hover, .btn-link:disabled, .btn-link:disabled.active, .btn-link:disabled.focus, .btn-link:disabled:active, .btn-link:disabled:focus, .btn-link:disabled:hover, .btn-link[disabled], .btn-link[disabled].active, .btn-link[disabled].focus, .btn-link[disabled]:active, .btn-link[disabled]:focus, .btn-link[disabled]:hover, .btn-simple, .btn-simple.disabled, .btn-simple.disabled.active, .btn-simple.disabled.focus, .btn-simple.disabled:active, .btn-simple.disabled:focus, .btn-simple.disabled:hover, .btn-simple:disabled, .btn-simple:disabled.active, .btn-simple:disabled.focus, .btn-simple:disabled:active, .btn-simple:disabled:focus, .btn-simple:disabled:hover, .btn-simple[disabled], .btn-simple[disabled].active, .btn-simple[disabled].focus, .btn-simple[disabled]:active, .btn-simple[disabled]:focus, .btn-simple[disabled]:hover, fieldset[disabled] .btn-link, fieldset[disabled] .btn-link.active, fieldset[disabled] .btn-link.focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-simple, fieldset[disabled] .btn-simple.active, fieldset[disabled] .btn-simple.focus, fieldset[disabled] .btn-simple:active, fieldset[disabled] .btn-simple:focus, fieldset[disabled] .btn-simple:hover{
  background-color: transparent;
}
.btn-link {
	border-width: 2px;
	font-weight: 600;
	font-size: .8571em;
	line-height: 1.35em;
	text-transform: uppercase;
	border: none;
	margin: 10px 1px;
	border-radius: 3px;
	padding: 11px 22px;
	cursor: pointer;
	background-color: #66615b;
	color: #fff;
	transition: all .15s linear
}
                </style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Mass E-Mail
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                           Mass mail for Candidate 
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                
                                                    

                                                        <div class="form-group m-form__group row">
                                                          
                                                            <label class="col-lg-2 col-form-label">
                                                              To :
                                                            </label>
                                                            <div class="col-lg-10">
                                                                <textarea type="text" id="totext"  class="form-control" ></textarea>
                                                          </div>
                                                          </div>
                                                          
                                                        <div class="form-group m-form__group row">
                                                          
                                                            <label class="col-lg-2 col-form-label">
                                                              CC :
                                                            </label>
                                                            <div class="col-lg-10">
                                                                <textarea type="text" id="cctext" class="form-control" ></textarea>
                                                          </div>
                                                          </div>
                                                              
                                                        <div class="form-group m-form__group row">
                                                          
                                                            <label class="col-lg-2 col-form-label">
                                                              BCC :
                                                            </label>
                                                            <div class="col-lg-10">
                                                                <textarea type="text" id="bcctext" onfocusout='valdiateEmails()' class="form-control" ></textarea>
                                                          </div>
                                                          </div>

                                                          <div class="form-group m-form__group row">
                                                          
                                                            <label class="col-lg-2 col-form-label">
                                                              Subject :
                                                            </label>
                                                            <div class="col-lg-10">
                                                                <input type="text" id="subjecttxt"   onfocusout=" getvalidated('subjecttxt','text','Subject');"  placeholder="Please enter Subject" class="form-control translettext" ></input>
                                                          </div>
                                                          </div>
                                                         
                                                                 
                                                          <div class="form-group m-form__group row">
                                                            <div class="col-lg-2">
                                                               </div>
                                                            <label class="col-lg-8 col-form-label" style="color: red;">
                                                                 Note: हिंदी भाषा का उपयोग न करने के लिए 'ctrl+m' का प्रयोग करें।
                                                            </label>
                                                           
                                                            </div>
                                                                    
                                                                
                                                                    
                                                                
                                                                <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Body:
                                                                    </label>
                                                                    <div class="col-lg-10">
                                                                      <textarea id="summernote" name="editordata"  class="translettext"></textarea>
                                                                    </div>
                                                                    </div>
                                                             <span id="validJFDetail" style="font-size: 11px; color: #cc0033; "></span>

                                                                    <div class="form-group m-form__group row" id="templatediv1">
                                                                      <label class="col-lg-2 col-form-label">
                                                                        Template:
                                                                    </label>

                                                                  
                                                                  </div>




                                                              

                                                                    <div class="form-group m-form__group row">
                                                                   
                                                                      <div class="col-lg-2">
                                                                        <button type="button" onclick="CheckValidationBulkMail();"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                            Send 
                                                                         </button>
                                                                      </div>
                                                                      <div>
                                                                        <button type="button" class="btn btn-success"
                                                                         onclick="window.location='/TemplateEmailMaster'">
                                                                        Add New Template
                                                                    </button>
                                                                    </div>
                                                                    
                                                                </div>




                                                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myLargeModal1">
                                                                  <div class="modal-dialog modal-lg" id="model">
                                                                    <div class="modal-content">
                                                                      <div class="modal-header">
                                                                        <span id="subject1"></span>
                                                                      
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                          <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                        <span id="summernote1"></span>
                                                                        <div id="summernote2" style='display: none;'></span>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" onclick="$('#myLargeModal1').modal('toggle');$('.note-editable').html($('#summernote2').html());$('#subjecttxt').val($('#subject1').html())">Use</button>
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>













                                                                  
                                                                    </div>
                                                                </div>
                                                                
                                                              <div class="modal fade" id="m_modal_6" role="dialog">
                                                                <div class="modal-dialog">
                                                        
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                                        
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                   Content:
                                                                                </label>
                                                                              <textarea class="form-control m-input" id="SmsDetail"  onfocusout=" getvalidated('SmsDetail','text','Content');"
                                                                                rows="3" placeholder="Please enter sms content"></textarea>
                                                                                <span id="validSmsDetail"
                                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                                                <div class="form-group m-form__group row">
                                                                                <div class="m-alert__actions" style="width: 200px;">
                                                                                    <button type="button" onclick="SendAlert('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                        Send 
                                                                                     </button>
                                                                                    <button type="button" class="btn btn-success"
                                                                                        data-dismiss="modal" aria-label="Close">
                                                                                        Dismiss
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                        </div>
                                                                    </div>
                                                        
                                                                </div>
                                                            </div>
                                                           
                                                           
                                                                
                                                        </div>
                                                                
                                                    </div>       <!-- end:: Page -->
                                                </div>
                                            </div>
                                        </div>       <!-- end:: Page -->
                                    </div>
                                </div>

                                                               
                                                                <!-- begin::Scroll Top -->
                                                                <% include ../../partials/footer %>
                                                            </body>
                                                            <!-- end::Body -->
                                                        </html>
                                                        
                                                        <!-- end::Scroll Top -->	
                                                         
                                                                
                                                            <% include ../../partials/script %>
                                                                <script src="../customjs/CRM/BulkMail.js" type="text/javascript"></script>
                                                                <script src="../js/summernote.min.js"></script>
                                                                <script src="../customjs/CRM/gtransapi.js" type="text/javascript"></script>
                                                                
            <script src="../js/summernote-bootstrap.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

            <script type="text/javascript">
              //$('#summernote').summernote('code');
              $('#summernote').summernote({
                   height: 250
              });
              // Load the Google Transliterate API
              google.load("elements", "1", {
                  packages: "transliteration"
              });
              function onLoad() {
                  var options = {
                      sourceLanguage:google.elements.transliteration.LanguageCode.ENGLISH,
                      destinationLanguage:[google.elements.transliteration.LanguageCode.HINDI],
                      shortcutKey: 'ctrl+m',
                      transliterationEnabled: true
                  };
                  // Create an instance on TransliterationControl with the required
                  // options.
                  var control = new google.elements.transliteration.TransliterationControl(options);
                  // Enable transliteration in the textbox with id
                  // 'transliterateTextarea'.
                  var elements = document.getElementsByClassName('translettext');
                  var elements1 = document.getElementsByClassName('note-editable');
                  control.makeTransliteratable(elements);
                  control.makeTransliteratable(elements1);
              }
              google.setOnLoadCallback(onLoad);
          </script>
       
                                                                <script type="text/javascript">
                                                            
                                                                    $(document).ready(function () {
                                                                      //translateSonali();
                                                                      FillTemplate();
                                                                       // FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice', 'ddlExchangeName');
                                                                        $('#summernote').summernote({
                                                                          placeholder: 'Description',
                                                                          tabsize: 2,
                                                                          height: 100
                                                                         });
                                                                         setTimeout(()=>{
                                                                            // FillSoftSkill();
                                                                         },300)
                                                                         

                                                                          
                                                                        	
		if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
           $( ".disable" ).prop( "disabled", false );
            }
          else{
            $('#ddlExchangeName').val(sessionStorage.Ex_id);
      	   $( ".disable" ).prop( "disabled", true );
           }
                                                                    })
                                                                    var tablehead="<th><a  style='color: white;'>SrNo</a></th><th>Candidate Name</th><th>Mobile Number</th><th>Email Id</th>";
        $("#tablehead").html(tablehead);
                                                        //     						if (sessionStorage.getItem("CandidateId") == null) {
                                                        //     window.location = "/";
                                                        //  }

                                                        
                                                                        </script>


                                                     
