<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>

			<style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
	
                </style>


		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												CRM
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														Mail Report
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
                                                                    
                                                
                                                    
                                                       
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        From Date :
                                                                    </label>
                                                                    <div class="col-lg-3">
                                                                            <div class="input-group date">
                                                                                    <input type="text" class="form-control m-input" readonly="" onfocusout="getvalidated('m_datepicker_6','text','From Date');" placeholder="Select date" id="m_datepicker_6">
                                                                                    <div class="input-group-append">
                                                                                        <span class="input-group-text">
                                                                                            <i class="la la-calendar-check-o"></i>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                    </div>
                                                                    <label class="col-lg-2 col-form-label">
                                                                            To Date :
                                                                        </label>
                                                                        <div class="col-lg-3">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly="" onfocusout="getvalidated('m_datepicker_5','text','To Date');" placeholder="Select date" id="m_datepicker_5">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
																		</div>
																	</div>
																	<div class="form-group m-form__group row">
																		<label class="col-lg-2 col-form-label entry">

																			Entry By :
																			</label>
																			<div class="col-lg-3 entry">
																			<select  id="empusername"   class="form-control">
																		
																			</select>
																			
																			</div>
                                                                </div>
                                                               
                                                                   
                                               
                                                    <div class="form-group m-form__group row" style="    place-content: center;">
                                                  <div class="col-lg-3">
                                                    <button type="button" id="btnSubmit" onclick="FetchCRMMailReport()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        Show Report
                                                    </button>
                                                </div>
                                               </div>
											   <div class="m-portlet__foot m-portlet__foot--fit">
													<div class="m-form__actions m-form__actions">
													
													<div class="form-group m-form__group row" style="    overflow: auto; ">
														<a style="margin-left: 96%;"><i class="fa fa-file-excel-o"  onclick="ExportExcel('tableglobal','JobFairReport')"  style="font-size:30px;color:green; margin-bottom:10px;cursor: pointer;"></i></a>

														<div class="col-lg-12">
																<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																<thead>
																	<tr id="tablehead">
															  
																	</tr>
																</thead>
																<tbody id="tbodyvalue"></tbody>
															</table>
															  </div>

													</div>
													
													</div>
												</div>  
                                               
												<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myLargeModal2">
													<div class="modal-dialog modal-lg" id="model">
													  <div class="modal-content">
														<div class="modal-header">
														  <h5 class="modal-title">Mail Information</h5>
														  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														  </button>
														</div>
														<div class="modal-body">
															<div class="form-group m-form__group row">
                                                          
																<label class="col-lg-2 col-form-label">
																  To :
																</label>
																<div class="col-lg-10" style='    text-align: left;' id="totext"   >
															  </div>
															  </div>
															  <div class="form-group m-form__group row">
                                                          
																<label class="col-lg-2 col-form-label">
																  CC :
																</label>
																<div class="col-lg-10" style='    text-align: left;' id="cctext"  >
															  </div>
															  </div>
																  
															<div class="form-group m-form__group row">
															  
																<label class="col-lg-2 col-form-label">
																  BCC :
																</label>
																<div class="col-lg-10" style='    text-align: left;' id="bcctext"  >
															  </div>
															  </div>
	
															  <div class="form-group m-form__group row">
															  
																<label class="col-lg-2 col-form-label">
																  Subject :
																</label>
																<div class="col-lg-10" style='    text-align: left;' id="subjecttxt"   >
															  </div>
															  </div>
															 
	
																		
																	
																		
																	
																	<div class="form-group m-form__group row">
																		<label class="col-lg-2 col-form-label">
																			Body:
																		</label>
																		<div class="col-lg-10" style="    text-align: left;"  id='emailbody'>
	
																		</div>
																		</div>
																	  
														<div class="modal-footer">
														  <!-- <button type="button" class="btn btn-primary" onclick="$('#myLargeModal1').modal('toggle');$('.note-editable').html($('#summernote1').text())"></button> -->
														  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														</div>
													  </div>
													</div>
												  </div>



												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/CRM/BulkMailReport.js" type="text/javascript"></script>
        <script src="../js/pagination.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                FillUsername('parsedatasecuredFillUsername','empusername');
				if(sessionStorage.User_Type_Id=='0'){
        var btnhead=`<th>Sent BY</th>`;
    }
    else{
        var btnhead=``;
    }
    var	tablehead ="<th style='border-right:inset'>S.No.</th><th style='border-right:inset'>Subject</th><th style='border-right:inset'>Entry date</th>"+btnhead+"";
    $('#tablehead').html(tablehead);		
				
		


$('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
}).on('changeDate', function(e){
    $(this).datepicker('hide');
});
	});
  if(sessionStorage.User_Type_Id=='0'){
		$('.entry').show();
	}
	else{
           $('.entry').hide(); 
        }



                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
