
<!DOCTYPE html>

<html lang="en" >
	<% include ../../partials/crmhead %>
    <link href="/css/selectize.default.css" rel="stylesheet" type="text/css"/>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<% include ../../partials/crmheader %>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/crmmenu %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<% include ../../partials/crmsubheader %>
                    <!-- END: Subheader -->
                    <div class="m-content">
                        <!--begin::Portlet-->
                        <div class="m-portlet m-portlet--space">
                                <form class="m-form">
                                        <div class="m-portlet__body">
                                            <div class="m-form__section m-form__section--first">
                                                    <div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;">
                                                            <h5 style="color: red;">  कैसे उपयोग करे </h5>
                                                            <p>उपयोगकर्ता Exchange   के अनुसार निम्न कार्य कर सकता है :-</p>
                                                      <ul style="color:black">
                                                    
                                                     <li> इस उपयोगिता के द्वारा Education/Qualification, Age, location आदि के आधार पर चाहे गये Jobseeker की सूची निकाली जा सकती है।</li>

                                                        </ul>
                                                        

                                                        
                                                        
                                                            </div>
</div></div>
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
                                            <ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">
                                                <li class="m-nav__item" >
                                                    <a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" href="#">
                                                        <span class="m-nav__link-text">
                                                            Location
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item" >
                                                        <a class="m-nav__link m-tabs__item m-tabs" onclick="qualification()" data-tab-target="#m_section_4" href="#">
                                                            <span class="m-nav__link-text">
                                            Qualification
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item" >
                                                            <a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_5" href="#">
                                                                <span class="m-nav__link-text">
                                                                    NCO Code
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item" >
                                                                <a class="m-nav__link m-tabs__item m-tabs" onclick="FillHCCategory('parsedatasecuredFillHCCategory','searchutilityhandicap');" data-tab-target="#m_section_6" href="#">
                                                                    <span class="m-nav__link-text">
                                                                        Differently Abled
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item" >
                                                                    <a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_7" href="#">
                                                                        <span class="m-nav__link-text">
                                                                            Age
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item" >
                                                                        <a class="m-nav__link m-tabs__item m-tabs" onclick="TypingorSteno()" data-tab-target="#m_section_8" href="#">
                                                                            <span class="m-nav__link-text">
                                                                                Typing/Steno
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-nav__item" >
                                                                            <a class="m-nav__link m-tabs__item m-tabs" onclick="FillSector('parsedatasecuredFillSector','searchutilitysector');" data-tab-target="#m_section_9" href="#">
                                                                                <span class="m-nav__link-text">
                                                                                    Preference & Job Role
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item" >
                                                                                <a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_10" href="#">
                                                                                    <span class="m-nav__link-text">
                                                                                            Registration Date
                                                                                    </span>
                                                                                </a>
                                                                            </li>
                                                                        <li class="m-nav__item" >
                                                                                <a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_11" href="#">
                                                                                    <span class="m-nav__link-text">
                                                                                        Short List
                                                                                    </span>
                                                                                </a>
                                                                            </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-9">
                                        <div class="m-tabs-content" id="m_sections">
                                            <!--begin::Section 1-->
                                            
                                            <div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
                                                
                                                <div class="m-accordion m-accordion--bordered" id="m_section_1_content">
                                                    <!--begin::Item-->
                                                    <div class="m-accordion__item">
                                                            <div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
                                                                    <span class="m-accordion__item-title">
                                                                            Location
                                                                    </span>
                                                                </div>
                                                        <div class="m-accordion__item-body collapse show" id="m_section_1_content_1_body" role="tabpanel" aria-labelledby="m_section_1_content_1_head" data-parent="#m_section_1_content">
                                                            <div class="m-accordion__item-content">
                                                                    <div class="m-form__group form-group row">
                                                                            <label class="col-lg-3 col-form-label">
                                                                                Division Name<span class="required" style="color:red;">*</span> :
                                                                            </label>
                                                                            <div class="col-lg-6">
                                                                                <select id="Division" onchange="  FillDistrictbyDivision('parsedatasecuredFillDistrictbyDivision','District');" class="form-control m-input">
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    <div class="m-form__group form-group row">
                                                                            <label class="col-lg-3 col-form-label">
                                                                                District Name<span class="required" style="color:red;">*</span> :
                                                                            </label>
                                                                            <div class="col-lg-6">
                                                                                <input type="text" id="District" placeholder="District Name"  onchange="FillSecuredexchangeofficedatasearch('parsedatasecureddatasearch','searchengineutilityexchange');FillCity(this.value)"
                        class="demo-default" name="end">
                                                                                <!-- <select id="District" class="form-control m-input" onchange="FillSecuredexchangeofficedatasearch('parsedatasecureddatasearch','searchengineutilityexchange');FillCity(this.value)">
                                                                                </select> -->
                                                                            </div>
                                                                        </div>
                                                                        <div class="m-form__group form-group row">
                                                                            <label class="col-lg-3 col-form-label">
                                                                                City Name<span class="required" style="color:red;">*</span> :
                                                                            </label>
                                                                            <div class="col-lg-6">
                                                                                <select id="city" class="form-control m-input">
                                                                                </select>
                                                                            </div>
                                                                        </div>       
                                                                        <div class="m-form__group form-group row">
                                                                                    <label class="col-lg-3 col-form-label">
                                                                                        Office<span class="required" style="color:red;">*</span> :
                                                                                    </label>
                                                                                    <div class="col-lg-6">
                                                                                        <select id="searchengineutilityexchange" class="form-control m-input"></select>
                                                                                    </div>
                                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Item-->    
                                                    <div class="m-accordion__item">
                                                            <div class="m-accordion__item-head" role="tab" id="m_section_1_content_2_head" data-toggle="collapse" href="#m_section_1_content__body">
                                                                    <span class="m-accordion__item-title">
                                                                            Category
                                                                    </span>
                                                                </div>
                                                            <div class="m-accordion__item-body collapse show" id="m_section_1_content_2_body" role="tabpanel" aria-labelledby="m_section_1_content_2_head" data-parent="#m_section_2_content">
                                                                    <div class="m-accordion__item-content">
                                                                        <div class="m-form__group form-group row">
                                                                                <label class="col-lg-3 col-form-label">
                                                                                    Category Name :
                                                                                </label>
                                                                                <div class="col-lg-6">
                                                                                    <select id="searchengineutilitycategory" class="form-control m-input"></select>
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                            </div>
                                                        </div>
                    
                                                        <div class="m-accordion__item">
                                                                <div class="m-accordion__item-head" role="tab" id="m_section_1_content_3_head" data-toggle="collapse" href="#m_section_1_content__body">
                                                                        <span class="m-accordion__item-title">
                                                                                Gender
                                                                        </span>
                                                                    </div>
                                                                <div class="m-accordion__item-body collapse show" id="m_section_1_content_3_body" role="tabpanel" aria-labelledby="m_section_1_content_3_head" data-parent="#m_section_3_content">
                                                                        <div class="m-accordion__item-content">
                                                                            <div class="m-form__group form-group row">
                                                                                    <label class="col-lg-3 col-form-label">
                                                                                            Gender Name :
                                                                                    </label>
                                                                                    <div class="col-lg-6">
                                                                                        <select id="GenderName" class="form-control m-input">
                                                                                            <option>Both</option>
                                                                                            <option>Male</option>
                                                                                            <option>Female</option>
                                                                                            
                                                                                        </select>
                                                                                    
                                                                                    </div>
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                            <!--begin::Section 1-->  
           
                    <div class="m-tabs-content__item m-tabs-content" id="m_section_4">
                                                
                            <div class="m-accordion m-accordion--bordered" id="m_section_4_content">  
        <!--begin::Item-->
                                <div class="m-accordion__item">
                                    
                                    <div class="m-accordion__item-body collapse show" id="m_section_4_content_4_body" role="tabpanel" aria-labelledby="m_section_4_content_4_head" data-parent="#m_section_4_content">
                                            <div class="m-accordion__item-content">
                                                <div class="m-form__group form-group row">
                                                        <label class="col-lg-3 col-form-label">
                                                             Level<span class="required" style="color:red;">*</span> :
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <select id="QualificationLevel" class="form-control m-input"></select>
                                                        </div>
                                                    </div>
                                                    <div class="m-form__group form-group row">
                                                            <label class="col-lg-3 col-form-label">
                                                                 Exam Passed<span class="required" style="color:red;">*</span> :
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <input type="text" id="ExamPassed" placeholder="Exam Passed" 
                        class="demo-default" name="end">
                                                            </div>
                                                        </div>
                                                        <div class="m-form__group form-group row">
                                                                <label class="col-lg-3 col-form-label">
                                                                     Subject  Group<span class="required" style="color:red;">*</span> :
                                                                </label>
                                                                <div class="col-lg-6">
                                                                    <select id="SubjectGroup" class="form-control m-input"></select>
                                                                </div>
                                                            </div>
                                                            <div class="m-form__group form-group row">
                                                                    <label class="col-lg-3 col-form-label">
                                                                         Passed Year<span class="required" style="color:red;">*</span> :
                                                                    </label>
                                                                    <div class="col-lg-6">
                                                                        <select id="passedYear" class="form-control m-input"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="m-form__group form-group row">
                                                                        <label class="col-lg-3 col-form-label">
                                                                        Division	<span class="required" style="color:red;">*</span> :
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                            <select id="searchutilitydivision" class="form-control m-input"></select>
                                                                        </div>
                                                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Item-->   
                            </div>
                        </div>
                        <div class="m-tabs-content__item m-tabs-content" id="m_section_5">
                                                
                                <div class="m-accordion m-accordion--bordered" id="m_section_5_content">  
            <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        
                                        <div class="m-accordion__item-body collapse show" id="m_section_5_content_5_body" role="tabpanel" aria-labelledby="m_section_5_content_5_head" data-parent="#m_section_5_content">
                                                <div class="m-accordion__item-content">
                                                    <div class="m-form__group form-group row">
                                                            <label class="col-lg-3 col-form-label">
                                                                 NCO-I :
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <input type="text" id="nco1" class="form-control m-input" placeholder="NCO-I"></input>
                                                            </div>
                                                        </div>
                                                        <div class="m-form__group form-group row">
                                                                <label class="col-lg-3 col-form-label">
                                                                     NCO-II :
                                                                </label>
                                                                <div class="col-lg-6">
                                                                        <input type="text" id="nco2" class="form-control m-input" placeholder="NCO-II"></input>
                                                                    </div>
                                                            </div>
                                                            <div class="m-form__group form-group row">
                                                                    <label class="col-lg-3 col-form-label">
                                                                            NCO-III :
                                                                       </label>
                                                                       <div class="col-lg-6">
                                                                               <input type="text" id="nco3" class="form-control m-input" placeholder="NCO-III"></input>
                                                                           </div>
                                                                </div>
                                                        
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Item-->   
                                </div>
                            </div>
                            <div class="m-tabs-content__item m-tabs-content" id="m_section_6">
                                                
                                    <div class="m-accordion m-accordion--bordered" id="m_section_6_content">  
                <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            
                                            <div class="m-accordion__item-body collapse show" id="m_section_6_content_6_body" role="tabpanel" aria-labelledby="m_section_6_content_6_head" data-parent="#m_section_6_content">
                                                    <div class="m-accordion__item-content">
                                                        <div class="m-form__group form-group row">
                                                            <label class="col-lg-3 col-form-label">
                                                                Differently Abled :
                                                            </label>
                                                            <div class="col-lg-6">
                                                                    <select id="searchutilityhandicapcheck" onchange="fillddlhandicap()" class="form-control m-input">
<option value="0">Non Handidcap</option>
<option value="1">Handidcap</option>
                                                                    </select>
                                                                </div>
                                                        </div>
                                                        <div class="m-form__group form-group row" style="display: none;" id="ddlhandicapdisplay">
                                                                <label class="col-lg-3 col-form-label">
                                                                    Differently Abled Category :
                                                                </label>
                                                                <div class="col-lg-6">
                                                                        <select id="searchutilityhandicap" class="form-control m-input" ></select>
                                                                    </div>
                                                            </div>
                                                        
                                                            
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Item-->   
                                    </div>
                                </div>
                                <div class="m-tabs-content__item m-tabs-content" id="m_section_7">
                                                
                                        <div class="m-accordion m-accordion--bordered" id="m_section_7_content">  
                    <!--begin::Item-->
                                            <div class="m-accordion__item">
                                                
                                                <div class="m-accordion__item-body collapse show" id="m_section_7_content_7_body" role="tabpanel" aria-labelledby="m_section_7_content_7_head" data-parent="#m_section_6_content">
                                                        <div class="m-accordion__item-content">
                                                            <div class="m-form__group form-group row">
                                                                    <label class="col-lg-3 col-form-label">
                                                                        Min Age :
                                                                    </label>
                                                                    <div class="col-lg-6">
                                                                            <input type="text" id="textminage" class="form-control m-input" placeholder="Min Age"></input>
                                                                        </div>
                                                                </div>
                                                                <div class="m-form__group form-group row">
                                                                        <label class="col-lg-3 col-form-label">
                                                                            Max Age :
                                                                        </label>
                                                                        <div class="col-lg-6">
                                                                                <input type="text" id="textmaxage" class="form-control m-input" placeholder="Max Age"></input>
                                                                            </div>
                                                                    </div>
                                                                    <div class="m-form__group form-group row">
                                                                            <label class="col-lg-3 col-form-label">
                                                                                 Age As on Date :
                                                                            </label>
                                                                            <div class="col-lg-6">
                                                                                    <!-- <input type="text" id="AgeAsonDate" class="form-control m-input" placeholder=" Age As on Date "></input> -->
                                                                                
                                                                                    <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_1">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Item-->   
                                        </div>
                                    </div>
                                    <div class="m-tabs-content__item m-tabs-content" id="m_section_8">
                                                
                                            <div class="m-accordion m-accordion--bordered" id="m_section_8_content">  
                        <!--begin::Item-->
                                                <div class="m-accordion__item">
                                                    
                                                    <div class="m-accordion__item-body collapse show" id="m_section_8_content_8_body" role="tabpanel" aria-labelledby="m_section_8_content_8_head" data-parent="#m_section_6_content">
                                                            <div class="m-accordion__item-content">
                                                                    <div class="m-form__group form-group row">
                                                                            <label class="col-lg-3 col-form-label">
                                                                                Language<span class="required" style="color:red;">*</span> :
                                                                            </label>
                                                                            <div class="col-lg-6">
                                                                                <select id="searchutilitylanguage" class="form-control m-input"></select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="m-form__group form-group row">
                                                                                <label class="col-lg-3 col-form-label">
                                                                                Type	<span class="required" style="color:red;">*</span> :
                                                                                </label>
                                                                                <div class="col-lg-6">
                                                                                    <select id="searchutilitytstype" class="form-control m-input"></select>
                                                                                </div>
                                                                            </div>		
                                                                            <div class="m-form__group form-group row">
                                                                                    <label class="col-lg-3 col-form-label">
                                                                                    Passed Year	<span class="required" style="color:red;">*</span> :
                                                                                    </label>
                                                                                    <div class="col-lg-6">
                                                                                        <select id="LanguagepassedYear" class="form-control m-input"></select>
                                                                                    </div>
                                                                                </div>	
                                                                                <div class="m-form__group form-group row">
                                                                                        <label class="col-lg-3 col-form-label">
                                                                                        Speed :
                                                                                        </label>
                                                                                        <div class="col-lg-6">
                                                                                                <input type="text" id="textSpeed" class="form-control m-input" placeholder="Speed"></input>
                                                                                            </div>
                                                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Item-->   
                                            </div>
                                        </div>
                                        <div class="m-tabs-content__item m-tabs-content" id="m_section_9">
                                                
                                                <div class="m-accordion m-accordion--bordered" id="m_section_9_content">  
                            <!--begin::Item-->
                                                    <div class="m-accordion__item">
                                                        
                                                        <div class="m-accordion__item-body collapse show" id="m_section_9_content_9_body" role="tabpanel" aria-labelledby="m_section_9_content_9_head" data-parent="#m_section_6_content">
                                                                <div class="m-accordion__item-content">
                                                                        <div class="m-form__group form-group row">
                                                                                <label class="col-lg-3 col-form-label">
                                                                                    Prefered Location<span class="required" style="color:red;">*</span> :
                                                                                </label>
                                                                                <div class="col-lg-6">
                                                                                    <select id="PreferedLocation" class="form-control m-input">
                                                                                        <option value="1">Abroad</option>
                                                                                        <option value="2">Any where in india</option>
                                                                                        <option value="3">Within State</option>
                                                                                        <option value="4">Within District</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="m-form__group form-group row">
                                                                                    <label class="col-lg-3 col-form-label">
                                                                                    Sector	<span class="required" style="color:red;">*</span> :
                                                                                    </label>
                                                                                    <div class="col-lg-6">
                                                                                        <select id="searchutilitysector" class="form-control m-input"></select>
                                                                                    </div>
                                                                                </div>		
                                                                                <div class="m-form__group form-group row">
                                                                                        <label class="col-lg-3 col-form-label">
                                                                                    Functional	Area	<span class="required" style="color:red;">*</span> :
                                                                                        </label>
                                                                                        <div class="col-lg-6">
                                                                                            <select id="searchutilityfuncarea" class="form-control m-input"></select>
                                                                                        </div>
                                                                                    </div>	
                                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Item-->   
                                                </div>
                                            </div>
                                            <div class="m-tabs-content__item m-tabs-content" id="m_section_10">
                                                
                                                    <div class="m-accordion m-accordion--bordered" id="m_section_10_content">  
                                <!--begin::Item-->
                                                        <div class="m-accordion__item">
                                                            
                                                            <div class="m-accordion__item-body collapse show" id="m_section_10_content_10_body" role="tabpanel" aria-labelledby="m_section_10_content_10_head" data-parent="#m_section_10_content">
                                                                    <div class="m-accordion__item-content">
                                                                                
                                                                            <div class="m-form__group form-group row">
                                                                                    
                                                                                    <label class="col-lg-3 col-form-label">
                                                                                            <h5>Registration Date</h5>
                                                                                    </label>
                                                                                 </div>
                                                                                        <div class="m-form__group form-group row">
                                                                                                <label class="col-lg-3 col-form-label">
                                                                                                     From Date :
                                                                                                </label>
                                                                                                <div class="col-lg-3">
                                                                                                        <div class="input-group date">
                                                                                                                <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_2">
                                                                                                                <div class="input-group-append">
                                                                                                                    <span class="input-group-text">
                                                                                                                        <i class="la la-calendar-check-o"></i>
                                                                                                                    </span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                </div>
                                                                                                    <label class="col-lg-2 col-form-label">
                                                                                                            To Date :
                                                                                                        </label>
                                                                                                        <div class="col-lg-3">
                                                                                                                <div class="input-group date">
                                                                                                                        <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_3">
                                                                                                                        <div class="input-group-append">
                                                                                                                            <span class="input-group-text">
                                                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                                                            </span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                        </div>
                                                                                            </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Item-->   
                                                    </div>
                                                </div>
                                            <div class="m-tabs-content__item m-tabs-content" id="m_section_11">
                                                
                                                    <div class="m-accordion m-accordion--bordered" id="m_section_11_content">  
                                <!--begin::Item-->
                                                        <div class="m-accordion__item">
                                                            
                                                            <div class="m-accordion__item-body collapse show" id="m_section_11_content_11_body" role="tabpanel" aria-labelledby="m_section_11_content_11_head" data-parent="#m_section_11_content">
                                                                    <div class="m-accordion__item-content">
                                                                                
                                                                                        <div class="m-form__group form-group row">
                                                                                                <label class="col-lg-4 col-form-label">
                                                                                                Max Number Of Candidate ShortList :
                                                                                                </label>
                                                                                                <div class="col-lg-5">
                                                                                                        <input type="text" id="MaxNoOfCandidateShortList" maxlength="7" class="form-control m-input" value="100" placeholder="Max Number Of Candidate ShortList"></input>
                                                                                                    </div>
                                                                                            </div>
                                                                                            <div class="m-form__group form-group row">
                                        
                                                                                                <label class="col-lg-5 col-form-label">
                                                                                                    Option :
                                                                                                </label>
                                                                                                <div class="col-lg-3">
                                                                                                <input type="radio" id="data" name="fav_language" value="yes" checked>
                                                                                                <label for="data">Data</label>
                                                                                                  <input type="radio" id="count" name="fav_language" value="no">
                                                                                                  <label for="css">count</label>
                                                                                            </div>
                                                                                                            <div class="m-form__group form-group row">
                                                                                                            </div>
                                                                                                            <label class="col-lg-5 col-form-label">
                                                                                                                Order By :
                                                                                                            </label>
                                                                                                                    <div class="col-lg-3">
                                                                                                                        <select type="text" class="form-control m-input" id="ddlsortby">
                                                                                                                            <option value="Asc">Asc</option>
                                                                                                                             <option value="Desc">Desc</option></select>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="m-form__group form-group row">
                                                                                                                        <label class="col-lg-3 col-form-label">
                                                                                                                        Index :
                                                                                                                        </label>
                                                                                                                        <div class="col-lg-3">
                                                                                                                                <input type="text" id="fromIndex" class="form-control m-input" placeholder="From"></input>
                                                                                                                            </div>
                                                                                                                            <div class="col-lg-3">
                                                                                                                                <input type="text" id="toIndex" class="form-control m-input" placeholder="To"></input>
                                                                                                                            </div>
                                                                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Item-->   
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </form></div>
                            <div class="m-portlet__foot">
                                    <div class="row align-items-center">
                                        
                                        <div class="col-lg-6 m--align-right">
                                            <button type="submit" onclick="InsSearchUtility();" class="btn btn-brand">
                                                Search jobseeker
                                            </button>
                                            <span class="m--margin-left-10">
                                                
                                                <a href="#" class="m-link m--font-bold">
                                                
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </br>
                                <div class="form-group m-form__group row copiedValue" style="    overflow: auto;display: none; ">
                                    <label class="col-lg-4 col-form-label" >
                                        Copy the text from here:
                                    </label>
                                    <div class="col-lg-8" >
                                        <textarea id='copiedValue' class="form-control m-input" ></textarea>
                                    
                                        </div>
                                    </div>
                                <div class="form-group m-form__group row" style="    overflow: auto; ">
                                    <div class="col-lg-3" style='max-height: 400px;' id="paginationbind">
                                        
                                        <button type="submit" onclick="copyToClipBoard('email');" class="btn btn-brand">
                                        To Copy Candidate Email
                                        </button></div>
                                        <div class="col-lg-4" style='max-height: 400px;' id="paginationbind">
                                            <button type="submit" onclick="copyToClipBoard('mobile');" class="btn btn-brand">
                                                To Copy Candidate Mobile Nubmer
                                            </button>
                                        </div>
                                    </div>	
                                <div class="m-form__group form-group row">
                                    <label class="col-lg-2 col-form-label" id='countHead'>
                                        
                                    </label>
                                    <div class="col-lg-6">
                                        <strong id="candidateDataCount"></strong>
                                        </div>
                                </div>

                                <div class="form-group m-form__group row" style="    overflow: auto; ">

                                    <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="searchenginetable">
                                    <thead >
                                                <tr id="tablehead">
                                          
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyvalue1">
                    
                                            </tbody>
                                        </table>
                                          </div>
                                </div>
                                
                                

                                </div>
                        </div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
<% include ../../partials/crmfooter %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
	
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
        <% include ../../partials/crmscript %>
        <script src="/js/selectize.min.js"></script>
		<!--end::Page Snippets -->
	</body>
    <script src="../customjs/CRM/SearchEngineUtility_Yatm.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if(sessionStorage.User_Type_Id=='2' || sessionStorage.User_Type_Id=='7'){
                $('#searchengineutilityexchange, #Division, #District').attr('disabled',true);
    
            }

            FilldivExchange('parsedatasecuredFilldivExchange','Division');
            FillSecuredexchangeofficedatasearch('parsedatasecureddatasearch','searchengineutilityexchange');
            FillCategory('parsedatasecuredFillCategory','searchengineutilitycategory');
            //FillCity(district)
            
            // FillQualiLevel('parsedatasecuredFillQualiLevel','QualificationLevel');
            // FillYear('parsedatasecuredFillYear','passedYear');
            // FillDivision('parsedatasecuredFillDivision','searchutilitydivision');

            // FillHCCategory('parsedatasecuredFillHCCategory','searchutilityhandicap');

            // FillLanguage('parsedatasecuredFillLanguage','searchutilitylanguage');
            // FillTSType('parsedatasecuredFillTSType','searchutilitytstype');
            // FillYear('parsedatasecuredFillYear','LanguagepassedYear');

            // FillSector('parsedatasecuredFillSector','searchutilitysector');


            //	FillSecuredexchangeofficedatasearch('parsedatasecureddatasearch','searchengineutilityexchange');
            //FillDistrict('parsedatasecuredFillDistrict','District');
        //	FillCategory('parsedatasecuredFillCategory','searchengineutilitycategory');
    
    //<th>Qualification Name</th><th>Subject Group & Subject's</th><th>Division</th><th>Passing Year</th><th colspan=3>NCO Details</th>;
                        });
                        if (sessionStorage.getItem("CandidateId") == null) {
window.location = "/";
}
//   if (sessionStorage.getItem("User_Type_Id")=='3' || sessionStorage.getItem("User_Type_Id")=='4'){
// $('#searchengineutilityexchange').attr('disabled', true);
//   }
function fillddlhandicap(){
  if($('#searchutilityhandicapcheck').val()=='1'){
    $('#ddlhandicapdisplay').show();
  }
  else{
    $('#ddlhandicapdisplay').hide();
  }
}
            </script>
	<!-- end::Body -->
</html>
