
<!DOCTYPE html>

<html lang="en" >
	<% include ../../partials/crmhead %>
	<style>
		    .blink {
        animation: blinker 10s linear infinite;
        color: dimgray;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .blink-one {
        animation: blinker-one 1s linear infinite;
      }
      @keyframes blinker-one {
        0% {
          opacity: 0;
        }
      }
		  .popout {
                    animation: popout 3s ease;
                    -webkit-animation: popout 3s ease;
                }
                @keyframes popout {
                    from{transform:scale(0)}
                    80%{transform:scale(1.2)}
                    to{transform:scale(1)}
                }
                @-webkit-keyframes popout {
                    from{-webkit-transform:scale(0)}
                    80%{-webkit-transform:scale(1.2)}
                    to{-webkit-transform:scale(1)}
                }
	</style>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<% include ../../partials/crmheader %>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/crmmenu %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<% include ../../partials/crmsubheader %>
                    <!-- END: Subheader -->
                    <div class="m-content">
                        <!--Begin::Section-->
                        <div class="row" style="padding-left: 60px;">
                            <div class="col-xl-12 popout" >
                                <!--begin:: Widgets/Quick Stats-->
                                <div class="row m-row--full-height">
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success " style="HEIGHT: 100PX;width: 250px;  
                                        border-radius: 11%;background-color: burlywood;">
                                            <div class="m-portlet__body" style="padding-top: 15px;">
                                                <div class="m-widget26">
                                                    <i class="fa fa-envelope" aria-hidden="true" style="margin: auto;display: table;font-size: 50px;padding-top: -41px;cursor: pointer;" onclick="window.location='/BulkMail'" ></i>
                                                    
                                                    
                                                </div>
                                                <div class="m-widget26__number"  style="text-align: center;	font-weight: 900;font-size: 14px;">
                                                    CRM EMAIL
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger " style="HEIGHT: 100PX;width: 250px;  
                                        border-radius: 11%;background-color: burlywood;">
                                            <div class="m-portlet__body"  style="padding-top: 15px;" >
                                                <div class="m-widget26">
                                                    <i class="fa fa-comment" aria-hidden="true" style="margin: auto;display: table;font-size: 50px;padding-top: -41px;cursor: pointer;" onclick="window.location='/crmsms'"></i>
                                                
                                                    
                                                </div>
                                                <div class="m-widget26__number" style="text-align: center;	font-weight: 900;font-size: 14px;" >
                                                    CRM SMS
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-brand " style="HEIGHT: 100PX;width: 250px;  
                                        border-radius: 11%;background-color: burlywood;">
                                            <div class="m-portlet__body"  style="padding-top: 15px;">
                                                <div class="m-widget26">
                                                    <i class="fa fa-search" aria-hidden="true" style="margin: auto;display: table;font-size: 50px;padding-top: -41px;cursor: pointer;" onclick="window.location='/CRM/SearchEngineUtility_Yatm'"></i>
                                                
                                                    
                                                </div>
                                                <div class="m-widget26__number" style="text-align: center;	font-weight: 900;font-size: 14px;" >
                                                    SEARCH ENGINE
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--end:: Widgets/Quick Stats-->
                            </div>
                        </div>
                        <div class="row" style="padding-left: 60px;">
                            <div class="col-xl-12 popout">
                                <!--begin:: Widgets/Quick Stats-->
                                <div class="row m-row--full-height">
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger " style="HEIGHT: 100PX;width: 250px;  
                                        border-radius: 11%;background-color: burlywood;">
                                            <div class="m-portlet__body"  style="padding-top: 15px;" >
                                                <div class="m-widget26">
                                                    <i class="fa fa-phone" aria-hidden="true" style="margin: auto;display: table;font-size: 50px;padding-top: -41px;cursor: pointer;" onclick="window.location='/OutboundTracker'"></i>
                                                
                                                    
                                                </div>
                                                <div class="m-widget26__number" style="text-align: center;	font-weight: 900;font-size: 14px;" >
                                                    OUTBOUND TRACKER
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-brand" style="HEIGHT: 100PX;width: 250px;  
                                        border-radius: 11%;background-color: burlywood;">
                                            <div class="m-portlet__body"  style="padding-top: 15px;" >
                                                <div class="m-widget26">
                                                    <i class="fa fa-upload" aria-hidden="true" style="margin: auto;display: table;font-size: 50px;padding-top: -41px;cursor: pointer;" onclick="window.location='/CVDatabase'"></i>
                                                
                                                    
                                                </div>
                                                <div class="m-widget26__number" style="text-align: center;	font-weight: 900;font-size: 14px;" >
                                                    CV UPLOAD
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success " style="HEIGHT: 100PX;width: 250px;  
                                        border-radius: 11%; background-color: burlywood;">
                                            <div class="m-portlet__body"  style="padding-top: 15px;" >
                                                <div class="m-widget26">
                                                    <i class="fa fa-briefcase" aria-hidden="true" style="margin: auto;display: table;font-size: 50px;padding-top: -41px;cursor: pointer;" onclick="window.location='/Callingdwr'"></i>
                                                
                                                    
                                                </div>
                                                <div class="m-widget26__number" style="text-align: center;	font-weight: 900;font-size: 14px;" >
                                                    DWR
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--end:: Widgets/Quick Stats-->
                            </div>
                        </div>
                        <!--End::Section-->
<!--Begin::Section-->
                    
                        <!--End::Section-->   
<!--Begin::Section-->
                    
                        <!--End::Section-->
<!--Begin::Section-->
                        
                        <!--End::Section-->
<!--Begin::Section-->
                
                        <!--End::Section-->
<!--Begin::Section-->
                    
                        <!--End::Section-->
<!--Begin::Section-->
                    
                        <!--End::Section-->
                    </div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
<% include ../../partials/crmfooter %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
	
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
		
		<!-- begin::Quick Nav -->	
    	<!--begin::Base Scripts -->
    	<!--begin::Base Scripts -->
		<% include ../../partials/crmscript %>
		<!--end::Page Snippets -->
	</body>
	<!-- end::Body -->
</html>
