<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
<style>

.modal-backdrop.show {
    opacity: 0;
}
</style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											 CRM
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
															CRM Query Form
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
													<div class="form-group m-form__group row">
														
													<button type="button" onclick='filluserDetails()' data-toggle='modal' data-target="#m_modal_6"
											class="btn btn-success"
											style="background-color:#716aca;border-color:#716aca;margin-left: 57px;">
											ADD NEW QUERY
										</button>
 <div class="col-lg-1"></div>
										<button type="button" 
										class="btn btn-success" onclick=window.history.back()
										style="background-color:#716aca;border-color:#716aca;">
										Back
									</button>
								</div>
                                                 
														
													<div class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions">
													
														<% include ../../pages/Table %>
														</div>
													</div>
													</div>
                                                   
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="m_modal_6" role="dialog">
				<div class="modal-dialog" style="max-width: 961px;">
		
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" onclick="resetMode()" class="close" id="closebtn" data-dismiss="modal">&times;</button>
		
						</div>
						<div class="modal-body">
								<div class="form-group m-form__group row">
									<label class="col-lg-2 col-form-label">
										Date:
									</label>
									<div class="col-lg-4">
										<div class="input-group date">
											<input type="text" class="form-control m-input" readonly=""
												
												placeholder="(DD/MM/YYYY)" id="m_datepicker_5">
											<div class="input-group-append">
												<span class="input-group-text">
													<i class="la la-calendar-check-o"></i>
												</span>
											</div>
										</div>
									

									</div>
								
										<label class="col-lg-2 col-form-label">

											Candidate Name:
										</label>
										<div class="col-lg-4">
											<input type="text" id="Name" class="form-control">

												
									
										</div>
								
								</div>
								<div class="m-form__group form-group row">
									<label class="col-lg-2 col-form-label">

										Contact No :
									</label>
									<div class="col-lg-4">
										<input type="text" id="ContactNumber" class="form-control">
											
											
								
									</div>
									<label class="col-lg-2 col-form-label">

										Location :
									</label>
									<div class="col-lg-4">
										<input type="text" id="Location" class="form-control">
											
								
									</div>
								</div>
								<div class="m-form__group form-group row">
									<label class="col-lg-2 col-form-label">

										Email Id :
									</label>
									<div class="col-lg-4">
										<input type="text" id="EmailId" class="form-control">
										
								
									</div>
									
										<label class="col-lg-2 col-form-label">

											Status :
										</label>
										<div class="col-lg-4">
											<select type="text" id="Status"   class="form-control">
												<option value="0">Select Type</option>
												<option value="Open">Open</option>
												<option value="Close">Close</option>
												
												</select>
												
									
										</div>
								
								</div>
								<div class="m-form__group form-group row">
									<label class="col-lg-2 col-form-label venuetxt">
										Concern Related To::
									</label>
									<div class="col-lg-4">
										<textarea class="form-control m-input" id="ConcernRelatedTo" rows="3"></textarea>
									
									</div>    <label class="col-lg-2 col-form-label">
										Information Provided To:
									</label>
									<div class="col-lg-4 venuetxt">
										<textarea class="form-control m-input" id="InformationProvidedTo" rows="3" ></textarea>
									
									</div>

							
								</div>

								<div class="form-group m-form__group row">
										<div class="col-lg-4"></div>
								

										<button type="button"   onclick="CheckValidationcrmForm()"
											class="btn btn-success"
											style="background-color:#716aca;border-color:#716aca;">
											Submit
										</button>
									 <div class="col-lg-1"></div>

										
										<button type="button" 
											class="btn btn-success" onclick="resetMode()"
											style="background-color:#716aca;border-color:#716aca;">
											Reset
										</button>
									
										
									
									


								</div>
						</div>
		
				</div>
			</div>
		</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/CRM/crmqueryform.js" type="text/javascript"></script>

		<script type="text/javascript">
	
            $(document).ready(function () {
                sessionStorage.QueryId=0;
				FillcrmQuery()
				$('#m_datepicker_5').datepicker('setDate', 'now');
				var tablehead="<th>Sr.No</th><th>Ticket Number</th><th>Date</th><th>Candidate Name</th><th>Contact No</th><th>Location</th><th>Email Id</th><th>Concern Related To</th><th>Information Provided to</th><th>Status</th><th>Modify</th>";
        $("#tablehead").html(tablehead);
							});
							
	// 						if (sessionStorage.getItem("CandidateId") == null) {
    // window.location = "/";
 // }
                </script>
