
<!DOCTYPE html>

<html lang="en" >
	<% include ../../partials/crmhead %>
	        <link href="/css/selectize.default.css" rel="stylesheet" type="text/css"/>

	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<% include ../../partials/crmheader %>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/crmmenu %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<% include ../../partials/crmsubheader %>
                    <!-- END: Subheader -->
					<div class="m-content">
						<div class="m-portlet">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="la la-gear"></i>
										</span>
										<h3 class="m-portlet__head-text">
											SMS Report
										</h3>
									</div>
								  
								</div>
							</div>
							<!--begin::Form-->
							<form class="m-form">
								<div class="m-portlet__body">
									<div class="m-form__section m-form__section--first">
									 
														
									
										
										   
												<div class="form-group m-form__group row">
														<label class="col-lg-2 col-form-label">
															From Date :
														</label>
														<div class="col-lg-3">
																<div class="input-group date">
																		<input type="text" class="form-control m-input" readonly="" onfocusout="getvalidated('m_datepicker_6','text','From Date');" placeholder="Select date" id="m_datepicker_6">
																		<div class="input-group-append">
																			<span class="input-group-text">
																				<i class="la la-calendar-check-o"></i>
																			</span>
																		</div>
															
																	</div>
																	<span id="validm_datepicker_6"
																	style="font-size: 11px; color: #cc0033; "></span>
														</div>
														<label class="col-lg-2 col-form-label">
																To Date :
															</label>
															<div class="col-lg-3">
																	<div class="input-group date">
																			<input type="text" class="form-control m-input" readonly="" onfocusout="getvalidated('m_datepicker_5','text','To Date');" placeholder="Select date" id="m_datepicker_5">
																			<div class="input-group-append">
																				<span class="input-group-text">
																					<i class="la la-calendar-check-o"></i>
																				</span>
																			</div>
																		</div>
																		<span id="validm_datepicker_5"
																	style="font-size: 11px; color: #cc0033; "></span>
															</div>
														</div>
														<div class="form-group m-form__group row">
															<label class="col-lg-2 col-form-label entry">

																Entry By :
																</label>
																<div class="col-lg-3 entry">
																<select  id="empusername"   class="form-control">
															
																</select>
																
																</div>
													</div>
												   
													   
								   
										<div class="form-group m-form__group row" style="    place-content: center;">
									  <div class="col-lg-3">
										<button type="button" id="btnSubmit" onclick="CheckValidationcrmsmsreport()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
											Show Report
										</button>
									</div>
								   </div>
								   <div class="m-portlet__foot m-portlet__foot--fit">
										<div class="m-form__actions m-form__actions">
										
										<div class="form-group m-form__group row" style="    overflow: auto; ">
											<a style="margin-left: 96%;"><i class="fa fa-file-excel-o"  onclick="ExportExcel('tableglobal','CrmSMSReport')"  style="font-size:30px;color:green; margin-bottom:10px;cursor: pointer;"></i></a>

											<div class="col-lg-12">
													<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
													<thead>
														<tr id="tablehead">
												  
														</tr>
													</thead>
													<tbody id="tbodyvalue"></tbody>
												</table>
												  </div>

										</div>
										
										</div>
									</div>  
									</div>
								</div>
								
							</form>
							<!--end::Form-->
							
						</div>
					</div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
<% include ../../partials/crmfooter %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
	
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
		
		<!-- begin::Quick Nav -->	
    	<!--begin::Base Scripts -->
		<% include ../../partials/crmscript %>
		<!--end::Page Snippets -->
	</body>
	<script src="../customjs/CRM/crmsmsreport.js" type="text/javascript"></script>
	<script src="../js/pagination.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			FillUsername('parsedatasecuredFillUsername','empusername');
			if(sessionStorage.User_Type_Id=='0'){
	var btnhead=`<th>Sent BY</th>`;
}
else{
	var btnhead=``;
}
var	tablehead ="<th style='background: #716aca;border-right: inset;'>S.No.</th><th style='background: #716aca;border-right: inset;'>TO</th><th style='background: #716aca;border-right: inset;'>Content</th><th style='background: #716aca;border-right: inset;'>Entry date</th>"+btnhead+"";
$('#tablehead').html(tablehead);		
if(sessionStorage.User_Type_Id=='0'){
	$('.entry').show();
}
else{
	   $('.entry').hide(); 
	}


$('.datepicker').datepicker({
format: 'dd/mm/yyyy',
}).on('changeDate', function(e){
$(this).datepicker('hide');
});
});
				



						if (sessionStorage.getItem("CandidateId") == null) {
window.location = "/";
}
			</script>
	<!-- end::Body -->
</html>
