<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
    <% include ../../partials/head %>
    <style>
        .center1 {
          text-align: center;
        }
        
        .pagination {
          display: table-cell !important;
        }
        
        .pagination a {
          color: black;
          float: none;
          padding: 8px 16px;
          text-decoration: none;
          transition: background-color .3s;
          border: 1px solid #ddd;
          margin: 4px 4px 4px 4px;
        }
        
        .pagination a.active {
          background-color: #4CAF50;
          color: white;
          border: 1px solid #4CAF50;
        }
        
        .pagination a:hover:not(.active) {background-color: #ddd;}
        th {
  position: sticky;
  top: 0; 
}
        </style>
</head>
<style>
    .card-folders .card-body > .breadcrumb {
  margin-left: -1.25em;
  margin-right: -1.25em;
  margin-top: -1.25em;
  border-radius: 0;
}

.folder-container {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  width: 100px;
  padding: 0;
  align-self: start;
  background: none;
  border: none;
  outline-color: transparent !important;
  cursor: pointer;
}
.folder-icon {
  font-size: 3em;
  line-height: 1.25em;
}
.folder-icon-color {
  color: #ffc107;
  text-shadow: 1px 1px 0px #e0a800;
  font-size: 3.1rem;
}
.folder-name {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.flex-column .folder-container {
  display: flex;
  width: auto;
  min-width: 100px;
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}
.flex-column .folder-icon, .flex-column .folder-name {
  display: inline-flex;
}
.flex-column .folder-icon {
  font-size: 1.4em;
  margin-right: 1rem;
}
.file-icon-color {
  color: #999;
}
</style>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
    class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <% include ../../partials/header %>
        <!-- end::Header -->
        <!-- begin::Body -->
        <div
            class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                <div class="m-grid__item m-body__nav">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                            <button
                                class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                                id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <% include ../../partials/Menu %>
                        </div>

                    </div>
                </div>
                <div
                    class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    <!-- BEGIN: Left Aside -->
                    <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
                        <i class="la la-close"></i>
                    </button>

                    <!-- END: Left Aside -->
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <!-- BEGIN: Subheader -->
                        <div class="m-subheader ">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h3 class="m-subheader__title m-subheader__title--separator">
                                        CV Database 
                                    </h3>
                                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                        <li class="m-nav__item m-nav__item--home">
                                            <a href="/index" class="m-nav__link m-nav__link--icon">
                                                <i class="m-nav__link-icon la la-home"></i>
                                            </a>
                                        </li>



                                    </ul>
                                </div>
                                <% include ../../partials/calendar %>
                                <div>

                                </div>
                            </div>
                        </div>
                        <!-- END: Subheader -->
                        <div class="m-content">
                            <div class="m-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <h3 class="m-portlet__head-text">
                                                CV Database 
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <!--begin::Form-->
                                <!-- <form class="m-form"> -->
                                <div class="m-portlet__body">
                                    <div class="m-form__section m-form__section--first">
                                        <div class="form-group m-form__group row">
                                      
                                            <label class="col-lg-2 col-form-label">
                                             Folder Name:
                                            </label>
                                            <div class="col-lg-4">
                                              <select type="text" id="foldenameddl" class="form-control m-input" placeholder="">
                                              
                                               </select>
                                           </div>
                                           <div class="col-lg-2"><a href="/CVFolderMaster" style="font-weight:600;">Create New Folder</a></div>
                                       
                                      </div>
                                        <div class="m-form__group form-group row">
													
                                          <label class="col-lg-2 col-form-label">
                                          Candidate Name  :
                                          </label>
                                          <div class="col-lg-4">
                                              
                                            <input type="text" class="form-control m-input"  placeholder="Enter Candidate Name" id="nametext">
                                                      
                                           
                                        </div>
                                        <label class="col-lg-2 col-form-label">
                                          Candidate EmailId  :
                                        </label>
                                        <div class="col-lg-4">
                                            
                                            <input type="text" class="form-control m-input"  placeholder="Enter Candidate EmailId" id="emailidtext">
                                                      
                                         
                                      </div>
                                    </div>
                                    <div class="m-form__group form-group row">
													
                                        <label class="col-lg-2 col-form-label">
                                        Candidate Mobile Number  :
                                        </label>
                                        <div class="col-lg-4">
                                            
                                            <input type="number" class="form-control m-input" maxlength="10"  placeholder="Enter Candidate Mobile Number" id="mobilenumbertext">
                                                      
                                         
                                      </div>
                                      <label class="col-lg-2 col-form-label">
                                        File Name:
                                    </label>
                                    <div class="col-lg-4">
                                    <form class="m-form" enctype="multipart/form-data"
                                                 method="post" action="/CVDatabase" id="cvupload" >
                                                 <input type="submit" id="cvpostattach"
                                                 class="btn btn-success" 
                                                 style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                                                 
                                           
                                              
                                                 <input type="file" name="myFile"   onclick="Cookies.set('modaltype', 'cvupload', { expires: 1, path: '/' });">
                                                 </form>
                                                </div>
                                   
                                  </div>
                                
                                            <div class="form-group m-form__group row" style="display: block;">
                                              
                                                <div class="col-lg-4" style="margin: auto">
                                                    <button type="button"  class="btn btn-success"
                                                        style="background-color:#716aca;border-color:#716aca;" onclick="CheckValidationCV()">
                                                      Submit
                                                    </button>

                                                </div>
                                                <div class="col-lg-2">

                                                </div>
                                            </div>
                                          
                                            <div class="m-form__actions m-form__actions">
                                                <a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','PlacementDetails')" id="excelicon" style="font-size:30px;color:green; margin-bottom:10px;display: none;"></i></a>
												
                                                <div class="form-group m-form__group row" style="    overflow: auto; ">
                                                    <div class="col-lg-12" style='max-height: 500px;' id="paginationbind">
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                    <thead  id="tablehead">
                                                   
                                                    </thead>
                                                    <tbody id="tbodyvalue"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                            </div>
                                      
                                     

                                    </div>
                                    <div class="container">

                                        <div class="card card-folders">
                                          <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col mr-auto">
                                                  <h4 class="card-title m-0">CV Database</h4>
                                                </div>
                                                <div class="col col-auto pr-2">
                                                  <div class="btn-group">
                                                    <button class="btn btn-sm btn-outline-secondary" id="btn-list"><i class="fa fa-th-list fa-lg"></i></button>
                                                    <button class="btn btn-sm btn-outline-secondary outline-none active" id="btn-grid"><i class="fa fa-th-large fa-lg"></i></button>
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                          <!-- Folders Container -->
                                          <div class="card-body" id="foldersGroup">
                                            <ol class="breadcrumb">
                                              <li class="breadcrumb-item active"><i class="fa fa-folder"></i>&nbsp; Folders</li>
                                            </ol>
                                            <div id="main-folders" class="d-flex align-items-stretch flex-wrap">
                                               
                                            
                                              </div>
                                          </div>
                                          <!-- End Folders Container -->
                                          <!-- Files Container -->
                                          <div class="card-body d-none" id="filesGroup">
                                            <ol class="breadcrumb">
                                              <li class="breadcrumb-item"><a href="#" id="backToFolders"><i class="fa fa-folder"></i>&nbsp; Folders</a></li>
                                              <li class="breadcrumb-item active">Folder_name_active</li>
                                            </ol>
                                            <div id="main-files" class="d-flex align-items-stretch flex-wrap">
                                                <div class="d-inline-flex">
                                                  <button class="folder-container">
                                                    <div class="folder-icon">
                                                      <i class="fa fa-file file-icon-color"></i>
                                                    </div>
                                                    <div class="folder-name">File-name</div>
                                                  </button>
                                                </div>
                                                <div class="d-inline-flex">
                                                  <button class="folder-container">
                                                    <div class="folder-icon">
                                                      <i class="fa fa-file file-icon-color"></i>
                                                    </div>
                                                    <div class="folder-name">File-name-hyper-extra-large-1235445684121384513</div>
                                                  </button>
                                                </div>
                                                <div class="d-inline-flex">
                                                  <button class="folder-container">
                                                    <div class="folder-icon">
                                                      <i class="fa fa-file file-icon-color"></i>
                                                    </div>
                                                    <div class="folder-name">File-name</div>
                                                  </button>
                                                </div>
                                              </div>
                                          </div>
                                          <!-- End Files Container -->
                                        </div>
                                        
                                      </div>
                                      <br>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
                  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Candidate Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body">
         <div class="row">
             <div class="col-md-6">Name:</div>
             <div class="col-md-6"><strong id="canddiatenamespan"></strong></div>
             
         </div>
         <div class="row">
            <div class="col-md-6">Email Id:</div>
             <div class="col-md-6"><strong id="canddiateemailspan"></strong></div>
            
        </div>
        <div class="row">
            <div class="col-md-6">Contact Number:</div>
             <div class="col-md-6"><strong id="canddiatemobilespan"></strong></div>
            
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                <% include ../../partials/footer %>

                <!-- end:: Page -->


                <!-- begin::Scroll Top -->
                <div id="m_scroll_top" class="m-scroll-top">
                    <i class="la la-arrow-up"></i>
                </div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/CRM/CVDatabase.js" type="text/javascript"></script>
<script> 
	/* Add "https://api.ipify.org?format=json" statement 
	   this will communicate with the ipify servers in 
	   order to retrieve the IP address $.getJSON will 
	   load JSON-encoded data from the server using a 
	   GET HTTP request */ 

	$.getJSON("https://api.ipify.org?format=json", 
									  function(data) { 

	sessionStorage.ipAddress= data.ip; 
	}) 
</script>                                     
<script type="text/javascript">

    $(document).ready(function () {
        FillFolderDdl();
        FillFolderGroup();
        $('#btn-list').on('click', function() {
    $('#main-folders').addClass('flex-column');
    $('#btn-grid').removeClass('active')
    $(this).addClass('active')
  });
  $('#btn-grid').on('click', function() {
    $('#main-folders').removeClass('flex-column');
    $('#btn-list').removeClass('active')
    $(this).addClass('active')
  });
  $('#btn-list').on('click', function() {
    $('#main-files').addClass('flex-column');
    $('#btn-grid').removeClass('active')
    $(this).addClass('active')
  });
  $('#btn-grid').on('click', function() {
    $('#main-files').removeClass('flex-column');
    $('#btn-list').removeClass('active')
    $(this).addClass('active')
  });
  
  // Open folder and see files
  $('button.folder-container').on('click', function() {
    $('#filesGroup').removeClass('d-none');
    $('#foldersGroup').addClass('d-none')
  });
  $('a#backToFolders').on('click', function() {
    $('#foldersGroup').removeClass('d-none');
    $('#filesGroup').addClass('d-none')
  });
    });
 

    if (sessionStorage.getItem("CandidateId") == null) {
        window.location = "/";
    }
</script>