
<!DOCTYPE html>

<html lang="en" >
	<% include ../../partials/crmhead %>
	<style>
		    .blink {
        animation: blinker 10s linear infinite;
        color: dimgray;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .blink-one {
        animation: blinker-one 1s linear infinite;
      }
      @keyframes blinker-one {
        0% {
          opacity: 0;
        }
      }
		  .popout {
                    animation: popout 3s ease;
                    -webkit-animation: popout 3s ease;
                }
                @keyframes popout {
                    from{transform:scale(0)}
                    80%{transform:scale(1.2)}
                    to{transform:scale(1)}
                }
                @-webkit-keyframes popout {
                    from{-webkit-transform:scale(0)}
                    80%{-webkit-transform:scale(1.2)}
                    to{-webkit-transform:scale(1)}
                }
	</style>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<% include ../../partials/crmheader %>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/crmmenu %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<% include ../../partials/crmsubheader %>
                    <!-- END: Subheader -->
                    <div class="m-content">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon m--hide">
                                            <i class="la la-gear"></i>
                                        </span>
                                        <h3 class="m-portlet__head-text">
                                            CV Folder Master
                                        </h3>
                                    </div>

                                </div>
                            </div>
                            <!--begin::Form-->
                            <!-- <form class="m-form"> -->
                            <div class="m-portlet__body">
                                <div class="m-form__section m-form__section--first">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                             Folder Name :
                                        </label>
                                        <div class="col-lg-4">
                                               <input type="text" class="form-control m-input"  placeholder="Enter Folder Name" id="foldernametext">
                                                        
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">
                                                        Active :
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <label class="m-checkbox">
                                                            <input type="checkbox" id="ActiveStatus">
                                                            <span></span>
                                                        </label>
                                                    </div>
                                        </div>
                                      
                                    </div>
                                   
                                        <div class="form-group m-form__group row" style="display: block;">
                                          
                                            <div class="col-lg-4" style="margin: auto">
                                                <button type="button"  class="btn btn-success"
                                                    style="background-color:#716aca;border-color:#716aca;" onclick="InsUpdFolder()">
                                                Submit
                                                </button>

                                            </div>
                                            <div class="col-lg-2">

                                            </div>
                                        </div>
                                      
                                        <div class="m-form__actions m-form__actions">
                                            <a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','PlacementDetails')" id="excelicon" style="font-size:30px;color:green; margin-bottom:10px;display: none;"></i></a>
                                            
                                            <div class="form-group m-form__group row" style="    overflow: auto; ">
                                                <div class="col-lg-12" style='max-height: 500px;' id="paginationbind">
                                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                <thead  id="tablehead">
                                                  <tr>
                                                      <th>
                                                          Sr No
                                                      </th>
                                                      <th>
                                                          Folder Name
                                                      </th>
                                                      <th>
                                                          Active Status
                                                      </th>
                                                      <th>
                                                          Modify
                                                      </th>

                                                  </tr>
                                                </thead>
                                                <tbody id="tbodyvalue"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                        </div>
                                  
                                 

                                </div>

                            </div>

                        </div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
<% include ../../partials/crmfooter %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
		
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
		
		<!-- begin::Quick Nav -->	
    	<!--begin::Base Scripts -->
		<% include ../../partials/crmscript %>
		<!--end::Page Snippets -->
	</body>
    <script src="/js/selectize.min.js"></script>
   
    <script src="../customjs/CRM/CVFolderMaster.js" type="text/javascript"></script>
    <script> 
        /* Add "https://api.ipify.org?format=json" statement 
           this will communicate with the ipify servers in 
           order to retrieve the IP address $.getJSON will 
           load JSON-encoded data from the server using a 
           GET HTTP request */ 
    
        $.getJSON("https://api.ipify.org?format=json", 
                                          function(data) { 
    
        sessionStorage.ipAddress= data.ip; 
        }) 
    </script>                                     
    <script type="text/javascript">
    $(document).ready(function (){
        localStorage.FolderId=0;
        FillFolderDetails();
    })
     
    </script>
	<!-- end::Body -->
</html>
