<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												Advertisement Section
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										
										
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
														<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
																<p>उपयोगकर्ता Exchange   के अनुसार निम्न कार्य कर सकता है :-</p>
														  <ul style="color:black">
														
														 <li> इस Utility के द्वारा आप किसी ”Advertisement Category” की विस्तृत जानकारी “Show Option” के द्वारा देख सकतें हैं । </li>
														 <li> नये ” Advertisement Category” को जोड़ सकतें हैं, पहले से Exists Record को संषोधित कर सकते हैं व पहले से Exists Record को हटा सकतें हैं ।</li>

															</ul>
															

															
															
																</div>
														<div class="m-form__group form-group row">
																<label class="col-lg-2 col-form-label">
																	Advertisement Category	:
																</label>
																<div class="col-lg-4">
																	<input type="text" id="txtad" onfocusout="getvalidated('txtad','text','Advertisement Category'); Cookies.set('JFTitle', this.value, { expires: 1, path: '/' });" class="form-control" name="end">
																	<span id="validtxtad" style="font-size: 11px; color: #cc0033; "></span>
																		
																</div>
															</div>
															<div class="form-group m-form__group row">
																				<label class="col-lg-2 col-form-label">
																						Active :
																				</label>
																				<div class="col-lg-4">
																						<label class="m-checkbox">
																								<input type="checkbox" id="ActiveStatus">
																								<span></span>
																							</label>
																						  </div>
																		 </div>
																		 <div class="form-group m-form__group row">
																				<label class="col-lg-2">
																					
																				</label>
																			<div class="col-lg-3">
																				
																				<button type="button" id="btnSubmit" onclick="CheckValidation();" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																			  Submit
																				</button>
																					
																				<button type="button" id="btnSubmit" class="btn btn-success" onclick="resetMode()" style="background-color:#716aca;border-color:#716aca;">
																						Cancel
																				</button>
																			</div>
																			
																			
																		</div>
													<div class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions">
														
														<% include ../../pages/Table %>
														</div>
													</div>
													</div>
                                                   
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/AdvertisementSection/Advertisementcategory.js" type="text/javascript"></script>
		<script type="text/javascript">
		FetchAdv_Category();
		localStorage.Adv_Cat_Id='0'
            $(document).ready(function () {
                var tablehead="<th><a  style='color: white;'>Categroy Id</a></th><th>	Advertisement Category</th><th>Active</th><th>Modify</th><th>Delete</th>";
        $("#tablehead").html(tablehead);
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
