<span class="m-subheader__daterange" >
    <span class="m-subheader__daterange-label">
       <span >Welcome&nbsp:&nbsp </span> <span id="username1"> </span>&nbsp&nbsp&nbsp&nbsp&nbsp <span >Exchange &nbsp:&nbsp</span> <span id="Exchange"></span>
        <span class="m-subheader__daterange-title" ></span>
        <span class="m-subheader__daterange-date m--font-brand"  style="display: none"></span>
    </span>
    <a onclick="InsupdLoginlog() " style="cursor: pointer;" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" title="Logout">
        <i class="la la-power-off" style="font-size: 2.1rem!important;"></i>
    </a>
</span>
<script>
    function InsupdLoginlog() {
      var MasterData = {
        "p_Emp_id": sessionStorage.Emp_Id,
        "p_IpAddress": sessionStorage.ipAddress,
        "p_Type":"LoggedOut"
    
    
      };
      MasterData = JSON.stringify(MasterData)
      var path = serverpath + "Olexlogslogin";
      securedajaxpost(path, 'parsrdataitLoginlog', 'comment', MasterData, 'control')
    }
    
    
    function parsrdataitLoginlog(data) {
      data = JSON.parse(data)
      if (data[0][0].ReturnValue == "1") {
        window.location='/';
    
      }
    
    
    }
    </script>