<footer class="m-grid__item		m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span lang="en" style="font-size: 12px; display: block; margin: auto;color: black;">All Rights Reserved to DOE MP, Operated by <a>Yashaswi Academy For Talent Management</a></span><br>
 
 
            </div>
            <span lang="en" style="font-size: 12px;display: block;margin: auto;color: black;">© 2020 Directorate of Employment, Madhya Pradesh</span>
            
            </div>
        
        </div>
    </div>
</footer>