<head>
    <meta charset="utf-8" />
    <title>Directorate of Employment,Govt of M.P.</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {"families":["Montserrat:300,400,500,600,700","Roboto:300,400,500,600,700"]},
        active: function() {
            sessionStorage.fonts = true;
        }
      });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->  
    <!--begin::Page Vendors -->
    <link href="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors -->
    <link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/demo3/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="/assets/demo/demo3/media/img/logo/favicon.ico" />
</head>
<style>
        .blink {
    animation: blinker 10s linear infinite;
    color: dimgray;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .blink-one {
    animation: blinker-one 1s linear infinite;
  }
  @keyframes blinker-one {
    0% {
      opacity: 0;
    }
  }
      .popout {
                animation: popout 3s ease;
                -webkit-animation: popout 3s ease;
            }
            @keyframes popout {
                from{transform:scale(0)}
                80%{transform:scale(1.2)}
                to{transform:scale(1)}
            }
            @-webkit-keyframes popout {
                from{-webkit-transform:scale(0)}
                80%{-webkit-transform:scale(1.2)}
                to{-webkit-transform:scale(1)}
            }
</style>