<header id="m_header" class="m-grid__item	m-grid m-grid--desktop m-grid--hor-desktop  m-header " >
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--hor-desktop m-container m-container--responsive m-container--xxl">
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-header__wrapper">
        <!-- begin::Brand -->
        <div class="m-grid__item m-brand">
          <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
              <div class="m-stack__item m-stack__item--middle m-brand__logo">
                  <a  class="m-brand__logo-wrapper">
                    <img alt="" src="../images/logo.png"   style="    max-width: 130%;width: 86%;"/>
                  </a>
                </div>
            <!-- <div class="m-stack__item m-stack__item--middle m-brand__logo">
              <a class="m-brand__logo-wrapper">
                <img alt="" src="../images/YATMLogo.png"    style="    max-width: 52%; margin-left: 23%;"/>
              
              </a>
            </div> -->
      
          </div>
          
        </div>
      
        <!-- end::Brand -->                                        					<!-- begin::Topbar -->
        <% include ../partials/HeaderIcon %>
      </div>
    </div>
  </header>
  <script>
    function idleLogout() {
   var t;
   window.onload = resetTimer;
   window.onmousemove = resetTimer;
   window.onmousedown = resetTimer;  // catches touchscreen presses as well      
   window.ontouchstart = resetTimer; // catches touchscreen swipes as well 
   window.onclick = resetTimer;      // catches touchpad clicks as well
   window.onkeydown = resetTimer;   
   window.addEventListener('scroll', resetTimer, true); // improved; see comments
 
   function resetTimer() {
       clearTimeout(t);
       t = setTimeout(InsupdLoginlog, 28800000);   //600000 time is in milliseconds
   }
  }
  idleLogout();
  </script>
 
