<div class="m-grid__item m-grid__item--fluid m-header-head" id="m_header_nav">
    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
        <div class="m-stack__item m-topbar__nav-wrapper">
            <ul class="m-topbar__nav m-nav m-nav--inline">
            <!--    <% include ../partials/Notification %>
                <% include ../partials/QuickActions %> -->
                <% include ../partials/Profile %> 
        
            </ul>
        </div>
    </div>
</div>
<!-- end::Topbar -->