
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, private" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
<meta name="csrf-token" content="">
<!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self'"> -->
<title>Directorate of Employment,Govt of M.P.</title>
<link rel="shortcut icon" href="/images/favicon.ico">
<!--begin::Web font -->
<script src="../../js/webfont.js"></script>
<script>
  WebFont.load({
    google: {"families":["Montserrat:300,400,500,600,700","Roboto:300,400,500,600,700"]},
    active: function() {
        sessionStorage.fonts = true;
    }
  });
</script>
<!--end::Web font -->
<!--begin::Base Styles -->  
<!--begin::Page Vendors  -->
<link href="/css/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendors -->
<link href="/css/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="/css/style.bundle.css" rel="stylesheet" type="text/css" />
<link href="/css/paper-dashboard.min.css" rel="stylesheet" type="text/css" />
<link href="/css/selectize.default.css" rel="stylesheet" type="text/css"/>
<link href="/css/style.pagination.css" ref="stylesheet" type="text/css"/>
<style>
  			th {
  position: sticky;
  top: -17px; 
}
</style>