

<script src="../js/md5.js" type="text/javascript"></script>
       
       <script src="../js/vendors.bundle.js" type="text/javascript"></script>
       <script src="../js/scripts.bundle.js" type="text/javascript"></script>
       <script src="../js/dashboard.js" type="text/javascript"></script>
       <script src="../js/jquery.form.min.js"></script>
       <script src="../js/fullcalendar.bundle.js" type="text/javascript"></script>
       <script src="../js/global.js" type="text/javascript"></script>
       <script src="../customjs/common.js" type="text/javascript"></script>
       <script src="../js/bootstrap-datepicker.js" type="text/javascript"></script>
       <script src="../js/blockui.js" type="text/javascript"></script>
       <script src="../js/table2excel.js" type="text/javascript"></script>
       <script src="../js/canvasjs.min.js" type="text/javascript"></script>
       <script src="/js/smtp.js"></script>
       <script src="/js/selectize.min.js"></script>
       <script src="/js/pagination.js"type="text/javascript"></script>
       <script src="/js/moment.js"type="text/javascript"></script>

       <script src="/js/printThis.js"type="text/javascript"></script>
       <script src="https://www.paypal.com/sdk/js?client-id=sb" data-csp-nonce="xyz-123"></script>

       <script>
              $.getJSON("https://api.ipify.org?format=json", 
                                function(data) { 
            
              sessionStorage.ipAddress= data.ip; 
              }) 
            </script>
            <style>
              .total{
              background-color: aliceblue;
              font-weight: bold;
              }
              </style>
            