<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
		<!-- begin::Head -->
	<head>
		<% include partials/head %>
	</head>

	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include partials/header %>
			
		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include partials/Menu %>
							</div>
							<!-- end::Horizontal Menu -->                                                                        <!--begin::Search-->
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title ">
											Dashboard
										</h3>
									</div>
									<% include partials/calendar %>
									<div>
								
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content" id="dashboard123"  style="display: none;">
								
								
								<!--Begin::Section-->

								<div class="m-portlet">
									<div class="m-portlet__body  m-portlet__body--no-padding">
										<div class="row m-row--no-padding m-row--col-separator-xl">
											<div class="col-xl-9">
												<!--begin:: Widgets/Daily Sales-->
												<div class="m-widget14">
													<div class="m-widget14__header m--margin-bottom-30">
														<h3 class="m-widget14__title">
															Registration Details Category Wise
														</h3>
														<span class="m-widget14__desc">
															Registration Detail
														</span>
													</div>
													<div class="m-widget14__chart" style="height:180px;">
														<canvas id="myChart" width="500" height="120"></canvas>
													</div>
												</div>
												<!--end:: Widgets/Daily Sales-->
											</div>
											<div class="col-xl-3">
												<!--begin:: Widgets/Profit Share-->
												<div class="m-widget14">
													<div class="m-widget14__header">
														<h3 class="m-widget14__title">
															Details
														</h3>
													</div>
													<div class="row  align-items-center">
														<div class="col">
															<div id="m_chart_profit_share" class="m-widget14__chart" style="height: 120px">
																<div class="m-widget14__stat">
																	
																</div>
															</div>
														</div>
														<div class="col">
															<div class="m-widget14__legends">
																<div class="m-widget14__legend">
																	<span class="m-widget14__legend-bullet m--bg-accent"></span>
																	<span id="RegisterEmployee" class="m-widget14__legend-text">
																		<!-- 2361 Register Employee -->
																	</span>
																</div>
																<div class="m-widget14__legend">
																	<span class="m-widget14__legend-bullet m--bg-warning"></span>
																	<span id="JobFairTotal" class="m-widget14__legend-text">
																		<!-- 351 Job Fair Total -->
																	</span>
																</div>
																<div class="m-widget14__legend">
																	<span class="m-widget14__legend-bullet m--bg-brand"></span>
																	<span id="TotalPlaced" class="m-widget14__legend-text">
																		<!-- 163462 Total Placed -->
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--end:: Widgets/Profit Share-->
											</div>
										</div>
									</div>
								</div>
								<!--End::Section-->


<!--Begin::Section-->
								<div class="row">
									<div class="col-xl-12">
										<!--begin:: Widgets/Application Sales-->
										<div class="m-portlet m-portlet--full-height  m-portlet--rounded">
											<div class="m-portlet__head">
												<div class="m-portlet__head-caption">
													<div class="m-portlet__head-title">
														<h3 class="m-portlet__head-text">
															Job Seeker Registration Details Age and Category Wise
														</h3>
													</div>
												</div>
												
											</div>
											<div class="m-portlet__body">
												<div class="tab-content">
													<div class="tab-pane active" id="m_widget11_tab1_content">
														<!--begin::Widget 11-->
														<div class="m-widget11">
															<div class="table-responsive">
																<!--begin::Table-->
																<table class="table">
																	<!--begin::Thead-->
																	<thead style="background-color: darkblue;">
																		<tr>
																			<td class="m-widget11__app" style="color: white;">
																				Sno
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																				Registration Age Wise
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																				No of Registration
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																				Aadhar
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																				Non Aadhar
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																				Mobile
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																					Non Mobile
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																					UR
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																					SC
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																					ST
																			</td>
																			<td class="m-widget11__app" style="color: white;">
																					OBC
																				</td>

																				<td class="m-widget11__app" style="color: white;">
																					Male
																				</td>
																				<td class="m-widget11__app" style="color: white;">
																					Female
																				</td>
																				<td class="m-widget11__app" style="color: white;">
																					Differently Abled
																				</td>
																		</tr>
																	</thead>
																	
																	<!--end::Thead-->
							<!--begin::Tbody-->



																	<tbody id="tbodyvalue">
																	
																	</tbody>



																	<!--end::Tbody-->
																</table>
																<!--end::Table-->
															</div>
														</div>
														<!--end::Widget 11-->
													</div>
												</div>
											</div>
										</div>
										<!--end:: Widgets/Application Sales-->
									</div>
								</div>
								<!--End::Section-->
								<!--Begin::Section-->

			<div class="m-portlet">
				<div class="m-portlet__body  m-portlet__body--no-padding">
					<div class="row m-row--no-padding m-row--col-separator-xl">
						<div class="col-xl-12">
							<!--begin:: Widgets/Daily Sales-->
							<div class="m-widget14">
								<div class="m-widget14__header m--margin-bottom-30">
									<h3 class="m-widget14__title">
										Registration Details Category Wise
									</h3>
									<span class="m-widget14__desc">
										Registration Detail
									</span>
								</div>
								<div class="m-widget14__chart" style="height:220px;">
									<canvas  id="myChart1" width="600" height="120"></canvas>
								</div>
							</div>
							<!--end:: Widgets/Daily Sales-->
						</div>
					</div>
				</div>
			</div>
			<!--End::Section-->


<!--Begin::Section-->
			<div class="row">
				<div class="col-xl-12">
					<!--begin:: Widgets/Application Sales-->
					<div class="m-portlet m-portlet--full-height  m-portlet--rounded">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Job Seeker Registration Details Age & Qualification Wise
									</h3>
								</div>
							</div>
							
						</div>
						<div class="m-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="m_widget11_tab1_content">
									<!--begin::Widget 11-->
									<div class="m-widget11">
										<div class="table-responsive">
											<!--begin::Table-->
											<table class="table">
												<!--begin::Thead-->
												<thead style="background-color: darkblue;">
													<tr>
														<td class="m-widget11__app" style="color: white;">
															Sno
														</td>
														<td class="m-widget11__app" style="color: white;">
															Registration Age Wise
														</td>
														<td class="m-widget11__app" style="color: white;">
															No of Registration
														</td>
														<td class="m-widget11__app" style="color: white;">
															Below 10th
														</td>
														<td class="m-widget11__app" style="color: white;">
															10th
														</td>
														<td class="m-widget11__app" style="color: white;">
															12th
														</td>
														<td class="m-widget11__app" style="color: white;">
															Graduate
														</td>
														<td class="m-widget11__app" style="color: white;">
															Post Graduate
														</td>
														<td class="m-widget11__app" style="color: white;">
															ITI
														</td>
														<td class="m-widget11__app" style="color: white;">
															Certificate
														</td>
														<td class="m-widget11__app" style="color: white;">
															Diploma
															</td>

															<td class="m-widget11__app" style="color: white;">
																BE
															</td>
															<td class="m-widget11__app" style="color: white;">
																Other
															</td>
															
													</tr>
												</thead>
												<!--end::Thead-->
		<!--begin::Tbody-->



												<tbody id="tbodyvalue2">
								
												</tbody>



												<!--end::Tbody-->
											</table>
											<!--end::Table-->
										</div>
									</div>
									<!--end::Widget 11-->
								</div>
							</div>
						</div>
					</div>
					<!--end:: Widgets/Application Sales-->
				</div>
			</div>
			<!--End::Section-->
							</div>






	

						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="m_modal_5" role="dialog">
				<div class="modal-dialog">
				
				<!-- Modal content-->
				<div class="modal-content">
				<div class="modal-header">
					<h5>Department Wise Verification</h5>
				<button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
				
				</div>
				<div class="modal-body">
				<div class="m-form__section m-form__section--first">
				<div class="m-form__group form-group row">
				<label class="col-lg-5 col-form-label">
				Department Name<span class="required" style="color:red;">*</span>:
				</label>
				<div class="col-lg-5">
				<select  id="DepartmentId"
				class="form-control m-input" placeholder="" onfocusout=" getvalidated('DepartmentId','select','Department');">
				
				</select>
				<span id="validDepartmentId" style="font-size: 11px; color: #cc0033; "></span>
				</div>
				
				
				
				</div>
				<div class="form-group m-form__group row">
				<label class="col-lg-5 col-form-label">
				Password<span class="required" style="color:red;">*</span> :
				</label>
				<div class="col-lg-5">
				<input type="text" onfocusout="getvalidated('Password','text','Password')" id="Password" class="form-control m-input" placeholder="Password"></input>
				<span id="validPassword" style="font-size: 11px; color: #cc0033; "></span>
				
				</div>
				</div>
				<div class="form-group m-form__group row">
				<div class="col-lg-4"></div>
				<div class="m-alert__actions" style="width: 200px;">
				<button type="button" onclick="Validateselfempdept()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
				Verify
				</button>
				
				</div>
				</div>
				</div>
				<div class="modal-footer">
				</div>
				</div>
			</div>
				</div>
				</div>
				<!-- begin::Body -->
				
		<% include partials/footer %>
		
		</div>
		<!-- end:: Page -->
    	     
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		
		<!--begin::Base Scripts -->
		<% include partials/script %>
		<script src="../customjs/index.js" type="text/javascript"></script>
        <script type="text/javascript">

			$(document).ready(function () {
				if(sessionStorage.User_Type_Id==37){

					$('#m_modal_5').modal('toggle');
				}
FillSecuredDepartmentmodel('parsedatasecuredFillSecuredDepartmentmodel','DepartmentId');
			//	FetchDashboardTable('parsedataFetchDashboardTable');
			//	FetchDashboardTableQualificationWise('parsedataFetchDashboardTableQualificationWise');
			//	 FetchDashboardStatus('parsedataFetchDashboardStatus');
				
				// if (sessionStorage.getItem("User_Type_Id") == "1") {
				// 	$("#dashboard123").show();
				// 	FetchDashboardTable('parsedataFetchDashboardTable');
				//     FetchDashboardTableQualificationWise('parsedataFetchDashboardTableQualificationWise');
				//     FetchDashboardStatus('parsedataFetchDashboardStatus');

				// }
				// else{
				// 	$("#dashboard123").hide();
				// }
			  if (sessionStorage.getItem("CandidateId") == null) {
		window.location = "/";
		}
		});
				</script>
	</body>
	<!-- end::Body -->
</html>
