.center1 {
  text-align: center !important;
}

.pagination {
  display: inline-block !important;
}

.pagination a {
  color: black !important;
  float: left !important;
  padding: 8px 16px !important;
  text-decoration: none !important;
  transition: background-color .3s !important;
  border: 1px solid #ddd !important;
  margin: 0 4px !important;
}

.pagination a.active {
  background-color: rgb(67, 163, 70) !important;
  color: white !important;
  border: 1px solid #4CAF50 !important;
}

.pagination a:hover:not(.active) 
{
  background-color: #ddd !important;
}