<!DOCTYPE html>

<html lang="en" >
<!-- begin::Head -->
<head>
<% include ../../partials/head %>
<style>
	.inputresize{
		
		width: 182px;

	}
</style>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body style="background-image: url(../images/bg/bg-1.jpg)" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default" >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
<!-- begin::Header -->
<% include ../../partials/header %>
<!-- end::Header -->
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
<div class="m-grid__item m-body__nav">
<div class="m-stack m-stack--ver m-stack--desktop">
<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
<button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
<i class="la la-close"></i>
</button>
<% include ../../partials/Menu %>
</div>

</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
<i class="la la-close"></i>
</button>

<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
<div class="d-flex align-items-center">
<div class="mr-auto">
<h3 class="m-subheader__title m-subheader__title--separator">
Self Employment 
</h3>
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
<li class="m-nav__item m-nav__item--home">
<a href="/index" class="m-nav__link m-nav__link--icon">
<i class="m-nav__link-icon la la-home"></i>
</a>
</li>



</ul>
</div>
<% include ../../partials/calendar %>
<div>

</div>
</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
<div class="m-portlet">
<div class="m-portlet__head">
<div class="m-portlet__head-caption">
<div class="m-portlet__head-title">
<span class="m-portlet__head-icon m--hide">
<i class="la la-gear"></i>
</span>
<h3 class="m-portlet__head-text">
	Self Employment Entry
</h3>
</div>

</div>
</div>

<div class="m-portlet__body">
<div class="m-form__section m-form__section--first">







<!-- <div class="form-group m-form__group row">
<div class="col-lg-5"></div>
<div class="col-lg-3">

<button type="button" onclick="checkval()"
class="btn btn-success"
style="background-color:#716aca;border-color:#716aca;" >View Profile
</button>


</div>


</div> -->

<div class="col-lg-6" id="nextrenwDate"> </div>

</div>


<div class="m-form__actions m-form__actions">

<div class="form-group m-form__group row" >
	<span id="detailsvalidationtext" style="font-weight: 500;
	color: red;
	font-size: 15px;
	flex: auto;"></span>
</div>
<div class="form-group m-form__group row" style=" overflow: auto; ">
<div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal" style="display: none;">
<thead id="Detailhead" style="display: none;"></thead>
<thead >
<tr id="tablehead">
<th style='background: #716aca;border-right: inset;border-bottom:inset'><a style='color: white;'>क्र</a></th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>विभाग का नाम</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> स्वरोजगार योजना का नाम </th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> माह</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> वर्ष</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>कुल स्वरोजगार प्राप्त  आवेदकों  की संख्या</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>कुल वितरित राशि (लाख में)</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Add</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Save</th>
</tr>
</thead>
<tbody id="tbodyvalue">
	<tr class="clientdetailsrow">
		<td>1</td>
		<td> <select type="text" name="name" id="OfficeName0" onchange="FillScheme('0')" class="inputresize form-control designation"> </select></td>	
		<td> <select type="number" name="name" id="offer0"class="inputresize form-control Vacancy"> </select></td>
		<td> <select type="text" name="name" id="Month0"  class="inputresize form-control designation"> </select></td>	
		<td> <select type="text" name="name" id="Year0"  class="inputresize form-control designation"> </select></td>	
		<td><input type="text" maxlength="8"   onkeypress="return onlyNumberKey(event)" id="totaljs0" style="height: 29px;"></td>
		<td><input type="text" maxlength="10"   onkeypress="return onlyNumberKey(event)" id="totalmoney0" style="height: 29px;"></td>


		<td> <button type="button" onclick="addNewunfilledb();" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
		Add
		</button></td>
		<td>
		<button type="button" onclick="checkValidation('0','0');" id="Submit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
		Save
		</button>
		</td>
		</tr>
</tbody>
</table>

</div>
</div>
</div>
</div>
</div>
<div class="m-portlet">
<div class="m-portlet__body">
	<div class="m-form__section m-form__section--first">
<div class="form-group m-form__group row">
	<div class="col-lg-7"><h5 style="float:left">Self Employment Details and Modification</h5></div>
	<div class="col-lg-3"></div>
	<div class="col-lg-2">
	  <a style="cursor: pointer;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal1','newappReport')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
   </div>	
   </div>
<div class="form-group m-form__group row" style=" overflow: auto; ">
	<div class="col-lg-12" style='max-height: 400px;' >
	<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal1">
		<thead id="Detailhead" style="display: none;"></thead>
		<thead >
		<tr id="tablehead1">
		<th style='background: #716aca;border-right: inset;border-bottom:inset'><a style='color: white;'>क्र</a></th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'>विभाग का नाम</th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'> स्वरोजगार योजना का नाम </th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'> माह</th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'> वर्ष</th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'>कुल स्वरोजगार प्राप्त  आवेदकों  की संख्या</th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'>कुल वितरित राशि (लाख में)</th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'>Modify</th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'>Save</th>
		<th style='background: #716aca;border-right: inset;border-bottom:inset'>Delete</th>
		</tr>
		</thead>
		<tbody id="tbodyvalue1">
	
		</tbody>
		</table>
</div>
</div>
</div>
</div>

</div>
</div>




<!--end::Form-->

</div>
</div>
</div>
</div>
</div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Delete Details !</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p>Are You Sure !  Want to delete this detail</p>
		</div>
		<div class="modal-footer">
			<button type="button" id="deletebtn1"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">YES</button>

		  <button type="button"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;" data-dismiss="modal">NO</button>
		</div>
	  </div>
  
	</div>
  </div>
<!-- begin::Body -->
<% include ../../partials/footer %>
</div>
<!-- end:: Page -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>
</body>

</html>

<% include ../../partials/script %>
<script src="../customjs/Employment/SelfEmploymentEntry.js"></script>
<script>
    function onlyNumberKey(evt) {
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57) && ASCIICode!=46)
            return false;
        return true;
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
	if(sessionStorage.Isdeptverified!='Y' && sessionStorage.User_Type_Id==37){
window.location='/index';
	}
	else{
		FillDepartment(0);
	FillScheme(0);
	FillMonthself('parsedatasecuredFillMonthself',0);
 FillYearself('parsedatasecuredFillYearself',0);
 FillDepartmentTable();
 $('.datepicker').datepicker({
format: 'dd/mm/yyyy'});
	sessionStorage.setItem('DwrClientId','0');
	sessionStorage.SelfEmployementId=0
	checkEmploymentcutoff('SelfEmployment','tableglobal','detailsvalidationtext');
	}


// var tablehead="<th><a style='color: white;'>#</a></th><th>Registation Id</th><th> Name</th><th>EmailId</th><th>Mobile Number</th><th>User Name</th><th>View Detail</th> <th> Reset Password</th>";
// $("#tablehead").html(tablehead);

});


</script>