<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												DataBase Searching Utility
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
									
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<div class="m-content">
									<!--begin::Portlet-->
									<div class="m-portlet m-portlet--space">
											<form class="m-form">
													<div class="m-portlet__body">
														<div class="m-form__section m-form__section--first">
																<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;">
																		<h5 style="color: red;">  कैसे उपयोग करे </h5>
																		<p>उपयोगकर्ता Exchange   के अनुसार निम्न कार्य कर सकता है :-</p>
																  <ul style="color:black">
																
																 <li> इस उपयोगिता के द्वारा Education/Qualification, Age, location आदि के आधार पर चाहे गये Jobseeker की सूची निकाली जा सकती है।</li>
		
																	</ul>
																	
		
																	
																	
																		</div>
		</div>
											<div class="row">
												<div class="col-xl-3">
													<div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
														<ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">
															<li class="m-nav__item" >
																<a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" href="#">
																	<span class="m-nav__link-text">
																		Location
																	</span>
																</a>
															</li>
															<li class="m-nav__item" >
																	<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_4" href="#">
																		<span class="m-nav__link-text">
														Qualification
																		</span>
																	</a>
																</li>
																<li class="m-nav__item" >
																		<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_5" href="#">
																			<span class="m-nav__link-text">
																				NCO Code
																			</span>
																		</a>
																	</li>
																	<li class="m-nav__item" >
																			<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_6" href="#">
																				<span class="m-nav__link-text">
																					Differently Abled
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__item" >
																				<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_7" href="#">
																					<span class="m-nav__link-text">
																						Age
																					</span>
																				</a>
																			</li>
																			<li class="m-nav__item" >
																					<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_8" href="#">
																						<span class="m-nav__link-text">
																							Typing/Steno
																						</span>
																					</a>
																				</li>
																				<li class="m-nav__item" >
																						<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_9" href="#">
																							<span class="m-nav__link-text">
																								Preference & Job Role
																							</span>
																						</a>
																					</li>
																					<li class="m-nav__item" >
																							<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_10" href="#">
																								<span class="m-nav__link-text">
																										Registration Date
																								</span>
																							</a>
																						</li>
																					<li class="m-nav__item" >
																							<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_11" href="#">
																								<span class="m-nav__link-text">
																									Short List
																								</span>
																							</a>
																						</li>
														</ul>
													</div>
												</div>
												<div class="col-xl-9">
													<div class="m-tabs-content" id="m_sections">
														<!--begin::Section 1-->
														
														<div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
															
															<div class="m-accordion m-accordion--bordered" id="m_section_1_content">
																<!--begin::Item-->
																<div class="m-accordion__item">
																		<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																				<span class="m-accordion__item-title">
																						Location
																				</span>
																			</div>
																	<div class="m-accordion__item-body collapse show" id="m_section_1_content_1_body" role="tabpanel" aria-labelledby="m_section_1_content_1_head" data-parent="#m_section_1_content">
																		<div class="m-accordion__item-content addrow" id="newdiv">
																				<div class="m-form__group form-group row">
																						<label class="col-lg-3 col-form-label">
																							Division Name<span class="required" style="color:red;">*</span> :
																						</label>
																						<div class="col-lg-6">
																							<select id="Division" onchange="  FillDistrictbyDivision('parsedatasecuredFillDistrictbyDivision','District');" class="form-control m-input">
																							</select>
																						</div>
                                                                                    </div>
                                                                                    <div class="addrow">
																				<div class="m-form__group form-group row">
																						<label class="col-lg-3 col-form-label">
																							District Name<span class="required" style="color:red;">*</span> :
																						</label>
																						<div class="col-lg-6">
																							<select id="District" class="form-control m-input" onchange="FillSecuredexchangeofficedatasearch('parsedatasecureddatasearch','searchengineutilityexchange');">
																							</select>
																						</div>
																					</div>
																					
																						<div class="m-form__group form-group row">
																								<label class="col-lg-3 col-form-label">
																									Office<span class="required" style="color:red;">*</span> :
																								</label>
																								<div class="col-lg-6">
																									<select id="searchengineutilityexchange" class="form-control m-input"></select>
																								</div>
                                                                                            </div>
                                                                                            </div>
                                                                                            <div class="m-form__group form-group row">
                                                                                                <div class="col-lg-3">
                                                                                                <button type="button" id="btnSubmit" onclick="addrows()"  class="btn btn" style="background-color:#716aca;border-color:#716aca;">
                                                                                                    Add More
                                                                                                </button>
                                                                                            </div>
                                                                                            </div>

                                                                                            <!-- <div class="m-accordion m-accordion--bordered ">  
                                                                                                                        <div class="m-accordion__item">
                                                                                                                            
                                                                                                                            <div class="m-accordion__item-body collapse show" id="m_section_5_content_5_body" role="tabpanel" aria-labelledby="m_section_5_content_5_head" data-parent="#m_section_5_content">
                                                                                                                                    <div class="m-accordion__item-content">
                                                                                                                                        <div class="m-form__group form-group row">
                                                                                                                                            <label class="col-lg-3 col-form-label">
                                                                                                                                                District Name<span class="required" style="color:red;">*</span> :
                                                                                                                                            </label>
                                                                                                                                            <div class="col-lg-6">
                                                                                                                                                <select id="District" class="form-control m-input" onchange="FillSecuredexchangeofficedatasearch('parsedatasecureddatasearch','searchengineutilityexchange');">
                                                                                                                                                </select>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                        
                                                                                                                                            <div class="m-form__group form-group row">
                                                                                                                                                    <label class="col-lg-3 col-form-label">
                                                                                                                                                        Office<span class="required" style="color:red;">*</span> :
                                                                                                                                                    </label>
                                                                                                                                                    <div class="col-lg-6">
                                                                                                                                                        <select id="searchengineutilityexchange" class="form-control m-input"></select>
                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                                <div class="m-form__group form-group row">
                                                                                                                                                    <div class="col-lg-3">
                                                                                                                                                    <button type="button" id="btnSubmit"  class="btn btn" style="background-color:#e48888;border-color:#e48888;">
                                                                                                                                                        Remove
                                                                                                                                                    </button>
                                                                                                                                                </div>
                                                                                                                                                </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div> -->



																		</div>
																	</div>
																</div>
																<!--end::Item-->    
																<div class="m-accordion__item">
																		<div class="m-accordion__item-head" role="tab" id="m_section_1_content_2_head" data-toggle="collapse" href="#m_section_1_content__body">
																				<span class="m-accordion__item-title">
																						Category
																				</span>
																			</div>
																		<div class="m-accordion__item-body collapse show" id="m_section_1_content_2_body" role="tabpanel" aria-labelledby="m_section_1_content_2_head" data-parent="#m_section_2_content">
																				<div class="m-accordion__item-content">
																					<div class="m-form__group form-group row">
																							<label class="col-lg-3 col-form-label">
																								Category Name :
																							</label>
																							<div class="col-lg-6">
																								<select id="searchengineutilitycategory" class="form-control m-input"></select>
																							</div>
																						</div>
																			</div>
																		</div>
																	</div>
								
																	<div class="m-accordion__item">
																			<div class="m-accordion__item-head" role="tab" id="m_section_1_content_3_head" data-toggle="collapse" href="#m_section_1_content__body">
																					<span class="m-accordion__item-title">
																							Gender
																					</span>
																				</div>
																			<div class="m-accordion__item-body collapse show" id="m_section_1_content_3_body" role="tabpanel" aria-labelledby="m_section_1_content_3_head" data-parent="#m_section_3_content">
																					<div class="m-accordion__item-content">
																						<div class="m-form__group form-group row">
																								<label class="col-lg-3 col-form-label">
																										Gender Name :
																								</label>
																								<div class="col-lg-6">
																									<select id="GenderName" class="form-control m-input">
																										<option>Both</option>
																										<option>Male</option>
																										<option>Female</option>
																										
																									</select>
																								
																								</div>
																							</div>
																				</div>
																			</div>
																		</div>
															</div>
														</div>
														<!--begin::Section 1-->  
					   
								<div class="m-tabs-content__item m-tabs-content" id="m_section_4">
															
										<div class="m-accordion m-accordion--bordered" id="m_section_4_content">  
					<!--begin::Item-->
											<div class="m-accordion__item">
												
												<div class="m-accordion__item-body collapse show" id="m_section_4_content_4_body" role="tabpanel" aria-labelledby="m_section_4_content_4_head" data-parent="#m_section_4_content">
														<div class="m-accordion__item-content addnewrow" id="addnew">
															<div class="m-form__group form-group row">
																	<label class="col-lg-3 col-form-label">
																		 Level<span class="required" style="color:red;">*</span> :
																	</label>
																	<div class="col-lg-6">
																		<select id="QualificationLevel" class="form-control m-input"></select>
																	</div>
																</div>

																<div class="addnewrow">
																<div class="m-form__group form-group row">
																		<label class="col-lg-3 col-form-label">
																			 Exam Passed<span class="required" style="color:red;">*</span> :
																		</label>
																		<div class="col-lg-6">
																			<select id="ExamPassed" class="form-control m-input"></select>
																		</div>
																	</div>
																	<div class="m-form__group form-group row">
																			<label class="col-lg-3 col-form-label">
																				 Subject  Group<span class="required" style="color:red;">*</span> :
																			</label>
																			<div class="col-lg-6">
																				<select id="SubjectGroup" class="form-control m-input"></select>
																			</div>
																		</div>
																		<div class="m-form__group form-group row">
																				<label class="col-lg-3 col-form-label">
																					 Passed Year<span class="required" style="color:red;">*</span> :
																				</label>
																				<div class="col-lg-6">
																					<select id="passedYear" class="form-control m-input"></select>
																				</div>
																			</div>
																			<div class="m-form__group form-group row">
																					<label class="col-lg-3 col-form-label">
																					Division	<span class="required" style="color:red;">*</span> :
																					</label>
																					<div class="col-lg-6">
																						<select id="searchutilitydivision" class="form-control m-input"></select>
																					</div>
																				</div>
																				<div class="m-form__group form-group row">
																					<div class="col-lg-3">
																						<button type="button" id="btnSubmit" onclick="addnewrow()"  class="btn btn" style="background-color:#716aca;border-color:#716aca;">
																							Add More
																						</button>
																					</div>
																				</div>
																			</div>
													</div>
												</div>
											</div>
											<!--end::Item-->   
										</div>
									</div>
									<div class="m-tabs-content__item m-tabs-content" id="m_section_5">
															
											<div class="m-accordion m-accordion--bordered" id="m_section_5_content">  
						<!--begin::Item-->
												<div class="m-accordion__item">
													
													<div class="m-accordion__item-body collapse show" id="m_section_5_content_5_body" role="tabpanel" aria-labelledby="m_section_5_content_5_head" data-parent="#m_section_5_content">
															<div class="m-accordion__item-content">
																<div class="m-form__group form-group row">
																		<label class="col-lg-3 col-form-label">
																			 NCO-I :
																		</label>
																		<div class="col-lg-6">
																			<input type="text" id="nco1" class="form-control m-input" placeholder="NCO-I"></input>
																		</div>
																	</div>
																	<div class="m-form__group form-group row">
																			<label class="col-lg-3 col-form-label">
																				 NCO-II :
																			</label>
																			<div class="col-lg-6">
																					<input type="text" id="nco2" class="form-control m-input" placeholder="NCO-II"></input>
																				</div>
																		</div>
																		<div class="m-form__group form-group row">
																				<label class="col-lg-3 col-form-label">
																						NCO-III :
																				   </label>
																				   <div class="col-lg-6">
																						   <input type="text" id="nco3" class="form-control m-input" placeholder="NCO-III"></input>
																					   </div>
																			</div>
																	
														</div>
													</div>
												</div>
												<!--end::Item-->   
											</div>
										</div>
										<div class="m-tabs-content__item m-tabs-content" id="m_section_6">
															
												<div class="m-accordion m-accordion--bordered" id="m_section_6_content">  
							<!--begin::Item-->
													<div class="m-accordion__item">
														
														<div class="m-accordion__item-body collapse show" id="m_section_6_content_6_body" role="tabpanel" aria-labelledby="m_section_6_content_6_head" data-parent="#m_section_6_content">
																<div class="m-accordion__item-content">
																	<div class="m-form__group form-group row">
																		<label class="col-lg-3 col-form-label">
																			Differently Abled :
																		</label>
																		<div class="col-lg-6">
																				<select id="searchutilityhandicapcheck" onchange="fillddlhandicap()" class="form-control m-input">
<option value="0">Non Handidcap</option>
<option value="1">Handidcap</option>
																				</select>
																			</div>
																	</div>
																	<div class="m-form__group form-group row" style="display: none;" id="ddlhandicapdisplay">
																			<label class="col-lg-3 col-form-label">
																				Differently Abled Category :
																			</label>
																			<div class="col-lg-6">
																					<select id="searchutilityhandicap" class="form-control m-input" ></select>
																				</div>
																		</div>
																	
																		
															</div>
														</div>
													</div>
													<!--end::Item-->   
												</div>
											</div>
											<div class="m-tabs-content__item m-tabs-content" id="m_section_7">
															
													<div class="m-accordion m-accordion--bordered" id="m_section_7_content">  
								<!--begin::Item-->
														<div class="m-accordion__item">
															
															<div class="m-accordion__item-body collapse show" id="m_section_7_content_7_body" role="tabpanel" aria-labelledby="m_section_7_content_7_head" data-parent="#m_section_6_content">
																	<div class="m-accordion__item-content">
																		<div class="m-form__group form-group row">
																				<label class="col-lg-3 col-form-label">
																					Min Age :
																				</label>
																				<div class="col-lg-6">
																						<input type="text" id="textminage" class="form-control m-input" placeholder="Min Age"></input>
																					</div>
																			</div>
																			<div class="m-form__group form-group row">
																					<label class="col-lg-3 col-form-label">
																						Max Age :
																					</label>
																					<div class="col-lg-6">
																							<input type="text" id="textmaxage" class="form-control m-input" placeholder="Max Age"></input>
																						</div>
																				</div>
																				<div class="m-form__group form-group row">
																						<label class="col-lg-3 col-form-label">
																							 Age As on Date :
																						</label>
																						<div class="col-lg-6">
																								<!-- <input type="text" id="AgeAsonDate" class="form-control m-input" placeholder=" Age As on Date "></input> -->
																							
																								<div class="input-group date">
																									<input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_1">
																									<div class="input-group-append">
																										<span class="input-group-text">
																											<i class="la la-calendar-check-o"></i>
																										</span>
																									</div>
																								</div>
																							</div>
																					</div>
																			
																</div>
															</div>
														</div>
														<!--end::Item-->   
													</div>
												</div>
												<div class="m-tabs-content__item m-tabs-content" id="m_section_8">
															
														<div class="m-accordion m-accordion--bordered" id="m_section_8_content">  
									<!--begin::Item-->
															<div class="m-accordion__item">
																
																<div class="m-accordion__item-body collapse show" id="m_section_8_content_8_body" role="tabpanel" aria-labelledby="m_section_8_content_8_head" data-parent="#m_section_6_content">
																		<div class="m-accordion__item-content">
																				<div class="m-form__group form-group row">
																						<label class="col-lg-3 col-form-label">
																							Language<span class="required" style="color:red;">*</span> :
																						</label>
																						<div class="col-lg-6">
																							<select id="searchutilitylanguage" class="form-control m-input"></select>
																						</div>
																					</div>
																					<div class="m-form__group form-group row">
																							<label class="col-lg-3 col-form-label">
																							Type	<span class="required" style="color:red;">*</span> :
																							</label>
																							<div class="col-lg-6">
																								<select id="searchutilitytstype" class="form-control m-input"></select>
																							</div>
																						</div>		
																						<div class="m-form__group form-group row">
																								<label class="col-lg-3 col-form-label">
																								Passed Year	<span class="required" style="color:red;">*</span> :
																								</label>
																								<div class="col-lg-6">
																									<select id="LanguagepassedYear" class="form-control m-input"></select>
																								</div>
																							</div>	
																							<div class="m-form__group form-group row">
																									<label class="col-lg-3 col-form-label">
																									Speed :
																									</label>
																									<div class="col-lg-6">
																											<input type="text" id="textSpeed" class="form-control m-input" placeholder="Speed"></input>
																										</div>
																								</div>
																	</div>
																</div>
															</div>
															<!--end::Item-->   
														</div>
													</div>
													<div class="m-tabs-content__item m-tabs-content" id="m_section_9">
															
															<div class="m-accordion m-accordion--bordered" id="m_section_9_content">  
										<!--begin::Item-->
																<div class="m-accordion__item">
																	
																	<div class="m-accordion__item-body collapse show" id="m_section_9_content_9_body" role="tabpanel" aria-labelledby="m_section_9_content_9_head" data-parent="#m_section_6_content">
																			<div class="m-accordion__item-content">
																					<div class="m-form__group form-group row">
																							<label class="col-lg-3 col-form-label">
																								Prefered Location<span class="required" style="color:red;">*</span> :
																							</label>
																							<div class="col-lg-6">
																								<select id="PreferedLocation" class="form-control m-input">
																									<option value="1">Abroad</option>
																									<option value="2">Any where in india</option>
																									<option value="3">Within State</option>
																									<option value="4">Within District</option>
																								</select>
																							</div>
																						</div>
																						<div class="m-form__group form-group row">
																								<label class="col-lg-3 col-form-label">
																								Sector	<span class="required" style="color:red;">*</span> :
																								</label>
																								<div class="col-lg-6">
																									<select id="searchutilitysector" class="form-control m-input"></select>
																								</div>
																							</div>		
																							<div class="m-form__group form-group row">
																									<label class="col-lg-3 col-form-label">
																								Functional	Area	<span class="required" style="color:red;">*</span> :
																									</label>
																									<div class="col-lg-6">
																										<select id="searchutilityfuncarea" class="form-control m-input"></select>
																									</div>
																								</div>	
																							
																		</div>
																	</div>
																</div>
																<!--end::Item-->   
															</div>
														</div>
														<div class="m-tabs-content__item m-tabs-content" id="m_section_10">
															
																<div class="m-accordion m-accordion--bordered" id="m_section_10_content">  
											<!--begin::Item-->
																	<div class="m-accordion__item">
																		
																		<div class="m-accordion__item-body collapse show" id="m_section_10_content_10_body" role="tabpanel" aria-labelledby="m_section_10_content_10_head" data-parent="#m_section_10_content">
																				<div class="m-accordion__item-content">
																							
																						<div class="m-form__group form-group row">
																								
																								<label class="col-lg-3 col-form-label">
																										<h5>Registration Date</h5>
																								</label>
																						     </div>
																									<div class="m-form__group form-group row">
																											<label class="col-lg-3 col-form-label">
																												 From Date :
																											</label>
																											<div class="col-lg-3">
																													<div class="input-group date">
																															<input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_2">
																															<div class="input-group-append">
																																<span class="input-group-text">
																																	<i class="la la-calendar-check-o"></i>
																																</span>
																															</div>
																														</div>
																											</div>
																												<label class="col-lg-2 col-form-label">
																														To Date :
																													</label>
																													<div class="col-lg-3">
																															<div class="input-group date">
																																	<input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_3">
																																	<div class="input-group-append">
																																		<span class="input-group-text">
																																			<i class="la la-calendar-check-o"></i>
																																		</span>
																																	</div>
																																</div>
																													</div>
																										</div>
																			</div>
																		</div>
																	</div>
																	<!--end::Item-->   
																</div>
															</div>
														<div class="m-tabs-content__item m-tabs-content" id="m_section_11">
															
																<div class="m-accordion m-accordion--bordered" id="m_section_11_content">  
											<!--begin::Item-->
																	<div class="m-accordion__item">
																		
																		<div class="m-accordion__item-body collapse show" id="m_section_11_content_11_body" role="tabpanel" aria-labelledby="m_section_11_content_11_head" data-parent="#m_section_11_content">
																				<div class="m-accordion__item-content">
																							
																									<div class="m-form__group form-group row">
																											<label class="col-lg-4 col-form-label">
																											Max Number Of Candidate ShortList :
																											</label>
																											<div class="col-lg-5">
																													<input type="text" id="MaxNoOfCandidateShortList" maxlength="7" class="form-control m-input" value="100" placeholder="Max Number Of Candidate ShortList"></input>
																												</div>
																										</div>

																										<div class="m-form__group form-group row">
																											<label class="col-lg-4 col-form-label">
																											 Number Of Days :
																											</label>
																											<div class="col-lg-5">
																													<input type="number" id="NoOfdays" maxlength="7" class="form-control m-input" value="7" placeholder="Number Of Days"></input>
																												</div>
																										</div>
																			</div>
																		</div>
																	</div>
																	<!--end::Item-->   
																</div>
															</div>
													</div>
												</div>
											</div>
										</form></div>
										<div class="m-portlet__foot">
												<div class="row align-items-center">
													
													<div class="col-lg-6 m--align-right">
														<button type="submit" onclick="InsSearchUtility();" class="btn btn-brand">
															Search jobseeker
														</button>
														<span class="m--margin-left-10">
															
															<a href="#" class="m-link m--font-bold">
															
															</a>
														</span>
													</div>
												</div>
											</br>
											<a style="margin-left: 96%;" ><i class="fa fa-file-excel-o" onclick="ExportExcel('searchenginetable','SearchUtility')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
													
											<div class="form-group m-form__group row" style="    overflow: auto; ">
												<div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
											<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="searchenginetable">
												<thead >
															<tr id="tablehead">
													  
															</tr>
														</thead>
														<tbody id="tbodyvalue1">
								
														</tbody>
													</table>
													  </div>
											</div>
											
											

											</div>
									</div>
									<!--end::Portlet-->
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/DataBaseSearchingUtility/SearchEngine.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				if(sessionStorage.User_Type_Id=='2' || sessionStorage.User_Type_Id=='7'){
					$('#searchengineutilityexchange, #Division, #District').attr('disabled',true);
		
				}
				FillSecuredexchangeofficedatasearch('parsedatasecureddatasearch','searchengineutilityexchange');
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','searchengineutilityexchange');
				FillCategory('parsedatasecuredFillCategory','searchengineutilitycategory');
				FillDivision('parsedatasecuredFillDivision','searchutilitydivision');
				FillHCCategory('parsedatasecuredFillHCCategory','searchutilityhandicap');
				FillLanguage('parsedatasecuredFillLanguage','searchutilitylanguage');
				FillTSType('parsedatasecuredFillTSType','searchutilitytstype');
				FillSector('parsedatasecuredFillSector','searchutilitysector');
				FillQualiLevel('parsedatasecuredFillQualiLevel','QualificationLevel');
				FillYear('parsedatasecuredFillYear','passedYear');
				FillYear('parsedatasecuredFillYear','LanguagepassedYear');
				FilldivExchange('parsedatasecuredFilldivExchange','Division');
				//FillDistrict('parsedatasecuredFillDistrict','District');
			//	FillCategory('parsedatasecuredFillCategory','searchengineutilitycategory');
        var tablehead1="<th>Sr. No</th><th>Exchange Name </th><th>Reg.No & Date </th><th>Candidate Name</th><th>Contact No.</th><th>Father Name/Husband Name</th><th>Address</th>Area/ Domicile/ DAP </th><th>DOB/ Category/ Gender</th><th>Qualification Name</th><th>Subject Group</th><th>Division</th><th>Passing Year</th><th>NCO Details</th><th>Prefered Location</th><th>Functional Area </th>";
		$("#tablehead").html(tablehead1);
		//<th>Qualification Name</th><th>Subject Group & Subject's</th><th>Division</th><th>Passing Year</th><th colspan=3>NCO Details</th>;
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
//   if (sessionStorage.getItem("User_Type_Id")=='3' || sessionStorage.getItem("User_Type_Id")=='4'){
// $('#searchengineutilityexchange').attr('disabled', true);
//   }
  function fillddlhandicap(){
	  if($('#searchutilityhandicapcheck').val()=='1'){
		$('#ddlhandicapdisplay').show();
	  }
	  else{
		$('#ddlhandicapdisplay').hide();
	  }
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
