<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
    <% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
    class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <% include ../../partials/header %>
            <!-- end::Header -->
            <!-- begin::Body -->
            <div
                class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                    <div class="m-grid__item m-body__nav">
                        <div class="m-stack m-stack--ver m-stack--desktop">
                            <!-- begin::Horizontal Menu -->
                            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                                <button
                                    class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light "
                                    id="m_aside_header_menu_mobile_close_btn">
                                    <i class="la la-close"></i>
                                </button>
                                <% include ../../partials/Menu %>
                            </div>

                        </div>
                    </div>
                    <div
                        class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                        <!-- BEGIN: Left Aside -->
                        <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
                            <i class="la la-close"></i>
                        </button>

                        <!-- END: Left Aside -->
                        <div class="m-grid__item m-grid__item--fluid m-wrapper">
                            <!-- BEGIN: Subheader -->
                            <div class="m-subheader ">
                                <div class="d-flex align-items-center">
                                    <div class="mr-auto">
                                        <h3 class="m-subheader__title m-subheader__title--separator">
                                            Joining Details
                                        </h3>
                                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                            <li class="m-nav__item m-nav__item--home">
                                                <a href="/index" class="m-nav__link m-nav__link--icon">
                                                    <i class="m-nav__link-icon la la-home"></i>
                                                </a>
                                            </li>



                                        </ul>
                                    </div>
                                    <% include ../../partials/calendar %>
                                        <div>

                                        </div>
                                </div>
                            </div>
                            <!-- END: Subheader -->
                            <div class="m-content">
                                <div class="m-portlet">
                                    <div class="m-portlet__head">
                                       
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon m--hide">
                                                    <i class="la la-gear"></i>
                                                </span>
                                                <h3 class="m-portlet__head-text">
                                                    Joining Details
                                                </h3>
                                            </div>

                                        </div>
                                    
                                    </div>
                                    <div class="m-portlet__body">
                                        <div class="m-form__section m-form__section--first">







                                            <!-- <div class="form-group m-form__group row">
<div class="col-lg-5"></div>
<div class="col-lg-3">

<button type="button" onclick="checkval()"
class="btn btn-success"
style="background-color:#716aca;border-color:#716aca;" >View Profile
</button>


</div>


</div> -->

                                            <div class="col-lg-6" id="nextrenwDate"> </div>

                                        </div>


                                        <div class="m-form__actions m-form__actions">

                                            <div class="form-group m-form__group row">

                                            </div>
                                            <h5 id="changecontent">Daily Work Entry(Calling) Yashaswi PPP Offices <strong id="date"></strong> </h5>
                                            <div class="form-group m-form__group row" style=" overflow: auto; ">
                                                <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
                                                    <table
                                                        class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand"
                                                        id="tableglobal">
                                                        <thead id="Detailhead"></thead>
                                                        <thead>
                                                            <tr id="tablehead">
                                                                <th  style="border-top: ridge;border-right: ridge;"><a style='color: white;'>#</a></th>
                                                                <th  style="border-top: ridge;border-right: ridge;" >Company/Client Name</th>
                                                                <th  style="border-top: ridge;border-right: ridge;">Total Calling</th>
                                                                <th  style="border-top: ridge;border-right: ridge;" >Followup calls</th>
                                                                <th  style="border-top: ridge;border-right: ridge;" colspan="2">Interested/Sourcing</th>
                                                                <th  style="border-top: ridge;border-right: ridge;" >Lineup</th>
                                                                <th  style="border-top: ridge;border-right: ridge;" >Selected</th>
                                                                <th  style="border-top: ridge;border-right: ridge;">Joined</th>
                                                                <th  style="border-top: ridge;border-right: ridge;">Remark</th>
                                                                <th  style="border-top: ridge;border-right: ridge;" >Add More</th>
                                                                <th  style="border-top: ridge;border-right: ridge;">Save</th>
                                                            </tr>
                                                            <tr >
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" >Commit</th>
                                                                <th style="border-top: ridge;border-right: ridge;" >Done</th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                <th style="border-top: ridge;border-right: ridge;" ></th>
                                                                
                                                               
                                                             
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tablebody">

                                                            <tr class="addrowvacancydetail">
                                                                <td></td>

                                                                <td><select class="form-control companyname"
                                                                    id="companyname0"></select></td>
                                                                    <td><input type="number" class="companyHREmail"
                                                                        id="TotalCalling0"></td>
                                                                        <td><input type="number" class="companyHREmail"
                                                                            id="Followupcalls0"></td>
                                                                            <td><input type="text" class="companyHREmail"
                                                                                id="Commit0"></td>
                                                                                <td><input type="number" class="companyHREmail"
                                                                                    id="Done0"></td>
                                                                                <td><input type="number" class="companyHREmail"
                                                                                    id="Lineup0"></td>
                                                                                    <td><input type="number" class="companyHREmail"
                                                                                        id="Selected0"></td>
                                                                                        <td><input type="number" class="companyHREmail"
                                                                                            id="Joined0"></td>
                                                                                            <td><input type="text" class="companyHREmail"
                                                                                                id="Remark0"></td>


                                                                <td>
                                                                    <button type="button"
                                                                        onclick="addNewfilledvacancyRowss();"
                                                                        id="btnSubmit" class="btn btn-success"
                                                                        style="background-color:#716aca;border-color:#716aca;">
                                                                        Add
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button"
                                                                        onclick="checkValidation(0,'0');" id="Submit"
                                                                        class="btn btn-success"
                                                                        style="background-color:#716aca;border-color:#716aca;">
                                                                        Save
                                                                    </button>
                                                                </td>




                                                            </tr>

                                                        </tbody>
                                                        <tbody id="">

                                                            <tr class="" style="background-color: darkgrey;">
                                                                <td></td>
                                                                <td style="font-weight: 600;">Grand Total</td>

                                                               
                                                                    <td style="font-weight: 600;" id="totalcalling"></td>
                                                                        <td style="font-weight: 600;" id="totalfollowups"></td>
                                                                            <td style="font-weight: 600;" id="totalcommit"></td>
                                                                                <td style="font-weight: 600;" id="totalDone"></td>
                                                                                <td style="font-weight: 600;" id="totalLineup"></td>
                                                                                    <td style="font-weight: 600;" id="totalSelected"></td>
                                                                                        <td style="font-weight: 600;" id="TotalJoined"></td>
                                                                                            <td style="font-weight: 600;"></td>

                                                                                            <td></td> <td></td>
                                                              




                                                            </tr>

                                                        </tbody>
                                                    </table>



                                                </div>
                                            </div>


                                        </div>

                                        <button type="button" onclick="window.history.back()" class="btn btn-success"
                                            style="background-color:#716aca;border-color:#716aca;margin: auto;"> Back
                                        </button>

                                    </div>





                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <!-- begin::Body -->
   
    <% include ../../partials/footer %>
        </div>
        <!-- end:: Page -->


        <!-- begin::Scroll Top -->
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
</body>

</html>

<% include ../../partials/script %>
    <script src="../customjs/DWR/Callingdwr.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sessionStorage.setItem('DwrJoiningId', '0');
           
           
            FillEmployer('0')
            var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); 
var yyyy = today.getFullYear();
today = dd + '/' + mm + '/' + yyyy;
$('#date').html(today);

var date=today.split('/')
var nowdate=date[2]+'-'+date[1]+'-'+date[0]
sessionStorage.datenow=nowdate;
     
        });


    </script>