
<!DOCTYPE html>

<html lang="en" >
	<% include ../../partials/crmhead %>

	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<% include ../../partials/crmheader %>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/crmmenu %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<% include ../../partials/crmsubheader %>
                    <!-- END: Subheader -->
                    <div class="m-content">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                               
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon m--hide">
                                            <i class="la la-gear"></i>
                                        </span>
                                        <h3 class="m-portlet__head-text">
                                            Joining Details
                                        </h3>
                                    </div>

                                </div>
                            
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-form__section m-form__section--first">







                                    <!-- <div class="form-group m-form__group row">
<div class="col-lg-5"></div>
<div class="col-lg-3">

<button type="button" onclick="checkval()"
class="btn btn-success"
style="background-color:#716aca;border-color:#716aca;" >View Profile
</button>


</div>


</div> -->

                                    <div class="col-lg-6" id="nextrenwDate"> </div>

                                </div>


                                <div class="m-form__actions m-form__actions">

                                    <div class="form-group m-form__group row">

                                    </div>
                                    <h5 id="changecontent">Daily Work Entry(Calling) Yashaswi PPP Offices <strong id="date"></strong> </h5>
                                    <div class="form-group m-form__group row" style=" overflow: auto; ">
                                        <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
                                            <table
                                                class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand"
                                                id="tableglobal">
                                                <thead id="Detailhead"></thead>
                                                <thead>
                                                    <tr id="tablehead">
                                                        <th  style="border-top: ridge;border-right: ridge;"><a style='color: white;'>#</a></th>
                                                        <th  style="border-top: ridge;border-right: ridge;" >Company/Client Name</th>
                                                        <th  style="border-top: ridge;border-right: ridge;">Total Calling</th>
                                                        <th  style="border-top: ridge;border-right: ridge;" >Followup calls</th>
                                                        <th  style="border-top: ridge;border-right: ridge;" colspan="2">Interested/Sourcing</th>
                                                        <th  style="border-top: ridge;border-right: ridge;" >Lineup</th>
                                                        <th  style="border-top: ridge;border-right: ridge;" >Selected</th>
                                                        <th  style="border-top: ridge;border-right: ridge;">Joined</th>
                                                        <th  style="border-top: ridge;border-right: ridge;">Remark</th>
                                                        <th  style="border-top: ridge;border-right: ridge;" >Add More</th>
                                                        <th  style="border-top: ridge;border-right: ridge;">Save</th>
                                                    </tr>
                                                    <tr >
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" >Commit</th>
                                                        <th style="border-top: ridge;border-right: ridge;" >Done</th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        <th style="border-top: ridge;border-right: ridge;" ></th>
                                                        
                                                       
                                                     
                                                    </tr>
                                                </thead>
                                                <tbody id="tablebody">

                                                    <tr class="addrowvacancydetail">
                                                        <td></td>

                                                        <td><select class="form-control companyname"
                                                            id="companyname0"></select></td>
                                                            <td><input type="number" class="companyHREmail"
                                                                id="TotalCalling0"></td>
                                                                <td><input type="number" class="companyHREmail"
                                                                    id="Followupcalls0"></td>
                                                                    <td><input type="text" class="companyHREmail"
                                                                        id="Commit0"></td>
                                                                        <td><input type="number" class="companyHREmail"
                                                                            id="Done0"></td>
                                                                        <td><input type="number" class="companyHREmail"
                                                                            id="Lineup0"></td>
                                                                            <td><input type="number" class="companyHREmail"
                                                                                id="Selected0"></td>
                                                                                <td><input type="number" class="companyHREmail"
                                                                                    id="Joined0"></td>
                                                                                    <td><input type="text" class="companyHREmail"
                                                                                        id="Remark0"></td>


                                                        <td>
                                                            <button type="button"
                                                                onclick="addNewfilledvacancyRowss();"
                                                                id="btnSubmit" class="btn btn-success"
                                                                style="background-color:#716aca;border-color:#716aca;">
                                                                Add
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button type="button"
                                                                onclick="checkValidation(0,'0');" id="Submit"
                                                                class="btn btn-success"
                                                                style="background-color:#716aca;border-color:#716aca;">
                                                                Save
                                                            </button>
                                                        </td>




                                                    </tr>

                                                </tbody>
                                                <tbody id="">

                                                    <tr class="" style="background-color: darkgrey;">
                                                        <td></td>
                                                        <td style="font-weight: 600;">Grand Total</td>

                                                       
                                                            <td style="font-weight: 600;" id="totalcalling"></td>
                                                                <td style="font-weight: 600;" id="totalfollowups"></td>
                                                                    <td style="font-weight: 600;" id="totalcommit"></td>
                                                                        <td style="font-weight: 600;" id="totalDone"></td>
                                                                        <td style="font-weight: 600;" id="totalLineup"></td>
                                                                            <td style="font-weight: 600;" id="totalSelected"></td>
                                                                                <td style="font-weight: 600;" id="TotalJoined"></td>
                                                                                    <td style="font-weight: 600;"></td>

                                                                                    <td></td> <td></td>
                                                      




                                                    </tr>

                                                </tbody>
                                            </table>



                                        </div>
                                    </div>


                                </div>

                                <button type="button" onclick="window.history.back()" class="btn btn-success"
                                    style="background-color:#716aca;border-color:#716aca;margin: auto;"> Back
                                </button>

                            </div>





                        </div>
                    </div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
<% include ../../partials/crmfooter %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
		
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
		
		<!-- begin::Quick Nav -->	
    	<!--begin::Base Scripts -->
		<% include ../../partials/crmscript %>
		<!--end::Page Snippets -->
	</body>
    <script src="/js/selectize.min.js"></script>

    <script src="../customjs/DWR/Callingdwr.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sessionStorage.setItem('DwrJoiningId', '0');
           
           
            FillEmployer('0')
            var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); 
var yyyy = today.getFullYear();
today = dd + '/' + mm + '/' + yyyy;
$('#date').html(today);

var date=today.split('/')
var nowdate=date[2]+'-'+date[1]+'-'+date[0]
sessionStorage.datenow=nowdate;
     
        });


    </script>
	<!-- end::Body -->
</html>
