<!DOCTYPE html>

<html lang="en" >
<!-- begin::Head -->
<head>
<% include ../../partials/head %>
<style>
	.inputresize{
		
		width: 182px;

	}
</style>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body style="background-image: url(../images/bg/bg-1.jpg)" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default" >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
<!-- begin::Header -->
<% include ../../partials/header %>
<!-- end::Header -->
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
<div class="m-grid__item m-body__nav">
<div class="m-stack m-stack--ver m-stack--desktop">
<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
<button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
<i class="la la-close"></i>
</button>
<% include ../../partials/Menu %>
</div>

</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
<i class="la la-close"></i>
</button>

<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
<div class="d-flex align-items-center">
<div class="mr-auto">
<h3 class="m-subheader__title m-subheader__title--separator">
Client Details
</h3>
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
<li class="m-nav__item m-nav__item--home">
<a href="/index" class="m-nav__link m-nav__link--icon">
<i class="m-nav__link-icon la la-home"></i>
</a>
</li>



</ul>
</div>
<% include ../../partials/calendar %>
<div>

</div>
</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
<div class="m-portlet">
<div class="m-portlet__head">
<div class="m-portlet__head-caption">
<div class="m-portlet__head-title">
<span class="m-portlet__head-icon m--hide">
<i class="la la-gear"></i>
</span>
<h3 class="m-portlet__head-text">
	Client Details
</h3>
</div>

</div>
</div>

<div class="m-portlet__body">
<div class="m-form__section m-form__section--first">







<!-- <div class="form-group m-form__group row">
<div class="col-lg-5"></div>
<div class="col-lg-3">

<button type="button" onclick="checkval()"
class="btn btn-success"
style="background-color:#716aca;border-color:#716aca;" >View Profile
</button>


</div>


</div> -->

<div class="col-lg-6" id="nextrenwDate"> </div>

</div>


<div class="m-form__actions m-form__actions">

<div class="form-group m-form__group row" >
<!-- <div class="col-lg-12">
<input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" />
</div> -->
</div>
<div class="form-group m-form__group row" style=" overflow: auto; ">
<div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
<thead id="Detailhead" style="display: none;"></thead>
<thead >
<tr id="tablehead">
<th style='background: #716aca;border-right: inset;border-bottom:inset'><a style='color: white;'>S.No</a></th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Job Id</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Company Name</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Industry/Sector</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> Designation</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>JD in Detail</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Type Of Vacancy</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> Number of Positions</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>CTC/PM</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> Job State</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> Job Location</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Gender</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset' colspan=2>Age Criteria<br>Min Age/Max Age </th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Essential Qualification</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Experience(in years) </th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Recruitment Type</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Permitted to disclose company's name on portal</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>HR Manager Name </th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>HR Manager Name Mobile Number</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'> HR Manager Name Email ID</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Commercial Status</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Commercial Details</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Replacement Period</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Payment Duration</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Add</th>
<th style='background: #716aca;border-right: inset;border-bottom:inset'>Save</th>
</tr>
</thead>
<tbody id="tbodyvalue">
	<tr class="clientdetailsrow">
		<td>1</td>
		<td></td>
		<td ><input type="text" id="compname0"></td>
		<td> <select type="text" name="Designation" id="industry0" class="inputresize form-control Skill" placeholder="Sector" autocomplete="off"></select></td>
		<td> <select type="text" name="name" id="DESIGNATION0"class="inputresize form-control designation"> </select></td>
		<td><textarea class="form-control" onkeypress="if(this.value.length>=200) { return false;}" style="height: 110px;width: 252px;" id="JDINDETAIL0" name="permanentaddress" placeholder="Enter Job Description Details"></textarea></td>
		
		<td> <select type="number" name="name" id="VACANCY0"class="inputresize form-control Vacancy"> </select></td>
		<td><input type="number" onkeypress="if(this.value.length >= 5){return false}" id="POSITIONS0"></td>
		<td><input type="text" id="CTC0"></td>
		<td> <select type="text" name="name" id="STATE0"class="inputresize form-control state"> </select></td>
		<td> <select type="text" name="name" id="LOCATION0"class="inputresize form-control district"> </select></td>
		<td> <select type="text" name="name" id="GENDER0"class="form-control inputresize">
		<option value="M">Male </option>
		<option value="F">Female </option>
		<option value="B">Both</option>
		</select></td>
		<td><input type="number" id="AGECRITERIAMin0"></td>
		<td><input type="number" id="AGECRITERIAMax0"></td>
		<td><input type="text" id="QUALIFICATION0"></td>
		<td> <select type="text" name="name" id="EXPERIENCE0"class="form-control inputresize">
		<option value="0">Select</option>
		<option value="0-6 Months">0-6 Months</option>
		<option value="6-12 Months">6-12 Months</option>
		<option value="1 Years">1 Years</option>
		<option value="2 Years">2 Years</option>
		<option value="3 Years">3 Years</option>
		<option value="4 Years">4 Years</option>
		<option value="5 Years">5 Years</option>
		<option value="6 Years">6 Years</option>
		<option value="7 Years">7 Years</option>
		<option value="8 Years">8 Years</option>
		<option value="9 Years">9 Years</option>
		<option value="10 Years">10 Years</option>
		<option value="More than 10 Years">More than 10 Years</option>
		
		</select></td>
		<td> <select type="text" name="name" id="RECRUITMENT0"class="form-control inputresize">
		<option value="0">Select</option>
		<option value="Neem">Neem</option>
		<option value="NAPS">NAPS</option>
		<option value="Company Role">Company Role</option>
		<option value="Outsourcing">Outsourcing </option>
		</select></td>
		<td> <select type="text" name="name" id="PERMITTED0"class="form-control">
		<option value="Y">Yes </option>
		<option value="N">No</option>
		</select></td>
		<td><input type="text" id="MANAGER0"></td>
		<td><input type="number" onkeypress="if(this.value.length >= 10){return false}" id="MOBILE0"></td>
		<td><input type="text" id="EMAIL0"></td>
		<td> <select type="text" name="name" id="STATUS0"class="form-control inputresize">
		<option value="Paid">Paid </option>
		<option value="Unpaid">Unpaid </option>
		</select></td>
		<td><input type="text" id="COMMERCIAL0"></td>
		<td><input type="text" id="REPLACEMENT0"></td>
		<td><input type="text" id="PAYMENT0"></td>
		<td> <button type="button" onclick="addNewunfilledb();" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
		Add
		</button></td>
		<td>
		<button type="button" onclick="checkValidation('0','0');" id="Submit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
		Save
		</button>
		</td>
		</tr>
</tbody>
</table>
</div>
</div>


</div>
<div class="form-group m-form__group row" style="    place-content: center;">
	<div class="col-lg-3">
	  <button type="button" onclick="window.history.back()"  id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
		  Back 
	  </button>
	 
  </div>
 </div>
</div>






<!--end::Form-->

</div>
</div>
</div>
</div>
</div>
</div>
<!-- begin::Body -->
<% include ../../partials/footer %>
</div>
<!-- end:: Page -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>
</body>

</html>

<% include ../../partials/script %>
<script src="../customjs/DWR/ClientDetails.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	sessionStorage.setItem('DwrClientId','0');
	FillDesignation('0');
	FillVacancy('0');
	Fillempstate('0');
	FillDistrict(0);
	FillSectoremp('0');
	if(sessionStorage.getItem('page','report')){
      fetchDWRbydate();
	}


// var tablehead="<th><a style='color: white;'>#</a></th><th>Registation Id</th><th> Name</th><th>EmailId</th><th>Mobile Number</th><th>User Name</th><th>View Detail</th> <th> Reset Password</th>";
// $("#tablehead").html(tablehead);

});


</script>