<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Daily Work Entry 
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"> </i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        Daily Work Entry 
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<!-- <div class="m-form__section m-form__section--first">
													 <div class="form-group m-form__group row">
															<div class="col-lg-5"></div>
													<div class="col-lg-3">

															<button type="button"  onclick="checkval()"
																class="btn btn-success" 
																style="background-color:#716aca;border-color:#716aca;" >View Profile
															</button>
														</div>
													</div>
                                                         
													<div class="col-lg-6" id="nextrenwDate">  </div>
														</div> -->

														
													<div class="m-form__actions m-form__actions">
													
                                                        <div class="form-group m-form__group row" >
                                                            <!-- <div class="col-lg-12">
                                                                <input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" />
                                                            </div>  -->
                                                    </div>
													<h5 id="changecontent">Daily Work Entry Yashaswi PPP Offices <strong id="date"></strong> </h5>
                                                    <div class="form-group m-form__group row" style="    overflow: auto; ">
                                                        <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
															
															<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                        <thead id="Detailhead" style="display: none;"></thead>
                                                        <thead >
                                                            <tr id="tablehead">
                                                                <th style="border-right: inset;"> District </th>
																<th style="border-right: inset;"> Total No. of Client visited</th>
																<th style="border-right: inset;"> Total No. of New Client sign </th>
																<th style="border-right: inset;"> Total No. of Candidate Calling  </th>
																<th style="border-right: inset;"> Total No. of Candidates Interview </th>
																<th style="border-right: inset;"> Candidates Selected </th>
																 <th style="border-right: inset;"> No. of Clients for Interview  </th>
																<th style="border-right: inset;" > Today's Joining </th>
																<th style="border-right: inset;"> Total No of Job Fair </th>
																<th style="border-right: inset;" id='joiningdetails'>Total Foot fall in Job fair</th>
																<th style="border-right: inset;">Client Visited in Job fair</th>
																<th style="border-right: inset;">Total Shortlisting in Job Fair</th>
																<th style="border-right: inset;">Total Number of messages sent</th>
																<th style="border-right: inset;">Career counselling session</th>
																<th>Remark</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyvalue">
    <tr>
    <th id="district">  </th> 
    <th><input id="visitedClientno" class="ent"> </th>
    <th><strong id="signClientno" style="cursor: pointer;font-weight: 700;font-size: initial;color: darkcyan;">000</strong> <a href="/ClientDetails"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 18px;color: blue;cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Add More Client"></i></a>  </th> 
    <th><input id="noofcandidatecalling" class="ent"> </th>
    <th><input id="noofcandidatesinterview" class="ent"> </th>
    <th><input id="candidateselected" class="ent"> </th>
    <th><input id="ClientsForInterview" class="ent"> </th>
    <th><strong id="TodaysJoining" style="cursor: pointer;font-weight: 700;font-size: initial;color: darkcyan;">000</strong> <a onclick="gotoJoining()"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 18px;color: blue;cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Add More Joining"></i></a></th>
    <th><input id="JobFair" class="ent"> </th>
    <th><input id="JobFairFootfall" class="ent"> </th>
    <th><input id="JobFairClients" class="ent"> </th>
    <th><input id="JobFairShortlisting" class="ent">  </th>
	<th><input id="noofmsg" class="ent">  </th>
	<th><input id="ccsession" class="ent">  </th>
	<th><input id="Remark" class="ent">  </th>
</tr>

                                                        </tbody>
                                                    </table>
                                                    </div>
                                                    </div>
														
														</div>
<!-- <div class="col-lg-6"> -->
	<button type="button"  onclick="dailyworkentry()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;margin: auto;" > Submit </button>
	<!-- </div> -->
													</div>
												   
													


													
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
		
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>

</html>

		<% include ../../partials/script %>
		<script src="../customjs/DWR/DailyWorkEntry.js"></script>
		<script type="text/javascript">
	 $(document).ready(function () {
		// $('.datepicker').datepicker({
        // format: 'dd/mm/yyyy'});
	   
if(sessionStorage.href){
	console.log('in')
	window.location='/DailyWorkEntry'+sessionStorage.href;
	sessionStorage.removeItem('href');
}
		
$('#district').html(sessionStorage.DistrictName);

		$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); 
var yyyy = today.getFullYear();
today = dd + '/' + mm + '/' + yyyy;
$('#date').html(today);

var date=today.split('/')
var nowdate=date[2]+'-'+date[1]+'-'+date[0]
sessionStorage.datenow=nowdate;
setTimeout(function(){ fetchDWRCount() }, 300);

							});
     function gotoJoining(){
		sessionStorage.href='#joiningdetails';
		window.location='/joiningdetails'
	 }    
	
                </script>
