<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Daily Work Report 
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"> </i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        Daily Work Report ClientWise
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<!-- <div class="m-form__section m-form__section--first">
													 <div class="form-group m-form__group row">
															<div class="col-lg-5"></div>
													<div class="col-lg-3">

															<button type="button"  onclick="checkval()"
																class="btn btn-success" 
																style="background-color:#716aca;border-color:#716aca;" >View Profile
															</button>
														</div>
													</div>
                                                         
													<div class="col-lg-6" id="nextrenwDate">  </div>
														</div> -->
                                                        <div class="m-form__group form-group row">

                                                        <label class="col-lg-2 col-form-label" id="todateLabel" >
                                                             Date :
                                                        </label>
                                                        <div class="col-lg-4" id="todate" >
                                                                <div class="input-group date">
                                                                        <input type="text" class="form-control m-input dwrdate" readonly="" placeholder="(DD/MM/YYYY)" id="m_datepicker_6">
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text">
                                                                                <i class="la la-calendar-check-o"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                        <label class="col-lg-2 col-form-label emp">
															CLIENT/COMPANY NAME :
														</label>
														<div class="col-lg-4 emp">
															<select type="text" id="companyname" class="form-control m-input" placeholder="">
															
															 </select></div>
                                                        </div>
                                                        <div class="m-form__group form-group row">
                                                            <div class="col-lg-3"></div>
<div class="col-lg-6">
	<button type="button"  onclick="checkValidation();$('#date').html($('#m_datepicker_6').val());sessionStorage.Date=$('#m_datepicker_6').val()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;margin: auto;" > Submit </button>
	</div>
                                                        
                                                        </div>
														
													<div class="m-form__actions m-form__actions">
													
                                                        <div class="form-group m-form__group row" >
                                                            <!-- <div class="col-lg-12">
                                                                <input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" />
                                                            </div>  -->
                                                    </div>
													<a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','Daily work Report')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>

													<!-- <h5 id="changecontent">Daily Work Report (DWR) Yashaswi PPP Offices <strong id="date"></strong></h5> -->
                                                    <div class="form-group m-form__group row" style="    overflow: auto; ">
                                                        <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
															
															<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
    
                                                        <thead >
																<tr id="Detailhead" ><th colspan='13' style="border: 1px solid;background:#615f5f96;border-color: black;">Daily Work Report (DWR) Yashaswi PPP Offices <strong id="date1"></strong> </th></tr>
                                                            <tr id="tablehead">
                                                                
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> Recruiter Name</th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> Total Calling </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> Followup calls  </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black" colspan="2"> Interested/Sourcing </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> Lineup </th>
                                                                 <th style="border-right: inset;background:#615f5f96;    border-color:black"> Selected  </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> Joined </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> Remark </th>
         

                                                            </tr>
                                                            <tr id="tablehead">
                                                                
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"></th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black">   </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black"> Commit </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black">Commit  </th>
                                                                 <th style="border-right: inset;background:#615f5f96;    border-color:black">   </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black">  </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black">  </th>
                                                                <th style="border-right: inset;background:#615f5f96;    border-color:black">  </th>

                                                            </tr>
                                                         
                                                        </thead>
                                                        
                                                        <tbody id="tbodyvalue">
    <!-- <tr>
    <th id="district"> Bhopal </th>
    <th id="visitedClientno" ><a href='/visitedClient'>000</a></th>
    <th id="signClientno" > </th> 
    <th  id="noofcandidatecalling"> </th>
    <th id="noofcandidatesinterview" > </th>
    <th id="candidateselected"> </th>
    <th id="ClientsForInterview"> </th>
    <th id="TodaysJoining" ><a href='/todayjoining'>000</a></th>
    <th id="JobFair"> </th>
    <th id="JobFairFootfall"> </th>
    <th id="JobFairClients"> </th>
    <th id="JobFairShortlisting">  </th>
</tr> -->

                                                        </tbody>
                                                    </table>
                                                    </div>
                                                    </div>
														
														</div>

													</div>
												   
													


													
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
		
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>

</html>

		<% include ../../partials/script %>
		<script src="../customjs/DWR/DwrCallingReportclientwise.js"></script>
		<script type="text/javascript">
	 $(document).ready(function () {
       
        var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); 
var yyyy = today.getFullYear();
today = dd + '/' + mm + '/' + yyyy;
$('#m_datepicker_6').val(today);
	
FillEmployer()


							});
         
	
                </script>
