
<!DOCTYPE html>

<html lang="en" >
	<% include ../../partials/crmhead %>
	        <link href="/css/selectize.default.css" rel="stylesheet" type="text/css"/>
	<style>
		    .blink {
        animation: blinker 10s linear infinite;
        color: dimgray;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .blink-one {
        animation: blinker-one 1s linear infinite;
      }
      @keyframes blinker-one {
        0% {
          opacity: 0;
        }
      }
		  .popout {
                    animation: popout 3s ease;
                    -webkit-animation: popout 3s ease;
                }
                @keyframes popout {
                    from{transform:scale(0)}
                    80%{transform:scale(1.2)}
                    to{transform:scale(1)}
                }
                @-webkit-keyframes popout {
                    from{-webkit-transform:scale(0)}
                    80%{-webkit-transform:scale(1.2)}
                    to{-webkit-transform:scale(1)}
                }
	</style>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<% include ../../partials/crmheader %>
			<!-- END: Header -->		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<% include ../../partials/crmmenu %>
				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<% include ../../partials/crmsubheader %>
                    <!-- END: Subheader -->
                    <div class="m-content">
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon m--hide">
                                            <i class="la la-gear"> </i>
                                        </span>
                                        <h3 class="m-portlet__head-text">
                                            Daily Work Report 
                                        </h3>
                                    </div>
                                  
                                </div>
                            </div>
                            <!--begin::Form-->
                            <form class="m-form">
                                <div class="m-portlet__body">
                                    <!-- <div class="m-form__section m-form__section--first">
                                         <div class="form-group m-form__group row">
                                                <div class="col-lg-5"></div>
                                        <div class="col-lg-3">

                                                <button type="button"  onclick="checkval()"
                                                    class="btn btn-success" 
                                                    style="background-color:#716aca;border-color:#716aca;" >View Profile
                                                </button>
                                            </div>
                                        </div>
                                             
                                        <div class="col-lg-6" id="nextrenwDate">  </div>
                                            </div> -->
                                            <div class="m-form__group form-group row">

                                            <label class="col-lg-2 col-form-label" id="todateLabel" >
                                                 Date :
                                            </label>
                                            <div class="col-lg-4" id="todate" >
                                                    <div class="input-group date">
                                                            <input type="text" class="form-control m-input dwrdate" readonly="" placeholder="(DD/MM/YYYY)" id="m_datepicker_6">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar-check-o"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                            </div>
                                            <label class="col-lg-2 col-form-label emp">
                                                Name Of Recruiter :
                                            </label>
                                            <div class="col-lg-4 emp">
                                                <select type="text" id="empname" class="form-control m-input" placeholder="">
                                                
                                                 </select></div>
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <div class="col-lg-2"></div>
<div class="col-lg-6">
<button type="button"  onclick="checkValidation();$('#date').html($('#m_datepicker_6').val());sessionStorage.Date=$('#m_datepicker_6').val()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;margin: auto;" > Submit </button>
</div>
                                            
                                            </div>
                                            
                                        <div class="m-form__actions m-form__actions">
                                        
                                            <div class="form-group m-form__group row" >
                                                <!-- <div class="col-lg-12">
                                                    <input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" />
                                                </div>  -->
                                        </div>
                                        <a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','Daily work Report')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>

                                        <!-- <h5 id="changecontent">Daily Work Report (DWR) Yashaswi PPP Offices <strong id="date"></strong></h5> -->
                                        <div class="form-group m-form__group row" style="    overflow: auto; ">
                                            <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
                                                
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">

                                            <thead >
                                                    <tr id="Detailhead" ><th colspan='13' style="border: 1px solid;background:#615f5f96;border-color: black;">Daily Work Report (DWR) Yashaswi PPP Offices <strong id="date1"></strong> </th></tr>
                                                <tr id="tablehead">
                                                    
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> Client/Company Name</th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> Total Calling </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> Followup calls  </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black" colspan="2"> Interested/Sourcing </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> Lineup </th>
                                                     <th style="border-right: inset;background:#615f5f96;    border-color:black"> Selected  </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> Joined </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> Remark </th>


                                                </tr>
                                                <tr id="tablehead">
                                                    
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"></th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black">   </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black"> Commit </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black">Commit  </th>
                                                     <th style="border-right: inset;background:#615f5f96;    border-color:black">   </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black">  </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black">  </th>
                                                    <th style="border-right: inset;background:#615f5f96;    border-color:black">  </th>

                                                </tr>
                                             
                                            </thead>
                                            
                                            <tbody id="tbodyvalue">
<!-- <tr>
<th id="district"> Bhopal </th>
<th id="visitedClientno" ><a href='/visitedClient'>000</a></th>
<th id="signClientno" > </th> 
<th  id="noofcandidatecalling"> </th>
<th id="noofcandidatesinterview" > </th>
<th id="candidateselected"> </th>
<th id="ClientsForInterview"> </th>
<th id="TodaysJoining" ><a href='/todayjoining'>000</a></th>
<th id="JobFair"> </th>
<th id="JobFairFootfall"> </th>
<th id="JobFairClients"> </th>
<th id="JobFairShortlisting">  </th>
</tr> -->

                                            </tbody>
                                        </table>
                                        </div>
                                        </div>
                                            
                                            </div>

                                        </div>
                                       
                                        


                                        
                                    </div>
                                </div>
				</div>
			</div>
			<!-- end:: Body -->
<!-- begin::Footer -->
<% include ../../partials/crmfooter %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
	
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
		
		<!-- begin::Quick Nav -->	
    	<!--begin::Base Scripts -->
		<% include ../../partials/crmscript %>
		<!--end::Page Snippets -->
	</body>
    <script src="../customjs/DWR/DwrcallingReport.js"></script>
    <script type="text/javascript">
 $(document).ready(function () {
   
    var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); 
var yyyy = today.getFullYear();
today = dd + '/' + mm + '/' + yyyy;
$('#m_datepicker_6').val(today);


setTimeout(() => {
fetchDwrcalling();
}, 300);
if (sessionStorage.User_Type_Id==0){
   $(".emp").show()
   FillUsername('parsedatasecuredFillUsername','empname');

}
else{

$(".emp").hide()
}
                        });
     

            </script>
	<!-- end::Body -->
</html>
