<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
    <% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
    class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <% include ../../partials/header %>
            <!-- end::Header -->
            <!-- begin::Body -->
            <div
                class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                    <div class="m-grid__item m-body__nav">
                        <div class="m-stack m-stack--ver m-stack--desktop">
                            <!-- begin::Horizontal Menu -->
                            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                                <button
                                    class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light "
                                    id="m_aside_header_menu_mobile_close_btn">
                                    <i class="la la-close"></i>
                                </button>
                                <% include ../../partials/Menu %>
                            </div>

                        </div>
                    </div>
                    <div
                        class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                        <!-- BEGIN: Left Aside -->
                        <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
                            <i class="la la-close"></i>
                        </button>

                        <!-- END: Left Aside -->
                        <div class="m-grid__item m-grid__item--fluid m-wrapper">
                            <!-- BEGIN: Subheader -->
                            <div class="m-subheader ">
                                <div class="d-flex align-items-center">
                                    <div class="mr-auto">
                                        <h3 class="m-subheader__title m-subheader__title--separator">
                                            Joining Details
                                        </h3>
                                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                            <li class="m-nav__item m-nav__item--home">
                                                <a href="/index" class="m-nav__link m-nav__link--icon">
                                                    <i class="m-nav__link-icon la la-home"></i>
                                                </a>
                                            </li>



                                        </ul>
                                    </div>
                                    <% include ../../partials/calendar %>
                                        <div>

                                        </div>
                                </div>
                            </div>
                            <!-- END: Subheader -->
                            <div class="m-content">
                                <div class="m-portlet">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon m--hide">
                                                    <i class="la la-gear"></i>
                                                </span>
                                                <h3 class="m-portlet__head-text">
                                                    Joining Details
                                                </h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="m-portlet__body">
                                        <div class="m-form__section m-form__section--first">







                                            <!-- <div class="form-group m-form__group row">
<div class="col-lg-5"></div>
<div class="col-lg-3">

<button type="button" onclick="checkval()"
class="btn btn-success"
style="background-color:#716aca;border-color:#716aca;" >View Profile
</button>


</div>


</div> -->

                                            <div class="col-lg-6" id="nextrenwDate"> </div>

                                        </div>


                                        <div class="m-form__actions m-form__actions">

                                            <div class="form-group m-form__group row">

                                            </div>
                                            <div class="form-group m-form__group row" style=" overflow: auto; ">
                                                <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
                                                    <table
                                                        class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand"
                                                        id="tableglobal">
                                                        <thead id="Detailhead" style="display: none;"></thead>
                                                        <thead>
                                                            <tr id="tablehead">
                                                                <th><a style='color: white;'>#</a></th>
                                                                <th>Registration Number</th>
                                                                <th>Candidate Name</th>
                                                                <th>Address</th>
                                                                <th>Category</th>
                                                                <th>District</th>
                                                                <th>Mobile Number</th>
                                                                <th>UniqueID Number</th>
                                                                <th>Position</th>
                                                                <th>Company/Client Name</th>
                                                                <th>Sub Client Name</th>
                                                                <th>Company HRName</th>
                                                                <th>Company HREmail</th>
                                                                <th>Company HRNumber</th>
                                                                <th>Date of Joining</th>
                                                                <th>YearlyCTC Offered</th>
                                                                <th>Job Location</th>
                                                                <th>Add More</th>
                                                                <th>Save</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tablebody">

                                                            <tr class="addrowvacancydetail">
                                                                <td></td>

                                                                <td><input type="text" class="txtRegistrationNumber"
                                                                        id="txtRegistrationNumber0"
                                                                        onfocusout='CheckUser(0)'
                                                                        onkeypress="if (this.value.length >= 14){return false;}">
                                                                </td>

                                                                <td><input type="text" class="candidatename"
                                                                        id="candidatename0" disabled></td>
                                                                <td><input type="text" id="txtAddress0"
                                                                        class="txtAddress" disabled></td>
                                                                <td> <select type="text" name="name" id="ddlCategory0"
                                                                        class="form-control ddlCategory"
                                                                        style="height: 32px; width: 196px;" disabled> </select>
                                                                </td>
                                                                <td> <select type="text" name="name" id="ddlDistrict0"
                                                                        class="form-control ddlDistrict"
                                                                        style="height: 32px; width: 196px;" disabled> </select>
                                                                </td>
                                                                <td><input type="text" id="txtMobile0" class="txtMobile"
                                                                        onkeypress="if (this.value.length >= 10){return false;}" disabled>
                                                                </td>
                                                                <td><input type="text" id="txtUniqueIDNo0"
                                                                        class="txtUniqueIDNo" disabled></td>
                                                                <td> <select type="text" name="name"
                                                                        class="form-control position"
                                                                        onchange="handleChangePosition('#position0')"
                                                                        style="height: 32px; width: 196px;"
                                                                        id="position0"> </select>
                                                                </td>
                                                                <td><select class="form-control companyname"
                                                                        id="companyname0" onchange="handleExchChange(0)"></select></td>
                                                                <td ><select class="form-control subcompanyname" style="width:200px;"
                                                                            id="subcompanyname0" disabled></select></td>
                                                                <td><input type="text" class="companyHRname"
                                                                        id="companyHRname0"></td>
                                                                <td><input type="text" class="companyHREmail"
                                                                        id="companyHREmail0"></td>
                                                                <td><input type="number" class="companyHRnumber"
                                                                        id="companyHRnumber0"
                                                                        onkeypress="if (this.value.length >= 10){return false;}">
                                                                </td>
                                                                <td><input class="datepicker" id="joiningdate0"
                                                                        style="height: 32px; width: 196px;">
                                                                </td>
                                                                <td><input type="text" id="txtYearlyCTCOffered0"
                                                                        class="txtYearlyCTCOffered"></td>
                                                                <td><input type="text" id="txtJobLocation0"
                                                                        class="txtJobLocation"></td>

                                                                <td>
                                                                    <button type="button"
                                                                        onclick="addNewfilledvacancyRowss();"
                                                                        id="btnSubmit" class="btn btn-success"
                                                                        style="background-color:#716aca;border-color:#716aca;">
                                                                        Add
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button"
                                                                        onclick="checkValidation(0,'0');" id="Submit"
                                                                        class="btn btn-success"
                                                                        style="background-color:#716aca;border-color:#716aca;">
                                                                        Save
                                                                    </button>
                                                                </td>




                                                            </tr>

                                                        </tbody>
                                                    </table>



                                                </div>
                                            </div>


                                        </div>

                                        <button type="button" onclick="window.history.back()" class="btn btn-success"
                                            style="background-color:#716aca;border-color:#716aca;margin: auto;"> Back
                                        </button>

                                    </div>





                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <!-- begin::Body -->
    <div class="modal" id="m_modal_6" role="dialog" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closebtn" onclick="$('#m_modal_6').toggle('modal')"
                        data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Position:
                        </label>
                        <input class="form-control m-input" id="positiontxt" />
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="m-alert__actions" style="width: 200px;">
                            <button type="button" onclick="handlePositionSubmit()" class="btn btn-success"
                                style="background-color:#716aca;border-color:#716aca;">
                                Submit
                            </button>
                            <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"
                                onclick="$('#m_modal_6').toggle('modal')">
                                Dismiss
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
    <div class="modal" id="m_modal_5" role="dialog" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closebtn" onclick="$('#m_modal_5').toggle('modal')"
                        data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Not Registered Employer:
                        </label>
                        <input class="form-control m-input" id="newemptxt" />
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="m-alert__actions" style="width: 200px;">
                            <button type="button" onclick="$('#m_modal_5').toggle('modal')" class="btn btn-success"
                                style="background-color:#716aca;border-color:#716aca;">
                                Submit
                            </button>
                            <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"
                                onclick="$('#m_modal_5').toggle('modal')">
                                Dismiss
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

    <div class="modal" id="m_modal_7" role="dialog" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closebtn" onclick="$('#m_modal_7').toggle('modal')"
                        data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <label class="col-lg-12 col-form-label">
                            This Candidate details already filled by <strong id="emp_name"></strong>
                        </label>
                    </div>
                    <div class="form-group m-form__group row">
                     
                            <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"
                                onclick="$('#m_modal_7').toggle('modal')">
                                Dismiss
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    <% include ../../partials/footer %>
        </div>
        <!-- end:: Page -->


        <!-- begin::Scroll Top -->
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
</body>

</html>

<% include ../../partials/script %>
    <script src="../customjs/DWR/joiningdetails.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            sessionStorage.setItem('DwrJoiningId', '0');
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
            FillPosition('0')
            FillCategoryss('0')
            FillDistrictss('0')
            FillEmployer('0')
           // FillSubcompany('0')
            if (sessionStorage.getItem('page', 'report')) {
                fetchDWRbydate();
                // $('.rpt').attr( "disabled", true );
            }
            // $('.rpt').attr( "disabled", false)
            // var tablehead="<th><a style='color: white;'>#</a></th><th>Registation Id</th><th> Name</th><th>EmailId</th><th>Mobile Number</th><th>User Name</th><th>View Detail</th> <th> Reset Password</th>";
            // $("#tablehead").html(tablehead);

        });


    </script>