<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
	class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Header -->
		<% include ../../partials/header %>
		<!-- end::Header -->
		<!-- begin::Body -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-body__nav">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- begin::Horizontal Menu -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
							<button
								class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
								id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<% include ../../partials/Menu %>
						</div>

					</div>
				</div>
				<div
					class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
					<!-- BEGIN: Left Aside -->
					<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
						<i class="la la-close"></i>
					</button>

					<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<h3 class="m-subheader__title m-subheader__title--separator">
										Placement Register
									</h3>
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a href="/index" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>



									</ul>
								</div>
								<% include ../../partials/calendar %>
								<div>

								</div>
							</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">
							<div class="m-portlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Register Form
											</h3>
										</div>

									</div>
								</div>
								<!--begin::Form-->
								
									<div class="m-portlet__body">
										<div class="m-form__section m-form__section--first">
											<div class="m-form__group form-group row">
												<label class="col-lg-2 col-form-label">
													Registration Number<span class="required"
														style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<input type="number" onfocusout='CheckUser()'
														id="txtRegistrationNumber" class="form-control">
													<span id="validtxtRegistrationNumber"
														style="font-size: 11px; color: #cc0033; "></span>
												</div>
												<label class="col-lg-2 col-form-label">
													Candidate Name :
												</label>
												<div class="col-lg-4">
													<input type="text" id="txtCandidateName" maxlength="25"
														class="form-control" disabled>
												</div>
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Position :
												</label>
												<div class="col-lg-4">
													<select type="text" id="ddlPositon" class="form-control m-input"
														placeholder="" disabled>

													</select>
												</div>
												<label class="col-lg-2 col-form-label">
													Mobile :
												</label>
												<div class="col-lg-4">
													<input type="number"
														onkeypress="if (this.value.length >= 10){return false;}"
														onfocusout="getvalidated('txtMobile','number','Mobile Number')"
														id="txtMobile" class="form-control" disabled>
													<span id="validtxtMobile"
														style="font-size: 11px; color: #cc0033; "></span>
												</div>
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Address :
												</label>
												<div class="col-lg-4">
													<input type="text" id="txtAddress" maxlength="150"
														class="form-control" disabled>
												</div>
												<label class="col-lg-2 col-form-label">
													District :
												</label>
												<div class="col-lg-4">

													<select type="text" id="ddlDistrict" class="form-control m-input"
														placeholder="" disabled>

													</select>
												</div>
											</div>


											<div class="form-group m-form__group row">

												<label class="col-lg-2 col-form-label">
													Category :
												</label>
												<div class="col-lg-4">
													<select type="text" id="ddlCategory" class="form-control m-input"
														placeholder="" disabled>

													</select>
												</div>
												<label class="col-lg-2 col-form-label">
													Gender :
												</label>
												<div class="col-lg-4">

													<select id="ddlGender" class="form-control m-input"
														placeholder="" disabled>
														<option value="0">Select Gender</option>
														<option value="Male">Male</option>
														<option value="Female">Female</option>
														<option value="Other">Other</option>
													</select>
												</div>
											</div>
											<div class="form-group m-form__group row">

												<label class="col-lg-2 col-form-label">
													Unique ID No. :
												</label>
												<div class="col-lg-4">
													<input type="text" id="txtUniqueIDNo" maxlength="20"
														class="form-control" disabled>
												</div>
												<label class="col-lg-2 col-form-label">
													Qualification :
												</label>
												<div class="col-lg-4">
													<select id="Qualification" class="form-control m-input"
														placeholder="" >
												</div>
												
													
													</select>
												</div>
											</div>
												<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Education Type<span class="required"
													style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">

													<select id="education" class="form-control m-input"
														placeholder="" >
														<option value="0">Select Education Type</option>
														<option value="ITI">ITI</option>
														<option value="NONITI">NON ITI</option>
														
													</select>
												</div>
											</div>
											<div class="form-group m-form__group row">

												<label class="col-lg-2 col-form-label"
													style="font-size: 16px;font-weight: 700;">
													Company Details
												</label>
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Company<span class="required"
														style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<select type="text" id="txtcompanyname" class="form-control m-input" placeholder="" onchange="handleExchChange()">

													</select>
												</div>
												<label class="col-lg-2 col-form-label">
													Not Registered Employer:
												</label>
												<div class="col-lg-4">
													<input type="text" id="notregemp"
														class="form-control">
												</div>
											</div>

											<div class="form-group m-form__group row rpttype">
												<label class="col-lg-2 col-form-label">
													Company Sub Client Name<span class="required"
														style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<select type="text" id="subclient" class="form-control m-input" placeholder="">

													</select>
												</div>
												
											</div>


												<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Date of Joining<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">

													<div class="input-group date">
														<input type="text" class="form-control m-input" readonly=""
															onfocusout="getvalidated('m_datepicker_5','text','Joining Date')"
															placeholder="Enter From Date" id="m_datepicker_5">
														<div class="input-group-append">
															<span class="input-group-text">
																<i class="la la-calendar-check-o"></i>
															</span>
														</div>
													</div>
												</div>
										
												<label class="col-lg-2 col-form-label">
													Job Location<span class="required" style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<input type="text" id="txtJobLocation" class="form-control">
												</div>
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Yearly CTC Offered<span class="required" style="color:red;">*</span>
													:
												</label>
												<div class="col-lg-4">
													<input type="text" id="txtYearlyCTCOffered"  class="form-control" 
													onkeypress="userInput"
													onfocusout="getvalidated('txtYearlyCTCOffered','number','CTC')"
													id="txtYearlyCTCOffered" class="form-control">
												<span id="validtxtYearlyCTCOffered"
													style="font-size: 11px; color: #cc0033; "></span>	
												</div>
										
												
													<label class="col-lg-2 col-form-label">
														Recruiter<span class="required" style="color:red;">*</span> :
													</label>
													<div class="col-lg-4">
														<input type="text" id="textRecruiter" class="form-control">
													</div>
												</div>
												<div class="form-group m-form__group row">
													<label class="col-lg-2 col-form-label">
														Name of Company HR<span class="required"
															style="color:red;">*</span>:
													</label>
													<div class="col-lg-4">
														<input type="text" id="txtContactPerson" class="form-control">
													</div>
								
												<label class="col-lg-2 col-form-label">
													Contact No. of HR<span class="required"
														style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<input type="number" id="txtContactNumber"
														onkeypress="if (this.value.length >= 10){return false;}"
														onfocusout="getvalidated('txtContactNumber','number','Mobile Number')"
														class="form-control">
													<span id="validtxtContactNumber"
														style="font-size: 11px; color: #cc0033; "></span>
												</div>
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Email of HR<span class="required"
														style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<input type="text" id="txtContactEmail"
														onfocusout="getvalidated('txtContactEmail','email','Email')"
														class="form-control">
													<span id="validtxtContactEmail"
														style="font-size: 11px; color: #cc0033; "></span>
												</div>
												<label class="col-lg-2 col-form-label">
													Remark :
												</label>
												<div class="col-lg-4">
													<input type="text" id="remark"
														
														class="form-control">
												
												</div>
												
											</div>
											<form  id="appointmentletter" enctype="multipart/form-data" method="post">
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Appointment Letter :</label>
												<div class="col-lg-4" style="margin-top: 7px; text-align: left;">
													<div id="myappls" style="display: none;">
														<a href="#" target="_blank" id="myappl">Appointment Letter</a>
														<i class="fa fa-trash" aria-hidden="true" id="myappt" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
													<div id="myappus" style="display: none;">
														<input type="file" name="myFile" id="myapp">
														<i class="fa fa-upload" aria-hidden="true" id="myappu" style="font-size: 20px;margin-left: 35px;"></i>
													</div>	
												</div>
												<label class="col-lg-2 col-form-label">
													Month 1 Salary Slip:
												</label>
												<div class="col-lg-4" style="margin-top: 7px; text-align: left;">
													<div id="myappls1" style="display: none;">
														<a href="#" target="_blank" id="myappl1">1 st Salary Slip</a>
														<i class="fa fa-trash" aria-hidden="true" id="myappt1" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
													<div id="myappus1" style="display: none;">
														<input type="file" name="myFile" id="myapp1">
														<i class="fa fa-upload" aria-hidden="true" id="myappu1" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
												</div>	
											</div>
											
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Candidate Undertaking :
												</label>
												<div class="col-lg-4" style="margin-top: 7px; text-align: left;">
													<div id="myappls4" style="display: none;">
														<a href="#" target="_blank" id="myappl4">Undertaking</a>
														<i class="fa fa-trash" aria-hidden="true" id="myappt4" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
													<div id="myappus4" style="display: none;">
														<input type="file" name="myFile" id="myapp4">
														<i class="fa fa-upload" aria-hidden="true" id="myappu4" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
												</div>
												<label class="col-lg-2 col-form-label">
													Month 2 Salary Slip :
												</label>
												<div class="col-lg-4" style="margin-top: 7px; text-align: left;">
													<div id="myappls2" style="display: none;">
														<a href="#" target="_blank" id="myappl2">2 nd Salary Slip</a>
														<i class="fa fa-trash" aria-hidden="true" id="myappt2" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
													<div id="myappus2" style="display: none;">
														<input type="file" name="myFile" id="myapp2">
														<i class="fa fa-upload" aria-hidden="true" id="myappu2" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
												</div>
												
												
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													
												</label>
												<div class="col-lg-4" style="margin-top: 7px; text-align: left;">
												
												</div>
												<label class="col-lg-2 col-form-label">
													Month 3 Salary Slip:
												</label>
												<div class="col-lg-4" style="margin-top: 7px; text-align: left;">
													<div id="myappls3" style="display: none;">
														<a href="#" target="_blank" id="myappl3">3 rd Salary Slip</a>
														<i class="fa fa-trash" aria-hidden="true" id="myappt3" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
													<div id="myappus3" style="display: none;">
														<input type="file" name="myFile" id="myapp3">
														<i class="fa fa-upload" aria-hidden="true" id="myappu3" style="font-size: 20px;margin-left: 35px;"></i>
													</div>
												</div>
												
											</div>
										</form>
										</div>


									

										<div class="m-portlet__foot m-portlet__foot--fit">
											
										</div>
									</div>
									<div class="form-group m-form__group row" style="padding-bottom:2%">
										<!-- <div class="col-lg-2">
											<button type="button" class="btn btn-success" onclick="window.history.back();"
											style="background-color:#716aca;border-color:#716aca;">
											Back
										</button>
										</div> -->

										<div class="col-lg-10" style="margin-left: 230px;">
											<button type="button" class="btn btn-success" onclick="window.history.back();"
											style="background-color:#716aca;border-color:#716aca;">
											Back
										</button>

											<!-- <button type="button" class="btn btn-success" onclick="window.location='/PlacementReportByExcel'"
											style="background-color:#716aca;border-color:#716aca;">
										Upload Details
										</button> -->									<!-- </div>

										<div class="col-lg-6"> -->
											<input type="submit" class="btn btn-success" onclick="CheckValidation()"  style="background-color:#716aca;border-color:#716aca;" value="Submit">
											<button type="button" class="btn btn-success" onclick="window.location='/placementreport'"
												style="background-color:#716aca;border-color:#716aca;">
												Modify
											</button>
										
											<button type="button" class="btn btn-success" onclick="resetMode();"
											style="background-color:#716aca;border-color:#716aca;">
											Cancel
										</button>
										</div>
									</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- begin::Body -->
	<% include ../../partials/footer %>
	</div>
	<!-- end:: Page -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/PlacementDetails/PlacementForm.js" type="text/javascript"></script>

<script> 
	/* Add "https://api.ipify.org?format=json" statement 
	   this will communicate with the ipify servers in 
	   order to retrieve the IP address $.getJSON will 
	   load JSON-encoded data from the server using a 
	   GET HTTP request */ 

	$.getJSON("https://api.ipify.org?format=json", 
									  function(data) { 

	sessionStorage.ipAddress= data.ip; 
	}) 
</script>
<script type="text/javascript">

	$(document).ready(function () {
	
		var userInput = inputtxt.value;  
   if(userInput.length >= 5 && userInput.length <= 10)
      {  	
        return true;  	
      }
   else
      {  	
	alert("Please input between " +5+ " and " +10+ " characters");  		
        return false;  	
      }  
		FillCategory('parsedatasecuredFillCategory', 'ddlCategory');
		FillSecuredDistrict('parsedatasecuredFillSecuredDistrict', 'ddlDistrict');
		FillEmployerByExchange()
		FillPosition();
		FillJSExamPassed();

		$('.rpttype').hide();
		if(sessionStorage.placementdetailsid && sessionStorage.placementdetailstype=='edit'){
			setTimeout(function(){ 
				fetchPlacementform(); 
			}, 3000);
			sessionStorage.placementdetailstype=''
sessionStorage.placementdetailstypelogs='edit'
		}
		Cookies.set('modaltype', 'placement', { expires: 1, path: '/' });
		$("#myappus").css("display", "block");
		$("#myappus1").css("display", "block");
		$("#myappus2").css("display", "block");
		$("#myappus3").css("display", "block");
		$("#myappus4").css("display", "block");
		sessionStorage.setItem("under", "");
		sessionStorage.setItem("Sal3", "");
		sessionStorage.setItem("Sal2", "");
		sessionStorage.setItem("Sal1", "");
		sessionStorage.setItem("Appointment", "");
	});
	if (sessionStorage.getItem("CandidateId") == null) {
		window.location = "/";
	}
	function getIP(json) {  
			sessionStorage.ipAddress=json.ip;  
 } 
</script>