<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            कैरियर काउंसलिंग योजना की जानकारी

													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
                                                      
                                                               
                                                            </div>                
                                                
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                            Select Month :
                                                                    </label>
                                                                    <div class="col-lg-3">
                                                                            <select onchange="fetchCareerCounselingMonthlyRpt('1')" type="text" id="ddlMonth" class="form-control m-input" placeholder="Month">
                                                                                    <option value="">October</option>
                                                                                    
                                                                                </select>
                                                                    
                                                                   
                                                                </div>
                                                                    
                                                                
                                                                <label class="col-lg-2 col-form-label">
                                                                        Select Year :
                                                                </label>
                                                                <div class="col-lg-3">
                                                                        <select onchange="fetchCareerCounselingMonthlyRpt('1')" type="text" id="ddlYear" class="form-control m-input" placeholder="">
                                                                         </select>
                                                                
                                                               
                                                            </div>
															<div class="col-lg-2">
																<button type="button" onclick="addNewProductRow()" id="btnadd"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																	Add
																</button>
															  
															</div>
                                                            </div>
                                                            
                                                               
                                                               
                                                                   
                                               
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
                                                    
														<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12">
																<table id="tableglobal" class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
																	<thead id="tablehead">
																		
																	</thead>
																	<tbody id="tbodyvalue"></tbody>
																</table>
																  </div>
														</div>

									                 </div>
													
													<div class="col-lg-4">
														<button type="button" onclick="CareerCounselingMonthlyRpt('2')" id="btnsave"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															Save
														</button>
														<button type="button" onclick="fetchCareerCounselingMonthlyRpt('4')" id="btnsendtoho"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															Send to HO
														</button>
													  
													</div>
                                                </div>      
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/CareerCouncellingMonthlyProforma.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				$("#btnsendtoho").hide();
				FillCCMonth('parsedatasecuredFillCCMonth','ddlMonth');
				FillYear('parsedatasecuredFillYear','ddlYear');
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
			//	$('#btnadd').hide();
                var tablehead="<tr><th colspan=1 style='border-right: inset;'>क्र.</th><th colspan=1 style='border-right: inset;'>माह में आयोजित कुल कैरियर काउंसलिंग की संख्या</th><th colspan=1 style='border-right: inset;'>कुल लाभान्वित आवेदकों की संख्या</th><th colspan=7 style='border-right: inset;border-bottom: inset;'>कुल लाभान्वित आवेदकों में से</th><th colspan=2>रिमार्क</th></tr><tr><th style='border-right: inset;'></th><th style='border-right: inset;'></th><th style='border-right: inset;'></th><th style='border-right: inset;'>अनारक्षित</th><th style='border-right: inset;'>अनु. जाति</th><th style='border-right: inset;'>अनुसूचित जनजाति</th><th style='border-right: inset;'>अ. पि. वर्ग</th><th style='border-right: inset;'>महिला</th><th style='border-right: inset;'>निः शक्त</th><th style='border-right: inset;'>अल्प-संख्यक</th><th></th><th></th></tr>";
        $("#tablehead").html(tablehead);
	


		if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
$( ".disable" ).prop( "disabled", true );
 }
else{
$("#Exchangediv").hide();
 }

 if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
		$('#btnadd').hide();
		$('#btnsave').hide();
	//	$('.visiblecontrols').prop( "disabled", 'disabled');;
    }
    else{
	$('#btnadd').show();
	$('#btnsave').show();
    }
							});
							
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
