<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
			<style>
				.row{
					padding: 0px 28px 8px;
				}
			</style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        E.S.1.1 Reports (Monthly Exchange Report )
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
														<div class="m-portlet__foot m-portlet__foot--fit">
																<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
														  <ul>
														 <li>इस उपयोगिता के द्वारा Month & Year के आधार पर  Exchange Officer " E.S.1.1 (Monthly)" रिकार्ड खोजा जा सकता है ।</li>
														 <li>Report print करने के लिए Print Report button पर click करें । </li>
														
														 <li>Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
														 
															</ul>
		
																</div>
															</div>
                                                 
                                                      
                                                               
                                                            </div>                
												
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>
                                                    
                                                            <div class="form-group m-form__group row">
																	<label class="col-lg-2 col-form-label">
																			Select Month & Year	:
																	 </label>
																	 <div class="col-lg-2">
																		 <select id="monthlyregisterdatewisemonth" class="form-control m-input">
																		 </select>
																	 </div>
                                                                    <div class="col-lg-2">
                                                                            <select type="text" id="textyear" class="form-control m-input" placeholder="Month">
																				<!-- <option value="3">2019</option>
																					<option value="1">2017</option> 
																					<option value="2">2018</option>
																			  -->
                                                                                </select>
                                                                    
                                                                   
                                                                </div>
                                                                <!-- <div class="col-lg-2">
                                                                    <select type="text" id="" class="form-control m-input" placeholder="Month">
                                                                             
                                                                        </select>
                                                            
                                                           
                                                        </div> -->
                                                                
                                                            </div>
                                                            <div class="form-group m-form__group row">
                                                                    <div class="col-lg-3"></div>
                                                                <div class="col-lg-3">
                                                                    <button type="button" id="btnSubmit"    class="btn btn-success" onclick="FetchES11Rpt()" style="background-color:#716aca;border-color:#716aca;">
                                                                        Search Report
																	</button>
																
                                                                    <!-- <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                        Add
																	 </button> -->
																</div>
															</div>

															
															
																	
																	 
															
																</div>
																<div class="m-portlet__foot m-portlet__foot--fit"   >
																		<div class="m-form__actions m-form__actions">
																			
																				<div class="form-group m-form__group row" style="    overflow: auto; ">
																					<div class="col-lg-12">
																						<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" >
																								<div class="m-portlet__foot m-portlet__foot--fit">
																										<div class="m-form__actions m-form__actions" style="    border: solid;padding-bottom: inherit;">
																									
																												<div class="form-group m-form__group row">
																														<div class="col-lg-3"><img alt="" src="../images/logo.png"   style="        max-width: 59%;
																															height: 65%;"/>
																														</div>
																														<div class="col-lg-6" style="    font-weight: 600;    text-align: center;">E.S.1.1 (Monthly)<br>
																																State  : <span> Madhya Pradesh</span>
																																<br>
																																Employment Exchange : <span id="exchangename">  District Employment Exchange, Bhopal</span>
																														</div>
																														<div class="col-lg-3"><img alt="" src="../images/favicon.ico"   style="        margin-left: 148px;   max-width: 59%;
																															height: 65%;"/>
																														</div>
																													</div>
																												</div>
																												<div class="m-form__actions m-form__actions" style="      border-left: solid;
																												border-right: solid;
																												border-bottom: solid; ">
																												<div>Return Showing the work done by the Employment Exchange in respect of all categories of applicants during the month ended : <span id="year_month"></span> </div>
																												</div>
																									</div>
																									<br>
																							<thead>
																								<tr id="tablehead">
																						  
																								</tr>
																							</thead>
																							<tbody id="tbodyvalue">
																							
																										<tr >
																												<td>1</td>
																												<td>	Applicants on the Live Register at the end of the Previous Month</td>
																												<td>  <input type="txt" class="disable" id="es1" maxlength="9"></input></td>
																				                                <td>  <input type="txt" class="disable"  id="es2" maxlength="9"></input></td>
																				                                 <td>  <input type="txt" class="disable"  id="es3" maxlength="9"></input>
																															  </tr>
																															  <tr >
																																	<td>1a</td>
																																	<td>	No. of Registration cards recieved on Transfer</td>
																																	<td>  <input type="txt" class="disable"  id="es4" maxlength="9"></input></td>
																																	<td>  <input type="txt" class="disable"  id="es5" maxlength="9"></input></td>
																																	<td>  <input type="txt" class="disable"  id="es6" maxlength="9"></input>
																																	</td>
																																				  </tr>
																																			
																																									  <tr >
																																											<td>2</td>
																																											<td>	No. of Fresh registration made during the month</td>
																																											<td>  <input type="text" class="disable"  id="es7" maxlength="9"></input></td>
																																											<td>  <input type="text" class="disable"  id="es8" maxlength="9"></input></td>
																																											<td>  <input type="text" class="disable"  id="es9" maxlength="9"></input>
																																											</td>
																																														  </tr>
																																														  <tr >
																																																<td>2a</td>
																																																<td>		No. of Re-registration made during the month</td>
																																																<td>  <input type="text" class="disable"  id="es10"maxlength="9" ></input>
																																																</td>
																																																<td>  <input type="text" class="disable"  id="es11" maxlength="9"></input></td>
																																																<td>  <input type="text" class="disable"  id="es12" maxlength="9"></input></td>
																																																			  </tr>
																																																			  <tr >
																																																					<td>3</td>
																																																					<td>Total: Items 1, 1a, 2 and 2a</td>
																																																					<td>  <input type="text" class="disable"  id="es13" ></input>
																																																					</td>
																																																					<td>  <input type="text" class="disable"  id="es14" ></input></td>
																																																					<td>  <input type="text" class="disable"  id="es15" ></input></td>
																																																								  </tr>
																																																								  <tr >
																																																										<td>4</td>
																																																										<td>No. of Job-seekers placed during the Month</td>
																																																										<td>  <input type="text" class="VJdisable" onfocusout="total()" id="es16" ></input>
																																																										</td>
																																																										<td>  <input type="text" class="VJdisable" onfocusout="total()" id="es17" ></input></td>
																																																										<td>  <input type="text" class="disable"  id="es18" ></input></td>
																																																						  </tr>
																																																						  <tr >
																																																								<td>5</td>
																																																								<td>Registration Card removed from Live Register for reason other than Transfer to other exchanges</td>
																																																								<td>  <input type="text" class="disable"  id="es19" ></input>
																																																								</td>
																																																								<td>  <input type="text" class="disable"  id="es20" ></input></td>
																																																								<td>  <input type="text" class="disable"  id="es21" ></input></td>
																																																				  </tr>
																																																				  <tr >
																																																						<td>6</td>
																																																						<td>No. of Registration cards transferred during the month to other exchanges</td>
																																																						<td>  <input type="text" class="disable"  id="es22" ></input>
																																																						</td>
																																																						<td>  <input type="text" class="disable"  id="es23" ></input></td>
																																																						<td>  <input type="text" class="disable"  id="es24" ></input></td>
																																																		  </tr>
																																																		  <tr >
																																																				<td>7</td>
																																																				<td>	Total: Items 4, 5 and 6</td>
																																																				<td>  <input type="text" class="disable"  id="es25" ></input>
																																																				</td>
																																																				<td>  <input type="text" class="disable"  id="es26" ></input></td>
																																																				<td>  <input type="text" class="disable"  id="es27" ></input></td>
																																																  </tr>
																																																  <tr >
																																																		<td>8</td>
																																																		<td>Applicants remaining on the Live Register at the end of the Month</td>
																																																		<td>  <input type="text" class="disable"  id="es28" ></input>
																																																		</td>
																																																		<td>  <input type="text" class="disable"  id="es29" ></input></td>
																																																		<td>  <input type="text" class="disable"  id="es30" ></input></td>
																																														  </tr>
																																																  <tr >
																																																		<td>8a</td>
																																																		<td>No. of applicants out of item 8 above belong to Rural Area</td>
																																																		<td>  <input type="text" class="disable"  id="es31" ></input>
																																																		</td>
																																																		<td>  <input type="text" class="disable"  id="es32" ></input></td>
																																																		<td>  <input type="text" class="disable"  id="es33" ></input></td>
																																														  </tr>
																																														  <tr >
																																																<td>9</td>
																																																<td>Submissions made during the Month</td>
																																																<td>  <input type="text" class="VJdisable" onfocusout="total()" id="es34" ></input>
																																																</td>
																																																<td>  <input type="text" class="VJdisable" onfocusout="total()" id="es35" ></input></td>
																																																<td>  <input type="text" class="disable"  id="es36" ></input></td>
																																												  </tr>
																																												  <tr >
																																														<td>10</td>
																																														<td>	Total Vacancies notified during the Month</td>
																																														<td>  <input type="text" class="VJdisable"onfocusout="total()"  id="es37" ></input>
																																														</td>
																																														<td>  <input type="text" class="VJdisable" onfocusout="total()" id="es38" ></input></td>
																																														<td>  <input type="text" class="disable"  id="es39" ></input></td>
																																										  </tr>
																																										  <tr>
																																										  <tr>
																																												<td colspan="5"  style="text-align: end;" >Signature of Employment Officer<br>
																																													(With name and complete postal address of the Employment Exchange)
																																													
																																										  </tr>
																																									
																																										</tr>
																							</tbody>
																						</table>
																						  </div>

																						  <div class="form-group m-form__group row">
																						<div class="col-lg-12">
																							<button type="button" class="btn btn-success" onclick="ES11RptSubmit('0')" id="sbmtrpt" style="background-color:#716aca;border-color:#716aca;display:none">
														                                	Send To HO Office
																							</button>
									
																							<button type="button" id="btnSave" class="btn btn-success" onclick="FillES11Rpt();" style="background-color:#716aca;border-color:#716aca;display: none;">
																									Save
																								</button>
																							
																							<button type="button" id="btnCancel" class="btn btn-success" onclick="window.location='/ES11Report'" style="background-color:#716aca;border-color:#716aca;">
																									Cancel
																								</button>
																							</div>
																							
																						</div>
																					</div>
																				</div>
																				
																		</div>
																	</div> 
                                                                
                                                            </div>
                                                               
                                                               
                                                                   
                                               
                                                  
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/Es11.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
$('#exchangename').text(sessionStorage.Ex_name);
				if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
				$("#Exchangediv").show();
				$( ".disable" ).prop( "disabled", true );
                 }
               else{
				$("#Exchangediv").hide();
                 }

// if(sessionStorage.User_Type_Id=='7'){
// 	$('#btnSave').show();
// }
// if(sessionStorage.User_Type_Id=='2'){
// 	$('#sbmtrpt').show();
// 	$('#btnSave').show();

// }
// if(sessionStorage.User_Type_Id=='1'){
// 	$('#sbmtrpt').show();
// 	$('#btnSave').show();
// }
				//$( ".disable" ).prop( "disabled", true );
				$( "#btnadd" ).click(function() {
					$( "#es16" ).prop( "disabled", false );
					$( "#es17" ).prop( "disabled", false );
					$( "#es34" ).prop( "disabled", false );
					$( "#es35" ).prop( "disabled", false );
					$( "#es37" ).prop( "disabled", false );
					$( "#es38" ).prop( "disabled", false );

					// $( "#es16" ).val('0');
					// $( "#es17" ).val('0');
					// $( "#es34" ).val('0');
					// $( "#es35" ).val('0');
					// $( "#es37" ).val('0');
					// $( "#es38" ).val('0');
				});

              //  fetchESentry();4 9 10
			  FillMonth('parsedatasecuredFillMonth','monthlyregisterdatewisemonth');
			  FillYear('parsedatasecuredFillYear','textyear');

                var tablehead="<th style='border-right: inset;'>Sr. No</th><th style='border-right: inset;'>Item</th><th style='border-right: inset;'>Men</th><th style='border-right: inset;'>Women</th><th>Total</th>";
        $("#tablehead").html(tablehead);
    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
 


//   var myApp = new function () {
//         this.printTable = function () {
//             var tab = document.getElementById('printTable');
//             var win = window.open('', '', 'height=100%,width=100%');
//             win.document.write(tab.outerHTML);
//             win.document.close();
//             win.print();
//         }
//     }
                </script>
	</body>
	<!-- end::Body -->
</html>
