<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            E.S.1.2 Reports (Annual Report)
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
													<div class="m-form__section m-form__section--first">
															<div class="m-portlet__foot m-portlet__foot--fit">
																	<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
																	<h5 style="color: red;">  कैसे उपयोग करे </h5>
															  <ul>
																<li>इस उपयोगिता के द्वारा Year के आधार पर Exchange Officer " ES1.2" के रिकार्ड को खोज सकता है ।</li>	
																<li>	Report print करने के लिए Print Report button पर click करें । </li>
																<li>	Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
																</ul>
			
																	</div>
																</div>
													 
														  
																   
																</div>   
												<div class="m-form__section m-form__section--first">
                                                 
                                                      
                                                               
                                                            </div>                
                                                
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>
                                                           
                                                            <div class="form-group m-form__group row">
																<label class="col-lg-2 col-form-label">
																		Choose Report  :
																</label>
																<div class="col-lg-2">
																		<select type="text" id="criteriaddl" class="form-control m-input" placeholder="Month">
																				<option value="1">First Half</option>
																				<option value="2">Second Half</option> 
																			</select>
																
															   
															</div>
															<label class="col-lg-2 col-form-label">
																	Year	:
															 </label>
															 <div class="col-lg-2">
																 <select id="yearses12" onchange="FetchES12Entry('5','0')" class="form-control m-input">
																	 <option value='2020'>2020</option>
																	 <option value='2019'>2019</option>
																 </select>
															 </div>
															<div class="col-lg-3">
																	<button type="button" onclick="addNewProductRow()" id="btnadd"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																		Add
																	</button>
																  
																</div>
																
															
														</div>
														
                                               <div  id="hidehide" class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
														<div style="font-weight: 700;">Return Showing by NCO work done by the Employment Exchange during the year ended</div>
														<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
														<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
															<thead >
																	<tr>
																		<th style="border-right: inset;"></th>
																		<th colspan=6 style='border-right: inset;border-bottom: inset;'>No. of applicant on Live Register at the end of the year in respect of</th>
																		<th colspan=6 style='border-right: inset;border-bottom: inset;'>Notified during the year in respect of</th>
																		<th colspan=6 style='border-right: inset;border-bottom: inset;'>Filled during the year in respect of</th>
																		<th colspan=6 style='border-right: inset;border-bottom: inset;'>Cancelled during the year in respect of</th>
																		<th colspan=6 style="border-bottom: inset;">Outstanding at the end of the year in respect of</th>
																
																		<th style="border-bottom: inset;"></th>
																		</tr>
																	<tr>
																		<th style='border-right: inset;'>NCO</th>
																		<th style='border-right: inset;'>Total</th>
																		<th style='border-right: inset;'>WomanLR</th>
																		<th style='border-right: inset;'>SC</th>
																		<th style='border-right: inset;'>ST</th>
																		<th style='border-right: inset;'>OBC</th>
																		<th style='border-right: inset;'>Disabled Persons</th>
																		<th style='border-right: inset;'>Total</th>
																		<th style='border-right: inset;'>WomanLR</th>
																		<th style='border-right: inset;'>SC</th>
																		<th style='border-right: inset;'>ST</th>
																		<th style='border-right: inset;'>OBC</th>
																		<th style='border-right: inset;'>Disabled Persons</th>
																		<th style='border-right: inset;'>Total</th>
																		<th style='border-right: inset;'>WomanLR</th>
																		<th style='border-right: inset;'>SC</th>
																		<th style='border-right: inset;'>ST</th>
																		<th style='border-right: inset;'>OBC</th>
																		<th style='border-right: inset;'>Disabled Persons</th>
																		<th style='border-right: inset;'>Total</th>
																		<th style='border-right: inset;'>WomanLR</th>
																		<th style='border-right: inset;'>SC</th>
																		<th style='border-right: inset;'>ST</th>
																		<th style='border-right: inset;'>OBC</th>
																		<th style='border-right: inset;'>Disabled Persons</th>
																		<th style='border-right: inset;'>Total</th>
																		<th style='border-right: inset;'>WomanLR</th>
																		<th style='border-right: inset;'>SC</th>
																		<th style='border-right: inset;'>ST</th>
																		<th style='border-right: inset;'>OBC</th>
																		<th>Disabled Persons</th>
																		<th></th>
																	</tr>
						
														   
																
															</thead>
															<tbody id="tbodyvalue">
																
															</tbody>
														</table>
														</div>
														</div>
														
													</div>
													<div class="form-group m-form__group row">
														<div class="col-lg-3"></div>
													<div class="col-lg-6">
													   
														<button type="button" onclick="insupdES12Entry()" id="btnsave"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															Save
														 </button>
														 <button type="button" onclick="FetchES12Entry('6','1')" id="btnVerify" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															Send To HO Office
														 </button>
														 <button type="button" onclick="reset()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															Cancel
														 </button>
													</div>
													
													<!-- <div class="col-lg-3">
													   <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															Cancel
														 </button>
													</div> -->
												</div>
                                                </div>      
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/Es12.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                FillYearwithvalue('parsedatasecuredFillYearwithvalue','yearses12');
				
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
				$('#btnsave').hide();
				$('#btnVerify').hide();
				
if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
 }
else{
$("#Exchangediv").hide();
 }

//  if(sessionStorage.User_Type_Id=='7'){
// 	$('#btnsave').show();
// }
// else if(sessionStorage.User_Type_Id=='2'){
// 	$('#btnsave').show();
// 	$('#btnVerify').show();
// }


                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
