<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            E.S.1.3 (Annual Report)
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
													<div class="m-form__section m-form__section--first">
															<div class="m-portlet__foot m-portlet__foot--fit">
																	<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
																	<h5 style="color: red;">  कैसे उपयोग करे </h5>
															  <ul>
																	<li>इस उपयोगिता के द्वारा Year के आधार पर Exchange Officer " E.S.1.3 (Annual)" रिकार्ड खोजा जा सकता है</li>
																	<li>	Report print करने के लिए Print Report button पर click करें ।</li>
																	<li>	Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
																</ul>
			
																	</div>
																</div>
													 
														  
																   
																</div>              
												
																<div class="form-group m-form__group row" id="Exchangediv">
																	<label class="col-lg-2 col-form-label">
																		Exchange Name :
																	 </label>
																	
																	<div class="col-lg-4">
																			<select type="text" id="ddExchange" class="form-control m-input">
																				</select>
																</div>
																
															</div>

																<div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                            Choose Report  :
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                            <select type="text" id="criteriaddl" class="form-control m-input" placeholder="Month">
                                                                                    <option value="1">First Half</option>
                                                                                    <option value="2">Second Half</option> 
                                                                                </select>
                                                                    
                                                                   
                                                                </div>
																<label class="col-lg-2 col-form-label">
																		Year	:
																 </label>
																 <div class="col-lg-2">
																	 <select id="yearses13" class="form-control m-input">
																		 
																	 </select>
																 </div>
                                                                <div class="col-lg-3">
                                                                        <button type="button" id="btnSubmit" onclick="ES13Form('3')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                            Search Report
                                                                        </button>
                                                                      
                                                                    </div>
                                                                    
                                                                
                                                            </div>
                                                          
															
                                                               
                                                               
                                                                   
                                               
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
														<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12">
																<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																		<div class="m-portlet__foot m-portlet__foot--fit">
																				<div class="m-form__actions m-form__actions" style="    border: solid;padding-bottom: inherit;">
																			
																						<div class="form-group m-form__group row">
																								<div class="col-lg-3"><img alt="" src="../images/logo.png"   style="  margin-left: -150px;      max-width: 59%;
																									height: 65%;"/>
																								</div>
																								<div class="col-lg-6" style="    font-weight: 600;    text-align: center;">E.S.1.3 (Annual Report)<br>
																										State  : <span> Madhya Pradesh</span>
																										<br>
																										Employment Exchange : <span id="exchangename">  District Employment Exchange, Bhopal</span>
																								</div>
																								<div class="col-lg-3"><img alt="" src="../images/favicon.ico"   style="        margin-left: 148px;   max-width: 59%;
																									height: 65%;"/>
																								</div>
																							</div>
																						</div>
																						<div class="m-form__actions m-form__actions" style="      border-left: solid;
																						border-right: solid;
																						border-bottom: solid;">
																						<div>Return showing the work done by the Employment Exchanges in respect of vacancies (Sector-wise) for the Year ended :  <span id="year"></span> </div>
																						</div>
																			</div>
																			<br>
																	<thead id="tablehead">
																		<tr>
																			<th colspan=1 style='border-right: inset;'>S.NO</th>
																			<th colspan=1 style='border-right: inset;'>Item</th>
																			<th colspan=1 style='border-right: inset;'>Centrel Govt.</th>
																			<th style='border-right: inset;'>State Govt.</th>
																			<th colspan=1 style='border-right: inset;'>UT</th>
																			<th colspan=2 style='border-right: inset;border-bottom: inset;'>Quasi-Govt.Estt./Public Sector undertakings</th>
																			<th colspan=1 style='border-right: inset;'>Local Bodies</th>
																			<th colspan=2 style='border-right: inset;border-bottom: inset;'>Private Sector</th>
																			<th colspan='2' >Total</th>
																		</tr>
																		<tr>
																		<th style='border-right: inset;'></th>
																		<th style='border-right: inset;'></th>
																		<th style='border-right: inset;'></th>
																		<th style='border-right: inset;'></th>
																		<th style='border-right: inset;'></th>
																		<th style='border-right: inset;'>Central Govt.</th>
																		<th style='border-right: inset;'>State Govt.</th>
																		<th style='border-right: inset;'></th>
																		<th style='border-right: inset;'>Falling within the Perview of Act</th>
																		<th style='border-right: inset;'>Not Falling within the Perview of Act</th>
																		 <th></th>
																	</tr>
        
																	</thead>
																
																	<tbody id="tbodyvalue">
																			
																		
																				<td>1</td>
																				<td>2</td>
																				<td>3</td>
																				<td>4</td>
																				<td>5</td>
																				<td>6</td>
																				<td>7</td>
																				<td>8</td>
																				<td>9</td>
																				<td>10</td>
																				<td>11</td>
																			</tr>
																			<tr>
																				<td>1</td>
																				<td>Vacancies remained outstanding at the end of the Previous year</td>
																				<td>  <input type="number" onfocusout="getrowTotal('CG','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_CG" style="    width: 50px;" ></input>
																				</td>
																				<td >  <input type="number" onfocusout="getrowTotal('SG','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_SG" style="    width: 50px;" ></input>
																				</td>
																				<td>  <input type="number" onfocusout="getrowTotal('UT','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_UT" style="    width: 50px;" ></input>
																				</td>
																				<td >  <input type="number" onfocusout="getrowTotal('Quasi_SG','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_Quasi_SG" style="    width: 50px;" ></input>
																				</td>
																				<td>  <input type="number" onfocusout="getrowTotal('Quasi_CG','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_Quasi_CG" style="    width: 50px;" ></input>
																				</td>
																				<td >  <input type="number" onfocusout="getrowTotal('LB','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_LB" style="    width: 50px;" ></input>
																				</td>
																				<td>  <input type="number" onfocusout="getrowTotal('Private_Act','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_Private_Act" style="    width: 50px;" ></input>
																				</td>
																				<td >  <input type="number" onfocusout="getrowTotal('Private_NonAct','Total_1_1a_2');getColumnTotal('Outstanding_Prev','Prev_Outstanding')" class="visibleControls" id="Outstanding_Prev_Private_NonAct" style="    width: 50px;" ></input>
																				</td>
																				<td >  <input type="number"    id="Total_Prev_Outstanding" style="    width: 50px;" disabled></input>
																				</td>
																			</tr>
																			<tr>
																					<td>1a</td>
																					<td>	Vacancies received on transfer from other exchanges during the year</td>
																					<td>  <input type="number"  class="visibleControls"  onfocusout="getrowTotal('CG','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_CG" style="    width: 50px;" ></input>
																					</td>
																					<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('SG','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_SG" style="    width: 50px;" ></input>
																					</td>
																					<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('UT','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_UT" style="    width: 50px;" ></input>
																					</td>
																					<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('Quasi_SG','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_Quasi_SG" style="    width: 50px;" ></input>
																					</td>
																					<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('Quasi_CG','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_Quasi_CG" style="    width: 50px;" ></input>
																					</td>
																					<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('LB','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_LB" style="    width: 50px;" ></input>
																					</td>
																					<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('Private_Act','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_Private_Act" style="    width: 50px;" ></input>
																					</td>
																					<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('Private_NonAct','Total_1_1a_2');getColumnTotal('Transfer_Receive','Transfer_Receive')"  id="Transfer_Receive_Private_NonAct" style="    width: 50px;" ></input>
																					</td>
																					<td >  <input type="number"   id="Total_Transfer_Receive" style="    width: 50px;" disabled></input>
																					</td>
																				</tr>
																				<tr>
																						<td>2</td>
																						<td>	Vacancies notified during the Year</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('CG','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_CG" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('SG','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_SG" style="    width: 50px;" ></input>
																						</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('UT','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_UT" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('Quasi_SG','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_Quasi_SG" style="    width: 50px;" ></input>
																						</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('Quasi_CG','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_Quasi_CG" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('LB','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_LB" style="    width: 50px;" ></input>
																						</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('Private_Act','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_Private_Act" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('Private_NonAct','Total_1_1a_2');getColumnTotal('Notified','Notified')"  id="Notified_Private_NonAct" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number"  id="Total_Notified" style="    width: 50px;" disabled></input>
																						</td>
																					</tr>
																					<tr>
																						<td>3</td>
																						<td>Total(1+1a+2)</td>
																						<td>  <input type="number" class="visibleControls"  id="Total_1_1a_2_CG" style="    width: 50px;" disabled></input>
																						</td>
																						<td >  <input type="number" class="visibleControls"  id="Total_1_1a_2_SG" style="    width: 50px;" disabled></input>
																						</td>
																						<td>  <input type="number" class="visibleControls"  id="Total_1_1a_2_UT" style="    width: 50px;" disabled></input>
																						</td>
																						<td >  <input type="number" class="visibleControls"  id="Total_1_1a_2_Quasi_SG" style="    width: 50px;" disabled></input>
																						</td>
																						<td>  <input type="number" class="visibleControls"  id="Total_1_1a_2_Quasi_CG" style="    width: 50px;" disabled></input>
																						</td>
																						<td >  <input type="number" class="visibleControls"  id="Total_1_1a_2_LB" style="    width: 50px;" disabled></input>
																						</td>
																						<td>  <input type="number" class="visibleControls"  id="Total_1_1a_2_Private_Act" style="    width: 50px;" disabled></input>
																						</td>
																						<td >  <input type="number" class="visibleControls"  id="Total_1_1a_2_Private_NonAct" style="    width: 50px;" disabled></input>
																						</td>
																						<td >  <input type="number"  id="Total_Total_1_1a_2" style="    width: 50px;" disabled></input>
																						</td>
																					</tr>
																					<tr>
																						<td>4</td>
																						<td>	Vacancies Filled during the Year</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('CG','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_CG" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('SG','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_SG" style="    width: 50px;" ></input>
																						</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('UT','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_UT" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('Quasi_SG','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_Quasi_SG" style="    width: 50px;" ></input>
																						</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('Quasi_CG','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_Quasi_CG" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('LB','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_LB" style="    width: 50px;" ></input>
																						</td>
																						<td>  <input type="number" class="visibleControls" onfocusout="getrowTotal('Private_Act','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_Private_Act" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number" class="visibleControls" onfocusout="getrowTotal('Private_NonAct','Total_4_5_5a_6');getColumnTotal('Filled','Filled')" id="Filled_Private_NonAct" style="    width: 50px;" ></input>
																						</td>
																						<td >  <input type="number"  id="Total_Filled" style="    width: 50px;" disabled></input>
																						</td>
																					</tr>
																					<tr>
																							<td>5</td>
																							<td>	Vacancies Cancelled during the Period</td>
																							<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('CG','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_CG" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('SG','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_SG" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('UT','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_UT" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Quasi_SG','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_Quasi_SG" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Quasi_CG','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_Quasi_CG" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('LB','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_LB" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Private_Act','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_Private_Act" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Private_NonAct','Total_4_5_5a_6');getColumnTotal('Cancelled','Cancelled')" id="Cancelled_Private_NonAct" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="number"  id="Total_Cancelled" style="    width: 50px;" disabled></input>
																							</td>
																						</tr>
																						<tr>
																								<td>5a</td>
																								<td>	Vacancies transfered to other Exchanges during the Year</td>
																								<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('CG','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_CG" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('SG','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_SG" style="    width: 50px;" ></input>
																								</td>
																								<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('UT','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_UT" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Quasi_SG','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_Quasi_SG" style="    width: 50px;" ></input>
																								</td>
																								<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Quasi_CG','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_Quasi_CG" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('LB','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_LB" style="    width: 50px;" ></input>
																								</td>
																								<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Private_Act','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_Private_Act" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Private_NonAct','Total_4_5_5a_6');getColumnTotal('Transfer','Transfer')" id="Transfer_Private_NonAct" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="number"  id="Total_Transfer" style="    width: 50px;" disabled></input>
																								</td>
																							</tr>
																							<tr>
																									<td>6</td>
																									<td>		Vacancies Outstanding at the end of the Year</td>
																									<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('CG','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_CG" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('SG','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_SG" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('UT','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_UT" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Quasi_SG','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_Quasi_SG" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Quasi_CG','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_Quasi_CG" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('LB','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_LB" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Private_Act','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_Private_Act" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visibleControls"  onfocusout="getrowTotal('Private_NonAct','Total_4_5_5a_6');getColumnTotal('Outstanding','Outstanding')" id="Outstanding_Private_NonAct" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="number"  id="Total_Outstanding" style="    width: 50px;" disabled></input>
																									</td>
																								</tr>
																								<tr>
																										<td>7</td>
																										<td>		Total(4+5+5a+6)	</td>
																										<td>  <input type="number"  id="Total_4_5_5a_6_CG" style="    width: 50px;" disabled></input>
																										</td>
																										<td >  <input type="number"  id="Total_4_5_5a_6_SG" style="    width: 50px;" disabled></input>
																										</td>
																										<td>  <input type="number"  id="Total_4_5_5a_6_UT" style="    width: 50px;" disabled></input>
																										</td>
																										<td >  <input type="number"  id="Total_4_5_5a_6_Quasi_SG" style="    width: 50px;" disabled></input>
																										</td>
																										<td>  <input type="number"  id="Total_4_5_5a_6_Quasi_CG" style="    width: 50px;" disabled></input>
																										</td>
																										<td >  <input type="number"  id="Total_4_5_5a_6_LB" style="    width: 50px;" disabled></input>
																										</td>
																										<td>  <input type="number"  id="Total_4_5_5a_6_Private_Act" style="    width: 50px;" disabled></input>
																										</td>
																										<td >  <input type="number"  id="Total_4_5_5a_6_Private_NonAct" style="    width: 50px;" disabled></input>
																										</td>
																										<td >  <input type="number" id="Total_Total_4_5_5a_6" style="    width: 50px;" disabled></input>
																										</td>
																									</tr>
																									<tr>
																											<td>7a</td>
																											<td>	Vacancies notified during the year by private employers falling within the preview of the Act against which submission is not required	</td>
																											<td>  <input type="number" class="visibleControls" id="Notified_NotSubmitted_CG" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visibleControls" id="Notified_NotSubmitted_SG" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td>  <input type="number" class="visibleControls" id="Notified_NotSubmitted_UT" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visibleControls" id="Notified_NotSubmitted_Quasi_SG" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td>  <input type="number" class="visibleControls" id="Notified_NotSubmitted_Quasi_CG" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visibleControls" id="Notified_NotSubmitted_LB" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td>  <input type="number" class="visibleControls" id="Notified_NotSubmitted_Private_Act" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visibleControls" id="Notified_NotSubmitted_Private_NonAct" onfocusout="getColumnTotal('Notified_NotSubmitted','Notified_NotSubmitted')" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="number"  id="Total_Notified_NotSubmitted" style="    width: 50px;" disabled></input>
																											</td>
																										</tr>
																										<tr>
																												<td>8</td>
																												<td>	Vacancies included in item 4 filled by the applicants of other exchange area during the year	</td>
																												<td>  <input type="number" class="visibleControls" id="Filled_ByOtherExch_CG" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="number" class="visibleControls" id="Filled_ByOtherExch_SG" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="number" class="visibleControls" id="Filled_ByOtherExch_UT" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="number" class="visibleControls" id="Filled_ByOtherExch_Quasi_SG" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="number" class="visibleControls" id="Filled_ByOtherExch_Quasi_CG" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="number" class="visibleControls" id="Filled_ByOtherExch_LB" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="number" class="visibleControls" id="Filled_ByOtherExch_Private_Act" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="number" class="visibleControls" id="Filled_ByOtherExch_Private_NonAct" onfocusout="getColumnTotal('Filled_ByOtherExch','Filled_ByOtherExch')" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="number"  id="Total_Filled_ByOtherExch" style="    width: 50px;" disabled></input>
																												</td>
																											</tr>
																											<tr>
																													<td>9</td>
																													<td>		Local applicants placed in other exchange during the year	</td>
																													<td>  <input type="number" class="visibleControls" id="Filled_ForOtherExch_CG" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="Filled_ForOtherExch_SG" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="number" class="visibleControls" id="Filled_ForOtherExch_UT" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="Filled_ForOtherExch_Quasi_SG" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="number" class="visibleControls" id="Filled_ForOtherExch_Quasi_CG" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="Filled_ForOtherExch_LB" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="number" class="visibleControls" id="Filled_ForOtherExch_Private_Act" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="Filled_ForOtherExch_Private_NonAct" onfocusout="getColumnTotal('Filled_ForOtherExch','Filled_ForOtherExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number"  id="Total_Filled_ForOtherExch" style="    width: 50px;" disabled></input>
																													</td>
																												</tr>	
																												<tr>
																													<td>10</td>
																													<td>No of employers using the exchange during the Year</td>
																													<td>  <input type="number" class="visibleControls" id="EmpUseExch_CG" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="EmpUseExch_SG" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="number" class="visibleControls" id="EmpUseExch_UT" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="EmpUseExch_Quasi_SG" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="number" class="visibleControls" id="EmpUseExch_Quasi_CG" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="EmpUseExch_LB" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="number" class="visibleControls" id="EmpUseExch_Private_Act" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number" class="visibleControls" id="EmpUseExch_Private_NonAct" onfocusout="getColumnTotal('EmpUseExch','EmpUseExch')" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="number"  id="Total_EmpUseExch" style="    width: 50px;" disabled></input>
																													</td>
																												</tr>
																											
																												<tr>
																														<td colspan="11"  style="text-align: end;" >Signature of Employment Officer<br>
																															(With name and complete postal address of the Employment Exchange)
																															
																												  </tr>
																	</tbody>
																</table>
																  </div>
														</div>
													</div>
													<div class="form-group m-form__group row">
															
														<div class="col-lg-12">
															<button type="button" onclick="ES13Form(sessionStorage.ES13Flag)"  id="savebtn" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																Save
															</button>
															<button type="button"  onclick='visibilityControls(false)' id="addbtn"  class="btn btn-success btntbl" style="background-color:#716aca;border-color:#716aca;display: none;">
																Add
															</button>
															<button type="button"  id="updatebtn" onclick='visibilityControls(false)'  class="btn btn-success btntbl" style="background-color:#716aca;border-color:#716aca;display: none;">
																Modify
															</button>
															<button type="button"  id="verifybtn"  onclick="ES13Form('4')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																Send To HO Office
															</button>
															<button type="button" onclick="resetMode()" id="cancelbtn"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																	Cancel
															</button>
														</div>
															
														
													</div>
                                                </div>      
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/Es13.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				FillYearwithvalue('parsedatasecuredFillYearwithvalue','yearses13');
				//FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
                                FillDDlExchOffice('101','ddExchange');
				$('#savebtn').hide();
				$('#addbtn').hide();
				$('#updatebtn').hide();
				$('#verifybtn').hide();
				
if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
$( ".disable" ).prop( "disabled", true );
 }
else{
$("#Exchangediv").hide();
 }
			   
				$("#exchangename").html(sessionStorage.Ex_name)
				
				
    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
