<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            E.S.1.4 Report (Yearly Exchange Report )
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
													<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
															<h5 style="color: red;">  कैसे उपयोग करे </h5>
													  <ul>
															<li>इस उपयोगिता के द्वारा Year के आधार पर Exchange Officer " E.S.1.4 (Yearly)" रिकार्ड खोजा जा सकता है ।</li>
															<li>	Report print करने के लिए Print Report button पर click करें ।</li>
															<li>	Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
														</ul>
	
															</div>               
												
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>
                                                    
                                                            <div class="m-form__group form-group row">
                                                      
																<label class="col-lg-2 col-form-label">
																	   Year	:
																</label>
																<div class="col-lg-4">
																	<select id="years" class="form-control m-input">
																		<option value="2016">2016</option>
																			<option value="2017">2017</option>
																			<option value="2018"selected>2018</option>  
																	</select>
																</div>
																<div class="col-lg-3">
                                                                    <button type="button" id="btnSubmit" onclick="ES14Entry('3')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                        Search Report
                                                                    </button>
                                                                    
                                                                </div>
															</div>


                                                           
                                                               
                                                               
                                                                   
                                               
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
                                                    
															<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																	<div class="m-portlet__foot m-portlet__foot--fit">
																			<div class="m-form__actions m-form__actions" style="    border: solid;padding-bottom: inherit;">
																		
																					<div class="form-group m-form__group row">
																							<div class="col-lg-3"><img alt="" src="../images/logo.png"   style="   margin-left: -150px;     max-width: 59%;
																								height: 65%;"/>
																							</div>
																							<div class="col-lg-6" style="    font-weight: 600;    text-align: center;">E.S.1.4 (Yearly Exchange Report)<br>
																									State  : <span> Madhya Pradesh</span>
																									<br>
																									Employment Exchange : <span id="Exchangename">  District Employment Exchange, Bhopal</span>
																							</div>
																							<div class="col-lg-3"><img alt="" src="../images/favicon.ico"   style="        margin-left: 148px;   max-width: 59%;
																								height: 65%;"/>
																							</div>
																						</div>
																					</div>
																					<div class="m-form__actions m-form__actions" style="      border-left: solid;
																					border-right: solid;
																					border-bottom: solid; ">
																					<div>Return showing the work done by the Employment Exchanges in respect of vacancies (Sector-wise) for the Year ended :  <span id="year">        2018</span> </div>
																					</div>
																		</div>
																		<br>
																<thead id="tablehead">
																</thead>
															
																<tbody id="tbodyvalue">
																
																		<!-- <tr>
																			<td>1</td>
																			<td>Below 10th class (including illiterates)</td>
																		
																			<td > Male
																			</td>
																			<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																			</td>
																			<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																			</td>
																			<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																			</td>
																			<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																			</td>
																			<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																			</td>
																			<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																			</td>
																			<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																			</td>
																		</tr>
																		<tr>
																				<td></td>
																				<td>	</td>
																				
																				<td >  Female
																				</td>
																				<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																				</td>
																				<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																				</td>
																				<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																				</td>
																				<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																				</td>
																				<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																				</td>
																				<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																				</td>
																				<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																				</td>
																			</tr>
																			<tr>
																					<td></td>
																					<td>	</td>
																					
																					<td > Total 
																					</td>
																					<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																					</td>
																					<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																					</td>
																					<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																					</td>
																					<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																					</td>
																					<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																					</td>
																					<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																					</td>
																					<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																					</td>
																				</tr>
																				<tr>
																						<td>2</td>
																						<td>	10th class passed</td>
																						<td>  Male</input>
																						</td>
																						
																						<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																						</td>
																						<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																						</td>
																					
																					</tr>
																					
																				<tr>
																						<td></td>
																						<td>	</td>
																						<td >  Female
																							</td>
																					
																						<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																						</td>
																						<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																						</td>
																						<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																						</td>
																						<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																						<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																						</td>
																					</tr>
																					<tr>
																							<td></td>
																							<td>	</td>
																							
																							<td > Total 
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																							</td>
																						</tr>
																						<tr>
																								<td>3</td>
																								<td>		10+2 passed</td>
																								<td>  Male</input>
																								</td>
																								
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td>  <input type="txt" id="textCact" style="    width: 50px;"placeholder="0"  readonly ></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td>  <input type="txt" id="textCact" style="    width: 50px;"placeholder="0"  readonly ></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;"placeholder="0"  readonly ></input>
																								</td>
																							
																							</tr>
																							
																						<tr>
																								<td></td>
																								<td>	</td>
																								<td >  Female
																									</td>
																							
																								<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;"placeholder="0"  readonly ></input>
																								</td>
																								<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																								</td>
																							</tr>
																							<tr>
																									<td></td>
																									<td>	</td>
																									
																									<td > Total 
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;"  placeholder="0"  readonly></input>
																									</td>
																								</tr>
																		
																								<tr>
																										<td>4</td>
																										<td>	Graduate(General education)</td>
																										<td>  Male</input>
																										</td>
																										
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																									
																									</tr>
																									
																								<tr>
																										<td></td>
																										<td>	</td>
																										<td >  Female
																											</td>
																									
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																									</tr>
																									<tr>
																											<td></td>
																											<td>	</td>
																											
																											<td > Total 
																											</td>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																											</td>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																											</td>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																											</td>
																										</tr>	<tr>
																												<td>5</td>
																												<td>Post Graduate(General education)</td>
																												<td>  Male</input>
																												</td>
																												
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																											
																											</tr>
																											
																										<tr>
																												<td></td>
																												<td>	</td>
																												<td >  Female
																													</td>
																											
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																												</td>
																											</tr>
																											<tr>
																													<td></td>
																													<td>	</td>
																													
																													<td > Total 
																													</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																													</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																													</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																													</td>
																												</tr>	<tr>
																														<td>6</td>
																														<td>		Professionals (Like MBA,Doctors, Engineer, etc. not covered in item 4 & 5)</td>
																														<td>  Male</input>
																														</td>
																														
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																													
																													</tr>
																													
																												<tr>
																														<td></td>
																														<td>	</td>
																														<td >  Female
																															</td>
																													
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																														</td>
																													</tr>
																													<tr>
																															<td></td>
																															<td>	</td>
																															
																															<td > Total 
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;"placeholder="0"  readonly ></input>
																															</td>
																														</tr>	<tr>
																																<td>7</td>
																																<td>	Grand Total</td>
																																<td>  Male</input>
																																</td>
																																
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																															
																															</tr>
																															
																														<tr>
																																<td></td>
																																<td>	</td>
																																<td >  Female
																																	</td>
																															
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;"placeholder="0"  readonly ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																</td>
																															</tr>
																															<tr>
																																	<td></td>
																																	<td>	</td>
																																	
																																	<td > Total 
																																	</td>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																	</td>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																	</td>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" placeholder="0"  readonly></input>
																																	</td>
																																</tr>	
																																<tr>
																																		<td colspan="11"  style="text-align: end;" >Signature of Employment Officer<br>
																																			(With name and complete postal address of the Employment Exchange)
																																			
																																  </tr>
																																  
																																	
																																						 -->
																</tbody>
															</table>
															<div class="form-group m-form__group row">
                                                                   
                                                                <div class="col-lg-4">
																	<button type="button" onclick="ES14Entry('1')" id="btnSaverpt" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																		Save
																	 </button>
																	<button type="button" onclick="ES14Entry('2')" id="btnModify" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
                                                                       Modify
                                                                    </button>
                                                                    <button type="button" onclick="ES14Entry('4')" id="btnSendtoho" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																			Send to HO Office
																		 </button>
																</div>
																<div class="col-lg-3">
																		
																		
																	</div>
                                                                
                                                            </div>
                                                    </div>
                                                </div>      
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/Es14.js" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');


if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
$( ".disable" ).prop( "disabled", true );
$('#btnSendtoho').show();
}
else{
$("#Exchangediv").hide();
$('#btnSendtoho').hide();
}



			FillYearwithvalue('parsedatasecuredFillYearwithvalue','years');
			FillEduationalLevel('parsedataFillEduationalLevel','tbodyvalue');

			$('#btnSaverpt').hide();
			$('#btnModify').hide();
			$('#btnSendtoho').hide();
               $("#Exchangename").html(sessionStorage.Ex_name) 
               $("#years").on('change',function(){
					$("#year").html($("#years").val())
				})
                var tablehead="<th style='border-right: inset;'>S. No</th><th style='border-right: inset;'>Eduational Level</th><th style='border-right: inset;'>Sex</th><th style='border-right: inset;'>Up to 19</th><th style='border-right: inset;'>20-29</th><th style='border-right: inset;'>30-39</th><th style='border-right: inset;'>40-49</th><th style='border-right: inset;'>50-59</th><th style='border-right: inset;'>60 and above</th><th>Total</th>";
        $("#tablehead").html(tablehead);
    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
