<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            E.S.2.1 Report (Half Yearly)
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										
										
										<form class="m-form">
												

                                           <div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
													<div class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
														<h5 style="color: red;">  कैसे उपयोग करे </h5>
												  <ul>
												 <li>इस उपयोगिता के द्वारा First Half and Second Half के आधार पर Exchange Officer " E.S.2.1 (Half Yearly)" रिकार्ड खोज सकता है ।</li>
												 <li>Report print करने के लिए Print Report button पर click करें ।</li>
												
												 <li>Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।।</li>
												 
													</ul>

														</div>
													</div>
															
															
															






													<div class="form-group m-form__group row" id="Exchangediv">
														<label class="col-lg-2 col-form-label">
															Exchange Name :
														 </label>
														
														<div class="col-lg-4">
																<select type="text" id="ddExchange" class="form-control m-input">
																	</select>
													</div>
													
												</div>
                                                
															<div class="m-form__group form-group row">
                                                      
																<label class="col-lg-2 col-form-label">
																	  
                                                                      Select Criteria:
																</label>
																<div class="col-lg-2">
																	<select id="ChooseReport" class="form-control m-input">
																			<option value="1" selected>First Half </option>
																			<option value="2">Second Half</option>  
																	</select>
																</div>
																<label class="col-lg-2 col-form-label">
																		Year :
																	</label>
																	<div class="col-lg-2">
																		<select id="years" class="form-control m-input" >
																			<option value="2020">2020</option>    																			  
																			<option value="2019">2019</option>    
																			<option value="2018">2018</option> 
																			
																			
																		</select>
																	</div>
																	<div class="col-lg-2">
																		<button type="button"id="btnSubmit" onclick="ES21Entry('3')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																						 Search 
																					</button>
																	</div>
														</div>
															
															
														
                                                            
															<div class="form-group m-form__group row">
																<div class="col-lg-5"></div>
																		
																		
																		
																	</div>
                                                                
															</div>

															

															<div class="m-portlet__foot m-portlet__foot--fit">
																	<div class="m-form__actions m-form__actions">
																			<div class="form-group m-form__group row" >
																					<div class="m-portlet__foot m-portlet__foot--fit" style="    width: 100%;">
																							<div class="m-form__actions m-form__actions" style="    border: solid;padding-bottom: inherit;">
																						
																									<div class="form-group m-form__group row">
																											<div class="col-lg-3"><img alt="" src="../images/logo.png"   style=" margin-left: -150px;       max-width: 59%;
																												height: 65%;"/>
																											</div>
																											<div class="col-lg-6" style="    font-weight: 600;    text-align: center;">E.S.2.1 Report (Half Yearly)<br>
																													State  : <span> Madhya Pradesh</span>
																													<br>
																													Employment Exchange : <span id="Exchangename">  District Employment Exchange, Bhopal</span>
																											</div>
																											<div class="col-lg-3"><img alt="" src="../images/favicon.ico"   style="        margin-left: 148px;   max-width: 59%;
																												height: 65%;"/>
																											</div>
																										</div>
																									</div>
																									<div class="m-form__actions m-form__actions" style="      border-left: solid;
																									border-right: solid;
																									border-bottom: solid; ">
																									<div>Return showing the work done by the Employment Exchanges in respect of vacancies (Sector-wise) for the Year ended :  <span id="year">  2020</span> </div>
																									</div>
																						</div>
																						<br></div>
																						<div class="form-group m-form__group row" style="    overflow: auto; ">
																			
																			<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																					
																				<thead id="tablehead">
																					
																				</thead>
																			
																				<tbody id="tbodyvalue">
																						<!-- <tr>
																								<td>1</td>
																								<td>2</td>
																								<td>3</td>
																								<td>4</td>
																								<td>5</td>
																								<td>6</td>
																								<td>7</td>
																								<td>8</td>
																								<td>9</td>
																								<td>10</td>
																								<td>11</td>
																								<td>12</td>
																								<td>13</td>
																								<td>14</td>
																								<td>15</td>
																								<td>16</td>
																								<td>17</td>
																								<td>18</td>
																								<td>19</td>
																								
																							</tr>
																						<tr>
																							<td>1</td>
																							<td colspan="3">10th class passed</td>
																	
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>	
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																							<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																							</td>
																						
																						</tr>
																						<tr>
																								<td>2</td>
																												
																								<td > 10+2 passed
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																						
																								<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																								</td>
																								<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																								</td>
																								<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																								</td>
																								<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																								</td>
																							</tr>
																							<tr>
																									<td>3</td>
																									<td>	Graduate Total</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																									<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																									</td>
																								</tr>
																								<tr>
																										<td>4</td>
																												
																									<td > Arts
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																										
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																									
																									</tr>
																									
																								<tr>
																										<td>5</td>
																										<td>Science</td>
																										
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																										<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</td>
																									</tr>
																									<tr>
																											<td>6</td>
																											<td > Commerece
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</td>
																										</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																										</tr>
																										<tr>
																												<td>7</td>
																												<td>Engineering</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																											</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																											
																											</tr>
																											
																										<tr>
																												<td>8</td>
																												<td > Medicine
																													</td>
																												
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</td>
																											</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																											</tr>
																											<tr>
																													<td>10</td>
																												
																													<td > Agriculture
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</td>
																												</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																												</tr>
																						
																												<tr>
																														<td>11</td>
																														<td>	Law</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																													</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</tr>
																													
																												<tr>
																														<td>12</td>
																														<td>Education	</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																													
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</td>
																													</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																													</tr>
																													<tr>
																															<td>13</td>
																															<td>Others	</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</td>
																														</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																														</tr>	<tr>
																																<td>14</td>
																																<td>Post Graduates Total</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																															</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																															</tr>
																															
																														<tr>
																																<td>15</td>
																																<td>Arts	</td>
																															
																															</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																																<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																</td>
																															</tr>
																															<tr>
																																	<td>16</td>
																															
																																	
																																	<td > Science 
																																	</td>
																																</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	</td>
																																</tr>	<tr>
																																		<td>17</td>
																																		<td>  Commerce
																																		</td>
																																	</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																	
																																	</tr>
																																	
																																<tr>
																																		<td>18</td>
																																		<td>Engineering	</td>
																																	</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																	
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																		<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		</td>
																																	</tr>
																																	<tr>
																																			<td>19</td>
																																			<td>Medicine	</td>
																																		</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																		
																																			<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																			<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																			</td>
																																		</tr>	<tr>
																																				<td>20</td>
																																				<td> Veterinary
																																				</td>
																																			</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																			
																																			</tr>
																																			
																																		<tr>
																																				<td>21</td>
																																				<td>Agriculture	</td>
																																		
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>		<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																				<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				</td>
																																			</tr>
																																			<tr>
																																					<td>22</td>
																																					<td>		Diploma Holder in Engineering & Technology</td>
																																				</td>	<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																				
																																					<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td>  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																					<td >  <input type="txt" id="textCact" style="    width: 50px;" ></input>
																																					</td>
																																				</tr>	
																																				<tr>
																																						<td colspan="20"  style="text-align: end;" >Signature of Employment Officer<br>
																																							(With name and complete postal address of the Employment Exchange)
																																							
																																				  </tr> -->
																																				  
																																					
																																										
																				</tbody>
																			</table>
																		</div>
																			<div class="form-group m-form__group row">
																				   
																				<div class="col-lg-6">
																					<button type="button" id="btnSave" onclick="ES21Entry('1')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																					   Save
																					</button>
																					<button type="button" id="btnModify" onclick="ES21Entry('2')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																						 Save
																					 </button>
																					<button type="button" id="btnVerify" onclick="ES21Entry('4')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																						Send To HO Office
																					 </button>
																					<button type="button" id="btnSubmit" onclick="window.location='/ES21Report'" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																							Cancel
																						 </button>
																				</div>
																				<div class="col-lg-3">
																						
																						
																					</div>
																				
																			</div>
																	</div>
																</div> 

														</div>
													
                                                               
                                                        
                                                                   
                                               
                                              
                                                </div>      
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/ES21Report.js" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');

				if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
$( ".disable" ).prop( "disabled", true );
 }
else{
$("#Exchangediv").hide();
 }


		
		    $('#btnSave').hide();
			$('#btnModify').hide();
			$('#btnVerify').hide();

				FillES21_Master('parsedataFillES21_Master','tbodyvalue');
               $("#Exchangename").html(sessionStorage.Ex_name) 
               $("#years").on('change',function(){
				   $("#year").html($("#years").val());
			   })
				FillYearwithvalue('parsedatasecuredFillYearwithvalue','years');

                var tablehead="<tr><th style='border-right: inset;'>S.NO</th><th colspan=3 style='border-right: inset;'>Eduational Level</th><th colspan=3 style='border-right: inset;border-bottom: inset;'>Total Educated (All Categories)</th><th colspan=3 style='border-right: inset;border-bottom: inset;'>Women (Included in Total)</th><th colspan=3 style='border-right: inset;border-bottom: inset;'>SC (Included in Total)</th><th colspan=3 style='border-right: inset;border-bottom: inset;'>ST (Included in Total)</th><th colspan=3 style='border-bottom: inset;'>OBC (Included in Total)</th></tr>"+
				"<tr><th style='border-right: inset;'></th><th></th><th></th><th style='border-right: inset;'></th><th style='border-right: inset;'>Regd</th><th style='border-right: inset;'>Placement</th><th style='border-right: inset;'>LR</th><th style='border-right: inset;'>Redg</th><th style='border-right: inset;'>Placement</th><th style='border-right: inset;'>LR</th><th style='border-right: inset;'>Redg</th><th style='border-right: inset;'>Placement</th><th style='border-right: inset;'>LR</th><th style='border-right: inset;'>Redg</th><th style='border-right: inset;'>Placement</th><th style='border-right: inset;'>LR</th><th style='border-right: inset;'>Redg</th><th style='border-right: inset;'>Placement</th><th>LR</th></tr>";
        $("#tablehead").html(tablehead);

    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
