<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        E.S.22 Report (Yearly Exchange Report )
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											
                                               
                                                 <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
														<div class="form-group m-form__group row" id="Exchangediv">
															<label class="col-lg-2 col-form-label">
																Exchange Name :
															 </label>
															
															<div class="col-lg-4">
																	<select type="text" id="ddExchange" class="form-control m-input">
																		</select>
														</div>
														
													</div>
															<div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Select Year	 :
                                                                   </label>
                                                                   <div class="col-lg-4">
                                                                       <select  id="yeares22rpt" class="form-control m-input"> 
                                                                          </select>
                                                                     </div> 
                                                                       
                                                                <div class="col-lg-1">
																	  <button type="button" onclick="fetchES22('1')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																			Search Report
																	  </button>
																  </div>
																  </div>
																  <div class="m-portlet__foot m-portlet__foot--fit">
																	<div class="m-form__actions m-form__actions">
																		<div class="form-group m-form__group row" style="    overflow: auto; ">
																			<div class="col-lg-12">
																				<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																						<div class="m-portlet__foot m-portlet__foot--fit">
																								<div class="m-form__actions m-form__actions" style="    border: solid;padding-bottom: inherit;">
																							
																										<div class="form-group m-form__group row">
																												<div class="col-lg-3"><img alt="" src="../images/logo.png"   style="        max-width: 59%;
																													height: 65%;"/>
																												</div>
																												<div class="col-lg-6" style="    font-weight: 600;    text-align: center;">E.S.2.2 (Annual Report)<br>
																														State  : <span> Madhya Pradesh</span>
																														<br>
																														Employment Exchange : <span id="exchangename">  District Employment Exchange, Bhopal</span>
																												</div>
																												<div class="col-lg-3"><img alt="" src="../images/favicon.ico"   style="        margin-left: 148px;   max-width: 59%;
																													height: 65%;"/>
																												</div>
																											</div>
																										</div>
																										<div class="m-form__actions m-form__actions" style="      border-left: solid;
																										border-right: solid;
																										border-bottom: solid;">
																											<div style="font-weight: 700;"> Return Showing Trade-wise distribution of Craftmen trained at the ITIs and full
																												term Apprentices trained under the apprenticeship Act, on the Live Registration
																												by NCO at the end of the Year and their Number registrered &amp; placed in employment
																												during the year :From Date-01/01/<span class="yeartxt"></span>-To Date- 31/12/<span class="yeartxt"></span></div>
																						
																							</div>
																							<br>
																							<thead >
																								<tr >
																									<th style='border-right: inset;'>
																										S.<br />
																										No.</th>
																									<th style='border-right: inset;'>
																										NCO Code (6 digit level &amp; totals at 4 digit level)</th>
																									<th style='border-right: inset;'>
																										Trade in which Trained</th>
																									<th  colspan="3" style='border-right: inset;border-bottom: inset;'>
																										Ex-ITI Trainees</th>
																									<th colspan="3" style="border-bottom: inset;">
																										Full term Apprentices
																									</th>
																								</tr>
																								<tr class="lblHeadingFontType">
																									<th style='border-right: inset;'>
																									</th>
																									<th style='border-right: inset;'>
																									</th>
																									<th style='border-right: inset;'>
																									</th>
																									<th style='border-right: inset;'>Registration</th>
																									<th style='border-right: inset;'>Placement</th>
																									<th style='border-right: inset;'>Live Register</th>
																									<th style='border-right: inset;'>Registration</th>
																									<th style='border-right: inset;'>Placement</th>
																									<th >Live Register</th>
																								</tr>
														
																						   
																								
																							</thead>
																				
																					<tbody id="tbodyvalue"></tbody>
																				</table>
																				  </div>
																		</div>
																	</div>
																	<div class="form-group m-form__group row">
																			
																		<div class="col-lg-3">
																			<button type="button" onclick="ES22Entry()"  id="savebtn" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																				Save
																			</button>
																			
																			<button type="button"  id="btnVerify"  onclick="fetchES22('2')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																				Send To HO Office
																			</button>
																			<button type="button" onclick="resetMode()" id="cancelbtn"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																					Cancel
																			</button>
																		</div>
																			
																		
																	</div>
																</div>  		
																
                                                    </div>
                                                </div>
											
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		
		<script src="../customjs/ReportProformaEntry/ES22.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				$('#exchangename').html(sessionStorage.Ex_name);
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
				FillYearwithvalue('parsedatasecuredFillYearwithvalue','yeares22rpt');
				if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
					$("#Exchangediv").show();
					$( ".disable" ).prop( "disabled", true );
					}
					else{
					$("#Exchangediv").hide();
					}

							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
