<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            E.S.2.3 (Half Yearly Exchange Report)
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
													<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
															<h5 style="color: red;">  कैसे उपयोग करे </h5>
													  <ul>
															<li>इस उपयोगिता के द्वारा Exchange Officer, First half and Second Half option के आधार पर  " E.S.2.3 (Half Yearly)" रिकार्ड खोजा सकता है ।</li>
																	<li>		Report print करने के लिए Print Report button पर click करें । </li>
																					<li>		Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
														</ul>
	
															</div>              
                                                
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>

                                                            <div class="form-group m-form__group row">
																<label class="col-lg-2 col-form-label">
																	Choose Report  :
															</label>
															<div class="col-lg-2">
																	<select type="text" id="criteriaddl" class="form-control m-input" placeholder="Month">
																			<option value="1">First Half</option>
																			<option value="2">Second Half</option> 
																		</select>
															
														   
														</div>
														<label class="col-lg-2 col-form-label">
															Year	:
													 </label>
                                                                    <div class="col-lg-2">
                                                                            <select type="text" id="year23" class="form-control m-input" placeholder="Month">
																					
                                                                                </select>
                                                                    
                                                                   
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <button type="button" id="btnSubmit" onclick="ES23RptEntryForm('3')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                        Search Report
                                                                    </button>
                                                                  
                                                                </div>
                                                                
                                                            </div>
															<a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','Literate And Illiterate')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>

                                                            <div class="form-group m-form__group row">
                                                                    <div class="col-lg-2"></div>
                                                               
                                                                
                                                            </div>
                                                               
                                                               
                                                                   
                                               
															<div class="m-portlet__foot m-portlet__foot--fit">
																	<div class="m-form__actions m-form__actions">
																	
																			<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																					<div class="m-portlet__foot m-portlet__foot--fit">
																							<div class="m-form__actions m-form__actions" style="    border: solid;padding-bottom: inherit;">
																						
																									<div class="form-group m-form__group row">
																											<div class="col-lg-3"><img alt="" src="../images/logo.png"   style="   margin-left: -150px;     max-width: 59%;
																												height: 65%;"/>
																											</div>
																											<div class="col-lg-6" style="    font-weight: 600;    text-align: center;">E.S.2.3 (Half Yearly Exchange Report)<br>
																													State  : <span> Madhya Pradesh</span>
																													<br>
																													Employment Exchange : <span id="exnametxt"></span>
																											</div>
																											<div class="col-lg-3"><img alt="" src="../images/favicon.ico"   style="        margin-left: 148px;   max-width: 59%;
																												height: 65%;"/>
																											</div>
																										</div>
																									</div>
																									<div class="m-form__actions m-form__actions" style="border-left: solid;border-right: solid;border-bottom: solid; ">
																									<div> Return showing the work done by the Employment Exchange in respect of Minority Communities
																										during the half year ended :  <span id="tblheadYear"></span> </div>
																									</div>

																						</div>

																						<br>
																				<thead id="tablehead">
																					<th style='border-right: inset;'>Sr. No</th>
																					<th style='border-right: inset;'>Item</th>
																					<th style='border-right: inset;'>Musilm</th>
																					<th style='border-right: inset;'>Christian</th>
																					<th style='border-right: inset;'>Sikhs</th>
																					<th style='border-right: inset;'>Budhists</th>
																					<th style='border-right: inset;'>Zoarastrians</th>
																					<th>Total</th>
																					
        
																				</thead>
																			
																				<tbody id="tbodyvalue">
																				
																						<tr>
																							<td>1</td>
																							<td>	No. on the Live Register at the end of the previous half Yearates)</td>
																						
																						
																							<td>  <input type="number" class="visibleControls" onfocusout="getTotal('LR_Prev')" id="LR_Prev_M" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" onfocusout="getTotal('LR_Prev')" id="LR_Prev_C" style=" width: 50px;" ></input>
																							</td>
																							<td>  <input type="number" class="visibleControls" onfocusout="getTotal('LR_Prev')" id="LR_Prev_S" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" onfocusout="getTotal('LR_Prev')" id="LR_Prev_B" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" onfocusout="getTotal('LR_Prev')" id="LR_Prev_Z" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" id="LR_Prev_Total" style=" width: 50px;" disabled></input>
																							</td>
																						
																						</tr>
																						<tr>
																								<td>2</td>
																								<td>		No. of registration/re-registration Effected</td>
																									
																							<td>  <input type="number" class="visibleControls" onfocusout="getTotal('Registration')" id="Registration_M" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" onfocusout="getTotal('Registration')" id="Registration_C" style=" width: 50px;" ></input>
																							</td>
																							<td>  <input type="number" class="visibleControls" onfocusout="getTotal('Registration')" id="Registration_S" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" onfocusout="getTotal('Registration')" id="Registration_B" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" onfocusout="getTotal('Registration')" id="Registration_Z" style=" width: 50px;" ></input>
																							</td>
																							<td >  <input type="number" class="visibleControls" id="Registration_Total" style=" width: 50px;" disabled></input>
																							</td>

																							</tr>
																							<tr>
																									<td>3</td>
																									<td>	No. Placed during the Half year	</td>
																									
																									<td>  <input type="number" class="visible" onfocusout="getTotal('PlacesJs')" id="PlacesJs_M" style=" width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visible" onfocusout="getTotal('PlacesJs')" id="PlacesJs_C" style=" width: 50px;" ></input>
																									</td>
																									<td>  <input type="number" class="visible" onfocusout="getTotal('PlacesJs')" id="PlacesJs_S" style=" width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visible" onfocusout="getTotal('PlacesJs')" id="PlacesJs_B" style=" width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visible" onfocusout="getTotal('PlacesJs')" id="PlacesJs_Z" style=" width: 50px;" ></input>
																									</td>
																									<td >  <input type="number" class="visibleControls" id="PlacesJs_Total" style=" width: 50px;" disabled></input>
																									</td>
																								</tr>
																								<tr>
																										<td>4</td>
																										<td>No. removed from the Live register</td>
																									
																										
																										<td>  <input type="number" class="visibleControls" onfocusout="getTotal('Registration_Removed')" id="Registration_Removed_M" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" onfocusout="getTotal('Registration_Removed')" id="Registration_Removed_C" style=" width: 50px;" ></input>
																										</td>
																										<td>  <input type="number" class="visibleControls" onfocusout="getTotal('Registration_Removed')" id="Registration_Removed_S" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" onfocusout="getTotal('Registration_Removed')" id="Registration_Removed_B" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" onfocusout="getTotal('Registration_Removed')" id="Registration_Removed_Z" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" id="Registration_Removed_Total" style=" width: 50px;" disabled></input>
																										</td>
																										
																									
																									</tr>
																									
																								<tr>
																										<td>5</td>
																										<td>No. on the Live register at end of the half Year	</td>
																									
																										<td>  <input type="number" class="visibleControls" onfocusout="getTotal('LR')" id="LR_M" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" onfocusout="getTotal('LR')" id="LR_C" style=" width: 50px;" ></input>
																										</td>
																										<td>  <input type="number" class="visibleControls" onfocusout="getTotal('LR')" id="LR_S" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" onfocusout="getTotal('LR')" id="LR_B" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" onfocusout="getTotal('LR')" id="LR_Z" style=" width: 50px;" ></input>
																										</td>
																										<td >  <input type="number" class="visibleControls" id="LR_Total" style=" width: 50px;" disabled></input>
																										</td>
																									
																									</tr>
																									<tr>
																											<td>6</td>
																											<td>No. of Submission made	</td>
																											
																											<td>  <input type="number" class="visible" onfocusout="getTotal('Submissions')" id="Submissions_M" style=" width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visible" onfocusout="getTotal('Submissions')" id="Submissions_C" style=" width: 50px;" ></input>
																											</td>
																											<td>  <input type="number" class="visible" onfocusout="getTotal('Submissions')" id="Submissions_S" style=" width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visible" onfocusout="getTotal('Submissions')" id="Submissions_B" style=" width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visible" onfocusout="getTotal('Submissions')" id="Submissions_Z" style=" width: 50px;" ></input>
																											</td>
																											<td >  <input type="number" class="visibleControls" id="Submissions_Total" style=" width: 50px;" disabled></input>
																											</td>
																											
																										</tr>
																																																	
																										<tr>
																												<td colspan="8"  style="text-align: end;" >Signature of Employment Officer<br>
																													(With name and complete postal address of the Employment Exchange)
																													
																										  </tr>																
																				</tbody>
																			</table>
																			<div class="form-group m-form__group row">
																				   
																				<div class="col-lg-6">
																					<button type="button" onclick="ES23RptEntryForm(sessionStorage.Es23Flag)"  id="savebtn" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																						Save
																					</button>
							
																					<button type="button"  id="verifybtn"  onclick="ES23RptEntryForm('4')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
																						Send To HO Office
																					</button>
																					<button type="button" onclick="resetMode()" id="cancelbtn"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																							Cancel
																					</button>
																				</div>
																			
																				
																			</div>
																	</div>
																</div>     
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/ES23.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
					// var head="<tr><th>Report Name - E.S.2.3 (Half Yearly Exchange Report)</th><th>Choose Report : "+$('#criteriaddl').html()+"</th><th>Year : "+$('#year23').val()+"</th></tr>";
					// $('#Detailhead').html(head);		
// if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
// $("#Exchangediv").show();
// $( ".disable" ).prop( "disabled", true );
//  }
// else{
// $("#Exchangediv").hide();
//  }
	
				
				FillYearwithvalue('parsedatasecuredFillYearwithvalue','year23');
               
    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
