<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            E.S.2.4 Part-II Report (Reserved Vacancies)
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
														<div class="m-portlet__foot m-portlet__foot--fit">
																<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
														  <ul>
														 <li>इस उपयोगिता के द्वारा Exchange Officer, First half and Second Half option के आधार पर  " E.S.2.4(Half Yearly Part-II)" रिकार्ड खोजा सकता है ।</li>
														 <li>Report print करने के लिए Print Report button पर click करें ।  </li>
														
														 <li>Report Head Office को भेञने के लिए Send to Head Office button पर Click करे।</li>
														 <li>Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
														 
															</ul>
		
																</div>
															</div>
                                                 
                                                      
                                                               
                                                            </div>                
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>
                                                    
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                            Choose Report  :
                                                                    </label>
																	<div class="col-lg-2">
																		<select type="text" id="criteriaddl" class="form-control m-input" placeholder="Month">
																				<option value="1">First Half</option>
																				<option value="2">Second Half</option> 
																			</select>
																
															   
															</div>
															<label class="col-lg-2 col-form-label">
																	Year	:
															 </label>
															 <div class="col-lg-2">
																 <select id="yearses24p2"  class="form-control m-input">
																	 
																 </select>
															 </div>
                                                                <div class="col-lg-3">
                                                                        <button type="button" onclick="fetchES24Part2('3','0')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                            Search Report
																		</button>
																		
																	
                                                                    </div>
                                                                    
                                                                
                                                            </div>
                                                            
                                                               
                                                               
                                                                   
                                               
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
															
													<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="m-portlet__foot m-portlet__foot--fit">
																	<div class="m-form__actions m-form__actions" >
																<h4>
																	Part-II Reserved Vacancies
																</h4>
																			</div>
																			
																</div>
																<br>
														<table  class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
															
																
														<thead id="tablehead">
															<tr>
																<th colspan=1 style='border-right: inset;'>Sno</th>
																<th colspan=1 style='border-right: inset;'>Type of Establishment</th>
																<th colspan=3 style='border-right: inset;'>Outstanding at the end of the previous half year</th>
																<th colspan=3 style='border-right: inset;'>Notified during the half year</th>
																<th colspan=3 style='border-right: inset;'>Filled during the half year</th>
																<th colspan=6 style='border-right: inset;border-bottom: inset;'>Cancelled during the year due to</th>
																<th colspan=3 >Outstanding at the end of the half year</th>
															</tr>
																<tr>
																	<th colspan=1 style='border-right: inset;'>
																	</th>
																	<th colspan=1 style='border-right: inset;'>
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style='border-right: inset;border-bottom: inset;'>
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style='border-right: inset;border-bottom: inset;'>
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style='border-right: inset;border-bottom: inset;'>
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style="border-bottom: inset;">Non-availability of suitable candidates</th>
																	<th style='border-right: inset;border-bottom: inset;'>
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style="border-bottom: inset;">Other reasons</th>
																	<th style='border-right: inset;border-bottom: inset;'>
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
																	<th style="border-bottom: inset;">
																	</th>
															</tr>
															<tr>
																
																<th style='border-right: inset;'></th>
																<th style='border-right: inset;'></th>
																<th style='border-right: inset;'>SC</th>
																<th style='border-right: inset;'>ST</th>
																<th style='border-right: inset;'>OBC</th>
																<th style='border-right: inset;'>SC</th>
																<th style='border-right: inset;'>ST</th>
																<th style='border-right: inset;'>OBC</th>
																<th style='border-right: inset;'>SC</th>
																<th style='border-right: inset;'>ST</th>
																<th style='border-right: inset;'>OBC</th>
																<th style='border-right: inset;'>SC</th>
																<th style='border-right: inset;'>ST</th>
																<th style='border-right: inset;'>OBC</th>
																<th style='border-right: inset;'>SC</th>
																<th style='border-right: inset;'>ST</th>
																<th style='border-right: inset;'>OBC</th>
																<th style='border-right: inset;'>SC</th>
																<th style='border-right: inset;'>ST</th>
																<th>OBC</th>
															</tr>
															<tr>
																<td>1</td>
																<td>2</td>
																<td>3</td>
																<td>4</td>
																<td>5</td>
																<td>6</td>
																<td>7</td>
																<td>8</td>
																<td>9</td>
																<td>10</td>
																<td>11</td>
																<td>12</td>
																<td>13</td>
																<td>14</td>
																<td>15</td>
																<td>16</td>
																<td>17</td>
																<td>18</td>
																<td>19</td>
																<td>20</td>
															
															</tr>
														</thead>
													
														<tbody id="tbodyvalue">
															</tbody>
													</table></div>
													<div class="form-group m-form__group row">
														   
														<div class="col-lg-4">
															<button type="button" id="Save" onclick="insupdES24P2Entry()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															   Save
															</button>
														
															 <button type="button" id="btnverify" onclick="fetchES24Part2('4','0')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																Send To HO
															 </button>
															<button type="button"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																	Cancel
																 </button>
														</div>
														<div class="col-lg-3">
																
																
															</div>
																			
																		</div>
											</div>
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		
		<script src="../customjs/ReportProformaEntry/Es24Part2.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
$( ".disable" ).prop( "disabled", true );
 }
else{
$("#Exchangediv").hide();
 }
 FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
 FillYearwithvalue('parsedatasecuredFillYearwithvalue','yearses24p2');
             
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
