<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            E.S.2.5(Half Yearly Exchange Report - Part I)
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
													<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
															<h5 style="color: red;">  कैसे उपयोग करे </h5>
													  <ul>
															<li>इस उपयोगिता के द्वारा Exchange Officer, First half and Second Half option के आधार पर  " E.S.2.4 (Half Yearly - Part I)" रिकार्ड खोजा सकता है ।</li>
															<li>Report print करने के लिए Print Report button पर click करें । 	</li>
															<li>	Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
														</ul>
	
															</div>  
												<div class="m-form__section m-form__section--first">
                                                 
                                                      
                                                               
                                                            </div>                
                                                
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                            Choose Report  :
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                            <select type="text" id="criteriaddl" class="form-control m-input" placeholder="Month">
                                                                                    <option value="1">First Half</option>
                                                                                    <option value="2">Second Half</option> 
                                                                                </select>
                                                                    
                                                                   
                                                                </div>
																<label class="col-lg-2 col-form-label">
																		Year	:
																 </label>
																 <div class="col-lg-2">
																	 <select id="yeares25" class="form-control m-input">
																		  
																	 </select>
																 </div>
                                                                <div class="col-lg-3">
                                                                        <button type="button" onclick="ES25RptEntryForm('3')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                            Search Report
                                                                        </button>
                                                                      
                                                                    </div>
                                                                    
                                                                
                                                            </div>
                                                            
                                                               
                                                               
                                                                   
                                               
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
																	
																				<div class="form-group m-form__group row es25tbleDiv" style="    overflow: auto; ">
																						<div class="col-lg-12">
																							<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																									<div class="m-portlet__foot m-portlet__foot--fit">
																											<div class="m-portlet__foot m-portlet__foot--fit">
																													<div class="m-form__actions m-form__actions" style="    border: solid;padding-bottom: inherit;">
																												
																															<div class="form-group m-form__group row">
																																	<div class="col-lg-3"><img alt="" src="../images/logo.png"   style="  margin-left: -150px;      max-width: 59%;
																																		height: 65%;"disabled/>
																																	</div>
																																	<div class="col-lg-6" style="    font-weight: 600;    text-align: center;">	
																																			E.S.2.5(Half  Yearly)<br>
																																			State  : <span> Madhya Pradesh</span>
																																			<br>
																																			Employment Exchange : <span id="Exchangename">  District Employment Exchange, Bhopal</span>
																																	</div>
																																	<div class="col-lg-3"><img alt="" src="../images/favicon.ico"   style="        margin-left: 148px;   max-width: 59%;
																																		height: 65%;"disabled/>
																																	</div>
																																</div>
																															</div>
																															<div class="m-form__actions m-form__actions" style="      border-left: solid;
																															border-right: solid;
																															border-bottom: solid; ">
																															<div><span id="tblheadYear"></span> </div>
																															</div>
																												</div>
																											</div>
																												<br>
																								<thead>
																									<tr id="tablehead">
																										<th style='border-right: inset;'>Sr. No</th>
																										<th style='border-right: inset;'>Item</th>
																										<th style='border-right: inset;'>Blind</th>
																										<th style='border-right: inset;'>Deaf & Dumb</th>
																										<th style='border-right: inset;'>Orthopaedics</th>
																										<th style='border-right: inset;'>Respiratory Disorde</th>
																										<th style='border-right: inset;'>Nag.Leprosy Persons</th>
																										<th style='border-right: inset;'>Total(col.3-7)</th>
																										<th>Women(Included in total)</th>
	
																									</tr>
																								</thead>
																								<tbody id="tbodyvalue">
																									<tr>
																										<td>1</td>

																										<td>No.of Disabled on the live register at the end of the Previous Half Year.</td>
																										<td><input type="number" class="visibleControls"  onfocusout=" getcolumnTotal('LR_Prev_1')" id="LR_Prev_1_Blind"  disabled/></td>
																										<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR_Prev_1')" id="LR_Prev_1_Deaf" disabled/></td>
																										<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR_Prev_1')" id="LR_Prev_1_Orthopaedics" disabled/></td>
																										<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR_Prev_1')" id="LR_Prev_1_Respiratory" disabled/></td>
																										<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR_Prev_1')" id="LR_Prev_1_Leprosy" disabled/></td>
																										<td><input type="number" class="visibleControls" id="LR_Prev_1_Total" disabled/></td>
																										<td><input type="number" class="visibleControls"  id="LR_Prev_1_W" disabled/></td>
																									</tr>
																							<tr>
																								<td>2</td>
																								<td>No.of Disabled registrations during the Half Year.</td>
																								<td><input type="number" class="visibleControls"  onfocusout=" getcolumnTotal('Registration')" id="Registration_Blind"  disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration')" id="Registration_Deaf" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration')" id="Registration_Orthopaedics" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration')" id="Registration_Respiratory" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration')" id="Registration_Leprosy" disabled/></td>
																								<td><input type="number" class="visibleControls" id="Registration_Total" disabled/></td>
																								<td><input type="number" class="visibleControls" id="Registration_W" disabled/></td>
																							</tr>
																							<tr>
																								<td>3</td>
																								<td>No. of disabled applicants placed during the half year in:</td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td>	a) Central Govt.</td>
																								<td><input type="number" onfocusout="getrowTotal('Blind');getcolumnTotal('PlacesJs_CG')" class="visible" id="PlacesJs_CG_Blind"  disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Deaf');getcolumnTotal('PlacesJs_CG')" class="visible" id="PlacesJs_CG_Deaf" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Orthopaedics');getcolumnTotal('PlacesJs_CG')" class="visible" id="PlacesJs_CG_Orthopaedics" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Respiratory');getcolumnTotal('PlacesJs_CG')" class="visible" id="PlacesJs_CG_Respiratory" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Leprosy');getcolumnTotal('PlacesJs_CG')" class="visible" id="PlacesJs_CG_Leprosy" disabled/></td>
																								<td><input type="number"  class="visible" id="PlacesJs_CG_Total" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('W')" class="visible" id="PlacesJs_CG_W" disabled/></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td>b) Union Territory</td>
																								<td><input type="number" onfocusout="getrowTotal('Blind');getcolumnTotal('PlacesJs_UT')" class="visible" id="PlacesJs_UT_Blind"  disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Deaf');getcolumnTotal('PlacesJs_UT')" class="visible" id="PlacesJs_UT_Deaf" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Orthopaedics');getcolumnTotal('PlacesJs_UT')" class="visible" id="PlacesJs_UT_Orthopaedics" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Respiratory');getcolumnTotal('PlacesJs_UT')" class="visible" id="PlacesJs_UT_Respiratory" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Leprosy');getcolumnTotal('PlacesJs_UT')" class="visible" id="PlacesJs_UT_Leprosy" disabled/></td>
																								<td><input type="number"  class="visible" id="PlacesJs_UT_Total" disabled/></td>
																								<td><input type="number"  onfocusout="getrowTotal('W')" class="visible" id="PlacesJs_UT_W" disabled/></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td>c) State Govt</td>
																								<td><input type="number" onfocusout="getrowTotal('Blind');;getcolumnTotal('PlacesJs_SG')" class="visible" id="PlacesJs_SG_Blind"  disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Deaf');;getcolumnTotal('PlacesJs_SG')" class="visible" id="PlacesJs_SG_Deaf" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Orthopaedics');;getcolumnTotal('PlacesJs_SG')" class="visible" id="PlacesJs_SG_Orthopaedics" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Respiratory');;getcolumnTotal('PlacesJs_SG')" class="visible" id="PlacesJs_SG_Respiratory" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Leprosy');;getcolumnTotal('PlacesJs_SG')" class="visible" id="PlacesJs_SG_Leprosy" disabled/></td>
																								<td><input type="number"  class="visible" id="PlacesJs_SG_Total" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('W')" class="visible" id="PlacesJs_SG_W" disabled/></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td>d) Quasi-Govt. Estts/Public Sector undertakings under <br>i)  Center Govt.<br>ii) State Govt.</td>
																								<td><input type="number" onfocusout="getrowTotal('Blind');getcolumnTotal('PlacesJs_QG')" class="visible" id="PlacesJs_QG_Blind"  disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Deaf');getcolumnTotal('PlacesJs_QG')" class="visible" id="PlacesJs_QG_Deaf" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Orthopaedics');getcolumnTotal('PlacesJs_QG')" class="visible" id="PlacesJs_QG_Orthopaedics" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Respiratory');getcolumnTotal('PlacesJs_QG')" class="visible" id="PlacesJs_QG_Respiratory" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Leprosy');getcolumnTotal('PlacesJs_QG')" class="visible" id="PlacesJs_QG_Leprosy" disabled/></td>
																								<td><input type="number"  class="visible" id="PlacesJs_QG_Total" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('W')" class="visible" id="PlacesJs_QG_W" disabled/></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td>e) Local Bodies</td>
																								<td><input type="number" onfocusout="getrowTotal('Blind');getcolumnTotal('PlacesJs_LB')" class="visible" id="PlacesJs_LB_Blind"  disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Deaf');getcolumnTotal('PlacesJs_LB')" class="visible" id="PlacesJs_LB_Deaf" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Orthopaedics');getcolumnTotal('PlacesJs_LB')" class="visible" id="PlacesJs_LB_Orthopaedics" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Respiratory');getcolumnTotal('PlacesJs_LB')" class="visible" id="PlacesJs_LB_Respiratory" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Leprosy');getcolumnTotal('PlacesJs_LB')" class="visible" id="PlacesJs_LB_Leprosy" disabled/></td>
																								<td><input type="number"  class="visible" id="PlacesJs_LB_Total" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('W')" class="visible" id="PlacesJs_LB_W" disabled/></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td>f) Private Establishments</td>
																								<td><input type="number" onfocusout="getrowTotal('Blind');getcolumnTotal('PlacesJs_Private')" class="visible" id="PlacesJs_Private_Blind"  disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Deaf');getcolumnTotal('PlacesJs_Private')" class="visible" id="PlacesJs_Private_Deaf" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Orthopaedics');getcolumnTotal('PlacesJs_Private')" class="visible" id="PlacesJs_Private_Orthopaedics" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Respiratory');getcolumnTotal('PlacesJs_Private')" class="visible" id="PlacesJs_Private_Respiratory" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('Leprosy');getcolumnTotal('PlacesJs_Private')" class="visible" id="PlacesJs_Private_Leprosy" disabled/></td>
																								<td><input type="number"  class="visible" id="PlacesJs_Private_Total" disabled/></td>
																								<td><input type="number" onfocusout="getrowTotal('W')" class="visible" id="PlacesJs_Private_W" disabled/></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td>Total of Items 3 (a) to 3 (f)</td>
																								<td><input type="number" class="visible"  id="PlacesJs_Total_Blind"  disabled/></td>
																								<td><input type="number" class="visible" id="PlacesJs_Total_Deaf" disabled/></td>
																								<td><input type="number" class="visible" id="PlacesJs_Total_Orthopaedics" disabled/></td>
																								<td><input type="number" class="visible" id="PlacesJs_Total_Respiratory" disabled/></td>
																								<td><input type="number" class="visible" id="PlacesJs_Total_Leprosy" disabled/></td>
																								<td><input type="number" class="visible" id="PlacesJs_Total_Total" disabled/></td>
																								<td><input type="number" class="visible" id="PlacesJs_Total_W" disabled/></td>
																							</tr>
																							<tr>
																								<td>4</td>
																								<td>No.of Disabled applicants removed from the Live Register during the  half year.</td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration_Removed')"  id="Registration_Removed_Blind"  disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration_Removed')" id="Registration_Removed_Deaf" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration_Removed')" id="Registration_Removed_Orthopaedics" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration_Removed')" id="Registration_Removed_Respiratory" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('Registration_Removed')" id="Registration_Removed_Leprosy" disabled/></td>
																								<td><input type="number" class="visibleControls" id="Registration_Removed_Total" disabled/></td>
																								<td><input type="number" class="visibleControls" id="Registration_Removed_W" disabled/></td>
																							</tr>
																							<tr>
																								<td>5</td>
																								<td>No. of Disable applicants on the Live Register at the end of the half year.  </td>
																								<td><input type="number" class="visibleControls"  onfocusout=" getcolumnTotal('LR')" id="LR_Blind"  disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR')" id="LR_Deaf" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR')" id="LR_Orthopaedics" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR')" id="LR_Respiratory" disabled/></td>
																								<td><input type="number" class="visibleControls" onfocusout=" getcolumnTotal('LR')" id="LR_Leprosy" disabled/></td>
																								<td><input type="number" class="visibleControls" id="LR_Total" disabled/></td>
																								<td><input type="number" class="visibleControls" id="LR_W" disabled/></td>
																							</tr>
																							<tr>
																								<td>6</td>
																								<td>No. of Submissions made during the half year.</td>
																								<td><input type="number" class="visible" onfocusout=" getcolumnTotal('Submissions')" id="Submissions_Blind"  disabled/></td>
																								<td><input type="number" class="visible" onfocusout=" getcolumnTotal('Submissions')" id="Submissions_Deaf" disabled/></td>
																								<td><input type="number" class="visible" onfocusout=" getcolumnTotal('Submissions')" id="Submissions_Orthopaedics" disabled/></td>
																								<td><input type="number" class="visible" onfocusout=" getcolumnTotal('Submissions')" id="Submissions_Respiratory" disabled/></td>
																								<td><input type="number" class="visible" onfocusout=" getcolumnTotal('Submissions')" id="Submissions_Leprosy" disabled/></td>
																								<td><input type="number" class="visible" id="Submissions_Total" disabled/></td>
																								<td><input type="number" class="visible" id="Submissions_W" disabled/></td>
																							</tr>
		
																								</tbody>
																							</table>
																							  </div>
																					</div>
													</div>
													<div class="form-group m-form__group row es25tbleDiv">
															
														<div class="col-lg-6">
																<button type="button" onclick="ES25RptEntryForm(sessionStorage.Es25Flag)"  id="savebtn" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display:none">
																	Save
																</button>
																
																<button type="button"  id="verifybtn"  onclick="ES25RptEntryForm('4')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display:none">
																	Send To HO Office
																</button>
																<button type="button" onclick="resetMode()" id="cancelbtn"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																		Cancel
																</button>
															</div>
															
														
													</div>
                                                </div>      
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/ES25ReportP1.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#Exchangename").html(sessionStorage.Ex_name);
				if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
$( ".disable" ).prop( "disabled", true );
 }
else{
$("#Exchangediv").hide();
 }
 FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');

				FillYearwithvalue('parsedatasecuredFillYearwithvalue','yeares25');
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
