<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            (E.S.2.5 Report Continued)

													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
														<div class="m-portlet__foot m-portlet__foot--fit">
																<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
														  <ul>
														 <li>इस उपयोगिता के द्वारा  First Half and Second Half   के आधार पर  Exchange Officer " E.S.2.5 (Half Yearly)" रिकार्ड खोज सकता है ।</li>
														 <li>Report print करने के लिए Print Report button पर click करें ।   </li>
														
														 <li>Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
														 
														 
															</ul>
		
																</div>
															</div>
                                                      
                                                               
                                                            </div>                
															<div class="form-group m-form__group row" id="Exchangediv">
																<label class="col-lg-2 col-form-label">
																	Exchange Name :
																 </label>
																
																<div class="col-lg-4">
																		<select type="text" id="ddExchange" class="form-control m-input">
																			</select>
															</div>
															
														</div>
                                                    
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                            Choose Report  :
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                            <select type="text" id="ChooseReport" class="form-control m-input" placeholder="Month">
                                                                                    <option value="FirstHalf">First Half</option>
                                                                                    <option value="SecondHalf">Second Half</option> 
                                                                                </select>
                                                                    
                                                                   
																</div>
																<label class="col-lg-2 col-form-label">
																	Year	:
															 </label>
                                                                    <div class="col-lg-2">
                                                                            <select type="text" id="years" class="form-control m-input" placeholder="">
																			<option value="2018">2018</option>   
																			</select>
                                                                    
                                                                   
                                                                </div>
                                                                <div class="col-lg-3">
                                                                        <button type="button" id="btnSubmit" onclick="ES25RptP2Submit('3')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                            Search Report
                                                                        </button>
                                                                      
                                                                    </div>
                                                                    
                                                                
                                                            </div>
                                                            
                                                               
                                                               
                                                                   
                                               
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                 
												







												<div class="m-form__actions m-form__actions">
													<h5>
														Part-II Reserved Vacancies
												</h5>		
													<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12">
																<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																		<div class="m-portlet__foot m-portlet__foot--fit">
																				
																	<thead>
																		<tr id="tablehead">
																			<tr>
																				<th style='border-right: inset;'>S.no</th>
																				<th style='border-right: inset;'>Item</th>
																				<th style='border-right: inset;'>Central Govt.</th>
																				<th style='border-right: inset;'>Union Territory</th>
																				<th style='border-right: inset;'>State Govt.</th>
																				<th colspan="2" style='border-right: inset;border-bottom: inset;'>Quasi-Govt. Estt./Public Sector undertaking</th>
																				<th style='border-right: inset;'>Local Bodies</th>
																				<th style='border-right: inset;'>Private Estts.</th>
																				<th>Total</th>
																			</tr>
																			<tr>
																				<th style='border-right: inset;'></th>
																				<th style='border-right: inset;'></th>
																				<th style='border-right: inset;'></th>
																				<th style='border-right: inset;'></th>
																				<th style='border-right: inset;'></th>
																				<th style='border-right: inset;'>Non-availability of suitable candidates</th>
																				<th style='border-right: inset;'>Other reasons</th>
																				<th style='border-right: inset;'></th>
																				<th style='border-right: inset;'></th>
																				<th></th>
																			</tr>
																		</tr>
																	</thead>
																	<tbody id="tbodyvalue">
																		<tr>
																			<td>1</td>
																			<td> No.of vacancies for Disabled outstanding at the end of the prievious half year. </td>
																			<td><input onfocusout="getTotal('Outstanding_Prev') "id='Outstanding_Prev_CG' class="disable" type='text'  ></td>
																			<td><input  onfocusout="getTotal('Outstanding_Prev')" id='Outstanding_Prev_UT' class="disable" type='text' /></td>
																			<td><input  onfocusout="getTotal('Outstanding_Prev')" id='Outstanding_Prev_SG' class="disable" type='text' /></td>
																			<td><input  onfocusout="getTotal('Outstanding_Prev')" id='Outstanding_Prev_Quasi_CG' class="disable" type='text' /></td>
																			<td><input  onfocusout="getTotal('Outstanding_Prev')" id='Outstanding_Prev_Quasi_SG' class="disable" type='text' /></td>
																			<td><input  onfocusout="getTotal('Outstanding_Prev')" id='Outstanding_Prev_LB' class="disable" type='text' /></td>
																			<td><input  onfocusout="getTotal('Outstanding_Prev')" id='Outstanding_Prev_Private' class="disable" type='text' /></td>
																			<td><input id='Outstanding_Prev_Total' class="disable" type='text' /></td>
																		</tr>
																		<tr>
																			<td>2</td>
																			<td> No. of vacancies for Disabled applicants
																				a)Notified during the half year</td>
																			<td><input onfocusout="getTotal('Notified')" id='Notified_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Notified')" id='Notified_UT' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Notified')" id='Notified_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Notified')" id='Notified_Quasi_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Notified')" id='Notified_Quasi_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Notified')" id='Notified_LB' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Notified')" id='Notified_Private' class="disable" type='text' /></td>
																			<td><input id='Notified_Total' class="disable" type='text' /></td>
																		</tr>
																		<tr>
																			<td></td>
																			<td> b) filled during the half year</td>
																			<td><input onfocusout="getTotal('Filled')" id='Filled_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Filled')" id='Filled_UT' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Filled')" id='Filled_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Filled')" id='Filled_Quasi_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Filled')" id='Filled_Quasi_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Filled')" id='Filled_LB' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Filled')" id='Filled_Private' class="disable" type='text' /></td>
																			<td><input id='Filled_Total' class="disable" type='text' /></td>
																		</tr>
																		<tr>
																			<td></td>
																			<td> c) Cancelled during the half year due to :
																				i)Non-availability of suitable candidates.</td>
																			<td><input onfocusout="getTotal('Cancelled_NA')" id='Cancelled_NA_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_NA')" id='Cancelled_NA_UT' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_NA')" id='Cancelled_NA_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_NA')" id='Cancelled_NA_Quasi_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_NA')" id='Cancelled_NA_Quasi_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_NA')" id='Cancelled_NA_LB' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_NA')" id='Cancelled_NA_Private' class="disable" type='text' /></td>
																			<td><input id='Cancelled_NA_Total' class="disable" type='text' /></td>
																		</tr>
																		<tr>
																			<td></td>
																			<td>	ii)Other reasons </td>
																			<td><input onfocusout="getTotal('Cancelled_Other')" id='Cancelled_Other_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_Other')" id='Cancelled_Other_UT' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_Other')" id='Cancelled_Other_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_Other')" id='Cancelled_Other_Quasi_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_Other')" id='Cancelled_Other_Quasi_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_Other')" id='Cancelled_Other_LB' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Cancelled_Other')" id='Cancelled_Other_Private' class="disable" type='text' /></td>
																			<td><input id='Cancelled_Other_Total' class="disable" type='text' /></td>
																		</tr>
																		<tr>
																			<td>3</td>
																			<td> No. of vacancies for Disabled applicants outstanding at the end of the half year.  </td>
																			<td><input onfocusout="getTotal('Outstanding')" id='Outstanding_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Outstanding')" id='Outstanding_UT' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Outstanding')" id='Outstanding_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Outstanding')" id='Outstanding_Quasi_CG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Outstanding')" id='Outstanding_Quasi_SG' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Outstanding')" id='Outstanding_LB' class="disable" type='text' /></td>
																			<td><input onfocusout="getTotal('Outstanding')" id='Outstanding_Private' class="disable" type='text' /></td>
																			<td><input id='Outstanding_Total' class="disable" type='text' /></td>
																		</tr>
																		

																	</tbody>
																
																</table>
																  </div>

																

														</div>
													
						</div>

						<div class="form-group m-form__group row">
							

					

							<div class="col-lg-6">
								<button type="button" id="btnSubmitt" class="btn btn-success" onclick="ES25RptP2Submit('1');" style="background-color:#716aca;border-color:#716aca;display: none;">
										Save
									</button>
							
							<button type="button" id="btnUpdate" class="btn btn-success" onclick="ES25RptP2Submit('2');" style="background-color:#716aca;border-color:#716aca;display: none;">
									Save
								</button>
							
								<button type="button" id="btnVerify" class="btn btn-success" onclick="ES25RptP2Submit('4');" style="background-color:#716aca;border-color:#716aca;display: none;">
										Send To HO Office
									</button>
							
							<button type="button" id="btnCancel" class="btn btn-success" onclick="window.location='/ES25ReportP2'" style="background-color:#716aca;border-color:#716aca;">
									Cancel
								</button>
							</div>
						
						</div>
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportProformaEntry/ES25ReportP2.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
$("#Exchangediv").show();
$( ".disable" ).prop( "disabled", true );
 }
else{
$("#Exchangediv").hide();
 }
// FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddExchange');
FillDDlExchOffice('101','ddExchange');
				FillYearwithvalue('parsedatasecuredFillYearwithvalue','years');
			   $('#searchinput').hide();
			   
			   $("#btnadd").hide();
               $("#btnSubmitt").hide();
			   $("#btnUpdate").hide();   
               $("#btnVerify").hide();
			   $("#btnadd").on('click',function(){
				$( ".disable" ).prop( "disabled", false );
			   })


                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>


