<!DOCTYPE html>

<html lang="en" >
<!-- begin::Head -->
<head>
<% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body style="background-image: url(../images/bg/bg-1.jpg)" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default" >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
<!-- begin::Header -->
<% include ../../partials/header %>
<!-- end::Header -->
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
<div class="m-grid__item m-body__nav">
<div class="m-stack m-stack--ver m-stack--desktop">
<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
<button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
<i class="la la-close"></i>
</button>
<% include ../../partials/Menu %>
</div>

</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
<i class="la la-close"></i>
</button>

<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
<div class="d-flex align-items-center">
<div class="mr-auto">
<h3 class="m-subheader__title m-subheader__title--separator">
Employment
</h3>
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
<li class="m-nav__item m-nav__item--home">
<a href="/index" class="m-nav__link m-nav__link--icon">
<i class="m-nav__link-icon la la-home"></i>
</a>
</li>



</ul>
</div>
<% include ../../partials/calendar %>
<div>

</div>
</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
<div class="m-portlet">
<div class="m-portlet__head">
<div class="m-portlet__head-caption">
<div class="m-portlet__head-title">
<span class="m-portlet__head-icon m--hide">
    
  
</span>
</span>
<h3 class="m-portlet__head-text">
  New Appointment 
</h3>
</div>

</div>
</div>
<div class="m-portlet__body">
<div class="m-form__section m-form__section--first">

    <div class="form-group m-form__group row">    
        <label class="col-lg-2 col-form-label">
            Month  :
            </label>
            <div class="col-lg-4">
                    <select type="text" id="Month" class="form-control m-input" disabled placeholder="">
                        
                    </select>
                    
            </div>
            <label class="col-lg-2 col-form-label">
                Year  :
                </label>
                <div class="col-lg-4">
                    <select type="text" id="Year" class="form-control m-input" disabled placeholder="">
                        
                    </select>

                    
            </div>                       

  
       </div>



<div class="m-form__actions m-form__actions">
    <div class="form-group m-form__group row" >
        <span id="detailsvalidationtext" style="font-weight: 500;
        color: red;
        font-size: 15px;
        flex: auto;"></span>
        </div>
<div class="form-group m-form__group row" style=" overflow: auto; ">
<div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal" style="display: none;">
<thead id="Detailhead" style="display: none;"></thead>
<thead >
<tr id="tablehead">
<th colspan=1 style='border-right: inset;'>क्र.</th>
<th colspan=1 style='border-right: inset;'>कार्यालय का नाम</th>
<th colspan=1 style='border-right: inset;'>नियुक्ति दिनांक </th>
<th colspan=1 style='border-right: inset;'> नियुक्ति का प्रकार (नियमित/ संविदा/ आउटसोर्सिंग ) </th>
<th colspan=1 style='border-right: inset;'> पद का नाम </th>
<th colspan=1 style='border-right: inset;'>कुल नियुक्ति प्राप्त  आवेदकों  की संख्या (7+8+9+10)</th>
<th colspan=7 style='border-right: inset;border-bottom: inset;'>कुल लाभान्वित आवेदकों में से</th>
<th colspan=1 style='border-right: inset;border-bottom: inset;' > </th>
<th colspan=1 style='border-right: inset;border-bottom: inset;'> </th>
 </th></tr>
  <tr><th style='border-right: inset;'></th><th style='border-right: inset;'></th>
    <th style='border-right: inset;'></th><th style='border-right: inset;'></th>
    <th style='border-right: inset;'></th>
        <th style='border-right: inset;'></th><th style='border-right: inset;'>अनारक्षित</th>
        <th style='border-right: inset;'>अनु. जाति</th>
        <th style='border-right: inset;'>अ.ज.जा</th>
        <th style='border-right: inset;'>पि.वर्ग</th>
        <th style='border-right: inset;'>महिला</th>
        <th style='border-right: inset;'>निः शक्त</th>
        <th style='border-right: inset;'>अल्पसंख्यक</th>
        </th><th style='border-right: inset;'>Add</th>
         <th style='border-right: inset;'>Save</th>
         
</tr>
<tr><th style="border-right: inset;border-top: inset;">1</th>
    <th style="border-right: inset;border-top: inset;">2</th>
    <th style="border-right: inset;border-top: inset;">3</th>
    <th style="border-right: inset;border-top: inset;">4</th>
    <th style="border-right: inset;border-top: inset;">5</th>
    <th style="border-right: inset;border-top: inset;">6</th>
    <th style="border-right: inset;border-top: inset;">7</th>
    <th style="border-right: inset;border-top: inset;">8</th>
    <th style="border-right: inset;border-top: inset;">9</th>
    <th style="border-right: inset;border-top: inset;">10</th>
    <th style="border-right: inset;border-top: inset;">11</th>
    <th style="border-right: inset;border-top: inset;">12</th>
    <th style="border-right: inset;border-top: inset;">13</th>     
    
    <th style="border-right: inset;border-top: inset;">14</th>
    <th style="border-right: inset;border-top: inset;">15</th>
    
</tr>

</thead>
<tbody id="tablebody">



    
<tr class="addrow">
    <td>1</td>
    <td> <select type="text" name="name" id="officename0" class="form-control candidatename Company_Name" style="height: 32px; width: 196px;"> </select></td>
    <td><input class="JF_Date datepicker candidatename" id="JF_Date0" style="height: 32px; width: 196px;"  data-date-start-date="-1m" data-date-end-date="-1m"></td>
    <td><select type="text" class="form-control candidatename typeofjoining" id="typeofjoining0" style="height: 32px; width: 196px;">
        <option value="0">Select</option>
        <option value="1">नियमित</option>
        <option value="2">संविदा</option>
        <option value="3">आउटसोर्सिंग</option>
    </select></td>
    <td><input type="text"  class="form-control candidatename Post_Name"  id="post0" style="height: 32px; width: 196px;"></select></td>
    <td><input type="text"  class="candidatename Selected_Candidates" id="noofcanjoining0" ></td>    
    <td><input type="text"  class="candidatename UR_Candidates"  style="width: 50px;" id="ur0"></td>
    <td><input type="text"  class="candidatename SC_Candidates"  style="width: 50px;" id="sc0"></td>
    <td><input type="text"  class="candidatename ST_Candidates"  style="width: 50px;" id="st0"></td>
    <td><input type="text"  class="candidatename OBC_Candidates"  style="width: 50px;" id="obc0"></td>
    <td><input type="text"  class="candidatename Female_Candidates" style="width: 50px;" id="femail0"></td>  
    <td><input type="text"  class="candidatename PH_Candidates" style="width: 50px;" id="disabled0"></td>
    <td><input type="text"  class="candidatename Minority_Candidates" style="width: 50px;" id="minority0"></td>
    
    <td>
        <button type="button" onclick="addNewRow();"  id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
            Add 
        </button>
      </td>
      <td>
        <button type="button" onclick="checkValidation('0','0');"  id="Submit0" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
            Save 
        </button>
          </td>

    
    

</tr>

</tbody>
</table>

</div>
</div>
</div>
</div>
</div>
</div>



<div class="m-portlet">

  <div class="m-portlet__body">
      <div class="m-form__section m-form__section--first">


<div class="form-group m-form__group row" >
  <div class="col-lg-4"><h5 class="m-portlet__head-text">Appointment Details and Modification</h5></div>
  <div class="col-lg-6"></div>
  <div class="col-lg-2">
    <a style="cursor: pointer;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal1','newappReport')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
 </div>	
 </div>
<div class="form-group m-form__group row" style=" overflow: auto; ">
 
  <div class="col-lg-12" style='max-height: 400px;' >
   
<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal1" >
    <thead id="Detailhead" style="display: none;"></thead>
    <thead >
    <tr id="tablehead1">
    <th colspan=1 style='border-right: inset;'>क्र.</th>
    <th colspan=1 style='border-right: inset;'>कार्यालय का नाम</th>
    <th colspan=1 style='border-right: inset;'>नियुक्ति दिनांक </th>
    <th colspan=1 style='border-right: inset;'> नियुक्ति का प्रकार (नियमित/ संविदा/ आउटसोर्सिंग ) </th>
    <th colspan=1 style='border-right: inset;'> पद का नाम </th>
    <th colspan=1 style='border-right: inset;'>कुल नियुक्ति प्राप्त  आवेदकों  की संख्या (7+8+9+10)</th>
    <th colspan=7 style='border-right: inset;border-bottom: inset;'>कुल लाभान्वित आवेदकों में से</th>
    <th colspan=1 style="border-right: inset;border-top: inset;" > </th>
    <th colspan=1  style="border-right: inset;border-top: inset;"> </th>
    <th></th> </th></tr>
      <tr><th style='border-right: inset;'></th><th style='border-right: inset;'></th>
        <th style='border-right: inset;'></th><th style='border-right: inset;'></th>
        <th style='border-right: inset;'></th>
            <th style='border-right: inset;'></th><th style='border-right: inset;'>अनारक्षित</th>
            <th style='border-right: inset;'>अनु. जाति</th>
            <th style='border-right: inset;'>अ.ज.जा</th>
            <th style='border-right: inset;'>पि.वर्ग</th>
            <th style='border-right: inset;'>महिला</th>
            <th style='border-right: inset;'>निः शक्त</th>
            <th style='border-right: inset;'>अल्पसंख्यक</th>
            <th style="border-right: inset;border-top: inset;">Modify</th>
             <th style="border-right: inset;border-top: inset;">Save</th>
             <th style="border-right: inset;border-top: inset;">Delete</th>
    </tr>
    <tr><th style="border-right: inset;border-top: inset;">1</th>
        <th style="border-right: inset;border-top: inset;">2</th>
        <th style="border-right: inset;border-top: inset;">3</th>
        <th style="border-right: inset;border-top: inset;">4</th>
        <th style="border-right: inset;border-top: inset;">5</th>
        <th style="border-right: inset;border-top: inset;">6</th>
        <th style="border-right: inset;border-top: inset;">7</th>
        <th style="border-right: inset;border-top: inset;">8</th>
        <th style="border-right: inset;border-top: inset;">9</th>
        <th style="border-right: inset;border-top: inset;">10</th>
        <th style="border-right: inset;border-top: inset;">11</th>
        <th style="border-right: inset;border-top: inset;">12</th>
        <th style="border-right: inset;border-top: inset;">13</th>     
        
        <th style="border-right: inset;border-top: inset;">14</th>
        <th style="border-right: inset;border-top: inset;">15</th>
        <th style="border-right: inset;border-top: inset;">16</th>
    </tr>
    
    </thead>
    <tbody id="tablebody1">
    </tbody>
    </table>

    
</div>
</div>


</div>


</div>







</div>
</div>


</div>
</div>
</div>
</div>
</div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Delete Details !</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p>Are You Sure !  Want to delete this detail</p>
		</div>
		<div class="modal-footer">
			<button type="button" id="deletebtn1"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">YES</button>

		  <button type="button"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;" data-dismiss="modal">NO</button>
		</div>
	  </div>
  
	</div>
  </div>
<!-- begin::Body -->
<% include ../../partials/footer %>
</div>
<!-- end:: Page -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>
</body>

</html>

<% include ../../partials/script %>
<script src="../customjs/ReportProformaEntry/NewAppointmentEntry.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function (){
    
//FillYear('parsedatasecuredFillYear','0');
//FillMonthwithValue('parsedatasecuredFillCCMonth','0');
//FillDDlExchOffice('101','ddlDistrict0');
$('#ddlDistrict0').val(sessionStorage.Ex_name);
FillOffice('0');
FillPosition('0');
checkEmploymentcutoff('Appointment','tableglobal','detailsvalidationtext');
FillCCMonthemp('parsedatasecuredFillCCMonthemp','Month');
  FillYearemp('parsedatasecuredFillYearemp','Year');
  FillEmployment();
    var today = new Date();
  var startDate = new Date(today.getFullYear(), today.getMonth(0)-1, 1);
var lastDate = new Date(today.getFullYear(), today.getMonth(0)-1, 31);
$(".datepicker").datepicker({
    autoclose: true,
    startDate: startDate,
    endDate: lastDate,
    format: 'dd/mm/yyyy'
        });
// FillPosition('0')
// FillCategoryss('0')
// FillDistrictss('0')

// var tablehead="<th><a style='color: white;'>#</a></th><th>Registation Id</th><th> Name</th><th>EmailId</th><th>Mobile Number</th><th>User Name</th><th>View Detail</th> <th> Reset Password</th>";
// $("#tablehead").html(tablehead);

});


</script>