<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Photo Gallery
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														Event Photo Upload
													</h3>
												</div>
											  
											</div>
										</div>
											<div class="m-portlet__body" id="photouploaddetail">
												<div class="m-form__section m-form__section--first">
                                                 
                                                    <div class="form-group m-form__group row">
													
                                                        
														<div class="col-lg-2">
                                                           <button type="button" onclick="$('#photoupload').show();$('#photouploaddetail').hide()"id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                            Photo Upload
                                                            </button>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <button type="button"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                Delete Photo
                                                             </button>
                                                         </div>
                                                        </div>
                                                         <div class="form-group m-form__group row">
                                                           
                                                                <label class="col-lg-2 col-form-label">
                                                                        Event Title:
                                                          </label>
                                                          <div class="col-lg-4">
                                                                  <select id="ddlType" onchange="FillPhotoUpload(this.value)" class="form-control m-input">
                                                                     
                                                                      </select>    
                                                              </div>
													</div>
														
													<div class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions">
                                                                <h5>Upload Photo Details</h5>
														<% include ../../pages/Table %>
														</div>
													</div>
													</div>
                                                   
												</div>
												<div class="m-portlet__body" id="photoupload" style="display:none">
													<div class="m-form__section m-form__section--first">
													 
														<div class="form-group m-form__group row">
														
															
															<label class="col-lg-2 col-form-label">Photo Description <span
																class="required" style="color:red;">*</span> :
														</label>
														<div class="col-lg-4">
															<input type="text" id="txtTitle" class="form-control m-input" onfocusout="Cookies.set('PGDesc', this.value, { expires: 1, path: '/' });"

																placeholder=""></input>
																<span id="validtxtTitle"
															style="font-size: 11px; color: #cc0033; "></span>

		
														</div>
														<label class="col-lg-2 col-form-label">Image to Upload <span
															class="required" style="color:red;">*</span> :
													</label>
													<div class="col-lg-4">
														<% if (typeof msg != 'undefined'){%>
														<% if(msg.length > 0){ %>
														<% if(type == "photogallery"){ %>
														<% if (msg == "File Uploaded!"){ %>
														<div class="alert alert-success alert-dismissable" id="PGMsg"
															style="display: none"> <%=msg%></div>
														<% } else if (msg == "Error: No File Selected!"){ %>
														<div class="alert alert-warning alert-dismissable" id="PGMsg"
															style="display: none"> <%=msg%></div>
														<% } else { %>
														<div class="alert alert-info alert-dismissable" id="PGMsg"
															style="display: none"> <%=msg%></div>
														<% } %>
														<% } %>
														<% } %>
														<% } %>
														<form class="m-form" enctype="multipart/form-data"
														method="post" action="/PhotoUpload" >
														<input type="submit" id="postattach"
														class="btn btn-success" 
														style="display:none;background-color:#716aca;border-color:#716aca;" placeholder="Submit">
														
												
													
														<input type="file" name="myFile"
															onclick="Cookies.set('modaltype', 'photogallery', { expires: 1, path: '/' });">
														</form>
														<% if (typeof file != 'undefined'){%>
														<% if(file.length > 0){ %>
														<% if(type == "photogallery"){ %>
														<a href="photogallery/<%=file%>"><span
																id="PhotoUploadFile" ><%=file%></span>
	
														</a>
														<% }else { %>
														<a><span id="PhotoUploadFile" style="display:none"></span>
	
														</a>
														<% } %>
														<% } %>
														<% } else { %>
														<a><span id="PhotoUploadFile" style="color: #263B68;display:none"></span>
	
														</a>
														<% } %>
	
	
	
	
													</div>
															</div>
															 <div class="form-group m-form__group row">
															   
																	<label class="col-lg-2 col-form-label">
																		Display on Website:
															  </label>
															  <div class="col-lg-4">
																<label class="m-checkbox">
																		<input type="checkbox" id="chkActiveStatus">
																		<span></span>
																	</label>
																  </div>
														</div>
														<div class="form-group m-form__group row">
													
                                                        
															<div class="col-lg-2">
															   <button type="button" onclick="CheckValidation()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															Upload
																</button>
															</div>
															<div class="col-lg-2">
																<button type="button" onclick="$('#photoupload').hide();$('#photouploaddetail').show()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																	Cancel
																 </button>
															 </div>
															</div>
															
													
														</div>
													   
													</div>
											</div>
											
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/PhotoGallery/PhotoUpload.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				FillEventDetail()
				FillPhotoUpload('1')
                var tablehead="<th><a  style='color: white;'>Photo Description</a></th><th>	Uploaded Image</th><th>	Display on Website</th>";
        $("#tablehead").html(tablehead);
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
