<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                                Company Details
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Company Profile
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
													<div class="form-group m-form__group row">
														<label class="col-lg-2 col-form-label">
                                                          Company Name(In Hindi)<span class="required" style="color:red;">*</span> :
														</label>
														<div class="col-lg-4">
                                                            <input type="text" id="textHindi" onfocusout="	getvalidated('textHindi','text','Company Name(In Hindi)')" class="form-control m-input" placeholder="Company Name(In Hindi)"></input>
                                                        </div>
                                                        <label class="col-lg-2 col-form-label">
                                                                Company Name(In English)<span class="required" style="color:red;">*</span> :
                                                              </label>
                                                              <div class="col-lg-4">
                                                                  <input type="text" id="textEnglish" class="form-control m-input" placeholder="Company Name(In English)"></input>
                                                              </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                    Type <span class="required" style="color:red;">*</span> :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                    <select id="ddlType" class="form-control m-input"></select>
                                                                </div>
                                                            <label class="col-lg-2 col-form-label">
                                                                    Contact Number:<span class="required" style="color:red;">*</span> :
                                                                  </label>
                                                                  <div class="col-lg-4">
                                                                      <input type="Number" id="textContact" onfocusout="getvalidated('textContact','number','Mobile Number')" onkeypress="if (this.value.length >= 10){return false;}""  class="form-control m-input" placeholder="Contact No."></input>
																	  <span id="validtextContact" style="font-size: 11px; color: #cc0033; "></span>
																	</div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                        Address (in Hindi):<span class="required" style="color:red;">*</span> :
                                                                </label>
                                                                <div class="col-lg-4">
                                                                        <textarea class="form-control m-input" id="Addresshindi" rows="3"></textarea>
                                                                    </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                        Address:<span class="required" style="color:red;">*</span> :
                                                                      </label>
                                                                      <div class="col-lg-4">
                                                                            <textarea class="form-control m-input" id="addresseng" rows="3"></textarea>
                                                                        </div>
                                                      </div>
                                                      <div class="form-group m-form__group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                    Display:<span class="required" style="color:red;">*</span> :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                    <label class="m-checkbox">
                                                                            <input type="checkbox" id="chkActiveStatus">
                                                                            <span></span>
                                                                        </label>
                                                                      </div>
																	 
                                                  </div>
                                             
												  <div class="form-group m-form__group row" style="place-content: center;">
                                                  <div class="col-lg-3">
													<button type="button" id="btnSubmit" onclick="CheckValidation()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
														Submit
													</button>
												</div>
												</div>
                                                             
												</div>
											</div>
											<div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions">
												<h5>Company Profile Details</h5>
										  <% include ../../pages/Table %>
												</div>
											</div>
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/JobFair/CompanyDetail.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				localStorage.CP_id='0'
				FillType('parsedatasecuredFillType','ddlType');
				FetchCompany();
                var tablehead="<th>S.No.</th><th>Name in Hindi</th><th>Name in English</th><th>Address in Hindi</th><th>Address</th><th>Contact Number</th><th>Display</th><th>Modify </th>";
        $("#tablehead").html(tablehead);
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
