<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Reports For Jobseeker
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        Current Status Report
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
														<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
																<p>उपयोगकर्ता Exchange के अनुसार निम्न कार्य कर सकता है :-</p>
														  <ul style="color:black">
														
														 <li> इस उपयोगिता के द्वारा रोजगार कार्यालय के अधिकारी/कर्मचारी अपने कार्यालय की Current Status Report खोज सकता है ।</li>
														 <li> "All"(For Division and Exchange) Select करने पर आप सभी कार्यालयों का रिकार्ड देख सकते है ।</li>

															</ul>
															

															
															
																</div>
															</br>
													<div class="form-group m-form__group row">
														<label class="col-lg-2 col-form-label">
                                                            Division  :
														</label>
														<div class="col-lg-4">
                                                            <select type="text" id="ddlDivision" class="form-control m-input" placeholder="">
                                                             
                                                            </select>
                                                        </div>
                                                        
                                                        <label class="col-lg-2 col-form-label">
                                                            Exchange   :
														</label>
														<div class="col-lg-4">
                                                            <select type="text" id="ddlExchange" class="form-control m-input" placeholder="">
                                                              
                                                            </select>
                                                        </div>
														
													</div>
                                                    <div class="m-form__group form-group row">
                                                        <label class="col-lg-2 col-form-label">
                                                            Status on date :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <div class="input-group date">
                                                                    <input type="text"  class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_2">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                        

                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row" style="    place-content: center;">
                                                    <div class="col-lg-3">
                                                      <button type="button" id="btnSubmit" onclick="fetchCurrentStatusReport()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                          Search 
                                                      </button>
												  </div>
												  
												 
												 </div>
												 
											    <!-- <div id="hidetable1" class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions" >
																
														<h5 id='tableheading'></h5>
														<div class="form-group m-form__group row" style="    overflow: auto; ">
																<div class="col-lg-12">
																	<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
																		<thead>
																			<tr id="tablehead1" style="display:none">
																	
																	  <th>Total Male</th>
																	  <th>Total Female</th>
																	  <th>Total Live Records	</th>
																	  
																			</tr>
																		</thead>
																		<tbody id="tbodyvalue1">
																			
																		</tbody>
																	</table>
																	  </div>
															</div>
														</div>
												</div> -->
												<h5 id="headingtext" style="text-align: center;"></h5>
												<a style="cursor: pointer;display: none;" id="excel"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','CurrentStatus')" style="font-size:30px;color:green; margin-bottom:10px;margin-left: 780px;"></i></a>

												<div id="hidetable2" class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12">
															
																<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																	
																	<thead>
																		<tr style="display: none;" id="Detailhead"></tr>
																		<tr id="tablehead2" style="display:none">
																  <th>S.No.</th>
																  <!-- <th>Division Name</th> -->
																  <th>Exchange Name</th>
																  <th>Male</th>
																  <th>Female</th>
																 
																  <th>Total Live Records</th>
																		</tr>
																	</thead>
																	<tbody id="tbodyvalue2" >
																			<!-- <tr>
																					<td >1</td>
																					<td>Bhopal</td>
																					<td >District Employement Exchange Harda</td>
																					<td >0</td>
																					<td>0</td>
																					<td>0</td>
																					<td>0</td>
																					<td>19464</td>
																				</tr> -->
																	</tbody>
																</table>
																  </div>
												</div>
													
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportsForJS/CurrentStatus.js" type="text/javascript"></script>
		<script type="text/javascript">
		
            $(document).ready(function () {    
			
				var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

  $('#m_datepicker_2').datepicker({
format: "dd/mm/yyyy",
todayHighlight: true,
startDate: today,
autoclose: true
  });
		
  $('#m_datepicker_2').datepicker('setDate', today);


			$("#hidetable1").hide();
			$("#hidetable2").hide();

			$("#btnSubmit").click(function () {
			 $("#hidetable1").show();
			 $("#hidetable2").show();
           });

	   FilldivExchange('parsedatasecuredFilldivExchange','ddlDivision');
         jQuery("#ddlExchange").append(jQuery("<option ></option>").val("0").html("All"));
	   if(sessionStorage.User_Type_Id=='2' || sessionStorage.User_Type_Id=='7'){
	   FillWorkingExchange('parsedatasecuredFillExchangeByDivision','ddlExchange',sessionStorage.DivisionId);
	   $('#ddlExchange').attr('disabled',true);
	   $('#ddlDivision').attr('disabled',true);
	   }
	});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }

 
		</script>
