<!DOCTYPE html>

<html lang="en" >
<!-- begin::Head -->
<head>
<% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body style="background-image: url(../images/bg/bg-1.jpg)" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default" >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
<!-- begin::Header -->
<% include ../../partials/header %>
<!-- end::Header -->
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
<div class="m-grid__item m-body__nav">
<div class="m-stack m-stack--ver m-stack--desktop">
<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
<button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
<i class="la la-close"></i>
</button>
<% include ../../partials/Menu %>
</div>

</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
<i class="la la-close"></i>
</button>

<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
<div class="d-flex align-items-center">
<div class="mr-auto">
<h3 class="m-subheader__title m-subheader__title--separator">
Employment
</h3>
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
<li class="m-nav__item m-nav__item--home">
<a href="/index" class="m-nav__link m-nav__link--icon">
<i class="m-nav__link-icon la la-home"></i>
</a>
</li>



</ul>
</div>
<% include ../../partials/calendar %>
<div>

</div>
</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
<div class="m-portlet">
<div class="m-portlet__head">
<div class="m-portlet__head-caption">
<div class="m-portlet__head-title">
<span class="m-portlet__head-icon m--hide">
    
  
</span>
</span>
<h3 class="m-portlet__head-text">
  Employment Report Category Wise
</h3>

</div>

</div>
</div>
<div class="m-portlet__body">
<div class="m-form__section m-form__section--first">

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" id="districtlabel">
        District :
        </label>
        <div class="col-lg-4">
        <select id="ddlDistrict" class="form-control m-input" >
        </select>
        </div>
        
        
        
        </div>
        
        <div class="form-group m-form__group row">
          <label class="col-lg-2 col-form-label">
              Month  :
              </label>
              <div class="col-lg-4">
                <input type="text" id="Month" placeholder="Month" 	class="demo-default" name="end"> 

																						
                      <!-- <select type="text" id="Month" class="form-control m-input" placeholder=""></select>
                       -->
              </div>
              <label class="col-lg-2 col-form-label">
                  Year  :
                  </label>
                  <div class="col-lg-4">
                      <select type="text" id="Year" class="form-control m-input" placeholder=""></select>

                      
              </div>
          </div>
          
        
        <div class="form-group m-form__group row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
        <button type="button" onclick="FillEmploymentrpt()" class="btn btn-success"
        style="background-color:#716aca;border-color:#cfcde6;" > Search </button>
        
        
        </div>
        </div>


</div>

<div class="m-form__actions m-form__actions">

<div class="form-group m-form__group row" >
  <div class="col-lg-10"></div>
  <div class="col-lg-2">
  <a style="cursor: pointer;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','EmploymentReportCategory')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
</div>

</div>
<div class="form-group m-form__group row" style=" overflow: auto; ">
<div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
<thead id="Detailhead" style="display: none;"></thead>
<thead >
<tr id="tablehead">

</tr>
</thead>
<tbody id="tablebody">



</tbody>
</table>


    
</div>
</div>


</div>


</div>






</div>
</div>


</div>
</div>
</div>
</div>
</div>
</div>
<!-- begin::Body -->
<% include ../../partials/footer %>
</div>
<!-- end:: Page -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>
</body>

</html>

  <% include ../../partials/script %>
    <script src="../customjs/ReportsForJS/EmploymentReportCategory.js" type="text/javascript"></script>
    <script type="text/javascript">

$(document).ready(function (){
  
  FillCCMonthemp('parsedatasecuredFillCCMonthemp','Month');
  FillYearemp('parsedatasecuredFillYearemp','Year');

  FillDistrictss();
if(sessionStorage.User_Type_Id=='2' || sessionStorage.User_Type_Id=='7'|| sessionStorage.User_Type_Id=='36'){
$('#ddlDistrict,#districtlabel').hide();
setTimeout(function(){ $('#ddlDistrict').val(sessionStorage.DistrictId); }, 300);
}
// FillCCMonth('parsedatasecuredFillCCMonth','ddlMonth');
// FillYear('parsedatasecuredFillYear','ddlYear');
//FillDDlExchOffice('101','ddlDistrict');


});


</script>