<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<% include ../../partials/head %>
	<link rel="stylesheet" media="print" href="/css/style.bundle.css" />
	<style>
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 25%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 25%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		
		.col-md-3 {    width: 25%;}
		@media print {
			#printTable, body {
				width: 50%;
			}
			.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 18%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 25%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		
		.col-md-3,.col-lg-3 {    width: 18%;}
		.col-lg-6{width: 64%;}
.row{
	margin-top: 10%;
}
.m-table.m-table--head-bg-brand thead th {
  
	background: #716aca;
	border: 1px solid  black;
		}
		
		}
	</style>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
	class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Header -->
		<% include ../../partials/header %>
		<!-- end::Header -->
		<!-- begin::Body -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-body__nav">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- begin::Horizontal Menu -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
							<button
								class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
								id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<% include ../../partials/Menu %>
						</div>

					</div>
				</div>
				<div
					class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
					<!-- BEGIN: Left Aside -->
					<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
						<i class="la la-close"></i>
					</button>

					<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<h3 class="m-subheader__title m-subheader__title--separator">
										Report Proforma Entry
									</h3>
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a href="/index" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>



									</ul>
								</div>
								<% include ../../partials/calendar %>
								<div>

								</div>
							</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">
							<div class="m-portlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text" id='exnameess1rpt'>

											</h3>
										</div>

									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form">

									<div class="m-portlet__foot m-portlet__foot--fit">
										<div class="m-form__actions m-form__actions">
											<div class="form-group m-form__group row">
											<div class="col-lg-3">
												
												<button type="button" id="PrintCV" class="btn btn-success"  style="background-color:#716aca;border-color:#716aca;">
													Print Report
												</button>
												<!-- <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
													Add
												 </button> -->
												 
											</div>
										</div>

											<div class="form-group m-form__group row" id="printTable" style="overflow: auto;">
												<div class="col-lg-12" id="Es11">

													<h6 id="changecontent"></h6>
												

													<table
														class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand"
														id="tableglobal">
														<div class="m-portlet__foot m-portlet__foot--fit">
															<div class="m-form__actions m-form__actions"
																style="    border: solid;padding-bottom: inherit;">

																<div class="form-group m-form__group row">
																	<div style="width: 25%;"><img alt=""
																			src="../images/logo.png" style="margin-left: 14%;        max-width: 59%;
																											height: 65%;" />
																	</div>
																	<div 
																		style="  width: 50%;  font-weight: 600;    text-align: center;">
																		<span class="rptNametxt" id="rptname"> E.S.1.1
																			(Monthly)</span><br>
																		State : <span> Madhya Pradesh</span>
																		<br>
																		Employment Exchange : <span
																			class="exchangenametext"> District
																			Employment Exchange, Bhopal</span>
																	</div>
																	<div style="width: 25%;"><img alt=""
																			src="../images/favicon.ico" style="        margin-left: 148px;   max-width: 59%;
																											height: 65%;" />
																	</div>
																</div>
															</div>
															<div class="m-form__actions m-form__actions" style="      border-left: solid;
																								border-right: solid;
																								border-bottom: solid; ">
																<div class="descriptiontext">Return Showing the work
																	done by the Employment Exchange in respect of all
																	categories of applicants during the month ended :
																</div>
															</div>
														</div>
														<br>
														
														<thead id="tablehead" style="background: #716aca;" >
                                                         </thead>
														<tbody id="tbodyvalue">


														</tbody>
														
													</table>
												</div>
											
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-1"></div>
											<div class="col-lg-3">
												<button type="button" class="btn btn-success"
													onclick="window.history.back();"
													style="background-color:#716aca;border-color:#716aca;">
													Back
												</button>

											</div>
										</div>
										<div id="modalFile" class="modal fade" role="dialog">
											<div class="modal-dialog">

												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title"></h4>
														<button type="button" class="close"
															data-dismiss="modal">&times;</button>

													</div>
													<div class="modal-body">

														<div class="m-portlet__body">
															<div class="m-form__section m-form__section--first"
																id='filesrc'>


																<p>No Records Found. </p>

															</div>


														</div>


													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>

											</div>
										</div>
									</div>

							</div>

						</div>





					</div>
				</div>

				</form>
				<!--end::Form-->

			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	<!-- begin::Body -->
	<% include ../../partials/footer %>
	</div>
	<!-- end:: Page -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
	<!-- end::Scroll Top -->
	<% include ../../partials/script %>
	<script src="../customjs/ReportsForJS/ESReportForView.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#changeheader").text("E.S.1.1 (Monthly Report)")
			$('#exnameess1rpt').text('View  E.S.1.1 Reports (' + sessionStorage.Exname_es11 + ' )');
			var tablehead = "<tr><th colspan=1>S.No.</th><th colspan=1>Item</th><th>Men</th><th colspan=1>Women</th><th colspan=1>Total</th></tr>";
			$("#tablehead").html(tablehead);
			FetchRpt();


		});
		if (sessionStorage.getItem("CandidateId") == null) {
			window.location = "/";
		}
		$("#PrintCV").click(function () {
			
			
			$('#printTable').printThis({
			        debug: false,               // show the iframe for debugging
			        importCSS: true,            // import parent page css
			        importStyle: true,         // import style tags
			        printContainer: true,       // print outer container/$.selector
			        printDelay: 333,            // variable print delay
			        header: "",               // prefix to html
			        footer: null,               // postfix to html
			        base: true,                // preserve the BASE tag or accept a string for the URL
			        formValues: true,           // preserve input/form values
			        canvas: true,              // copy canvas content
			        removeScripts: false,       // remove script tags from print content
			        copyTagClasses: true,      // copy classes from the html & body tag
			             
			});
		});


	</script>
</body>
<!-- end::Body -->

</html>