<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>

			<style>
				.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  border-color: #716aca;
}

.first-col {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  left: 0px;
  
  z-index: 20;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 40px;
  z-index: 20;
}
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>

		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Reports For Jobseeker
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        Print Report Proforma
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
														<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
																<p>उपयोगकर्ता Exchange के अनुसार निम्न कार्य कर सकता है :-</p>
														  <ul style="color:black">
														
														 <li> इस उपयोगिता के द्वारा सभी प्रकार के Report Performa के  रिकार्ड को Exchange Officer "देख सकता है ।</li>

															</ul>
															

															
															
																</div>
															</br>
													<div class="form-group m-form__group row">
														<label class="col-lg-2 col-form-label">
                                                            Report :
														</label>
														<div class="col-lg-4">
                                                            <select type="text" id="textReportName" class="form-control m-input" placeholder="">
                                                                
                                                            </select>
                                                        </div>
                                                        
                                                        <label class="col-lg-2 col-form-label">
                                                            Office  :
														</label>
														<div class="col-lg-4">
                                                            <select type="text" id="printreportproformaexchange" class="form-control m-input" placeholder="">
                                                                
                                                            </select>
                                                        </div>
														
													</div>
                                                    <div class="m-form__group form-group row">


														<label class="col-lg-2 col-form-label" id="PRP" style="display:none">
															From Year & To Year :
															 </label>
															 <div class="col-lg-2" id="PRP1" style="display:none">
																 <select id="prpfromyear" class="form-control m-input">
																	 
																 </select>
															 </div>
															 <div class="col-lg-2" id="PRP2" style="display:none">
																 <select id="prptoyear" class="form-control m-input">
																	 
																 </select>
															 </div>



															 <label class="col-lg-2 col-form-label" id="118PRP" style="display:none">
																From Month & Year :
																 </label>
																 <div class="col-lg-2" id="118PRP1" style="display:none">
																	 <select id="prpfrommonth" class="form-control m-input">
																		 
																	 </select>
																 </div>
																 <div class="col-lg-2" id="118PRP4" style="display:none">
																	<select id="118prpfromyear" class="form-control m-input">
																		
																	</select>
																</div>
																
																 
																 <label class="col-lg-2 col-form-label" id="118PRP3" style="display:none">
																	To Month &  Year :
																	 </label>
																	 <div class="col-lg-2" id="118PRP2" style="display:none">
																		<select id="prptomonth" class="form-control m-input">
																			
																		</select>
																	</div>
																	 <div class="col-lg-2" id="118PRP5" style="display:none">
																		 <select id="118prptoyear" class="form-control m-input">
																			 
																		 </select>
																	 </div>




															<label class="col-lg-2 col-form-label" id="frmdateLabel" style="display:none">
																	From Date :
																</label>
																<div class="col-lg-4" id="fromdate" style="display:none">
																		<div class="input-group date">
																				<input type="text" class="form-control m-input" readonly=""
																					
																					placeholder="(DD/MM/YYYY)" id="m_datepicker_5">
																				<div class="input-group-append">
																					<span class="input-group-text">
																						<i class="la la-calendar-check-o"></i>
																					</span>
																				</div>
																			</div>
																</div>
																<label class="col-lg-2 col-form-label" id="asonLabel" style="display:none">
																As on Date :
																</label>
																<div class="col-lg-4" id="asondate" style="display:none">
																		<div class="input-group date">
																				<input type="text" class="form-control m-input" readonly=""
																					
																					placeholder="(DD/MM/YYYY)" id="m_datepicker_3">
																				<div class="input-group-append">
																					<span class="input-group-text">
																						<i class="la la-calendar-check-o"></i>
																					</span>
																				</div>
																			</div>
																</div>
																<label class="col-lg-2 col-form-label" id="todateLabel" style="display:none">
																		To Date :
																	</label>
																	<div class="col-lg-4" id="todate" style="display:none">
																			<div class="input-group date">
																					<input type="text" class="form-control m-input" readonly=""
																						
																						placeholder="(DD/MM/YYYY)" id="m_datepicker_6">
																					<div class="input-group-append">
																						<span class="input-group-text">
																							<i class="la la-calendar-check-o"></i>
																						</span>
																					</div>
																				</div>
																	</div>
																	<label class="col-lg-2 col-form-label" id="subjectGroupLabel" style="display:none">
																		Subject Group :
																	</label>
																	<div class="col-lg-4" id="exampassed" style="display:none">
																		<select id="ddlexampassed" class="form-control m-input">
                                                             
																		</select>
																	</div>
																</div>
																<div class="m-form__group form-group row">
                                                        <label class="col-lg-2 col-form-label" id="frmLabel">
                                                            Month & Year :
                                                        </label>
                                                        <div class="col-lg-2" id="frommonth">
                                                            <select id="printproformafrommonth" class="form-control m-input">
                                                             
                                                            </select>
														</div>
														<label class="col-lg-2 col-form-label" id="typemonthLabel" style="display:none">
                                                            Criteria and Year:
                                                        </label>
														<div class="col-lg-2" id="typemonth" style="display:none">
                                                            <select  class="form-control m-input" id='criteriaddl'>
															 <option value="1">First Half</option>
															 <option value="2">Second Half</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <select id="frmYear" class="form-control m-input">
                                                                
                                                            </select>
                                                        </div>

                                                        <label class="col-lg-2 col-form-label" id="toLabel">
                                                           To Month & Year :
                                                        </label>
                                                        <div class="col-lg-2">
                                                            <select id="printproformatomonth" class="form-control m-input">
                                                                
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <select id="toYear" class="form-control m-input">
                                                                
                                                            </select>
														</div>
														
														
                                                          
													</div>
												</div>
												
												            </div>
                                                <div class="form-group m-form__group row" style="    place-content: center;text-align: center;">
                                                    <div class="col-lg-3">
                                                      <button type="button" onclick="TableType()" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                          View Report
													  </button> 
													  <!-- onclick="showdatatemp('tbllist')" -->
                                                  </div>
												 </div>
												 <div class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions">
														
														<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12" id="Es11" style="display:none">
																	<!-- <h3><span id="changeheader">E.S.1.1 (Monthly Report)</span> : State: Madhya Pradesh</h3> -->
																<h5 id="headingtext" style="text-align: center;"></h5>
																	<a style="margin-left: 98%;cursor: pointer;" ><i class="fa fa-file-excel-o" onclick="getreportname()"  style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
															<h6 id="changecontent"></h6>
																	<table  class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																	<thead id="Detailhead" style="display: none;"></thead>
																	<thead id="tablehead">


																		
																	</thead>
																	<tbody id="tbodyvalue">

	
																	</tbody>
																</table>
																  </div>
																 												  </div>
														</div>
														
														</div>
													</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ReportsForJS/PrintReportProforma.js" type="text/javascript"></script>
		<script src="../customjs/ReportsForJS/NoofJSQualificationwise.js" type="text/javascript"></script>
        
	   <script type="text/javascript">
            $(document).ready(function () {
				$("#tbllist").hide();
				if(jQuery('#textReportName').change(function(){
                  if(  $('#textReportName').val()=='112'){
					$('#printreportproformaexchange').empty()
                    jQuery("#printreportproformaexchange").append(jQuery("<option></option>").val('0').html('All'));
					FillDDlExchOffice('101');
				}
				else{
					$('#printreportproformaexchange').empty()
					FillDDlExchOffice('101');
				}
                }))

				FillMonthPrintProforma('parsedatasecuredFillMonthPrintProforma','printproformafrommonth');
				FillYear('parsedatasecuredFillYear','frmYear');

			//	FillMonthPrintProforma('parsedatasecuredFillMonthPrintProforma','printproformatomonth');
			//	FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','printreportproformaexchange');
				FillDDlReportName();
			//	FillYear('parsedatasecuredFillYear','toYear');
				FillDDlExchOffice('101');
				FillJSExamPassed('parsedatasecuredFillJSExamPassed','ddlexampassed','0');
				// FillYear('parsedatasecuredFillYear','prpfromyear');
				// FillYear('parsedatasecuredFillYear','prptoyear'); 
				// FillYear('parsedatasecuredFillYear','118prpfromyear');
				// FillYear('parsedatasecuredFillYear','118prptoyear');
				// FillMonthPrintProforma('parsedatasecuredFillMonthPrintProforma','prpfrommonth');
				// FillMonthPrintProforma('parsedatasecuredFillMonthPrintProforma','prptomonth');

				$('#toLabel').hide()
		$('#frommonth').hide()
		$("#frmLabel").html("Month & Year");

     //   $("#frmLabel").html("Year & Month");
	  //  $("#frmLabel").show();
	  $('#frommonth').show()
       $("#frmYear").show()
	   $('#printproformatomonth').hide()

        $('#toYear').hide()
        $('#typemonth').hide();
        $("#fromdate").hide()
        $("#frmdateLabel").hide()
        $("#todateLabel").hide()
        $("#todate").hide()
        $("#asonLabel").hide()
        $("#asondate").hide()
		$('#subjectGroupLabel').hide()
		$('#exampassed').hide()
        $('#ddlexampassed').hide()
        $('#toLabel').hide()
				
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
