<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												Reports For Jobseeker
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Renewal Log Report
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
                                                       
                                                               
                                                                         
                                                
                                                    
                                                      
                                                                <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                                User Name:
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <select type="text"  class="form-control m-input" placeholder="">
																							<option value="2"selected>KK_Saraswat</option>
																							<option value="3">Mamta_Dixit62</option> 
																							<option value="3">Vijay_Kump70</option>
																							<option value="3">Yashoda_Bat61</option>
																							<option value="3">Neelu_s70</option>
																							<option value="3">Ksm_561</option>
																							<option value="3">Raj_Kum0569</option>
																							<option value="3">ALL</option> 
                                                                                     </select>
                                                                                    
                                                                            </div>
                                                                            
                                                                            <label class="col-lg-2 col-form-label">
                                                                                   Type:
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                    <select  class="form-control m-input">
                                                                                        <option value="0">Counter Renewal</option>
                                                                                        <option value="1">Online Renewal</option>
                                                                                        <option value="2">Postal Renewal</option>
                                                                                        <option value="3">ALL</option>
                                                                                    </select>
                                                                                </div>
                                                                </div>
                                                               
                                                               
                                                                
                                                                <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                            From Date:
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly=""    placeholder="Enter From Date" id="m_datepicker_5">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <span id="validm_datepicker_5" style="font-size: 11px; color: #cc0033; "></span>
                                                                                    
                                                                        </div>
                                                                        <label class="col-lg-2 col-form-label">
                                                                                To Date:
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <div class="input-group date">
                                                                                            <input type="text" class="form-control m-input" readonly="" placeholder="Select date"  id="m_datepicker_6">
                                                                                            <div class="input-group-append">
                                                                                                <span class="input-group-text">
                                                                                                    <i class="la la-calendar-check-o"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <span id="validm_datepicker_6" style="font-size: 11px; color: #cc0033; "></span>
                                                                                         
                                                                            </div>
                                                                    </div> 
                                               
                                                    <div class="form-group m-form__group row" style="    place-content: center;">
                                                  <div class="col-lg-3">
                                                    <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        View Report
                                                    </button>
                                                </div>
                                                
                                               </div>
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
                                                    <h5>Renewal Log Book From: </h5>
                                              <% include ../../pages/Table %>
                                                    </div>
                                                </div>
                                            </div>   
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
        <script type="text/javascript">
            $(document).ready(function () {
  
                FillCategory('parsedatasecuredFillCategory','DRCategory');
               
                var tablehead="<th>Sr. No</th><th>Renewal No</th><th>Applicant Name</th><th>Registration No</th><th>Registration Date</th><th>NCO Code</th><th>Renewing Officer</th><th>Renewal Type</th><th>Renewal Date</th><th>Next Renewal Due</th>";
        $("#tablehead").html(tablehead);
    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
