<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												
                                                Reports For Jobseeker
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Report Section
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
														<div class="m-form__group form-group row">
																<label class="col-lg-3 col-form-label">
                                                                        Search Reports According to	
																</label>
																<div class="col-lg-4">
                                                                    <select name="ddltype" onchange="SearchType(this.value)" id="ddlSearchType"  class="form-control m-input"><option value="1">X-10</option>
                                                                        <option value="2">X-63</option>
                                                                        <option value="3">Duplicate X-10</option>
                                                                        <option value="4">X-63A</option>
                                                                        <option value="5">NCO Wise Reports	</option>
                                                                        <option value="6">X - 1</option>
                                                                    </select>
																</div>
                                                            </div>
                                                            <div class="m-portlet__head">
                                                                <div class="m-portlet__head-caption">
                                                                    <div class="m-portlet__head-title">
                                                                        <span class="m-portlet__head-icon m--hide">
                                                                            <i class="la la-gear"></i>
                                                                        </span>
                                                                        <h3 class="m-portlet__head-text" id="typehead">
                                                                           
                                                                        </h3>
                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
															<div class="m-form__group form-group row" style="display: none" id="regno">
                                                                
																<label class="col-lg-3 col-form-label">
																	Registration Number:		
																</label>
																<div class="col-lg-4">
                                                                    <input type="text"  class="form-control" name="end" placeholder="Registration Number">
																				
                                                                </div> </div>
                                                                <div style="display: none" id="x63">
                                                                        <div class="m-form__group form-group row" ></div>
                                                                <div class="m-form__group form-group row" >
                                                                
                                                                        <label class="col-lg-2 col-form-label">
                                                                                From Date:		
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly=""   placeholder="Enter From Date" id="m_datepicker_5">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>        
                                                                        </div> 
                                                                        <label class="col-lg-2 col-form-label">
                                                                                To Date:		
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly=""    placeholder="Enter From Date" id="m_datepicker_6">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>        
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group m-form__group row">
                                                                            <label class="col-lg-2 col-form-label">
                                                                                    Category  :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <select type="text" id="x63category" class="form-control m-input" placeholder="">
                                                                                         
                                                                                        </select>
                                                                                 </div>
                                                                                 <label class="col-lg-2 col-form-label">
                                                                                        Gender   :
                                                                                    </label>
                                                                                    <div class="col-lg-4">
                                                                                            <select type="text" id="textContact" class="form-control m-input" placeholder="">
                                                                                               <option>Select Gender</option>
                                                                                                <option>Male </option>
                                                                                                <option>Female </option>
                                                                                                <option>Both</option>
                                                                                            </select>
                                                                                     </div>
                                                                    </div>
                                                                   
                                                                    <div class="form-group m-form__group row">
                                                                            <label class="col-lg-2 col-form-label">
                                                                                Differently Abled :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <select type="text" id="textContact" class="form-control m-input" placeholder="">
                                                                                            <option>Select </option>
                                                                                            <option>DA only</option>
                                                                                            <option>Both</option>
                                                                                        </select>
                                                                                 </div>
                                                                                 <label class="col-lg-2 col-form-label">
                                                                                        Domicile  :
                                                                                    </label>
                                                                                    <div class="col-lg-4">
                                                                                            <select type="text" id="x63domicile" class="form-control m-input" placeholder="">
                                                                                            </select>
                                                                                     </div>
                                                                    </div>
                                                                    <div class="form-group m-form__group row">
                                                                            <label class="col-lg-2 col-form-label">
                                                                                    Area  :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <select type="text" id="x63area" class="form-control m-input" placeholder="">
                                                                                            
                                                                                        </select>
                                                                                 </div>
                                                                    </div>
                                                                   
                                                                </div>
                                                                <div style="display: none" id="x63A">
                                                                        <div class="m-form__group form-group row" ></div>
                                                                <div class="m-form__group form-group row" >
                                                                
                                                                        <label class="col-lg-2 col-form-label">
                                                                                From Date:		
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly=""   placeholder="Enter From Date" id="m_datepicker_5">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>        
                                                                        </div> 
                                                                        <label class="col-lg-2 col-form-label">
                                                                                To Date:		
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly=""    placeholder="Enter From Date" id="m_datepicker_6">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>        
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group m-form__group row">
                                                                            <label class="col-lg-2 col-form-label">
                                                                                    Category  :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <select type="text" id="x63Acategory" class="form-control m-input" placeholder="">
                                                                                         
                                                                                        </select>
                                                                                 </div>
                                                                                 <label class="col-lg-2 col-form-label">
                                                                                        Gender   :
                                                                                    </label>
                                                                                    <div class="col-lg-4">
                                                                                            <select type="text" id="textContact" class="form-control m-input" placeholder="">
                                                                                               <option>Select Gender</option>
                                                                                                <option>Male </option>
                                                                                                <option>Female </option>
                                                                                                <option>Both</option>
                                                                                            </select>
                                                                                     </div>
                                                                    </div>
                                                                   
                                                                    
                                                                </div>
                                                                <div style="display: none" id="NICCode">
                                                                        <div class="m-form__group form-group row" ></div>
                                                                <div class="m-form__group form-group row" >
                                                                
                                                                        <label class="col-lg-2 col-form-label">
                                                                                NCO Code:		
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <input type="text"  class="form-control" name="end" placeholder="Registration Number">
																	       
                                                                        </div> 
                                                                        <label class="col-lg-2 col-form-label">
                                                                                Category  :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <select type="text" id="NICCodecategory" class="form-control m-input" placeholder="">
                                                                                     
                                                                                    </select>
                                                                             </div>
                                                                    </div>
                                                                  
                                                                   
                                                                    
                                                                </div>
                                                                <div class="m-form__group form-group row" >
                                                               
                                                                      
                                                                
                                                                <div class="col-lg-2">
                                                                                
                                                                    <button type="button" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                 Search
                                                                    </button>
                                                                            
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group m-form__group row" style="    overflow: auto; display: none; " Id="tablex63">
                                                                        <div class="col-lg-12">
                                                                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                                                                <thead>
                                                                                    <tr id="tableheadx63">
                                                                              
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tbodyvaluex63"></tbody>
                                                                            </table>
                                                                              </div>
                                                                    </div>   
													
													</div>
                                                   
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		
		<script type="text/javascript">
		
            $(document).ready(function () {
                SearchType('1');
                FillMonth('parsedatasecuredFillMonth','ddlregmonth');
                FillCategory('parsedatasecuredFillCategory','x63category');
                FillCategory('parsedatasecuredFillCategory','x63Acategory');
                FillCategory('parsedatasecuredFillCategory','NICCodecategory');
                FillDomicile('parsedatasecuredFillDomicile','x63domicile');
                FillArea('parsedatasecuredFillArea','x63area');
                var tablehead="<th><a  style='color: white;'>Registration No</a></th><th>Registration Date</th><th>Renewal Date</th><th>First Name</th><th>Surname</th><th>Father's/Husband Name</th><th>Date of Birth</th><th>Postal</th><th>Counter</th><th>Renew</th>";
        $("#tablehead").html(tablehead);
        var tablehead63="<th><a  style='color: white;'>S.No</a></th><th>Reg.No & Reg. Date</th><th>Name/Father's/ Husband Name & Address</th><th>DOB/ Category/ Gender</th><th>Area/ Domicile/DAP </th><th>NCO</th><th>Date of Birth</th><th>Qualification</th><th>Entered By/Current Status</th><th>JobSeeker History</th>";
        $("#tableheadx63").html(tablehead63);
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
function  SearchType(value){
    if(value=="1"){
$("#typehead").html('Enter Registration Number');
$("#regno").show();
$('#x63').hide();
$('#x63A').hide();
$('#NICCode').hide()

   }
   if(value=='2'){
    $("#typehead").html('Search for X-63');
$("#regno").hide();
$('#x63').show();
$('#tablex63').show();

$('#x63A').hide();
$('#NICCode').hide()
   }
   if(value=='3'){
    $("#typehead").html('Enter Registration Number');
$("#regno").show();
$('#x63').hide();
$('#x63A').hide();
$('#NICCode').hide()
   }
   if(value=='4'){
    $("#typehead").html('Search for X-63A');
$("#regno").hide();
$('#x63').hide();
$('#x63A').show();
$('#NICCode').hide()
   }
   if(value=='5'){
    $("#typehead").html('Search for NCO');
$("#regno").hide();
$('#x63').hide();
$('#x63A').hide();
$('#NICCode').show()
   }
   if(value=='6'){
    $("#typehead").html('Enter Registration Number');
    $("#regno").show();
$('#x63').hide();
$('#x63A').hide();
$('#NICCode').hide()
   }
}
                </script>
