<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
	class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Header -->
		<% include ../../partials/header %>
		<!-- end::Header -->
		<!-- begin::Body -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-body__nav">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- begin::Horizontal Menu -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
							<button
								class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
								id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<% include ../../partials/Menu %>
						</div>

					</div>
				</div>
				<div
					class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
					<!-- BEGIN: Left Aside -->
					<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
						<i class="la la-close"></i>
					</button>

					<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<h3 class="m-subheader__title m-subheader__title--separator">
										Report Proforma Entry
									</h3>
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a href="/index" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>



									</ul>
								</div>
								<% include ../../partials/calendar %>
								<div>

								</div>
							</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">
							<div class="m-portlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Reports 
											</h3>
										</div>

									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form">
									<div class="m-portlet__body">



										<div class="form-group m-form__group row">
											<label class="col-lg-2 col-form-label">
												Report   :
											</label>
											<div class="col-lg-4">
												<select type="text" id="textReport" class="form-control m-input" placeholder="">
												   
													<option value="2"> Report Status Sent to HO </option>
													<option value="1"> Reports not sent to HO </option>
												</select>
											</div>
											<label class="col-lg-2 col-form-label">
												Report :
											</label>
											<div class="col-lg-4">
												<select type="text" id="textReportName" onchange="handleDDlchange()" class="form-control m-input"
													placeholder="">

												</select>
											</div>
											
										
									   
									
											


										</div>
										<div class="form-group m-form__group row">
											<label class="col-lg-2 col-form-label criteriaddl" style="display: none;">
												Choose Criteria  :
										</label>
										<div class="col-lg-4 criteriaddl" style="display: none;">
												<select type="text" id="criteriaddl" class="form-control m-input" placeholder="Month">
														<option value="1">First Half</option>
														<option value="2">Second Half</option> 
													</select>
													</div>
											<label class="col-lg-2 col-form-label" id="lblyearmonth">
												Select Month & Year :
											</label>
											<div class="col-lg-2 monthddl">
												<select id="monthlyregisterdatewisemonth" class="form-control m-input">
												</select>
											</div>
											<div class="col-lg-4 yearddl">
												<select type="text" id="textyear" class="form-control m-input"
													placeholder="Month">

												</select>


											</div>
										
										</div>
									
									<div class="form-group m-form__group row">
										<div class="col-lg-6">
											<button type="button" id="btnSubmit" class="btn btn-success"
												onclick="ViewExchange()"
												style="background-color:#716aca;border-color:#716aca;">
												Submit
											</button>

										</div>
									</div>



									</div>
									<div class="m-portlet__foot m-portlet__foot--fit" id="printTable">
										<div class="m-form__actions m-form__actions">
                                  <h6 id="header"></h6>
											<div class="form-group m-form__group row" style="    overflow: auto; ">
												<div class="col-lg-12">
													<h5 id="headingtext" style="text-align: center;"></h5>
													<table
														class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
														<div class="m-portlet__foot m-portlet__foot--fit">

															<thead>
																<tr id="tablehead">
																	<th>Sr No</th>
																	<th>Exchange</th>
																	<th>View Report</th>
																	<th>Revert</th>
																</tr>
															</thead>
															<tbody id="tbodyvalue">
															</tbody>
													</table>
												</div>


											</div>
										</div>

									</div>
							</div>

						</div>





					</div>
				</div>

				</form>
				<!--end::Form-->

			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	<!-- begin::Body -->
	<% include ../../partials/footer %>
	</div>
	<!-- end:: Page -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
	<!-- end::Scroll Top -->
	<% include ../../partials/script %>
	<script src="../customjs/ReportsForJS/ViewES11Report.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
		//	sessionStorage.removeItem('RptID')
      
			FillMonthddl('parsedatasecuredFillMonth', 'monthlyregisterdatewisemonth');
			FillYear('parsedatasecuredFillYear', 'textyear');
			FillDDlReportName();
			setTimeout(function(){ 
		    $('#textReportName').val(sessionStorage.RptID?sessionStorage.RptID:'0');
			$('#criteriaddl').val(sessionStorage.criteria?sessionStorage.criteria:'1');
			$('#monthlyregisterdatewisemonth').val(sessionStorage.Monthrpt?sessionStorage.Monthrpt:'0');
			if(sessionStorage.RptID){
				ViewExchange();
			}
			if(sessionStorage.RptID=='101'){
                $('.criteriaddl').hide();
                $('#lblyearmonth').text('Select Month & Year :');
                $('.monthddl, .yearddl').show();
            }
            if(sessionStorage.RptID=='102' || sessionStorage.RptID=='113'){
                $('.monthddl, .criteriaddl').hide();
                $('#lblyearmonth').text('Select Year :');
                $('.yearddl').show();
            }
            if(sessionStorage.RptID=='103' ||sessionStorage.RptID=='104' ||sessionStorage.RptID=='105' ||sessionStorage.RptID=='106' ||sessionStorage.RptID=='107' ||sessionStorage.RptID=='108' ||sessionStorage.RptID=='109' || sessionStorage.RptID=='110'){
                $('.monthddl').hide();
                $('#lblyearmonth').text('Select Year :');
                $('.yearddl,.criteriaddl').show();
            }
		 }, 300);
			});
		if (sessionStorage.getItem("CandidateId") == null) {
			window.location = "/";
		}
		var myApp = new function () {
			this.printTable = function () {
				var tab = document.getElementById('printTable');
				var win = window.open('', '', 'height=700,width=700');
				win.document.write(tab.outerHTML);
				win.document.close();
				win.print();
			}
		}
	</script>
</body>
<!-- end::Body -->

</html>