<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<!-- begin::Head -->
	<head>
            <% include ../../partials/head %>
            <link rel="stylesheet" media="print" href="/css/style.bundle.css" />

            <style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>

	<!-- <style>
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 25%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 25%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		
		.col-md-3 {    width: 25%;}
		@media print {
			#printTable, body {
				width: 50%;
			}
			.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 18%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		.col-md-3 {    width: 25%;}
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
		.col-sm-4 {    width: 33.33333333%;}
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
		
		.col-md-3,.col-lg-3 {    width: 18%;}
		.col-lg-6{width: 64%;}
.row{
	margin-top: 10%;
}
.m-table.m-table--head-bg-brand thead th {
  
	background: #716aca;
	border: 1px solid  black;
		}
		
		}
	</style> -->

<style type="text/css">
    body
    {
        font-family: Arial;
        font-size: 10pt;
    }
    table
    {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }
    table th
    {
        background-color: #F7F7F7;
        color: #333;
        font-weight: bold;
    }
    table th, table td
    {
        padding: 5px;
        border: 1px solid #ccc;
    }
</style>

		</head>
	<!-- end::Head -->
    <body style="background-image: url(&quot;../images/bg/bg-1.jpg&quot;);" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
		
            <% include ../../partials/header %>

			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
                                <% include ../../partials/Menu %>
    
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												Reports For Jobseeker
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
                                    </div>
                                    <% include ../../partials/calendar %>
								
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Search for X-63
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                        <div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
																<p>उपयोगकर्ता Exchange के अनुसार निम्न कार्य कर सकता है :-</p>
														  <ul style="color:black">
														
														 <li> दिए गए विभिन्न विकल्पों के चयन के द्वारा आप Job Seekers का X-63 रिकार्ड खोज सकते है तथा उनका Print भी ले सकते है ।</li>

															</ul>
															

															
															
																</div>
															<br>
                                                        <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                        Exchange Name :
                                                                    </label>
                                                                    <div class="col-lg-8">
                                                                            <select type="text" id="x63exchange" class="form-control m-input"></select></div>
                                                                </div>
                                                               
                                                            </div>                
                                                
                                                    
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        From Date :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <div class="input-group date">
                                                                                    <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_5">
                                                                                    <div class="input-group-append">
                                                                                        <span class="input-group-text">
                                                                                            <i class="la la-calendar-check-o"></i>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                    </div>
                                                                    <label class="col-lg-2 col-form-label">
                                                                            To Date :
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_6">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                        </div>
                                                                </div>
                                                                <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                                Category  :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <select type="text" id="x63category" class="form-control m-input" placeholder=""><option value="0">Select Category</option><option value="4">OBC</option><option value="2">SC</option><option value="3">ST</option><option value="1">UR</option></select>
                                                                             </div>
                                                                             <label class="col-lg-2 col-form-label">
                                                                                    Gender   :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <select type="text" id="Gender" class="form-control m-input" placeholder="">
                                                                                           <option value="Both">Both</option>
                                                                                            <option value="Male">Male </option>
                                                                                            <option value="Female">Female </option>
                                                                                            
                                                                                        </select>
                                                                                 </div>
                                                                </div>
                                                               
                                                                <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                            Differently Abled :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <select type="text" id="HCCategory" class="form-control m-input" placeholder="">
                                                                                        <option value="Both">Both </option>
                                                                                        <option value="Handicap">DA</option>
                                                                                        <option value="Non Handicap">Non DA</option>
                                                                                       
                                                                                    </select>
                                                                             </div>
                                                                             <label class="col-lg-2 col-form-label">
                                                                                    Domicile  :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <select type="text" id="x63domicile" class="form-control m-input" placeholder=""><option value="0">Both</option><option value="1">MP</option><option value="2">Non MP</option></select>
                                                                                 </div>
                                                                </div>
                                                                <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                                Area  :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <select type="text" id="x63area" class="form-control m-input" placeholder=""><option value="0">Both</option><option value="1">Urban</option><option value="2">Rural</option></select>
                                                                             </div>
                                                                </div>
                                                                   
                                               
                                                    <div class="form-group m-form__group row" style="    place-content: center;">
                                                  <div class="col-lg-3">
                                                    <button type="button" onclick="fetchx63()" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        Show Report
                                                        <!-- onclick="$('#x-x63report').show()" -->
                                                    </button>
                                                </div>
                                               </div>
                                               
                                             
                                               <h5 id="headingtext" style="text-align: center;"></h5>

                                                <div class="col-lg-2" style='display:none'>
                                               <a style="cursor: pointer;margin-left: 899px;"><i class="fa fa-print" id="print" onclick='Export()' style="font-size:35px;color:green; margin-bottom:10px;"></i></a>
                                            </div>
                                               <div class="col-lg-2">
                                               <a style="cursor: pointer;margin-left: 815px;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','X63')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
                                            </div>		
                                        </div>
                                               <div class="form-group m-form__group row" style="overflow: auto;" id="printTable">
                                                <div class="col-lg-12">
                                                    
                                                    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                       <thead id="Detailhead" style="display: none;"> </thead>
                                                        
                                                       <thead id="tablehead">
                                                           

                                                         </thead>
                                                        <tbody id="tbodyvalue"></tbody>
                                                    </table>
                                                 </div>
                                            </div>         
												</div>
											</form></div>
					
										
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			
            <% include ../../partials/footer %>
  
		
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
        

        <% include ../../partials/script %>

        <script src="../customjs/ReportsForJS/X63.js" type="text/javascript"></script>
        <script src="../js/pagination.js" type="text/javascript"></script>
      
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <script type="text/javascript">

function Export() {
            html2canvas(document.getElementById('tableglobal'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("X63.pdf");
                }
            });
        }


        // <script src="../js/pagination.js" type="text/javascript">
            $(document).ready(function () {
  $('.fa').hide();
                                 FillDDlExchOffice('101','x63exchange');

                if(sessionStorage.User_Type_Id=='2' || sessionStorage.User_Type_Id=='7'){
					$('#x63exchange').attr('disabled',true);
				}
                
                //FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','x63exchange');
                //FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','x63exchange');
                  FillCategory('parsedatasecuredFillCategory','x63category');
                FillDomicile('parsedatasecuredFillDomicile','x63domicile');
                FillArea('parsedatasecuredFillArea','x63area');
                //FillHCCategory('parsedatasecuredFillHCCategory','HCCategory')


                // var tablehead= "<tr><th>Sno</th><th colspan=3>Reg.No & Reg. Date</th><th colspan=3>Name/Father's/ Husband Name & Address</th><th colspan=3>DOB/ Category/ Gender</th><th colspan=3>Area/ Domicile/PHP </th><th colspan=3>NCO</th><th colspan=3>Qualification</th><th colspan=3>Entered By/Current Status</th><th colspan=3>JobSeeker History</th></tr>"+
                //                "<tr><th></th><th colspan=3></th><th colspan=3></th><th colspan=3></th><th colspan=3></th><th>Alloted NCO</th><th>Seniority Date</th><th>NCO Detail</th><th>Qualification</th><th>Entry Date</th><th colspan=3></th><th colspan=3></th></tr>" 
      
                //             $("#tablehead").html(tablehead);

        // "<tr><th></th><th></th><th>SC</th><th>ST</th><th>OBC</th><th></th><th></th><th>SC</th><th>ST</th><th>OBC</th><th></th><th></th><th>SC</th><th>ST</th><th>OBC</th><th></th><th></th><th>SC</th><th>ST</th><th>OBC</th><th>SC</th><th>ST</th><th>OBC</th><th></th><th></th><th>SC</th><th>ST</th><th>OBC</th></tr>"; 

		var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
  var lastdate = new Date(date.getFullYear(), date.getMonth(), date.getDate());

  $('#m_datepicker_5').datepicker({
format: "dd/mm/yyyy",
todayHighlight: true,
startDate: today,
enddate:lastdate,
autoclose: true
  });
  $('#m_datepicker_6').datepicker({
format: "dd/mm/yyyy",
todayHighlight: true,
startDate: today,
enddate:lastdate,
autoclose: true
  });
	

	
  $('#m_datepicker_5').datepicker('setDate', today);
  $('#m_datepicker_6').datepicker('setDate', today);

    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
                         window.location = "/";
                          }
          $("#printx63").click(function () {
			
			     $('#printTable').printThis({
			        debug: false,               // show the iframe for debugging
			        importCSS: true,            // import parent page css
			        importStyle: true,         // import style tags
			        printContainer: true,       // print outer container/$.selector
			        printDelay: 333,            // variable print delay
			        header: "",               // prefix to html
			        footer: null,               // postfix to html
			        base: true,                // preserve the BASE tag or accept a string for the URL
			        formValues: true,           // preserve input/form values
			        canvas: true,              // copy canvas content
			        removeScripts: false,       // remove script tags from print content
			        copyTagClasses: true,      // copy classes from the html & body tag
			             
			});
		});

                </script>
	
	<!-- end::Body -->

</body>
	<!-- end::Body -->
</html>
