<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
            <% include ../../partials/head %>
            <script src="../js/summernote-bootstrap.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
          
            <style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Job Fair
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Search Candidate For Career Counselling
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                
                                                    

                                                        <div class="form-group m-form__group row">
                                                          
                                                            <label class="col-lg-2 col-form-label">
                                                               Exchange Name :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <select type="text" id="ddlExchangeName" onchange="FillCC()" class="form-control disable" >
                                                                
                                                               </select>
                                                          </div>
                                                          <label class="col-lg-2 col-form-label Type" id="jfLabel" >
                                                              Career Counselling:  
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <select type="text" id="jobfairddl" class="form-control Type" >
                                                            
                                                           </select>
                                                      </div>
                                                       
                                                          </div>
                                                         
                                                                
			
               
												
                                                                  <div class="form-group m-form__group row">
                                                              <div class="col-lg-2">
                                                                <button type="button"  onclick="fetchCandidateList()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                    Search
                                                                </button>
                                                                </div>
                                                                
                                                               


   


                                                                    </div>
                                                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                                                        <div class="m-form__actions m-form__actions">
                                                <a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','SoftSkillParticipant')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>

                                                                          <div class="col-lg-12">
                                                                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand show" style="display: none;" id="tableglobal">
                                                                                <thead>
                                                                                    <tr id="tablehead">
                                                                              
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tbodyvalue"></tbody>
                                                                            </table>
                                                                              </div>
                                  

                      
                                                                        </div>

                                                                       

                                                                        <div class="form-group m-form__group row" style="display: none;" id='sendAlert'>
                                                                           
                                                                            

                                                                          <div class="col-lg-2">
                                                                            <button type="button" id="btnsubmt" onclick="CheckCandidate()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                              Submit
                                                                            </button>
                                                                            </div>
                                                                          

                                                                                                                                         
                                                                  

                                                                                </div>
 
                                                                                <div class="form-group m-form__group row show" style="display: none;" id='sendAlert'>
                                                                           
                                                                            

                                                                                  <div class="col-lg-2">
                                                                                    <button type="button"  onclick="CheckCandidate('email')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                       Send Email
                                                                                    </button>
                                                                                    </div>
                                                                                    <div class="col-lg-2" >
                                                                                        <button type="button"  onclick="CheckCandidate('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                            Send SMS
                                                                                        </button>
                                                                                    </div>
        
                                                                                                                                                 
                                                                          
        
                                                                                        </div>  
        
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal fade" id="m_modal_5" role="dialog">
                                                                  <div class="modal-dialog">
                                                          
                                                                      <!-- Modal content-->
                                                                      <div class="modal-content">
                                                                          <div class="modal-header">
                                                                              <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                                          
                                                                          </div>
                                                                          <div class="modal-body">
                                                                              <div class="form-group m-form__group row">
                                                                                  <label class="col-lg-2 col-form-label">
                                                                                      Subject:
                                                                                  </label>
                                                                                <input class="form-control m-input" id="subjecttxt"  onfocusout=" getvalidated('subjecttxt','text','Subject');"
                                                                                  rows="3" placeholder="Please enter Subject" />
                                                                                  <span id="validsubjecttxt"
                                                                                  style="font-size: 11px; color: #cc0033; "></span></div>
                                                                              <div class="form-group m-form__group row">
                                                                                  <label class="col-lg-2 col-form-label">
                                                                                      Body:
                                                                                  </label>
                                                                                  <div class="col-lg-2 col-form-label" id="summernote">
  
                                                                                  </div>
                                                                                <!-- <textarea class="form-control m-input" id="JFDetail"  onfocusout=" getvalidated('JFDetail','text','Body');"
                                                                                  rows="3" placeholder="Please enter body content"></textarea> -->
                                                                                  <span id="validJFDetail"
                                                                                  style="font-size: 11px; color: #cc0033; "></span>
                                                                              </div>
  
                                                                                  <div class="form-group m-form__group row">
                                                                                  <div class="m-alert__actions" style="width: 200px;">
                                                                                      <button type="button" onclick="SendAlert('email')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                          Send 
                                                                                       </button>
                                                                                      <button type="button" class="btn btn-success"
                                                                                          data-dismiss="modal" aria-label="Close">
                                                                                          Dismiss
                                                                                      </button>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                          </div>
                                                                      </div>
                                                          
                                                                  </div>
                                                              </div>
                                                              <div class="modal fade" id="m_modal_6" role="dialog">
                                                                <div class="modal-dialog">
                                                        
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                                        
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                   Content:
                                                                                </label>
                                                                              <textarea class="form-control m-input" id="SmsDetail"  onfocusout=" getvalidated('SmsDetail','text','Content');"
                                                                                rows="3" placeholder="Please enter sms content"></textarea>
                                                                                <span id="validSmsDetail"
                                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                                                <div class="form-group m-form__group row">
                                                                                <div class="m-alert__actions" style="width: 200px;">
                                                                                    <button type="button" onclick="SendAlert('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                        Send 
                                                                                     </button>
                                                                                    <button type="button" class="btn btn-success"
                                                                                        data-dismiss="modal" aria-label="Close">
                                                                                        Dismiss
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                        </div>
                                                                    </div>
                                                        
                                                                </div>
                                                            </div>
                                                           
                                                           
                                                                
                                                        </div>
                                                                
                                                    </div>       <!-- end:: Page -->
                                                </div>
                                            </div>
                                        </div>       <!-- end:: Page -->
                                    </div>
                                </div>

                                                               
                                                                <!-- begin::Scroll Top -->
                                                                <% include ../../partials/footer %>
                                                            </body>
                                                            <!-- end::Body -->
                                                        </html>
                                                        
                                                        <!-- end::Scroll Top -->	
                                                                <% include ../../partials/script %>
                                                                
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
                                                           
                                                                <script src="../customjs/CareerCounselling/CareerParticipantReport.js" type="text/javascript"></script>
                                                                <script src="../js/summernote.min.js"></script>
                                                                <script type="text/javascript">
                                                            
                                                                    $(document).ready(function () {
                                                                        FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice', 'ddlExchangeName');
                                                                        $('#summernote').summernote({
                                                                          placeholder: 'Description',
                                                                          tabsize: 2,
                                                                          height: 100
                                                                         });
                                                                         setTimeout(()=>{
                                                                            FillCC();
                                                                         },300)
                                                                         

                                                                          
                                                                        	
		if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
           $( ".disable" ).prop( "disabled", false );
            }
          else{
            $('#ddlExchangeName').val(sessionStorage.Ex_id);
      	   $( ".disable" ).prop( "disabled", true );
           }
                                                                    })
                                                                    var tablehead="<th><a  style='color: white;'>SrNo</a></th><th>Candidate Name</th><th>Mobile Number</th><th>Email Id</th>";
        $("#tablehead").html(tablehead);
                                                            						if (sessionStorage.getItem("CandidateId") == null) {
                                                            window.location = "/";
                                                         }

                                                        
                                                                        </script>


                                                     
