<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Counsellor Feedback
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														Counsellor Feedback
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
                                                        <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Month:
                                                                </label>
                                                                <div class="col-lg-4">
                                                            <select type="Number" id="month" class="form-control m-input" placeholder="">
                                                          
                                                         </select> 
                                                                </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                        Year:
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <select type="text" id="year" class="form-control m-input" placeholder="">
																			 </select>
                                                                            
                                                                    </div>
                                                            </div>                
                                                            
                                               
                                                    <div class="form-group m-form__group row" style="    place-content: center;">
                                                  <div class="col-lg-3">
                                                    <button type="button" onclick="fetchcounsellingDetail()" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        Submit
                                                    </button>
                                                </div>
											   </div>
											   
											   <div  id="showtable" class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
													<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12">
																<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																	<thead  id="tablehead">
																		<th>Sr No</th>
																		<th>Candidate Registration No</th>
																		<th>Candidate Name</th>
																		<th>Date Of Birth</th>
																		<th>Entry Date</th>
																		<th>Feedback</th>
																	</thead>
																	<tbody id="tbodyvalue"></tbody>
																</table>
																  </div>
														</div>
                                                    </div>
                                                </div>
                                                            
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">
															Feedback
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">
																&times;
															</span>
														</button>
													</div>
													<div class="modal-body">
														
														<div class="form-group m-form__group row">
															<div class="col-md-12">
															  <div class="formrow">
																<label for="example-email-input" class="col-lg-4 col-form-label">
																  <span lang="en">सारांश फार्म (Summary No.)</span>
																</label>
											  
											  
											  
															  </div>
															</div>
											  
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-12">
															  <div class="formrow">
																<label for="example-email-input" class="col-lg-4 col-form-label">
																  <span lang="en">नाम</span>
																</label></div>
															  <input type="text" id="SummName" class="form-control" placeholder="" />
											  
											  
															</div>
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-12">
															  <div class="formrow">
																<label for="example-email-input" class="col-lg-4 col-form-label">
																  <span lang="en">पता</span>
																</label></div>
															  <input type="text" id="SummAddress" class="form-control" placeholder="" />
															</div>
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-12">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">1. रूचि क्षेत्र और स्तर </span>
																</label>
																<input type="text" id="Summ_1" class="form-control" placeholder="" />
															
															</div>
											  
															</div>
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-12">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">2. व्याव. पाठ्यक्रम/उच्च शिक्षा/प्रशिक्षण/कैरियर की योजनाऐं (क्लांइट द्वारा क्रमवार
																	उठाए ानेयोग्य कदमों का वर्णन करें):- </span>
																</label></div>
															</div>
											  
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-6">
															  <div class="formrow">
											  
																<input type="text" id="Summ_2_1" class="form-control" placeholder="" />
															  </div>
															</div>
														 
														
															<div class="col-md-6">
															  <div class="formrow">
											  
																<input type="text" id="Summ_2_2" class="form-control" placeholder="" />
															  </div>
															</div>
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-6">
															  <div class="formrow">
											  
																<input type="text" id="Summ_2_3" class="form-control" placeholder="" />
															  </div>
															</div>
														
															<div class="col-md-6">
															  <div class="formrow">
											  
																<input type="text" id="Summ_2_4" class="form-control" placeholder="" />
															  </div>
															</div>
														  </div>
														 
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-6">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">दिनांक </span>
																</label>
																<div class="input-group date">
																	<input type="text" class="form-control m-input" readonly="" id="m_datepicker_5">
																	<div class="input-group-append">
																		<span class="input-group-text">
																			<i class="la la-calendar-check-o"></i>
																		</span>
																	</div>
																</div>
															  </div>
											  
															</div>
															<div class="col-md-6">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">नाम</span>
																</label>
																<input type="text" id="SummConsName" class="form-control" placeholder="" />
															  </div>
											  
															</div>
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-12">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">अनुवर्ती टिप्पणियां </span>
																</label></div>
															  <input type="text" id="SummConsComment" class="form-control" placeholder="" />
															</div>
											  
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-12">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">विषयः विशेषज्ञ द्वारा दिए गए मार्गदर्शन /जानकारियों का सार </span>
																</label></div>
															  <input type="text" id="SummSpecComment" class="form-control" placeholder="" />
															</div>
											  
														  </div>
														  <br>
														  <div class="form-group m-form__group row">
															<div class="col-md-4">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">दिनांक </span>
																</label>
																<div class="input-group date">
																	<input type="text" class="form-control m-input" readonly="" id="m_datepicker_2">
																	<div class="input-group-append">
																		<span class="input-group-text">
																			<i class="la la-calendar-check-o"></i>
																		</span>
																	</div>
																</div>
															  </div>
											  
															</div>
														
															<div class="col-md-4">
															  <div class="formrow">
																<label for="example-email-input" class="col-form-label">
																  <span lang="en">विषय विशेष का नाम व पद </span>
																</label>
																<input type="text" id="SpecName" class="form-control" placeholder="" />
															  </div>
											  
															</div>
														  </div>
														
															<br>
															<div class="form-group m-form__group row">
															  <div class="col-md-12">
																<div class="formrow">
																  <label for="example-email-input" class="col-form-label">
																	<h6 style="text-decoration: underline;">कैरियर काउंसिलिंग फीड बैक फार्म </h6>
																	<h6>(भविष्य के मार्गदर्शन हेतु कार्यालय आने पर यह फार्म अवश्य साथ ले लाए) </h6>
																 
																</label>
																  <!-- <input type="text" class="form-control col-2" placeholder="" /> -->
																</div>
												
															  </div>
															  </div>
															  <br>
															  <div class="form-group m-form__group row">
																<div class="col-md-6">
																  <div class="formrow">
																	<label for="example-email-input" class="col-form-label">
																	  <span lang="en">केस नंबर:</span>
																	</label>
																<input type="text" id="CaseNo" class="form-control" placeholder="" />
																  </div>
												  
																</div>
																<div class="col-md-6">
																	<div class="formrow">
																	  <label for="example-email-input" class="col-form-label">
																		<span lang="en">दिनांक:</span>
																	  </label>
																	  <div class="input-group date">
																		<input type="text" class="form-control m-input" readonly="" id="m_datepicker_1">
																		<div class="input-group-append">
																			<span class="input-group-text">
																				<i class="la la-calendar-check-o"></i>
																			</span>
																		</div>
																	</div>
																	</div>
													
																  </div>
																</div>
																<br>
																<div class="form-group m-form__group row">
																  <div class="col-md-6">
																	<div class="formrow">
																	  <label for="example-email-input" class="col-form-label">
																		<span lang="en">नाम:</span>
																	  </label>
																  <input type="text" id="Name" class="form-control" placeholder="" />
																	</div>
													
																  </div>
																  <div class="col-md-6">
																	  <div class="formrow">
																		<label for="example-email-input" class="col-form-label">
																		  <span lang="en">आयु: </span>
																		</label>
																	<input type="text" id="Age" class="form-control" placeholder="" />
																	  </div>
													  
																	</div>
																  </div>
																  <br>
																  <div class="form-group m-form__group row">
																	<div class="col-md-6">
																	  <div class="formrow">
																		<label for="example-email-input" class="col-form-label">
																		  <span lang="en">शैक्षणिक योग्ताऐं (डिवीजन एवं प्रतिशत सहित): </span>
																		</label>
																	<input type="text" id="EducationalQualification" class="form-control" placeholder="" />
																	  </div>
													  
																	</div>
																	<div class="col-md-6">
																		<div class="formrow">
																		  <label for="example-email-input" class="col-form-label">
																			<span lang="en">काउंसलर का रिमाकरू: </span>
																		  </label>
																	  <input type="text" id="ConsRemark" class="form-control" placeholder="" />
																		</div>
														
																	  </div>
																	</div>
																	<br>
																	<div class="form-group m-form__group row">
																	  <div class="col-md-6">
																		<div class="formrow">
																		  <label for="example-email-input" class="col-form-label">
																			<span lang="en">वषय विशेषज्ञ का रिमार्क: </span>
																		  </label>
																	  <input type="text" id="SpecRemark" class="form-control" placeholder="" />
																		</div>
														
																	  </div>
																	  <div class="col-md-6">
																		  <div class="formrow">
																			<label for="example-email-input" class="col-form-label">
																			  <span lang="en">स्पेशल रिमार्क (Strongness/Weekness): </span>
																			</label>
																		<input type="text" id="SpecialRemark" class="form-control" placeholder="" />
																		  </div>
														  
																		</div>
																	  </div>
																  <br>
															<div class="form-group m-form__group row">
															<div class="m-alert__actions" style="width: 200px;margin-left: 40%;">
																<button type="button" onclick="InsSummaryForm()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																	Submit 
																 </button>
																<button type="button" class="btn btn-success"
																	data-dismiss="modal" aria-label="Close">
																	Dismiss
																</button>
															</div>
														</div>
													
													</div>
												
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/CareerCounselling/CounsellingList.js" type="text/javascript"></script>
    
        <script type="text/javascript">
            $(document).ready(function () {
				FillYear('parsedatasecuredFillYear','year');
                FillMonthcounselling('parsedatasecuredFillMonthcounselling','month');
	


		
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
