<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											User Management
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														Change Password 
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 <span style="color: red">Fields mark with * are Mandatory
                                                     </span>
                                                     <ul style="color: red">
                                                            Password must use a combination of these:
                                                            <li>I. Atleast 1 upper case letters (A – Z)</li>
                                                                    <li>II. Lower case letters (a – z)</li>
                                                                            <li>III. Atleast 1 number (0 – 9)</li>
                                                                                    <li>IV. Atleast 1 " & "non-alphanumeric symbol (e.g. ‘!@#$%^&*?_~’)</li>
                                                                                            <li> V. Lenght must be min. 7 and max 50</li>
                                                     </ul>
                                                        <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    User Name :
                                                                </label>
                                                                <div class="col-lg-4">
                                                           <p id="cusername"></p>
                                                              </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    Current Password  :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <input type="text" autocomplete="off" id="currentpass" class="form-control m-input" placeholder=""> </input>
                                                                            
                                                                    </div>
                                                               </div>                
                                                

                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Change Password :
                                                                </label>
                                                                <div class="col-lg-4">
                                                            <input type="password" autocomplete="off" id="chngpass" class="form-control m-input" placeholder=""></input> 
                                                                </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    Confirm Password  :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <input type="password" autocomplete="off" id="confrmpass" class="form-control m-input" placeholder=""> </input>
                                                                            
                                                                    </div>
															   </div> 
															   
								<div class="form-group m-form__group">
									<tr>
									   <td align="left">
										  <strong><span style=" font-size: 15px;color: #cc0033">Please enter
												the Text Below in
												Text Box</span></strong>
									   </td>
									</tr>
								 </div>
								 <div class="form-group m-form__group">
										<div class="col-md-12">
									   <div class="col-md-4">
											 <div id="captchaheader" style="    margin-left: 152%">
												   
										   </div>
									   
									   </div>
							<div class="form-group m-form__group">
									<div class="col-lg-4" style="margin-left: 37%;">
									<input class="form-control m-input"  placeholder="Captcha"  
									id="cpatchaTextBoxheader"  />
								</div>
								</div>
                                                             
                                               
                                                    <div class="form-group m-form__group row" style="    place-content: center;">
                                                  <div class="col-lg-3">
                                                    <button type="button" onclick="checkValidation()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        Save
                                                    </button>
                                                    <button type="button"   class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        Reset
                                                    </button>
                                                </div>
											   </div>

											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/UserManagement/ChangePassword.js" type="text/javascript"></script>
		 <script type="text/javascript">
            $(document).ready(function () {
				createcaptchaheader();
				$("#cusername").html(sessionStorage.CandidateUserName)
                localStorage.Id='0';
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
