<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>

        <link href="/css/captcha.css" rel="stylesheet">
  <script src="/js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="/js/popper.min.js"></script>
            <% include ../../partials/head %>
            


            <script src="/js/summernote-bootstrap.js"></script>

            <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Send Email
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
													
													
											
												
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-lg-2 col-form-label">
                                                           Subject. :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" id="subject" class="form-control m-input" placeholder=""> </input>
                                                            <span id="validsubject" style="font-size: 11px; color: #cc0033; "></span>
															
                                                    </div>
                                                        
                                                       </div>
                                                       
                                                       


                                                       <div class="row">
                                                        <div class="col-md-12">
                                
                                                              <div class="formrow" >
                                                                  
																		   <div class="col-lg-12">
																		   <div  id="summernote"></div> 
																		   <span id="validbody" style="font-size: 11px; color: #cc0033; "></span>
															
                                                                           </div>
                                                              </div>
                                                            </div>
                                                        </div>


                                                        <div class="form-group m-form__group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                Form Date :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <div class="input-group date">
                                                                        <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_1">
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text">
                                                                                <i class="la la-calendar-check-o"></i>
                                                                            </span>
                                                                        </div>
																	</div>
																	<span id="validm_datepicker_1" style="font-size: 11px; color: #cc0033; "></span>
															
                                                        </div>
                                                           <label class="col-lg-2 col-form-label">
                                                            To Date:
                                                           </label>
                                                    <div class="col-lg-4">
                                                        <div class="input-group date">
                                                                <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_2">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-calendar-check-o"></i>
                                                                    </span>
                                                                </div>
															</div>
															<span id="validm_datepicker_2" style="font-size: 11px; color: #cc0033; "></span>
															
                                                </div>
                                                              </div>
                                                            </div>
                                           


                                                        <div class="form-group m-form__group row">
															<div class="col-lg-5"></div>
													<div class="col-lg-3">

															<button type="button"  
																class="btn btn-success" 
																style="background-color:#716aca;border-color:#716aca;" onclick="checkValidation()" >Send Mail
															</button>

                                                            <button type="button"  
																class="btn btn-success" 
																style="background-color:#716aca;border-color:#716aca;"  onclick="checkValidation('test')">Test Mail
															</button>
															
														</div>


													</div>
                                                         


														</div>

													

													</div>
												   
													


													
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
		
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>

</html>

		<% include ../../partials/script %>
		<script src="/customjs/UserManagement/SendEmail.js"></script>
        <script src="/js/summernote.min.js"></script>
		<script type="text/javascript">
	 $(document).ready(function () {
        $('#summernote').summernote({
        placeholder: 'Mail Body',
        tabsize: 2,
        height: 100
        });
							});
           
                </script>
