<!DOCTYPE html>

<html lang="en" >
<!-- begin::Head -->
<head>
<% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body style="background-image: url(../images/bg/bg-1.jpg)" class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default" >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
<!-- begin::Header -->
<% include ../../partials/header %>
<!-- end::Header -->
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
<div class="m-grid__item m-body__nav">
<div class="m-stack m-stack--ver m-stack--desktop">
<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
<button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
<i class="la la-close"></i>
</button>
<% include ../../partials/Menu %>
</div>

</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
<i class="la la-close"></i>
</button>

<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
<div class="d-flex align-items-center">
<div class="mr-auto">
<h3 class="m-subheader__title m-subheader__title--separator">
User Management
</h3>
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
<li class="m-nav__item m-nav__item--home">
<a href="/index" class="m-nav__link m-nav__link--icon">
<i class="m-nav__link-icon la la-home"></i>
</a>
</li>



</ul>
</div>
<% include ../../partials/calendar %>
<div>

</div>
</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
<div class="m-portlet">
<div class="m-portlet__head">
<div class="m-portlet__head-caption">
<div class="m-portlet__head-title">
<span class="m-portlet__head-icon m--hide">
<i class="la la-gear"></i>
</span>
<h3 class="m-portlet__head-text">
User Creation
</h3>
</div>

</div>
</div>
<!--begin::Form-->
<form class="m-form">
<div class="m-portlet__body">
<div class="m-form__section m-form__section--first">

<div class="form-group m-form__group row">
<label class="col-lg-2 col-form-label">
Exchange <span class="required" style="color:red;">*</span>:
</label>
<div class="col-lg-4">
<select id="exchange" onfocusout="getvalidated('exchange','Select','Exchange');"
class="form-control m-input"></select>
<span id="validexchange" style="font-size: 11px; color: #cc0033; " ></span>
</div>
<label class="col-lg-2 col-form-label">
Name <span class="required" style="color:red;">*</span> :
</label>
<div class="col-lg-4">
<input type="text" id="names" onfocusout="getvalidated('names','text','Name');" class="form-control m-input" placeholder=""> </input>
<span id="validnames" style="font-size: 11px; color: #cc0033; " ></span>
</div>
</div>

<div class="form-group m-form__group row">
<label class="col-lg-2 col-form-label">
Mobile Number<span class="required" style="color:red;">*</span>:
</label>
<div class="col-lg-4">
<input type="text" id="Mobno" onkeydown="onlyNumbers(event)" onpaste="onlyNumbers(event)"
onkeypress="onlyNumbers(event)" maxlength="10" onfocusout="getvalidated('Mobno','text','Mobile Number');" class="form-control m-input" placeholder=""></input>

<span id="validMobno" style="font-size: 11px; color: #cc0033; " ></span>
</div>
<label class="col-lg-2 col-form-label">
Email <span class="required" style="color:red;">*</span> :
</label>
<div class="col-lg-4">
<input type="text" id="email" onfocusout="getvalidated('email','text','Email');checkemail()" onkeypress="if(event.keyCode ==32){return false;}" class="form-control m-input" placeholder="">
<span id="validemail" style="font-size: 11px; color: #cc0033; " ></span>
</div>
</div>

<div class="form-group m-form__group row">
<label class="col-lg-2 col-form-label">
Address<span class="required" style="color:red;">*</span> :
</label>
<div class="col-lg-4">
<input type="text" id="address1" onfocusout="getvalidated('address1','text','Address');" class="form-control m-input" placeholder="">

<span id="validaddress1" style="font-size: 11px; color: #cc0033; " ></span>
</div>
<label class="col-lg-2 col-form-label">
User Type<span class="required" style="color:red;">*</span> :
</label>
<div class="col-lg-4">
<select id="usertype" id="getvalidated('usertype','select','User Type');"
class="form-control m-input"></select>
<span id="validusertype" style="font-size: 11px; color: #cc0033; " ></span>
</div>
</div>

<div class="form-group m-form__group row">
<label class="col-lg-2 col-form-label">
User Name<span class="required" style="color:red;">*</span> :
</label>
<div class="col-lg-4">
<input type="text" id="nameuser" onfocusout="getvalidated('nameuser','text','User Name');" class="form-control m-input" placeholder="" autocomplete="off"></input>
<span id="validnameuser" style="font-size: 11px; color: #cc0033; " ></span>

</div>
<label class="col-lg-2 col-form-label" id="p">
Password<span class="required" style="color:red;">*</span> :
</label>
<div class="col-lg-4" id="p1">
<input type="password" id="newpassword" onfocusout="getvalidated('newpassword','text','Password');" class="form-control m-input" placeholder=""></input>

<span id="validnewpassword" style="font-size: 11px; color: #cc0033; " ></span>


</div>
</div>

<div class="form-group m-form__group row">
<label class="col-lg-2 col-form-label" id="cp">
Confirm Password<span class="required" style="color:red;">*</span> :
</label>
<div class="col-lg-4" id="cp1">
<input type="password" id="Repassword" onfocusout="getvalidated('Repassword','text','Confirm Password');" class="form-control m-input" placeholder="">
<span id="validRepassword" style="font-size: 11px; color: #cc0033; " ></span>

</div>
<label class="col-lg-2 col-form-label">
Active :
</label>
<div class="col-lg-4">
<label class="m-checkbox">
<input type="checkbox" id="Active1">
<span></span>
</label>
</div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-4 col-form-label" id="mppas" style="display: none;">
    Your Password Is :<span class="required" style="color:green;font-weight: 600;font-size: initial;"> mprojgar123 </span> 
    </label>
</div>

<div class="form-group m-form__group row" style=" place-content: center;">
<div class="col-lg-6">
<button type="button" onclick="checkvalidation1()" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
Submit
</button>

<button type="button" onclick="location.reload();" id="cancel" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
    Cancel
    </button>  

<button type="button" onclick="changepass();localStorage.setItem('changepass','chngpass')" id="chngpass" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;display: none;">
    Reset Password
    </button>
                                                                                                
</div>
</div>

<div class="m-portlet__foot m-portlet__foot--fit">
<div class="m-form__actions m-form__actions">

<% include ../../pages/Table %>
</div>
</div>
</div>

</form>
<!--end::Form-->

</div>
</div>
</div>
</div>
</div>
</div>
<!-- begin::Body -->
<% include ../../partials/footer %>
</div>
<!-- end:: Page -->


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/UserManagement/UserCreations.js"></script>


<script type="text/javascript">
$(document).ready(function () {
var tablehead='<th>Sr No</th><th>Name</th><th>Mobile Number</th><th>Email</th><th>Address</th><th>User Type</th><th>Active</th><th>Modify</th>';
$('#tablehead').html(tablehead);
FillExchangeoffice1('parsedatasecuredFillExchangeoffice1','exchange');
sessionStorage.setItem('userEmp_id','0');
FillUserType('parsedatasecuredFillUserType','usertype');
fetchuserDetails('parsedatasecuredfetchuserDetails');
});

</script>
</body>
<!-- end::Body -->
</html>