<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
							<!--		<% include ../../partials/Menu %> -->
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            
												User Login

										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        
															CREATE NEW USER LOGIN
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 <span style="color:red">Fields mark with * are Mandatory</span>
                                                <ul style="color:red"><li>Password must use a combination of these:</li>
                                                <li>I. Atleast 1 upper case letters (A – Z)</li>
                                                        <li>II. Lower case letters (a – z)</li>
                                                        <li>III. Atleast 1 number (0 – 9)</li>
                                                        <li>IV. Atleast 1 " & "non-alphanumeric symbol (e.g. ‘!@#$%^&*?_~’)</li>
                                                        <li>V. Lenght must be min. 7 and max 50</li></ul>
                                                 <div class="form-group m-form__group row">
														<label class="col-lg-2 col-form-label">
                                                                User Type:
														</label>
														<div class="col-lg-4">
                                                                <select id="ddlDistrict" class="form-control m-input"></select>
                                                            </div>
                                                        <label class="col-lg-2 col-form-label">
                                                                Exchange Office:
                                                              </label>
                                                              <div class="col-lg-4">
                                                                    <select id="ddlDistrict" class="form-control m-input"></select>
                                                                </div>
                                                    </div>
                                                    <div class="form-group m-form__group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                    User Name<span class="required" style="color:red;">*</span> :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                    <input type="text" id="textHindi" class="form-control m-input"></input>
                                                                </div>
                                                            <label class="col-lg-2 col-form-label">
                                                                    Password<span class="required" style="color:red;">*</span> :
                                                                  </label>
                                                                  <div class="col-lg-4">
                                                                        <input type="password" id="textHindi" class="form-control m-input" ></input>
                                                                    </div>
                                                        </div>
                                                        
                                                            
                                                      <div class="form-group m-form__group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                                
                                                                    Current Location:
                                                                  </label>
                                                                  <div class="col-lg-4">
                                                                        <select id="ddlDistrict" class="form-control m-input"></select>
                                                                    </div>
                                                            <label class="col-lg-2 col-form-label">
                                                                    Active::
                                                            </label>
                                                            <div class="col-lg-4">
                                                                    <label class="m-checkbox">
                                                                            <input type="checkbox">
                                                                            <span></span>
                                                                        </label>
                                                                      </div>
																	 
                                                  </div>
												  <div class="form-group m-form__group row">
														<tr>
														   <td align="left">
															  <strong><span style=" font-size: 15px;color: #cc0033">Please enter
																	the Text Below in
																	Text Box</span></strong>
														   </td>
														</tr>
													 </div>
													 <div class="form-group m-form__group row">
															<div class="col-md-12">
														   <div class="col-md-4">
																 <div id="captchaforgot">
																	   
															   </div>
														   
														   </div>
												<div class="form-group m-form__group row">
														<div class="col-md-4"><input class="form-control m-input"  placeholder="Captcha"  
														id="cpatchaTextBox" /></div>
					
													</div>
												  <div class="form-group m-form__group row" style="place-content: center;">
                                                  <div class="col-lg-1">
													<button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
														Save
													</button>
                                                </div>
                                                <div class="col-lg-1">
                                                        <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                        <label class="col-lg-2 col-form-label">
                                                                Select Exchange Office:<span class="required" style="color:red;">*</span> :
                                                                  </label>
                                                                  <div class="col-lg-4">
                                                                    <select id="ddlDistrict" class="form-control m-input"></select>
                                                                </div>
                                                          
                                                        <label class="col-lg-2 col-form-label">
                                                                Select Employee Name:<span class="required" style="color:red;">*</span> :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <select id="ddlExchange" class="form-control m-input"></select>
                                                        </div>
                                                    </div>
													<div class="form-group m-form__group row" style="place-content: center;">
															<div class="col-lg-4">
															  <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																  Create New User
															  </button>
														  </div>
														 
														  </div>       
												</div>
											</div>
											<div class="m-portlet__foot m-portlet__foot--fit">
                                                  
                                                    
                                                        
												<div class="m-form__actions m-form__actions">
												<h5>User Information</h5>
										  <% include ../../pages/Table %>
												</div>
											</div>
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

		<!-- end::Scroll Top -->	
        <% include ../../partials/script %>
        <script type="text/javascript">
            $(document).ready(function () {
				
                var tablehead="<th>S.No</th><th>Exchange Office</th><th>User Type</th><th>	Current Exchange</th><th>From Date</th><th>	To Date</th><th>Active</th><th>Modify </th><th>Close Acoount </th>";
        $("#tablehead").html(tablehead);
							});
// 							if (sessionStorage.getItem("CandidateId") == null) {
//     window.location = "/";
//   }
createcaptchaforgot();
var codeforgot;
                function createcaptchaforgot() {
                  //clear the contents of captcha div first 
                  document.getElementById('captchaforgot').innerHTML = "";
                  var charsArray =
                  "0123456789";
                  var lengthOtp = 6;
                  var captcha = [];
                  for (var i = 0; i < lengthOtp; i++) {
                    //below code will not allow Repetition of Characters
                    var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
                    if (captcha.indexOf(charsArray[index]) == -1)
                      captcha.push(charsArray[index]);
                    else i--;
                  }
                  var canv = document.createElement("canvas");
                  canv.id = "captchaforgot";
                  canv.width = 100;
                  canv.height = 50;
                  var ctx = canv.getContext("2d");
                  ctx.font = "25px Georgia";
                  ctx.strokeText(captcha.join(""), 0, 30);
                  //storing captcha so that can validate you can save it somewhere else according to your specific requirements
                  codeforgot = captcha.join("");
                  document.getElementById("captchaforgot").appendChild(canv); // adds the canvas to the body element
                }
                function validateCaptchaforgot() {
                  event.preventDefault();
                  
                  if (document.getElementById("cpatchaTextBoxforgot").value == codeforgot) {
                    ValidateLoginHome() ;
                    
                  }else{
                    jQuery('#cpatchaTextBoxforgot').val("");
                    toastr.warning("Invalid Captcha", "", "info");
                    createcaptchaforgot();
                    jQuery('#cpatchaTextBoxforgot').css('border-color', 'red'); 
                    return true;
                    
                  }
                }
                </script>
