<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											 User Management
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
													
													
											
												
													
														<div class="m-form__group form-group row">
                                                     
															<label class="col-lg-2 col-form-label">

																Type:
															</label>
															<div class="col-lg-4">
																<select type="text" id="filtertype" onchange="changeLabel()" onfocusout="getvalidated('filtertype','select','Select Type')" class="form-control" maxlength="40"
																	name="end" >
																	<option value="0">Select Type</option>
																	<option value="RegistrationId">Registration Id</option>
																	<option value="MobileNumber">Mobile number</option>
																	<option value="EmailId">Email-ID</option>
																	<option value="Aadhar">Aadhar number</option>
																	<option value="DOB">Date of Birth</option>
																	</select>
																	<span id="validfiltertype" style="font-size: 11px; color: #cc0033; "></span>
														
                                                            </div>
                                                            <label class="col-lg-2 col-form-label" id="labeltype">

                                                              
                                                           </label>
                                                           <div class="col-lg-4">
                                                               <input type="text" id="uniquenumber" class="form-control datepicker" onfocusout="getvalidated('uniquenumber','text','Enter Unique Number')" maxlength="40" autocomplete="off" style="width: 325px;" name="end" >
                                                                   
                                                                   <span id="validuniquenumber" style="font-size: 11px; color: #cc0033; "></span>
                                                       
                                                           </div>
														</div>
														
														<div class="m-form__group form-group row">
															<label class="col-lg-2 col-form-label" id="f1" style="display: none;">
                                                              First Name
                                                            </label>
															<div class="col-lg-4" id="f2" style="display: none;">
																<input type="text" id="FirstName" onfocusout="getvalidated('FirstName','text','First Name')" placeholder="Enter Your First Name" class="form-control" maxlength="40" autocomplete="off"
																	name="end" >
																	
																	<span id="validFirstName" style="font-size: 11px; color: #cc0033; "></span>
															</div>

															<label class="col-lg-2 col-form-label" id="l1" style="display: none;">
																Last Name
															  </label>
															  <div class="col-lg-4" id="l2" style="display: none;">
																  <input type="text" id="lastName" onfocusout="getvalidated('lastName','text','Last Name')" placeholder="Enter Your Last Name" class="form-control" maxlength="40" autocomplete="off"
																	  name="end" >
																	  
																	  <span id="validlastName" style="font-size: 11px; color: #cc0033; "></span>
															  </div>
														</div>

														<div class="m-form__group form-group row">
															<label class="col-lg-2 col-form-label" id="g1" style="display: none;">
																Gender
															  </label>
															  <div class="col-lg-4" id="g2" style="display: none;">
																  <select type="text" id="Gender" onfocusout="getvalidated('Gender','select','Select Gender')" class="form-control" maxlength="40" autocomplete="off"
																	  name="end" >
																	  <option value="">Select Gender</option>
																	  <option value="Male">Male</option>
																	  <option value="Female">Female</option>
																	  <option value="Others">Others</option>
																	</select>
																	  
																	  <span id="validGender" style="font-size: 11px; color: #cc0033; "></span>
															  </div>
														</div>

                                                        <div class="form-group m-form__group row">
															<div class="col-lg-5"></div>
													<div class="col-lg-3">

															<button type="button"  onclick="checkval()"
																class="btn btn-success" 
																style="background-color:#716aca;border-color:#716aca;" >View Profile
															</button>

															
														</div>


													</div>
                                                         


														</div>

														
													<div class="m-form__actions m-form__actions">
													
														<% include ../../pages/Table %>
														</div>

													</div>
												   
													


													
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
			  
				  <div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Candidate !</h4>
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
					  <p>Are You Sure !  Want to delete this user</p>
					</div>
					<div class="modal-footer">
						<button type="button" id="deletebtn"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">YES</button>

					  <button type="button"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;" data-dismiss="modal">NO</button>
					</div>
				  </div>
			  
				</div>
			  </div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
		
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>

</html>

		<% include ../../partials/script %>
		<script src="../customjs/UserManagement/UserDetails.js"></script>
		<script type="text/javascript">
	 $(document).ready(function () {
		      
			
							});
           function changeLabel(){
			$('#f1,#f2,#g1,#g2,#l1,#l2').hide();
				
			jQuery("#tbodyvalue").empty();
			$('#uniquenumber').val('');
			$('#Gender').val('');
			$('#FirstName').val('');
			$('#lastName').val('');
			$('#uniquenumber').removeClass('datepicker');
			$('.datepicker').hide();
			$('#uniquenumber').datepicker('destroy');
		//	$('#uniquenumber').addClass('form-control');
				
			if($('#filtertype').val()=='RegistrationId'){
				$('#labeltype').text('Registration Id');
			   }
			   if($('#filtertype').val()=='MobileNumber'){
				$('#labeltype').text('Mobile Number')
			   }
			   if($('#filtertype').val()=='EmailId'){
				$('#labeltype').text('Email Id')
			   }
			   if($('#filtertype').val()=='Aadhar'){
				$('#labeltype').text('Aadhar Number')
			   }
			   if($('#filtertype').val()=='0'){
				$('#labeltype').text(' ');
			   }
			   if($('#filtertype').val()=='DOB'){
				$('#labeltype').text('Date of Birth')
				$('#f1,#f2,#g1,#g2,#l1,#l2').show();
					
				$('#uniquenumber').datepicker({
                format: 'dd/mm/yyyy'
            })		
			   }
			   
			//    else{
			// 	$('#uniquenumber').removeClass('datepicker');
			// 	$('#f1').hide();
			// 	$('#f2').hide();
			// 	$('#g1').hide();
			// 	$('#g2').hide();
			
			//    }
		   }

	
                </script>
