<!DOCTYPE html>
<html>

<head>
        <% include ../../partials/head %>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <link href="/css/resumebuilder.css" rel="stylesheet">
    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
	.row{
		padding: 0px 28px 8px;
	}
</style>
</head>

<body id="top">
	<div class="row" style="margin-top: 2%;width: 100%;">
		<div class='col-xs-4'>
			<div class='listbtn'><a href='' onclick="window.history.go(-1); return false;" style="font-size: 170%">Back</a></div>

		</div>
		</div>

    		
	<div id="cv" class="instaFade">
		<div class="mainDetails" id="mainDetails">
			
		</div>

		<div class="quickFade delayFive" id="mainArea">
				<section id="">
						<div class="headingresume">Registration Number </div>
				<div  >
						<div class="row" >
								<div class="col-xs-12">Registration Number: <span id="RegistrationNo"> </span></div>
								
							</div>
					
				</div>
				<div class="clear"></div>
			</section>
			<section >
				<div class="headingresume">Candidate Details</div>
			<div  id="PersonalDetailCV">
									
			</div>
		</section>
					<section>
							
					<div  >
						<div class="headingresume">Profile Status</div>
						<div class="row" >
							<div class="col-xs-12">Profile Status: <span id="profilestatus"> </span></div>
							
						</div>
						</div>
							<div class="row" >
									<span id="nextrenwDate" style="color:red;"></span>
								</div>
						
					</div>
					<div class="clear"></div>
				</section>
				<section>	
			<section></section>
				<div class="row" >
					<div class="col-lg-2">
						<button type="button"   onclick="printreg()" class="btn btn-success"  style="background-color:#716aca;border-color:#716aca;" >Print Registration</button>
					</div>
					<div class="col-lg-3">
						<button type="button"  onclick="renewRegistration()" class="btn btn-success"  style="background-color:#716aca;border-color:#716aca;margin-left: 50px;" >Renew Registration</button>
					</div>
					<div class="col-lg-2">
						<button type="button"  onclick="resetUserPassword()" class="btn btn-success"  style="background-color:#716aca;border-color:#716aca;margin-left: 30px;" >Reset Password</button>
					</div>

					<div class="col-lg-2">
						<button type="button"   class="btn btn-success"  data-toggle="modal" data-target="#myModalprintforolduser" style="background-color:#716aca;border-color:#716aca;margin-left: 70px;" >Update details</button>
					</div>
					<div class="col-lg-3">
						<button type="button"   class="btn btn-success"  data-toggle="modal" data-target="#myModaldistrict" style="background-color:#716aca;border-color:#716aca;margin-left: 90px;" >Update District</button>
					</div>
				</div>
			</section>
									<div class="clear"></div>
			<div class="ft" id="CVFooter">
				</div>
			<!--// footer -->


		</div>

	</div>
	
	<div class="modal fade" id="myModalprintforolduser" style="overflow: auto !important;" role="dialog" tabindex="-1"
	aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModal">
						Update Detail
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					
					<div class="m-form__group form-group row">
												 
						<label class="col-lg-2 col-form-label">
							First Name<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="firstname" class="form-control"
								name="end" onfocusout="getvalidated('firstname','text','First Name');">
								<span id="validfirstname" style="font-size: 11px; color: #cc0033; "></span>
						</div>

						
						<label class="col-lg-2 col-form-label">
							MiddleName:
						</label>
						<div class="col-lg-4">
							<input type="text" id="midlename" class="form-control"
								name="end" >
								<span id="validmidlename" style="font-size: 11px; color: #cc0033; "></span>
						</div>
					</div>

					<div class="m-form__group form-group row">
												 
						<label class="col-lg-2 col-form-label">
							Last Name<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="lastname" class="form-control"
								name="end" onfocusout="getvalidated('lastname','text','Last Name');">
								<span id="validlastname" style="font-size: 11px; color: #cc0033; "></span>
						</div>

						<label class="col-lg-2 col-form-label">
							FatherName<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="fathername" class="form-control"
								name="end" onfocusout="getvalidated('fathername','text','Father Name');">
								<span id="validfathername" style="font-size: 11px; color: #cc0033; "></span>
						</div>
					</div>

					<div class="m-form__group form-group row">
												 
						<label class="col-lg-2 col-form-label">
							DateOfBirth<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="m_datepicker_1" autocomplete="off" class="form-control"
								name="end" onfocusout="getvalidated('m_datepicker_1','text','DateOfBirth');">
								<span id="validm_datepicker_1" style="font-size: 11px; color: #cc0033; "></span>
						</div>

						<label class="col-lg-2 col-form-label">
							AadharNumber<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="aadhar" class="form-control"
								name="end" maxlength="16" onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)" 
								onkeypress="onlyNumbers(event)" onfocusout="getvalidated('aadhar','text','AadharNumber');">
								<span id="validaadhar" style="font-size: 11px; color: #cc0033; "></span>
						</div>
					</div>

					<!-- <div class="m-form__group form-group row">
												 
						<label class="col-lg-2 col-form-label">
							MobilNumber:
						</label>
						<div class="col-lg-4">
							<input type="text" id="mobno" class="form-control"
								name="end" onfocusout="getvalidated('DistrictsCovered','text','DistrictsCovered');">
								<span id="validDistrictsCovered" style="font-size: 11px; color: #cc0033; "></span>
						</div>

						<label class="col-lg-2 col-form-label">
							EmailId:
						</label>
						<div class="col-lg-4">
							<input type="text" id="emailid" class="form-control"
								name="end" onfocusout="getvalidated('CentreManager','text','Centre Manager');">
								<span id="validCentreManager" style="font-size: 11px; color: #cc0033; "></span>
						</div>
					</div> -->

					

						<div class="form-group m-form__group row">
						<div class="m-alert__actions" style="width: 200px;margin-left: 40%;">
							<button type="button" onclick="chkvalidation()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
								Submit 
							 </button>
							<button type="button" class="btn btn-success"
								data-dismiss="modal" aria-label="Close">
								Dismiss
							</button>
						</div>
					</div>
				
				</div>
			
			</div>
		</div>
	</div>



	<div class="modal fade" id="myModaldistrict" style="overflow: auto !important;" role="dialog" tabindex="-1"
	aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModal">
						Update District
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					
					<div class="m-form__group form-group row">
												 
					

						
						<label class="col-lg-2 col-form-label">
						New	District<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<select class="form-control" onchange="getvalidated('district','select','District')"onfocusout="getvalidated('district','select','District')" id="district" name="Current District">
							</select>
							<span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span>
						</div>

						<label class="col-lg-2 col-form-label">
							Tehsil<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<select class="form-control"  onchange="getvalidated('city','select','Tehsil')" id="city" name="Current Tehsil">
							</select>
							<span id="validcity" style="font-size: 11px; color: #cc0033; "></span>
						</div>

					</div>

					<div class="m-form__group form-group row">
												 
					
						<label class="col-lg-2 col-form-label">
							City/Village<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<select class="form-control"  onchange="getvalidated('village','select','City/Village')" id="village" name="Current City/Village">
							</select>
							<span id="validvillage" style="font-size: 11px; color: #cc0033; "></span>
						</div>
					</div>

				

					

						<div class="form-group m-form__group row">
						<div class="m-alert__actions" style="width: 200px;margin-left: 40%;">
							<button type="button" onclick="UpdDistrict()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
								Submit 
							 </button>
							<button type="button" class="btn btn-success"
								data-dismiss="modal" aria-label="Close">
								Dismiss
							</button>
						</div>
					</div>
				
				</div>
			
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-sm">
		  <div class="modal-content">
			<div class="modal-header">
				<!-- <h4 class="modal-title">Modal Header</h4> -->
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<h5 style="font-weight: 600;">District Allready Updated</h5>
				<div style="margin-bottom: 10px;"></div>
				<strong style="color: red;">Note:</strong> <strong> You Can Update Your District Onnce In A Year.</strong>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>

  </div>

    <% include ../../partials/script %>
    <script src="../customjs/UserManagement/Viewprofile.js"></script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>



	<script type="text/javascript">
	function printreg(){
		InsupdViewuser('PrintRegistration')
	window.location='/PrintRegistrationcard';
	
}
        $(document).ready(function () {

            FillCVTemplate('parsedatasecuredFillCVTemplate');
			FillDistrict();
            $("#PrintCV").click(function () {
                $('.instaFade').printThis({
                    debug: false,               // show the iframe for debugging
                    importCSS: true,            // import parent page css
                    importStyle: false,         // import style tags
                    printContainer: true,       // print outer container/$.selector
                    loadCSS: "/css/resumebuilder.css",                // path to additional css file - use an array [] for multiple
                    pageTitle: "",              // add title to print page
                    removeInline: false,        // remove inline styles from print elements
                    removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
                    printDelay: 333,            // variable print delay
                    header: "",               // prefix to html
                    footer: null,               // postfix to html
                    base: false,                // preserve the BASE tag or accept a string for the URL
                    formValues: true,           // preserve input/form values
                    canvas: false,              // copy canvas content
                    doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
                    removeScripts: false,       // remove script tags from print content
                    copyTagClasses: false,      // copy classes from the html & body tag
                    beforePrintEvent: null,     // callback function for printEvent in iframe
                    beforePrint: null,          // function called before iframe is filled
                    afterPrint: null            // function called before iframe is removed);
                });
            });


        });
    </script>

</body>

</html>