<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
	class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Header -->
		<% include ../../partials/header %>
		<!-- end::Header -->
		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-body__nav">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- begin::Horizontal Menu -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
							<button
								class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
								id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<% include ../../partials/Menu %>
						</div>
                       </div>
				</div>
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
					<!-- BEGIN: Left Aside -->
					<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
						<i class="la la-close"></i>
					</button>

					<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<!-- <h3 class="m-subheader__title m-subheader__title--separator">
										ITI
									</h3> -->
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a href="/index" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>



									</ul>
								</div>
								<% include ../../partials/calendar %>
								<div>

								</div>
							</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">


							<div class="m-portlet">

								<div>
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title" style="width: -webkit-fill-available;">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
												<!-- <h3 class="m-portlet__head-text" >
																						<a href="#" onclick="$('#addjobdetails').show()">Add Details of Job Fair</a>
																				</h3> -->
												<form class="m-form">
													<div class="m-portlet__body">
														<div class="m-form__section m-form__section--first">
															<div class="m-form__actions m-form__actions"
																style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;text-align: left;">
																<h5 style="color: red;"> कैसे उपयोग करे </h5>
																<p>उपयोगकर्ता Exchange के अनुसार निम्न कार्य कर सकता है
																	:-</p>
																<ul style="color:black">
																	<li> “Create Soft Skills” इसके द्वारा नये SoftSkills को जोड़ा जा सकता है । </li>
																	<li> “Modify” इसके द्वारा Soft Skills के असत्यापित Records को सुधारा जा सकता है ।</li>
																	<li> “Delete” इसके द्वारा Soft Skills के असत्यापित Records को हटाया जा सकता है ।</li>
																	<li> किसी भी चयनित Soft Skills के विवरण को देखने के लिए उसके Title पर Click करे।</li>
																	<li> “Search” इसके द्वारा Soft Skills की ID अथवा Title के द्वारा खोजा जा सकता है।</li>
																</ul>

															</div>
														</div>
														<div class="form-group m-form__group row">
															<div class="col-lg-2">
																<a href="#addjobdetails" onclick="$('#addjobdetails').show();$('#addjobdetails').focus()"><button
																		type="button" class="btn btn-success"
																		style="background-color:#716aca;border-color:#716aca;">
																		Create Soft Skills
																	</button></a>
															</div>
														</div>
													</div>
												</form>
											</div>

										</div>
									</div>
									
										<div class="m-portlet__body" style="display: none;" id="addjobdetails">
											<div class="m-form__section m-form__section--first">
												<span style="color:red">Fields mark with * are Mandatory.</span>



												<div class="m-form__group form-group row">
													<label class="col-lg-2 col-form-label">
														Exchange Name:
													</label>
													<div class="col-lg-4">
														<select id="addjobfairexchange"
															class="form-control m-input disable"></select>
													</div>
													<label class="col-lg-2 col-form-label">
														Title<span class="required" style="color:red;">*</span> :
													</label>
													<div class="col-lg-4">
														<input type="text" id="JFTitle"
															onfocusout="getvalidated('JFTitle','text','Title'); Cookies.set('JFTitle', this.value, { expires: 1, path: '/' });"
															class="form-control" name="end">
														<span id="validJFTitle"
															style="font-size: 11px; color: #cc0033; "></span>

													</div>
												</div>
											</div>

											<div class="m-form__group form-group row">
												<label class="col-lg-2 col-form-label">
													Detail:
												</label>
												<div class="col-lg-4">
													<textarea class="form-control m-input" id="JFDetail"
														rows="3"></textarea>
													<span id="validJFDetail"
														style="font-size: 11px; color: #cc0033; "></span>

												</div>
												<label class="col-lg-2 col-form-label" id="Type">
													Soft Skills Type :
													</label>
													<div class="col-lg-4">
															<select type="text" id="form" class="form-control m-input" placeholder="">
																<option value="0">Select</option>
																<option value="Online">Online</option>
																<option value="Offline">Offline</option>
															</select>
															
													</div>
											
											
												
											</div>

											<div class="form-group m-form__group row">
											
												<label class="col-lg-2 col-form-label venuetxt">
													Venue<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4 venuetxt">
													<textarea class="form-control m-input" id="JFVenue" rows="3"
														onfocusout="getvalidated('JFVenue','text','Venue')"></textarea>
													<span id="validJFVenue"
														style="font-size: 11px; color: #cc0033; "></span>
												</div>
												<label class="col-lg-2 col-form-label dropdown" style="display: none;">
													Zoom Link :
												</label>
												<div class="col-lg-4">
														<textarea class="form-control m-input dropdown" id="zoomlink" rows="3"
														 style="display: none;"></textarea>

													
												</div>
											
										</div>


											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													From Date<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<div class="input-group date">
														<input type="text" class="form-control m-input" readonly=""
															onfocusout="getvalidated('m_datepicker_5','text','From Date')"
															placeholder="(DD/MM/YYYY)" id="m_datepicker_5">
														<div class="input-group-append">
															<span class="input-group-text">
																<i class="la la-calendar-check-o"></i>
															</span>
														</div>
													</div>
													<span id="validm_datepicker_5"
														style="font-size: 11px; color: #cc0033; "></span>

												</div>
												<label class="col-lg-2 col-form-label">
													To Date<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<div class="input-group date">
														<input type="text" class="form-control m-input" readonly=""
															placeholder="(DD/MM/YYYY)"
															onfocusout="getvalidated('m_datepicker_6','text','To Date')"
															id="m_datepicker_6">
														<div class="input-group-append">
															<span class="input-group-text">
																<i class="la la-calendar-check-o"></i>
															</span>
														</div>
													</div>
													<span id="validm_datepicker_6"
														style="font-size: 11px; color: #cc0033; "></span>

												</div>
											
											</div>
										
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													File Name:
												</label>
												<div class="col-lg-4">
												<form class="m-form" enctype="multipart/form-data"
															 method="post" action="/JobfairDetails" id="jfupload" >
															 <input type="submit" id="jfpostattach"
															 class="btn btn-success" 
															 style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
															 
													   
														  
															 <input type="file" name="myFile"   onclick="Cookies.set('modaltype', 'jobfair', { expires: 1, path: '/' });">
															 </form>
															</div>
															<label class="col-lg-2 col-form-label">
																Active:
															</label>
															<div class="col-lg-4">
																<label class="m-checkbox">
																	<input type="checkbox" id='chkActiveStatus'>
																	<span></span>
																</label>
															</div>
											</div>
											
											<div class="form-group m-form__group row">
												<div class="col-lg-4"></div>
												<div class="col-lg-4">

													<button type="button" onclick="CheckValidation();"
														class="btn btn-success"
														style="background-color:#716aca;border-color:#716aca;">
												Submit</button>
												

													<button type="button" id="btnSubmit"
														onclick="resetmode();$('#addjobdetails').hide()"
														class="btn btn-success"
														style="background-color:#716aca;border-color:#716aca;">
														Cancel
													</button>
												</div>
												

											</div>
									
								</div>
							</div>


							<div id="searchjobdetail">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Soft Skills Details
											</h3>

										</div>

									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form">
									<div class="m-portlet__body">
										<div class="m-form__section m-form__section--first">

											<!-- <div class="form-group m-form__group row">
																						<label class="col-lg-3 col-form-label">
																							Job Fair Id/Title<span class="required" style="color:red;">*</span> :
																						</label>
																						<div class="col-lg-5">
																							<input type="text" id="textTitle" class="form-control m-input" placeholder=""></input>
																						</div>
																						
																						<div class="col-lg-4">
																								<i class="flaticon-search-magnifier-interface-symbol"></i>
																						
																							<button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																						  Reset
																							</button>
																						</div>
																					</div> -->
											<div class="m-form__group form-group row">
												<label class="col-lg-3 col-form-label">
													Exchange Name <span class="required" style="color:red;">*</span> :
												</label>
												<div class="col-lg-6">
													<select id="ddlExchangeName" class="form-control m-input disable"></select>
												</div>
											</div>
										</div>
									</div>
									<div class="m-portlet__foot m-portlet__foot--fit">
										<div class="m-form__actions m-form__actions">
											<h5> Show Soft Skills List</h5>
											<% include ../../pages/Table %>
										</div>
									</div>
							</div>
							<div id="JFdetailsById" style="display:none">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Soft Skills
											</h3>

										</div>

									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form" id="">
									<div class="m-portlet__body">
										<div class="m-form__section m-form__section--first">




											<div class="m-form__group form-group row">
												<label class="col-lg-2 col-form-label">
													Exchange Name:
												</label>
												<div class="col-lg-4">
													<p id='ExchangeById'>
														<p>
												</div>
												<label class="col-lg-2 col-form-label">
													Title<span class="required" style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<p id='TitleById'>
														<p>
												</div>
											</div>

											<div class="m-form__group form-group row">
												<label class="col-lg-2 col-form-label">
													Detail:
												</label>
												<div class="col-lg-4">
													<p id='DetailById'>
														<p>
												</div>
												<label class="col-lg-2 col-form-label">
													Venue<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<p id='VenueById'>
														<p>
												</div>

											</div>



											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													From Date<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<p id='FrmdtById'>
														<p>
												</div>
												<label class="col-lg-2 col-form-label">
													To Date<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<p id='ToDtById'>
														<p>
												</div>
											</div>

											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Active:
												</label>
												<div class="col-lg-4">
													<label class="m-checkbox">
														<input type="checkbox" id='chkActiveStatusbyId' disabled>

														<span></span>
													</label>
												</div>
												<label class="col-lg-2 col-form-label">
													File Name:
												</label>
											</div>


											<div class="form-group m-form__group row">
												<div class="col-lg-5"></div>
												<div class="col-lg-2">
													<button type="button" id="btnSubmit"
														onclick="$('#JFdetailsById').hide();$('#searchjobdetail').show()"
														class="btn btn-success"
														style="background-color:#716aca;border-color:#716aca;">
														Close
													</button>
												</div>


											</div>
								</form>

							</div>
							</form>
						</div>

						<!--end::Form-->

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="m_modal_5" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body">
					<div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<strong>
								Are you sure to delete?
							</strong>

						</div>
						<div class="m-alert__actions" style="width: 200px;">
							<button type="button" onclick="Delete(localStorage.JFId,'JFDetail');$('#closebtn').click()"
								class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide">
								OK
							</button>
							<button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide"
								data-dismiss="modal" aria-label="Close">
								Dismiss
							</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>

		</div>
	</div>
	</div>
	<!-- begin::Body -->


	<% include ../../partials/footer %>
	</div>
	<!-- end:: Page -->


	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script>
$('#form').on('change', function() {
	if ( this.value == 'Online')
	{
	  $(".dropdown").show();
	  $('.venuetxt').hide();
	}
	else
	{
	  $(".dropdown").hide();
	  $('.venuetxt').show();
	}
  });
  </script>
<script src="../customjs/Softskills/softskillsdetails.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function () {
		localStorage.JFId = '0';
		FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice', 'ddlExchangeName');
		FillSecuredexchangeoffice1('parsedatasecuredFillSecuredexchangeoffice1','addjobfairexchange');
		$('#m_datepicker_5,#m_datepicker_6').datepicker("destroy").datetimepicker({
			format: 'dd/mm/yyyy HH:ii',
			autoclose: true,
		});
		setTimeout(()=>{
            
           FillSoftSkillDetail($('#ddlExchangeName').val());
        },300)
	//	FillSoftSkillDetail('5')
		if(sessionStorage.CandidateId=='28' && sessionStorage.CandidateId=='58'){
			$("#ddlExchangeName").attr('disabled',true)
			$("#addjobfairexchange").attr('disabled',true)
		}
           
		
		var tablehead = "<th>ID</th><th>Title</th><th>Venue</th><th>From Date</th><th >To Date</th><th>Active</th><th>Modify</th><th>Delete</th>";
		$("#tablehead").html(tablehead);
		
		if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
           $( ".disable" ).prop( "disabled", false );
            }
          else{
			  $('#ddlExchangeName').val(sessionStorage.Ex_id);
			  $('#addjobfairexchange').val(sessionStorage.Ex_id); 
      	   $( ".disable" ).prop( "disabled", true );
           }

	});
	if (sessionStorage.getItem("CandidateId") == null) {
		window.location = "/";
	}
</script>
