<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>

			<style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
	
                </style>


		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												Soft Skills
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														Soft Skills Report
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
                                                        <div class="form-group m-form__group row" id="exdiv">
                                                                
                                                                <label class="col-lg-2 col-form-label">
                                                                        Exchange Name :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <select type="text" id="ddlExchangeName" class="form-control m-input" placeholder="Select Exchange">
                                                                            </select>
																	</div>
																	

                                                            </div>                
                                                
                                                    
                                                       
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        From Date :
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                            <div class="input-group date">
                                                                                    <input type="text" class="form-control m-input" readonly=""  placeholder="Select date" id="m_datepicker_6">
                                                                                    <div class="input-group-append">
                                                                                        <span class="input-group-text">
                                                                                            <i class="la la-calendar-check-o"></i>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                    </div>
                                                                    <label class="col-lg-2 col-form-label">
                                                                            To Date :
                                                                        </label>
                                                                        <div class="col-lg-2">
                                                                                <div class="input-group date">
                                                                                        <input type="text" class="form-control m-input" readonly=""  placeholder="Select date" id="m_datepicker_5">
                                                                                        <div class="input-group-append">
                                                                                            <span class="input-group-text">
                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                        </div>
                                                                </div>
                                                               
                                                                   
                                               
                                                    <div class="form-group m-form__group row" style="    place-content: center;">
                                                  <div class="col-lg-3">
                                                    <button type="button" id="btnSubmit" onclick="FetchJobfairReport();" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        Show Report
                                                    </button>
                                                </div>
                                               </div>
											   <div class="m-portlet__foot m-portlet__foot--fit">
													<div class="m-form__actions m-form__actions">
													
													<div class="form-group m-form__group row" style="    overflow: auto; ">
														<a style="margin-left: 96%;"><i class="fa fa-file-excel-o"  onclick="ExportExcel('tableglobal','SoftSkillTrainingReport')"  style="font-size:30px;color:green; margin-bottom:10px;cursor: pointer;"></i></a>

														<div class="col-lg-12">
																<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																<thead>
																	<tr id="tablehead">
															  
																	</tr>
																</thead>
																<tbody id="tbodyvalue"></tbody>
															</table>
															  </div>

													</div>
													
													</div>
                                                </div>  
                                                
                                                <button type="button"  id="savebtn" class="btn btn-success" style="display:none;background-color:#716aca;border-color:#716aca;" onclick="insjobfairReport()">
                                                    Save
                                                  </button>
                                                  <!-- onclick="FilljobfairReport();" -->
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
            </div>
            

















            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog" style="max-width: 1000px;">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Employer</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="newdiv">
                      <div class='addrow'>
                        <div class="form-group m-form__group row">
                           
                                <div class="col-lg-3">
                                        <input type="text" id="jobfairempname0" class="form-control m-input empinput" placeholder="Employer Name">
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" id="Sector0" class="form-control m-input empinput" placeholder="Sector">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="Vacancy0" class="form-control m-input empinput" placeholder="Vacancy">
                        </div>
                        <div class="col-lg-3">
                            <select type="text" id="jobfairreportdis0" class="form-control m-input" placeholder="Plese Enter Employer Name"></select>
                    </div>
                  </div>
                  <div class="form-group m-form__group row">
                    <div class="col-lg-2">
                        <input type="text" id="Salary0" class="form-control m-input empinput" placeholder="Salary">
                </div> 
                <div class="col-lg-2">
                  <input type="number" id="NoofCandidates0" class="form-control m-input empinput" placeholder="No. Of Candidate Selected">
          </div>
          <div class="col-lg-3">
              <input type="number" id="NoofCandidateSelected_Primary0" class="form-control m-input empinput" placeholder="Primary Selection">
      </div>
      <div class="col-lg-3">
          <input type="number" id="NoofCanddiateSelected_Offered0" class="form-control m-input empinput" placeholder="No. of Candidates Recieved Offer Letter">
      </div>
                <div class="col-lg-2" style="margin-top: -1%;">
                    <button type="button" onclick="addrow()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;"> Add More </button>
                </div>
                        </div> 
                      </div> 
                        
                        
                      


                      



                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" onclick="addemployer()" style="background-color:#716aca;border-color:#716aca;">Submit</button>
                      <button type="button" class="btn btn-default" style="background-color:#716aca;border-color:#716aca;" data-dismiss="modal">Close</button>
                    </div>
                  </div>
              
                </div>
              </div>

         
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/Softskills/softskillReport.js" type="text/javascript"></script>
        <script src="../js/pagination.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				$("#tbllist").hide();
              
				
				if(sessionStorage.CandidateId=='28'){
			$("#jobfairreportexchange").attr('disabled',true)
		}

		
      
// 	<th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
//   Launch demo modal
// </button></th>
		if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
            FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','ddlExchangeName');
            FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','jobfairreportdis0');
      
        $('#exdiv').show();
}
else{FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','jobfairreportdis0');
      
	$('#exdiv').hide();
}
							});
					



                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
