<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
            <% include ../../partials/head %>
            <style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											 Master
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
															Contact Us 
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
													
													
											
												
													
														
														
													
														<div class="m-form__actions m-form__actions">
													
														<% include ../../pages/Table %>
														</div>
													
													</div>
                                                   
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							Edit Contact Us
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						
                        <div class="m-form__group form-group row">
                                                     
                            <label class="col-lg-2 col-form-label">
                                DivisionCallCentre:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="DivisionCallCentre" class="form-control"
                                    name="end" onfocusout="getvalidated('DivisionCallCentre','text','Division Call Centre');">
                                    <span id="validDivisionCallCentre" style="font-size: 11px; color: #cc0033; "></span>
                            </div>

                            <label class="col-lg-2 col-form-label">
                                Administration:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="Administration" class="form-control"
                                    name="end" onfocusout="getvalidated('Administration','text','Administration');">
                                    <span id="validAdministration" style="font-size: 11px; color: #cc0033; "></span>
                            </div>
                        </div>

                        <div class="m-form__group form-group row">
                                                     
                            <label class="col-lg-2 col-form-label">
                                DistrictsCovered:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="DistrictsCovered" class="form-control"
                                    name="end" onfocusout="getvalidated('DistrictsCovered','text','DistrictsCovered');">
                                    <span id="validDistrictsCovered" style="font-size: 11px; color: #cc0033; "></span>
                            </div>

                            <label class="col-lg-2 col-form-label">
                                Centre Manager:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="CentreManager" class="form-control"
                                    name="end" onfocusout="getvalidated('CentreManager','text','Centre Manager');">
                                    <span id="validCentreManager" style="font-size: 11px; color: #cc0033; "></span>
                            </div>
                        </div>

                        <div class="m-form__group form-group row">
                                                     
                            <label class="col-lg-2 col-form-label">
                                Contact:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="Contact" class="form-control"
                                    name="end" onfocusout="getvalidated('Contact','text','Contact');">
                                    <span id="validContact" style="font-size: 11px; color: #cc0033; "></span>
                            </div>

                            <label class="col-lg-2 col-form-label">
                                EMailId:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="EMailId" class="form-control"
                                    name="end" onfocusout="getvalidated('EMailId','text','EMailId');">
                                    <span id="validEMailId" style="font-size: 11px; color: #cc0033; "></span>
                            </div>
                        </div>

                        <div class="m-form__group form-group row">
                                                     
                            <label class="col-lg-2 col-form-label">
                                Address:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="Address" class="form-control"
                                    name="end" onfocusout="getvalidated('Address','text','Address');">
                                    <span id="validAddress" style="font-size: 11px; color: #cc0033; "></span>
                            </div>
                            
                        </div>

                            <div class="form-group m-form__group row">
                            <div class="m-alert__actions" style="width: 200px;margin-left: 40%;">
                                <button type="button" onclick="checkval()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                    Submit 
                                 </button>
                                <button type="button" class="btn btn-success"
                                    data-dismiss="modal" aria-label="Close">
                                    Dismiss
                                </button>
                            </div>
                        </div>
					
					</div>
				
				</div>
			</div>
		</div>
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
	<script src="../customjs/Masters/ContactUs.js" type="text/javascript"></script>
	<script src="../customjs/common.js" type="text/javascript"></script>
	<script src="../js/pagination.js" type="text/javascript"></script>
		<script type="text/javascript">
	
            $(document).ready(function () {
				DistrictOffice();
				var tablehead="<th><a  style='color: white;'>#</a></th><th> Division Call Centre</th> <th>Administration</th> <th>Districts Covered</th> <th>Centre Manager</th> <th>Contact</th> <th>EMailId</th> <th>Address</th>  <th>Modify</th>";
                 $("#tablehead").html(tablehead);
							});
						
                  
                </script>