<!DOCTYPE html>
<html>

<head>
	<% include ../../partials/head %>
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
	<meta charset="UTF-8">

	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
	<link href="/css/resumebuilder.css" rel="stylesheet">
	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
	<!-- <div class="row" style="margin-left: 27%;margin-top: 2%;width: 70%;">
		<div class='col-md-4 col-sm-4'>
			<div class='listbtn'><a href='/Dashboard' style="font-size: 170%">Back</a></div>
		</div>
		<div class='col-md-4 col-sm-4'>
			<div class='listbtn'><a href='#' style="font-size: 170%" id="PrintP">Print</a></div>
		</div>
	</div> -->






	<div id="cv" class="instaFade">
		<div class="mainDetails" id="mainDetails">
			<!-- <div id='headshot' class='quickFade' ></div>
			 
	        Employer Name -->

		</div>



		<div id="mainArea" class="quickFade delayFive" id="mainArea">
			<section id="one">
				<!-- <div class="headingresume"> Corporate Details </div> -->
				<div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">First name</div>
						<div class="col-md-3 col-sm-4" id="first"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Last name</div>
						<div class="col-md-3 col-sm-4" id="last"></div>
					</div>

					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Father's name :</div>
						<div class="col-md-3 col-sm-4" id="father"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Gender:</div>
						<div class="col-md-3 col-sm-4" id="gender"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">District:</div>
						<div class="col-md-3 col-sm-4" id="dist1"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Tehshil:</div>
						<div class="col-md-3 col-sm-4" id="tehshi"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Village:</div>
						<div class="col-md-3 col-sm-4" id="village"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Mobile Number:</div>
						<div class="col-md-3 col-sm-4" id="mobnum"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">EmailId:</div>
						<div class="col-md-3 col-sm-4" id="username"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Addhar Number:</div>
						<div class="col-md-3 col-sm-4" id="PanNo"></div>
					</div>


				</div>
			</section>

			


			<div class="clear"></div>
			<div class="ft" id="CVFooter">
			</div>
			<!--// footer -->


		</div>

	</div>


	<% include ../../partials/script %>
	<script src="../customjs/Master/EditDetail.js"></script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();



		$(document).ready(function () {
			fetchViewprofile('parsedatasecuredfetchViewprofile');
		});


		$("#PrintP").click(function () {
			
			$('#cv').removeClass('instaFade');
			$('#cv #mainArea').removeClass('quickFade delayFive');
			$('#cv #mainDetails #headshot').removeClass('quickFade');
			$('#cv #mainDetails #NameCV').removeClass('quickFade delayTwo');
			$('#cv').printThis({
			        debug: true,               // show the iframe for debugging
			        importCSS: true,            // import parent page css
			        importStyle: true,         // import style tags
			        printContainer: true,       // print outer container/$.selector
			        printDelay: 333,            // variable print delay
			        header: "",               // prefix to html
			        footer: null,               // postfix to html
			        base: true,                // preserve the BASE tag or accept a string for the URL
			        formValues: true,           // preserve input/form values
			        canvas: true,              // copy canvas content
			        doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
			        removeScripts: false,       // remove script tags from print content
			        copyTagClasses: true,      // copy classes from the html & body tag
			        afterPrint: function() {
						$('#cv').addClass('instaFade');
						$('#cv #mainArea').addClass('quickFade delayFive');
						$('#cv #mainDetails #headshot').addClass('quickFade');
						$('#cv #mainDetails #NameCV').addClass('quickFade delayTwo');
					}            // function called before iframe is removed);
			});
		});



	</script>





</body>

</html>
