<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<% include ../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
	class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Header -->
		<% include ../partials/header %>
		<!-- end::Header -->
		<!-- begin::Body -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-body__nav">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- begin::Horizontal Menu -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
							<button
								class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
								id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<% include ../partials/Menu %>
						</div>

					</div>
				</div>
				<div
					class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
					<!-- BEGIN: Left Aside -->
					<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
						<i class="la la-close"></i>
					</button>

					<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<h3 class="m-subheader__title m-subheader__title--separator">
										Master
									</h3>
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a href="/index" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>



									</ul>
								</div>
								<% include ../partials/calendar %>
								<div>

								</div>
							</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">
							<div class="m-portlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Activity Master
											</h3>
										</div>

									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form">
									<div class="m-portlet__body">
										<div class="m-form__section m-form__section--first">


											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Type :
												</label>
												<div class="col-lg-4">

													<select type="text" id="ActivityType" onchange="FillType()" class="form-control m-input" placeholder="">
														<option value="0">Select Type</option>
														<option value="Grievence">Grievence</option>
														<option value="FeedBack">FeedBack</option>
													</select>
												</div>


											</div>

											<div class="form-group m-form__group row">



											</div>
											<div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions">

													<% include ../pages/Table %>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
						<div class="modal fade" id="m_modal_activity" role="dialog" style="overflow: auto;">
							<div class="modal-dialog">
							
							<!-- Modal content-->
							<div class="modal-content">
							<div class="modal-header">
							<h4 class="modal-title" id="modalhead">Job Fair Detail</h4>
							<button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
			
							</div>
							<div class="modal-body" id="modalbody6">
							
							
							</div>
							<div class="modal-footer" id="modalfooter">
					
							<button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal"
							aria-label="Close">
							Dismiss
							</button>
							</div>
							</div>
							
							</div>
							</div>

						
						<div class="modal fade" id="myModal" role="dialog" style="overflow: auto;">
							<div class="modal-dialog">
							
							  <!-- Modal content-->
							  <div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="modalhead">Status</h4>
								  <button type="button" class="close" data-dismiss="modal">&times;</button>
								 
								  
								</div>
								<div class="modal-body" id="modalbody" >
									<div class="row">
										<div class="col-md-12"> 
											<div class="formrow">
										<label for="example-email-input" class="col-2 col-form-label">Status </label>
										<select class="form-control" id="Status" name="Comments" placeholder="Comments">
										<!-- <option value="0">Select Status</option> -->
										<!-- <option value="Pending"> Pending </option> -->
										<option value="Close">Close</option>

										</select>
									</div>
								</div>

								<div class="col-md-12"> 
									<div class="formrow">
								<label for="example-email-input" class="col-2 col-form-label">Response </label>
								<input class="form-control" id="Response" name="Comments" placeholder="Response">
							</div>

							<div class="row">
							<div class="col-md-12"> 
								<div class="formrow">
							<label for="example-email-input" class="col-2 col-form-label">Comments </label>
							<textarea class="form-control" style="height: 110px;" id="Comments" name="Comments" placeholder="Comments"></textarea>
						</div>
					</div>

						</div>

							</div>
								</div>
								<div class="modal-footer" id="modalfooter">
									<button type="button" onclick="UpdateActivity()" style="background: #263bd6;color: #fff;border-radius: 0;padding: 10px;font-size: 16px;font-weight: 700;text-transform: uppercase;" class="btn">Submit</button>
									<button type="button" style="background: #263bd6;color: #fff;border-radius: 0;padding: 10px; font-size: 16px; font-weight: 700;text-transform: uppercase;"  data-dismiss="modal" class="btn">Cancel</button>
								</div>
							  </div>
							  
							</div>
						  </div>
						</div>
					</div>
					
						  <footer>
						<% include ../partials/footer %>
						  </footer>
						<!-- end:: Page -->


						<!-- begin::Scroll Top -->
						<div id="m_scroll_top" class="m-scroll-top">
							<i class="la la-arrow-up"></i>
						</div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../partials/script %>
<script src="../customjs/Masters/Activity.js" type="text/javascript"></script>

<script type="text/javascript">

	$(document).ready(function () {
		FillType()
		var tablehead = "<th>SNo</th><th>Activity Type</th><th>Activity Id</th><th>Activity Status</th>";
		$("#tablehead").html(tablehead);
	});
	// localStorage.s_id = "0"

                                                            // 						if (sessionStorage.getItem("CandidateId") == null) {
                                                            // window.location = "/";
                                                         // }
</script>