<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
		<!-- begin::Head -->
	<head>
        <% include ../partials/head %>
        <style>
            .records{
                cursor:pointer;

            }
            .records:hover{
                text-decoration: underline;
            }
            .m-widget29 .m-widget_content .m-widget_content-items .m-widget_content-item>span{
                 text-align: center;
            }
            .card-header {
              height: 299px;
    overflow: auto;
            }
          
			.status{
			
	cursor: pointer;
			}
			.numbers{margin: auto
			;}
			.panel-body {
    padding: 15px;
}
.panel-danger {
    border-color: #ebccd1;
}
.status {
    font-family: 'Source Sans Pro', sans-serif;
}
.panel-danger {
    border-color: #ebccd1;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-danger>.panel-heading {
    color: #c2130f;
    background-color: rgb(252, 153, 40);;
    border-color: #ebccd1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
    line-height: 30px;
    padding-top: 15px;
    letter-spacing: -0.8px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-body {
    padding: 15px;
}
.panel-danger {
    border-color: #ebccd1;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-warning>.panel-heading {
    color: #c2130f;
    background-color: rgb(252, 153, 40);;
    border-color: #faebcc;
}
.panel-success>.panel-heading {
    color: #c2130f
    ;
    background-color: rgb(252, 153, 40);
    border-color: #d6e9c6;
}
.panel-info>.panel-heading {
    color: #31708f;
    background-color: #8cb8cf;
    border-color: #bce8f1;
}
	

            </style>
	</head>

	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../partials/header %>
			
		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../partials/Menu %>
							</div>
							<!-- end::Horizontal Menu -->                                                                        <!--begin::Search-->
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title ">
											Dashboard
										</h3>
									</div>
									<% include ../partials/calendar %>
									<div>
								
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content" id="dashboard123" >
								
								
								<!--Begin::Section-->
                                <div class="row">
                                  <div class="container" id="Collectorate">
                                    <div class="row">
                                      <div class="col-xs-6 col-md-3">
                                        
                                        <div class="panel status panel-danger" style="border-color: #ebccd1;">
                                          <div class="panel-heading">
                                            <strong>Total Job Seeker Registrations</strong>
                                           
                                          </div>
                                          <div class="panel-body text-center">                        
                                            <h1 class="panel-title text-center" id="jobseeker">55</h1>
                                          </div>
                                        </div>
                                  
                                      </div>          
                                      <div class="col-xs-6 col-md-3">
                                        
                                        <div class="panel status panel-warning"  style="border-color: #ebccd1;">
                                          <div class="panel-heading">
                                            <strong>Total Employer Registrations</strong>

                                          </div>
                                          <div class="panel-body text-center">                        
                                            <h1 class="panel-title text-center" id="employers">45</h1>
                                          </div>
                                        </div>
                                  
                                      </div>
                                      <div class="col-xs-6 col-md-3">
                                         
                                        <div class="panel status panel-success" style="border-color: #ebccd1;">
                                          <div class="panel-heading">
                                            <strong>Active Job Fair</strong>

                                          </div>
                                          <div class="panel-body text-center">                        
                                            <h1 class="panel-title text-center" id="jobfair">44</h1>
                                          </div>
                                        </div>
                                  
                                       
                                      </div>
                                      <div class="col-xs-6 col-md-3">
                                         
                                        <div class="panel status panel-success" style="border-color: #ebccd1;">
                                          <div class="panel-heading">
                                            <strong>Total Vacancy</strong>
                                          </div>
                                          <div class="panel-body text-center">                        
                                            <h1 class="panel-title text-center" id="Vacancies">77</h1>
  
                                          </div>
                                        </div>
                                  
                                       
                                      </div>
                                  
                                  </div> 
                                
                            
                                </div>
                                  
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4">
                                        <div class="card ">
                                          <div class="card-header ">
                                            <h5 class="card-title"><strong>Select District</strong> </h5>
                                         
                                              <hr>
                                           
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-12">
                                                <input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" autocomplete="off">
                                            </div>
                                        </div>
                                        
                                            <form action="/action_page.php" >
                                              <div id="districtP">
                                                <!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                <label for="vehicle1">Bhopal</label><br>
                                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                                <label for="vehicle2"> Indore</label><br>
                                                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                                <label for="vehicle3"> Rewa</label><br>
                                                <input type="checkbox" id="vehicle4" name="vehicle3" value="Boat">
                                                <label for="vehicle4"> Sagar</label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> Jabalpur</label><br><br> -->
                                            </div>
                                              </form>
                                        
                                          </div>
                                          
                                     
                                        </div>
                                      </div>
                                      <div class="col-md-4">

                                        <div class="card ">
                                        <div id="barchart_values" style="width: 400px; height: 200px;"></div>
                                    </div>
                                     
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card ">
                                        <div id="donutchart" style="width: 400px; height: 300px;"></div>
                                    </div>
                                     
                                   
                                      </div>
                                 
                                  </div>

                                  <div class="row">
                                    <div class="col-md-4">
                                        <div class="card ">
                                          <div class="card-header ">
                                            <h5 class="card-title"><strong>Education Qualification</strong> </h5>
                                            <hr>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-12">
                                                <input type="text" id="txtSearch" placeholder="Search..." class="form-control m-input" autocomplete="off">
                                            </div>
                                        </div>
                                            <form action="/action_page.php">
                                              <div id="Education">
                                                <!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                <label for="vehicle1">10th Standard</label><br>
                                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                                <label for="vehicle2">12th Standard </label><br>
                                                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                                <label for="vehicle3"> 5th Standard </label><br>
                                                <input type="checkbox" id="vehicle4" name="vehicle3" value="Boat">
                                                <label for="vehicle4"> 6th Standard </label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> 7th Standard </label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> 8th Standard </label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> 9th Standard </label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> B.A. </label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> BSC </label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> BE</label><br>
                                                <input type="checkbox" id="vehicle5" name="vehicle3" value="Boat">
                                                <label for="vehicle5"> B.ED </label><br><br> -->
                                              </div>
                                            </form>
                                          </div>
                                          
                                     
                                        </div>
                                      </div>
                                      <div class="col-md-4">

                                        <div class="card ">
                                        <div id="barchart" style="width: 400px; height: 200px;"></div>
                                    </div>
                                     
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card ">
                                        <div id="donut" style="width: 400px; height: 300px;"></div>
                                    </div>
                                     
                                   
                                      </div>
                                 
                                  </div>
                                  <div class="row">
                                    
                                    <div class="col-md-12">
                                    <div class="card ">
                                      <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
                                    </div>
                                    </div>
                                  </div>
								<!--End::Section-->


<!--Begin::Section-->
							
								<!--End::Section-->
								<!--Begin::Section-->

			<!--End::Section-->
            <div class="row" style="display: none;" id="jobseekerRecord">
                <div class="col-xl-8">
                    <div class="m-portlet m-portlet--mobile ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Qualification Wise Jobseeker
                                    </h3>
                                </div>
                            </div>
                            
                        </div>
                        <div class="m-portlet__body">
                            <table class="table">
                                <!--begin::Thead-->
                                <thead style="background-color: darkblue;">
                                    <tr>
                                        <td class="m-widget11__app" style="color: white;">
                                            Sno
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                            Qualification Wise
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                            Male
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                            Female
                                        </td>
                                    
                                            
                                    </tr>
                                </thead>
                                <!--end::Thead-->
<!--begin::Tbody-->



                                <tbody id="tbodyvalue">
                
                                </tbody>



                                <!--end::Tbody-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4" style="height: 270px;">
                    <!--begin:: Widgets/Audit Log-->
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                               Age And Category Wise Jobseeker
                                    </h3>
                                </div>
                            </div>
                          
                        </div>
                        <div class="m-portlet__body">
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table">
                                    <!--begin::Thead-->
                                    <thead style="background-color: darkblue;">
                                        <tr>
                                            <td class="m-widget11__app" style="color: white;">
                                                Sno
                                            </td>
                                            <td class="m-widget11__app" style="color: white;">
                                            Age Group 
                                            </td>
                                            <td class="m-widget11__app" style="color: white;">
                                                Male
                                            </td>
                                            <td class="m-widget11__app" style="color: white;">
                                                Female
                                            </td>
                                        
                                                
                                        </tr>
                                    </thead>
                                    <!--end::Thead-->
<!--begin::Tbody-->



                                    <tbody id="tbodyvalue3">
                    
                                    </tbody>



                                    <!--end::Tbody-->
                                </table>
                                <!--end::Table-->
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table">
                                    <!--begin::Thead-->
                                    <thead style="background-color: darkblue;">
                                        <tr>
                                            <td class="m-widget11__app" style="color: white;">
                                                Sno
                                            </td>
                                            <td class="m-widget11__app" style="color: white;">
                                                Category
                                            </td>
                                            <td class="m-widget11__app" style="color: white;">
                                                Male
                                            </td>
                                            <td class="m-widget11__app" style="color: white;">
                                                Female
                                            </td>
                                        
                                                
                                        </tr>
                                    </thead>
                                    <!--end::Thead-->
<!--begin::Tbody-->



                                    <tbody id="tbodyvalue2">
                    
                                    </tbody>



                                    <!--end::Tbody-->
                                </table>
                                <!--end::Table-->
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="row" style="display: none;" id="employerRecord">
                <div class="col-xl-4">
                    <div class="m-portlet m-portlet--mobile ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                     Company Type Wise Employer
                                    </h3>
                                </div>
                            </div>
                            
                        </div>
                        <div class="m-portlet__body">
                            <table class="table">
                                <!--begin::Thead-->
                                <thead style="background-color: darkblue;">
                                    <tr>
                                        <td class="m-widget11__app" style="color: white;">
                                            Sno
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                          Company Type
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                           Count
                                        </td>
                                       
                                    
                                            
                                    </tr>
                                </thead>
                                <!--end::Thead-->
<!--begin::Tbody-->



                                <tbody id="tbodyvalueemp1">
                
                                </tbody>



                                <!--end::Tbody-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="m-portlet m-portlet--mobile ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                    Sector Wise Employer
                                    </h3>
                                </div>
                            </div>
                            
                        </div>
                        <div class="m-portlet__body">
                            <table class="table">
                                <!--begin::Thead-->
                                <thead style="background-color: darkblue;">
                                    <tr>
                                        <td class="m-widget11__app" style="color: white;">
                                            Sno
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                          Sector
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                           Count
                                        </td>
                                       
                                    
                                            
                                    </tr>
                                </thead>
                                <!--end::Thead-->
<!--begin::Tbody-->



                                <tbody id="tbodyvalueemp2">
                
                                </tbody>



                                <!--end::Tbody-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="m-portlet m-portlet--mobile ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                     Ownership Wise Employer
                                    </h3>
                                </div>
                            </div>
                            
                        </div>
                        <div class="m-portlet__body">
                            <table class="table">
                                <!--begin::Thead-->
                                <thead style="background-color: darkblue;">
                                    <tr>
                                        <td class="m-widget11__app" style="color: white;">
                                            Sno
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                         Ownership
                                        </td>
                                        <td class="m-widget11__app" style="color: white;">
                                           Count
                                        </td>
                                       
                                    
                                            
                                    </tr>
                                </thead>
                                <!--end::Thead-->
<!--begin::Tbody-->



                                <tbody id="tbodyvalueemp3">
                
                                </tbody>



                                <!--end::Tbody-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>

						</div>






	

						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
		<% include ../partials/footer %>
		
		</div>
		<!-- end:: Page -->
    	     
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		
        <!--begin::Base Scripts -->
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <% include ../partials/script %>
  
     
        <script src="../customjs/Dashboardnew.js" type="text/javascript"></script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['Urban',     20],
              ['Rural',      32],
              ['Blank',  41]
             
            ]);
    
            var options = {
              title: 'Area',
              pieHole: 0.4,
            };
    
            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
          }
        </script>



<!-- <script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["Element", "Density", { role: "style" } ],
      ["12Th Standard", 187523, "silver"],
      ["10th Standard", 103292, "silver"],
      ["D.ED.", 42152, "silver"],
      ["BSC", 30938, "color: silver"],
      ["BA", 24426, "color: silver"],
      ["Diploma", 14164, "color: silver"],
      ["BED.", 12284, "color: silver"],
      ["B.COM", 11692, "color: silver"],
      ["BA", 24426, "color: silver"]
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

    var options = {
      title: "Highest Qualification",
      width: 400,
      height: 300,
      bar: {groupWidth: "95%"},
      legend: { position: "none" },
    };
    var chart = new google.visualization.BarChart(document.getElementById("barchart"));
    chart.draw(view, options);
}
</script> -->

<!-- <script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Male',     60.06],
      ['Female',    39.93],
      ['Others',  0.01]
     
    ]);

    var options = {
      title: 'Gender',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donut'));
    chart.draw(data, options);
  }
</script> -->

<script type="text/javascript">
  // google.charts.load("current", {packages:['corechart']});
  // google.charts.setOnLoadCallback(drawChart);
  // function drawChart() {
  //   var data = google.visualization.arrayToDataTable([
  //   ["Element", "Total Candidate", { role: "style" } ],
  //   ["Indore", 22497, "#b87333"],
  //     ["Bhopal", 21550, "silver"],
  //     ["Jabalpur", 21080, "gold"],
  //     ["Dhar", 18233, "b87333"],
  //     ["Narsinghpur", 4522, "silver"],
  //     ["Sagar", 3522,  "gold"]
  //   ]);

  //   var view = new google.visualization.DataView(data);
  //   view.setColumns([0, 1,
  //                    { calc: "stringify",
  //                      sourceColumn: 1,
  //                      type: "string",
  //                      role: "annotation" },
  //                    2]);

  //   var options = {
  //     title: "District Wise Total Registration",
  //     width: 1300,
  //     height: 300,
  //     bar: {groupWidth: "95%"},
  //     legend: { position: "none" },
  //   };
//     var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
//     chart.draw(view, options);
// }
google.charts.load("current", {packages:["corechart"]});
                google.charts.setOnLoadCallback(FetchDashboardTablecategoryWise());
                function drawChart(datarpt) {
                  var data = google.visualization.arrayToDataTable([
                    ["Element", "Density", { role: "style" } ],
                    datarpt
                  ]);
            
                  var view = new google.visualization.DataView(data);
                  view.setColumns([0, 1,
                                   { calc: "stringify",
                                     sourceColumn: 1,
                                     type: "string",
                                     role: "annotation" },
                                   2]);
            
                  var options = {
                    title: "Category",
                    width: 400,
                    height: 300,
                    bar: {groupWidth: "95%"},
                    legend: { position: "none" },
                  };
                  var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
                  chart.draw(view, options);
                }
</script>
        <script type="text/javascript">

			$(document).ready(function () {
       // Counter()
	
				
			  if (sessionStorage.getItem("CandidateId") == null) {
		window.location = "/";
		}
		});
        </script>
        	<script type="text/javascript">

        $(document).ready(function () {
    //      Counterdash()
 FillDistrictPersonal()
 FillEducation()
 FetchDashboardTablecategoryWise()
          
        });
      
      </script>
	</body>
	<!-- end::Body -->
</html>
