<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../partials/head %>

			<style>
				.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  border-color: #716aca;
}

.first-col {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  left: 0px;
  
  z-index: 20;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 40px;
  z-index: 20;
}
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Employer Verification
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->

							<div class="m-content">
								<div class="m-portlet">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
												<h3 class="m-portlet__head-text">
													Employer Verification
												</h3>
											</div>
										  
										</div>
									</div>
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-portlet__body">
											<div class="m-form__section m-form__section--first">
											<div class="form-group m-form__group row">
																<label class="col-lg-2 col-form-label">
																	 Verification Status :
																</label>
																<div class="col-lg-4">
																		<select type="text" id="Employerstatus" class="form-control m-input" placeholder="">
																		<option value="Select"> Select Employer Verification Status </option>
																		<option value="1"> Verified </option>
																		<option value="0"> Non Verified </option>
																		<option value="4"> Deleted </option>
																		</select>
																</div>
																		
																		<div class="col-lg-2">
																			<button type="button" onclick="" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																				Show Report
																			</button>
																		</div>
																</div>
															  </div>
														   
															  <div class="m-form__section m-form__section--first">
													
																<div class="m-portlet__foot m-portlet__foot--fit">
																	<div class="m-form__actions m-form__actions">
																		<a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','EmployerVerification')" style="font-size:30px;color:green; margin-bottom:10px;"></i></a>
																		<div class="form-group m-form__group row" >
																			<% include Search %>
																	</div>
																	<div class="form-group m-form__group row" style="    overflow: auto; ">
																		<div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
																	<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
																		<thead >
																			<tr id="tablehead">
																	  
																			</tr>
																		</thead>
																		<tbody id="tbodyvalue"></tbody>
																	</table>
																	</div>
																	</div>
																	</div>
																</div>
																</div>		
											</div>
										</div>
										
									</form>
									<!--end::Form-->
									
								</div>







							
								</div>
						</div>
					</div>
				</div>
			</div>

			<!-- data-toggle="modal" data-target="#myModal" -->

			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
			  
				  <div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Employer !</h4>
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
					  <p>Are You Sure !  Want to delete this user</p>
					</div>
					<div class="modal-footer">
						<button type="button" id="deletebtn"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">YES</button>

					  <button type="button"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;" data-dismiss="modal">NO</button>
					</div>
				  </div>
			  
				</div>
			  </div>
			  <div id="modalFile" class="modal fade" role="dialog">
				<div class="modal-dialog">
			  
				  <!-- Modal content-->
				  <div class="modal-content" style=" width: 650px;">
					<div class="modal-header">
						<h4 class="modal-title"></h4>
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  
					</div>
					<div class="modal-body">
					  
						<div class="m-portlet__body">
							<div class="m-form__section m-form__section--first" id='filesrc'>
										  
								 </div>
								<div id="zoom">
								 <!-- <a><button type="button" class="btn btn-default" style="background-color:#716aca;border-color:#716aca;">Zoom</button></a> -->
								</div>					 
							</div>
		
		
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#716aca;border-color:#716aca;">Close</button>
					</div>
				  </div>
			  
				</div>
			  </div>
			<!-- begin::Body -->
			<% include ../pages/EmpVerificationModal %>
			<% include ../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
        <% include ../partials/script %>
        <script src="../customjs/empveri.js" type="text/javascript"></script>
        <script src="../js/pagination.js" type="text/javascript"></script>

       <script type="text/javascript">
            $(document).ready(function () {
			

$('#btnSubmit').on('click',function(){
	if ($("#Employerstatus").val()=='Select') {
        toastr.warning("Please Select Employer Status", "", "info")
         return true;
 }
 else{
	fetchInActiveEmp('0',$("#Employerstatus").val(),'Fetch');
 }
})
				//  fetchInActiveEmp('0','Fetch');
			
        //  var tablehead="<th>Sr No</th><th><a  style='color: white;'>Name</a></th><th>Mobile Number</th><th>Email</th><th>PAN Number</th><th>PAN Document</th><th>GST Number</th><th>GST Document</th><th>Registration Date</th><th>Status</th>"+btn+"";
        //          $("#tablehead").html(tablehead);
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
