    <div id="myModalEmpVerify" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mail For Employer</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
              
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                                  
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                 Subject :
                            </label>
                            <div class="col-lg-10">
                                    <input type="text" id="Subject" class="form-control m-input" placeholder=""/> 
                            </div>
                         </div>
                        
                                   <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                             To :
                                        </label>
                                        <div class="col-lg-10">
                                                <input type="text" id="Employermail" class="form-control m-input" placeholder=""/> 
                                        </div>
                                     </div>

                                     <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                             BCC :
                                        </label>
                                        <div class="col-lg-10">
                                                <textarea type="text" id="bccMail" class="form-control m-input" placeholder=""></textarea>
                                        </div>
                                     </div>

                                     <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                             Body :
                                        </label>
                                        <div class="col-lg-10">
                                                <textarea type="text" id="mailbody" class="form-control m-input" style="height: 100px;" placeholder=""></textarea>
                                        </div>
                                     </div>

                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-2"></div>
                                                    <div class="col-lg-2">
                                                        <button type="button" onclick="sendemail($('#Employermail').val(),'reply',$('#bccMail').val(),$('#mailbody').val(),$('#Subject').val())" id="sendmail" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                            Send Mail
                                                        </button>
                                                    </div>
                                            </div>

                                      </div>
                                   
                                     		
                    </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>