<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            ER-1 Details
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        ER-1 Details

													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
									
											
                                                                               
                                                								
                                            <div class="m-portlet__body">
                                                <div class="m-form__section m-form__section--first">
                                                   <h4 class="m-portlet__head-text"> Quarterly return to be submitted to the local Employment Exchange for the Quarter ended </h3>
                                <p><strong> The following information is required under the Employment Exchanges (Compulsory Notification of Vacancies) Act, 1959. Quarter Ended</strong></p>
                                
                                
                                                    <div class="m-form__group form-group row">
                                                        <label class="col-lg-2 col-form-label">
                                                            Name of the Employer :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" disabled id="empName" autocomplete="off" placeholder=""  class="form-control" name="end">
                                                        </div>
                                                        <label class="col-lg-2 col-form-label">
                                                            Address of the Employer  :
                                                        </label>
                                
                                                        <div class="col-lg-4">
                                                            <input type="text" disabled id="empaddress" autocomplete="off" placeholder="" class="form-control" name="end">
                                                         </div>
                                
                                                        
                                
                                                    </div>
                                                        <div class="m-form__group form-group row">
                                
                                                            <label class="col-lg-2 col-form-label">
                                                                Whether Head Office/Branch Office:
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <input type="text" disabled id="office" autocomplete="off" placeholder=""  class="form-control" name="end">

                                                            </div>
                                
                                                            <label class="col-lg-2 col-form-label">
                                                                Nature of Business/Principal activity :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <input type="text" disabled id="natureofbus" autocomplete="off" placeholder=""  class="form-control" name="end">

                                                            </div>
                                                                
                                                            
                                                        </div>
                                                        <div class="m-form__group form-group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                HR Name:
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <input type="text" disabled id="hrname" autocomplete="off" placeholder=""  class="form-control" name="end">

                                                            </div>
                                                            <label class="col-lg-2 col-form-label">
                                                                Contact Number:
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <input type="text" disabled id="contactno" autocomplete="off" placeholder=""  class="form-control" name="end">

                                                            </div>
                                                                
                                                            
                                                        </div>
                                                    
                                                    <div class="m-form__group form-group row">
                                                        <label class="col-lg-2 col-form-label">
                                                            Email Id :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" disabled id="email" autocomplete="off" placeholder=""  class="form-control" name="end">

                                                        </div>
                                
                                                        <label class="col-lg-2 col-form-label">
                                                            Month:
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" disabled id="Month" autocomplete="off" placeholder=""  class="form-control" name="end">

                                
                                                        </div>
                                                        
                                                    </div>
                                            
                                
                                                    
                                                
                                
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-2 col-form-label" style="font-weight: 500;">
                                                        1(a) Employment
                                                    </label>
                                                    <div class="col-lg-10" style="text-align: left;">
                                                        <span id="validEmailId" >Total number of persons including working proprietors/partners/commission agents/contingent paid and contractual workers on the pay rolls of the establishment excluding part-time workers and apprentices. (The figure should include every person whose wage or salary is paid by the establishment)</span>
                                                    </div>

                                                   


                                                  
                                           
                                            
                                                      <div class="m-portlet__foot m-portlet__foot--fit">
                                                        <div class="m-form__actions m-form__actions">
                                                        
                                <div class="form-group m-form__group row" style="overflow: auto; width: 1000px;">
                                  <div class="col-lg-12">
                                    <table id="tableglobal" class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                      <thead id="tablehead">
                                        <tr class="profilesubheading">
                                          <th style='border-right: inset;'>Man power </th>
                                          <th style="width: 42%;border-right: inset;">On the last working day of the previous quarter  </th>
                                          <th>On the lastworking day of the quarter under report </th>
                                       </tr>
                                      </thead>
                                      <tbody id="tbodyvalue">
                                        <tr>
                                          <td>  Men </td>
                                          <td>
                                            <input type="number" disabled id="men1" onfocusout="getTotalemployement('pre')" class="form-control" placeholder="">
                                          </td>
                                          <td>
                                            <input type="number"disabled  id="men2" onfocusout="getTotalemployement('und')" class="form-control" placeholder="">
                                          </td>
                                         
                                        </tr>
                                        <tr>
                                         <td> Women</td>
                                         <td>
                                           <input type="number" disabled id="Women1" onfocusout="getTotalemployement('pre')" class="form-control" placeholder="">
                                         </td>
                                         <td>
                                           <input type="number" disabled id="Women2" onfocusout="getTotalemployement('und')" class="form-control" placeholder="">
                                         </td>
                                        
                                       </tr>
                                       <tr>
                                       <td>Total </td>
                                         <td>
                                           <input type="text" disabled id="Total1" class="form-control" placeholder="">
                                         </td>
                                         <td>
                                           <input type="text" disabled id="Total2" class="form-control" placeholder="">
                                         </td>
                                       </tr>

                                      </tbody>
                                    </table>
                                      </div>
                                </div>
    
                                       </div>
                                       </div>


                                
                                            </div>
                                
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-12 col-form-label" style="text-align: left;">
                                                        (b) Please indicate the main reasons for any increase or decrease in employment if the increase or decrease is more than 5% during the quarter.
                                                    </label>
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-11">
                                                        <input type="text" disabled id="b1" autocomplete="off" maxlength="" placeholder="" onfocusout=" getvalidated('Min','text','Min Salary');" class="form-control" name="end">
                                                    </div>
                                                   
                                                     </div>

                                                    <div class="form-group m-form__group row">
                                                        <label class="col-lg-8 col-form-label" style="text-align: left;">
                                                        <span class="required" style="color:red;">Note</span>: Establishments are reminded of their obligation under the Employment Exchanges
                                                        </label>
                                                     </div>

                                                     <div class="form-group m-form__group row">
                                                       <label class="col-lg-12 col-form-label" style="text-align: left;">
                                                            (Compulsory Notification of Vacancies) Rules, 1960 for notifying the Employment Exchanges details of vacancies specified under the Act, before they are filled.
                                                        </label>
                                                     </div>

                                                     <div class="form-group m-form__group row">
                                                   <label class="col-lg-2 col-form-label" style="font-weight: 500;text-align: left;">
                                                    2. Vacancies </label>
                                                    <label class="col-lg-8 col-form-label" style="text-align: left;">
                                                    Vacancies carrying total emoluments of Rs.60 or over per month, and of over 3 months duration.                                                       
                                                 </label>
                                                     </div>

                                                     <div class="form-group m-form__group row">
                                                        <label class="col-lg-12 col-form-label" style="text-align: left;">
                                                            2. (a) Number of vacancies occurred and notified during the quarter and the number filled during the quarter No. of vacancies which come within the purview of the Act
                                                         </div>

                                                      


                                                                                                   
                                               <div class="m-portlet__foot m-portlet__foot--fit">
                                                <div class="m-form__actions m-form__actions">
                                                
                        <div class="form-group m-form__group row" style="    overflow: auto; ">
                          <div class="col-lg-12">
                            <table id="tableglobal" class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                              <thead id="tablehead">
                                <tr class="profilesubheading">
                                  <th style='border-right: inset;'>Occurred</th>
                                  <th colspan="2" style='border-right: inset;border-bottom: inset;'>Notified to </th>
                                  <th style='border-right: inset;'>Filled </th>
                                  <th >Source (Describe the source from which filled) </th>
                                 </tr>

                                 <tr class="profilesubheading">
                                  <th style='border-right: inset;'></th>
                                  <th style='border-right: inset;'>Local Employment Exchange  </th>
                                  <th style='border-right: inset;'>Central Employment Exchange </th>
                                  <th style='border-right: inset;'> </th>
                                   <th> </th>
                                </tr>

                              </thead>
                              <tbody id="table1"></tbody>
                            </table>
                              </div>
                        </div>

                               </div>
                               </div>


                                                    <div class="form-group m-form__group row">
                                                    <label class="col-lg-8 col-form-label" style="text-align: left;">
                                                        2. (b) Reasons for not notifying all vacancies occurred during the quarter under report view (a) above.
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input type="text" disabled id="2b" autocomplete="off" maxlength="" placeholder="" onfocusout=" getvalidated('Min','text','Min Salary');" class="form-control" name="end">
                                                        </div>
                                                </div>
                                                <!-- </div> -->
                                
                                
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-3 col-form-label" style="font-weight: 500;text-align: left;">
                                                        3. Manpower Shortages </label>
                                                        <label class="col-lg-6 col-form-label" style="text-align: left;">
                                                        Vacancies/Posts unfilled because of shortage of suitable applicants:                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input type="text" disabled id="3point" autocomplete="off" maxlength="" placeholder="" onfocusout=" getvalidated('Min','text','Min Salary');" class="form-control" name="end">
                                                        </div>
                                                </div>
                                        

                                             



                                                  <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
                                                    
														<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12">
																<table id="tableglobal" class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
																	<thead id="tablehead">
																		<tr class="profilesubheading">
                                      <th colspan="5" style='border-bottom: inset;'>Number of unfilled vacancies/posts  </th>
                                   </tr>
                                    <tr class="profilesubheading">
                                       <th style='border-right: inset;'>Name of the Occupation or designation of the post </th>
                                       <th style='border-right: inset;'>Essential qualifications prescribed   </th>
                                       <th style='border-right: inset;'>Essential experience </th>
                                          <th>Experience not necessary  </th>
                                     </tr>
																	</thead>
																	<tbody id="table2"></tbody>
																</table>
																  </div>
														</div>

                                   </div>
                                   </div>


                                                 


                                                  <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
                                                    
														<div class="form-group m-form__group row" style="    overflow: auto; ">
															<div class="col-lg-12">
																<table id="tableglobal" class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
																	<thead id="tablehead">
																		<tr class="profilesubheading">
                                      <th style='border-right: inset;'>Requirement /Position </th>
                                      <th style='border-right: inset;'>Job Description</th>
                                      <th style='border-right: inset;'>Salary /CTC</th>
                                      <th style='border-right: inset;'>No of Requirements </th>
                                      <th>Job Location</th>
                                    </tr>
																	</thead>
																	<tbody id="table3"></tbody>
																</table>
																  </div>
														</div>

                                   </div>
                                   </div>

                                                  <div class="form-group m-form__group row">
                                                    <label class="col-lg-2 col-form-label" style="text-align: left;">
                                                       Date:                                                   
                                                     </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" disabled id="date" autocomplete="off" maxlength="" placeholder="" onfocusout=" getvalidated('Min','text','Min Salary');" class="form-control" name="end">
                                                        </div>

                                                        <label class="col-lg-2 col-form-label" style="text-align: left;">
                                                            Signature/Name of Employer:                                                    </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" disabled id="Signature" autocomplete="off" maxlength="" placeholder="" onfocusout=" getvalidated('Min','text','Min Salary');" class="form-control" name="end">
                                                        </div>
                                                </div>

                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-2 col-form-label"style="text-align: left;">
                                                        Place:                                                   
                                                     </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" disabled id="Place" autocomplete="off" maxlength="" placeholder="" onfocusout=" getvalidated('Min','text','Min Salary');" class="form-control" name="end">
                                                        </div>
                                                      </div>

                                                      <div class="form-group m-form__group row">
                                                        <label class="col-lg-6 col-form-label"style="text-align: left;">
                                                            To,<br>
                                                      The Employment Exchange<br>
                                                 (Write address of Local Employment Exchange)                                                   
                                                         </label>
                                                          </div>

                                                          <div class="form-group m-form__group row">
                                                            <label class="col-lg-12 col-form-label" style="text-align: left;">
                                                             <span style="color: red;"> Note</span>:- This return shall relate to quarters ending 31st March / 30th June / 30th September and 31st December and shall be rendered to the local Employment Exchange within 30 days after the end of the quarter concerned.                                                  
                                                             </label>
                                                              </div>


                                                              <div class="form-group m-form__group row">
                                                                <p style="text-align: left;">
                                                                    Dear Sir/Madam,</p>
                                                                <p style="text-align: left;">
                                                                    We have re-created the website for Directorate of Employment, Madhya Pradesh
                                                                    
                                                                    The link for the website is mprojgar.gov.in.
                                                                    
                                                                    Kindly visit and do register your organization on the above mentioned URL, to endorse about your company & also
                                                                    
                                                                    do share the open vacancies with in your organization.
                                                                    
                                                                    The services on the My MP ROJGAR portal is free of cost and it covers a huge database of jobseekers from
                                                                    
                                                                    Madhya Pradesh and Pan India.
                                                                    
                                                                    This platform is equipped with the match making of the candidate with the open position on the portal.
                                                                    
                                                                    The same will help you to have list of recommended candidates on the current open positions.
                                                                </p>
                                                                  </div>

                                                                  <div class="form-group m-form__group row">
                                                                    <div class="col-lg-4"></div>
                                                                    <div class="col-lg-4">
                                                                        <button type="button" onclick="window.history.back();sessionStorage.setItem('back','b')" id="btnadd"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                            Back
                                                                        </button>
                                                                      
                                                                    </div>
                                                                </div>
                                    </div>
                                 
                                                                                 
                                  
                                                                                </form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../partials/script %>
		<script src="../customjs/ER1Form.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
				$("#btnsendtoho").hide();
				// FillCCMonth('parsedatasecuredFillCCMonth','ddlMonth');
                // FillYear('parsedatasecuredFillYear','ddlYear');
                
                FetchER1Report(); 
                FetchER1Reporfilledt();
                FetchER1Reportunfilled();
                FetchER1Reportyashaswi();
						});
							
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
