<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >


    <body  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
       
      
      <!-- begin:: Page -->
      <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid  m-error-5" style="background-image: url(../images/error/bg5.jpg);">
          <div class="m-error_container">
            <span class="m-error_title">
              <h1>
                <!-- <h3><%= error.status %></h3>
                <h5><%= message %></h5> -->
                Oops!
              </h1>
            </span>
            <p class="m-error_subtitle">
              Something went wrong  </br>
              <a href="/index">     Click here to go back   </a>
           
            </p>
   
          </div>
        </div>
      </div>
      <!-- end:: Page -->
  

 
    <% include ../partials/script %>
  </body>
  </html>
  <script>


    $(document).ready(function () {
       //sendemail()
    });
    </script>
    <script>
     
  function sendemail(){
    
debugger
    var sub = "Error";
  var body = "<table width='800' border='0' align='center' cellpadding='0' cellspacing='0'><tr><td align='left' valign='top' style='border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; border-top: solid thick #f0f0f0;'><img src='' class='yatmlogo' style='height: 70px; float: left;'> <div style='font-family:Georgia, Times New Roman, Times, serif; font-size:26px; color:#000000;float: right'> fromOlex </div><img src='' class='mplogo' style='float: right; margin-top: -14.5%;'></td> </tr>" +
  "<tr><td align='center' valign='top' style=' border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; background-color:#f0f0f0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='margin-top:10px;'><tr>" +
  "<td align='left' valign='top' style='font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;'>" +
  "<div style='font-size:14px;color:darkgreen'><br>Page NAme "+sessionStorage.getItem("PageName")+", <br></div></br><div style='font-size:13px;'> <h3><%= error.status %></h3> <%= message %></div><br><div style='font-size:13px;'></div></br><div style='font-size:13px;'></div></br>"+
  "<br></div></td></tr></table></td></tr></table>";
  Email.send(globalemailid,

  sub,
  body,
  "smtp.gmail.com",
  globalemailid,
  globalemailpass);
  
  }

</script>
