<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Registration
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
															JobSeeker Registration
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
													
													
											
												
													
														<!-- <div class="m-form__group form-group row">
                                                     
															<label class="col-lg-2 col-form-label">
                                                                <span lang="en">    First Name/प्रथम नाम</span>&nbsp<span class="asterisk_input label-icon"></span>
															</label>
															<div class="col-lg-4">
															    <input type="text"  name="jobseekerfirstname" id="jobseekerfirstname" onkeypress="alphabets()" autocomplete="off"
                                                                           class="form-control" placeholder="First Name"  >
                                                                        <span id="validjobseekerfirstname" style="font-size: 11px; color: #cc0033; " ></span>
                                                            </div>
                                                            

															<label class="col-lg-2 col-form-label">
																Active :
															</label>
															<div class="col-lg-4">
																<label class="m-checkbox">
																	<input type="checkbox" id="ActiveStatuschk">
																	<span></span>
																</label>
															</div>
														</div> -->





                                                        <form   action='/RegistrationXML'  method="post" id="regiatrationform">
                                                            <div class="m-form__group form-group row">
                                                                <label class="col-lg-2 col-form-label">

                                                                <span lang="en">    First Name/प्रथम नाम</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="text"  name="jobseekerfirstname" id="jobseekerfirstname" onkeypress="alphabets()" autocomplete="off"
                                                                         
                                                                           class="form-control" placeholder="First Name"  >
                                                                        <span id="validjobseekerfirstname" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     </div>
                                                                 
                                                                     <label class="col-lg-2 col-form-label">
                                                                     <span lang="en">      Middle Name/मध्य नाम</span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="text"  name="jobseekermiddlename" id="jobseekermiddlename" class="form-control" autocomplete="off" 
                                                                           placeholder="Middle Name" >
                                                                     </div>
                                                            </div>
                                       

                                                                 <div class="m-form__group form-group row">
                                                                <label class="col-lg-2 col-form-label">

                                                                        <span lang="en">Last Name/अंतिम नाम</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="text"  name="jobseekerlastname" id="jobseekerlastname" autocomplete="off"
                                                                        
                                                                           class="form-control" placeholder="Last Name"  >
                                                                           <span id="validjobseekerlastname" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     </div>
                                                                        <label class="col-lg-2 col-form-label">
        
                                                                        <span lang="en">Guardian/Father Name/अभिभावक / पिता का नाम</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="text"  name="fathersname" id="fathersname" class="form-control name-valid" autocomplete="off"
                                                                       
                                                                        class="form-control" placeholder="Guardian/Father Name" >
                                                                        <span id="validfathersname" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     
                                                                     </div>
                                                                 
                                                            </div>
                                                            
                                       
                                       
                                       
                                                            <div class="m-form__group form-group row">
                                                                <label class="col-lg-2 col-form-label">

                                                                        <span lang="en">     Gender/लिंग</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <select class="form-control" name="gender" id="gender"
                                                                        onfocusout="getvalidated('gender','select','Gender')" onchange="getvalidated('gender','select','Gender')"
                                                                         style="height:46px;">
                                                                           <option value="0">Select Gender</option>
                                                                           <option value="Male">Male</option>
                                                                           <option value="Female">Female</option>
                                                                           <option value="Others">Others</option>
                                                                        </select>
                                                                        <span id="validgender" style="font-size: 11px; color: #cc0033; "></span>
                                                                     
                                                                     </div>
                                                                        <label class="col-lg-2 col-form-label">
        
                                                                        <span lang="en">        District/जिला</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <select class="form-control" name="district" id="district"  onfocusout="getvalidated('district','select','District')" onchange="getvalidated('district','select','District')"
                                                                      style="height:46px;">
                                       
                                                                        </select>
                                                                        <span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span>
                                                                    
                                                                     </div>
                                                 </div>

                                                                                    <div class="m-form__group form-group row">
                                                                <label class="col-lg-2 col-form-label">

                                                                        <span lang="en">        Tehsil/तहसील</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <select class="form-control" name="city" id="city" 
                                                                         onchange="getvalidated('city','select','Tehsil')"   style="height:46px;">
                                       
                                                                        </select>
                                                                        <span id="validcity" style="font-size: 11px; color: #cc0033; "></span>
                                                                     </div>
                                                                  
                                                           
                                                                <label class="col-lg-2 col-form-label">

                                                                        <span lang="en">        City/Village/शहर/गांव</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <select class="form-control" name="Village" id="Village" 
                                                                          onchange="getvalidated('Village','select','City/Village')"  style="height:46px;">
                                       
                                                                        </select>
                                                                        <span id="validVillage" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     </div>
                                                                  </div>
                                                              
                                                                  <div class="m-form__group form-group row">
                                                                    <label class="col-lg-2 col-form-label">
    
                                                                        <span lang="en">       Mobile Number/मोबाइल नंबर</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="number"  maxlength="10" onkeydown="if(event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;}"  onpaste="onlyNumbers(event)"  onfocusout="getvalidated('Phone','number','Mobile Number')" onkeypress="if (this.value.length >= 10) { return false; };" name="Phone" id="Phone" class="form-control"
                                                                           placeholder="+91" >
                                                                           <span id="validPhone" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     </div>
                                                                        <label class="col-lg-2 col-form-label">
        
                                                                        <span lang="en">        Email/ईमेल</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="text" autocomplete="off"   name="Email" id="Email" maxlength="200" class="form-control" placeholder="email@example.com"
                                                                        onfocusout="getvalidated('Email','email','Email')" onkeypress="if(event.keyCode ==32){return false;}">
                                                                         <span id="validEmail" style="font-size: 11px; color: #cc0033; " ></span>
                                                                        </div>
                                                                  </div>
                                                            
                                                            
                                                                  <div class="m-form__group form-group row">
                                                                    <label class="col-lg-2 col-form-label">
    
                                                                        <span lang="en">Aadhaar Card/आधार कार्ड</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <select class="form-control" onfocusout="getvalidated('idtype','select','Identification')"  name="idtype" id="idtype" onchange="placeholder()" 
                                                                           style="height:46px;">
                                                                          
                                                                           <option value="Aadhaar Card" selected>Aadhaar Card</option>
                                                                        </select>
                                                                        <span id="valididtype" style="font-size: 11px; color: #cc0033; " ></span>
                                                                    
                                                                     </div>
                                                                 
                                                          
                                                                        <label class="col-lg-2 col-form-label">
        
                                                                        <span lang="en">Aadhaar Number/आधार नंबर</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="text" autocomplete="new-text" value=""   maxlength="16" name="idinput" id="idinput" onfocusout="getvalidated('idinput','text','Aadhaar Number');"
                                                                           
                                                                           class="form-control" placeholder="Aadhaar Number">
                                                                           <span id="valididinput" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     </div>
                                                                    
                                                                  </div>
                                                             
                                       
                                                                  <div class="m-form__group form-group row">
                                                                    <label class="col-lg-2 col-form-label">
    
                                                                       <span lang="en">Date of Birth</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                     <input type="text" style="height:49px"  class="form-control datepicker" name="DOBtextbox" id="DOBtextbox"
                                                                       placeholder="Enter Date of birth" readonly>
                                                                     <span id="validDOBtextbox" style="font-size: 11px; color: #cc0033; "></span>
                                                                   </div>
                                       
                                       
                                                                    <label class="col-lg-2 col-form-label">
    
                                                                       <span lang="en">Category</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                     <select class="form-control" name="Category" id="Category" onfocusout="getvalidated('Category','select','Category')"
                                                                       onchange="getvalidated('Category','select','Category')">
                                                                     </select>
                                                                     <span id="validCategory" style="font-size: 11px; color: #cc0033; "></span>
                                                                   </div>
                                                                 </div>
                                       
                                       
                                                                 <div class="m-form__group form-group row">
                                                                    <label class="col-lg-2 col-form-label">
    
                                                                         <span lang="en">Qualification</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                      </label>
                                                                      <div class="col-lg-4">
                                                                      <select class="form-control" name="ExamPassed" id="ExamPassed" onchange="FillCourse('parsedatasecuredFillCourse','Course');"
                                                                         onfocusout="getvalidated('ExamPassed','select','Qualification')" name="Exam Passed naidExam Passed">
                                                                      </select>
                                                       
                                                                      <span id="validExamPassed" style="font-size: 11px; color: #cc0033; "></span>
                                                                   </div>
                                                                    <label class="col-lg-2 col-form-label">
    
                                                                         <span lang="en">Subject Group</span> &nbsp<span class="asterisk_input label-icon"></span>
                                                                      </label>
                                                                      <div class="col-lg-4">
                                                                      <select class="form-control" name="Course" id="Course" onfocusout="getvalidated('Course','select','Subject Group')"
                                                                         >
                                                                      </select>
                                                       
                                                                      <span id="validCourse" style="font-size: 11px; color: #cc0033; "></span>
                                                                   </div>
                                                                </div>
                                                              
                                       
                                       
                                       
                                                                <div class="m-form__group form-group row">
                                                                    <label class="col-lg-2 col-form-label">
    
                                                                        <span lang="en">           User Name/उपयोगकर्ता का नाम</span> &nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <select class="form-control" name="username" id="username"
                                                                        onfocusout="getvalidated('username','select','User Name')"  onchange="getvalidated('username','select','User Name')"
                                                                            style="height:46px;">
                                                                           <option value="0">Select User Name</option>
                                                                           <option value="Email">Email</option>
                                       
                                                                           <option value="Unique Identification(UID) Number">Unique Identification(UID) Number</option>
                                                                        </select>
                                                                        <span id="validusername" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     </div>
                                                                        <label class="col-lg-2 col-form-label">
        
                                                                              <span lang="en">Password/पासवर्ड</span>&nbsp<span class="asterisk_input label-icon"></span>
                                                                           </label>
                                                                           <div class="col-lg-4">
                                                                              <input name="passwordfield" id="passwordfield" maxlength="100"autocomplete="new-password" type="password" class="form-control"  value=""
                                                                                 placeholder="Password">
                                                                                 <span id="validpasswordfield" style="font-size: 11px; color: #cc0033; " ></span>
                                                                              <!-- <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                                                                                 data-placement="right"
                                                                                 title="<br><h6> <span lang='en'> Password must contain the following:</span> </h6>  <ul class='categories'><li><span lang='en'> Atleast one letter</span> </li><li><span lang='en'> Atleast one number</span> </li><li> <span lang='en'> Not to use special character</span> </li><li> <span lang='en'>Length must be min. 8</span> </li></ul>"
                                                                                 data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                                                              <span toggle="#passwordfield"
                                                                                 class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
                                                                                 <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;" ></span>
                                                                           </div>
                                                                        </div>
                                                              
                                       
                                                               
                                                         
                                                                        <div class="m-form__group form-group row">
                                                                            <label class="col-lg-2 col-form-label">
            
                                                                        <span lang="en">         Confirm Password/पासवर्ड फिर से दर्ज करें</span> &nbsp<span class="asterisk_input label-icon"></span>
                                                                     </label>
                                                                     <div class="col-lg-4">
                                                                        <input type="password"  maxlength="100" name="Repassword" id="Repassword"  class="form-control"
                                                                           placeholder="Confirm Password" >
                                                                           <span id="validRepassword" style="font-size: 11px; color: #cc0033; " ></span>
                                                                     </div>
                                                                  </div>
                                                             
                                                           
                                                            
                                                       
                                                           
                                                                     </br>
                                                               <div class="formrow">
                                                                  <input type="submit" id="proceedbtn" class="btn"  lang="en"  value="Proceed"  data-toggle="modal" data-target="#myModal" style="display: none;">
                                                               </div>
                                                               <div class="formrow">
                                                                   <input   class="btn"  lang="en"  value="Proceed" onclick="CheckValidation();" >
                                                                </div>
                                                            
                                       
                                       
                                       </form>


                                       <div id="myModal" class="modal fade" role="dialog">
                                           <div class="modal-dialog">
                                           
                                           <!-- Modal content-->
                                           <div class="modal-content">
                                           <div class="modal-header">
                                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                                           <h4 class="modal-title">Registration</h4>
                                           </div>
                                           <div class="modal-body">
                                           <p style="color:green">Registration Successful! </p>
                                           </br>
                                       </br>
                                       
                                       <p >Your Registration Number will be generated in next 2 hours.You can find your registration number<strong>"Know Your Registration"</strong> </p>
                                           </div>
                                           <div class="modal-footer">
                                           <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetMode();">Ok</button>
                                           </div>
                                           </div>
                                           
                                           </div>
                                           </div>
														
												
													</div>
                                                   
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../partials/script %>
        <script type="text/javascript">
            function resetMode() {
            jQuery("#jobseekerfirstname").val(""),
            jQuery("#jobseekermiddlename").val(""),
            jQuery("#jobseekerlastname").val(""),
            jQuery("#fathersname").val(""),
            jQuery("#gender option:selected").val('0'),
            jQuery("#district option:selected").val('0'),
            jQuery("#city option:selected").val('99999'),
            jQuery("#idtype option:selected").val('0'),
            jQuery("#idinput").val(""),
            jQuery("#Phone").val(""),
            jQuery("#Email").val(""),
            jQuery("#username option:selected").val('0'),
            jQuery("#passwordfield").val(""),
            jQuery("#Repassword").val(""),
            jQuery("#cpatchaTextBox").val(""),
            
            jQuery("#DOBtextbox").val(""),
            jQuery("#Category").val("0"),
            jQuery("#ExamPassed").val("0"),
            jQuery("#Course").val("0")
            }
            function FillCategory() {
            var path = serverpath + "category/0/0/0/0"
            securedajaxget(path,'parsedatasecuredFillCategory','comment','Category');
            }
            
            function parsedatasecuredFillCategory(data,control){
            data = JSON.parse(data)
            if (data.message == "New token generated"){
            sessionStorage.setItem("token", data.data.token);
            FillCategory();
            }
            else if (data.status == 401){
            toastr.warning("Unauthorized", "", "info")
            return true;
            }
            else if(data.errno) {
            toastr.warning("Something went wrong Please try again later", "", "info")
            return false;
            }
            
            else{
            jQuery("#"+control).empty();
            var data1 = data[0];
            jQuery("#"+control).append(jQuery("<option ></option>").val("0").html("Select Category"));
            for (var i = 0; i < data1.length; i++) {
            jQuery("#"+control).append(jQuery("<option></option>").val(data1[i].CategoryId).html(data1[i].CategoryName));
            }
            }
            
            }
            
            
            
            function FillEducation(funct,control) {
            var path = serverpath + "qualification/0/0/0"
            securedajaxget(path,funct,'comment',control);
            }
            
            function parsedatasecuredFillEducation(data,control){
            data = JSON.parse(data)
            if (data.message == "New token generated"){
            sessionStorage.setItem("token", data.data.token);
            FillEducation('parsedatasecuredFillEducation','ExamPassed');
            }
            else if (data.status == 401){
            toastr.warning("Unauthorized", "", "info")
            return true;
            }
            else if(data.errno) {
            toastr.warning("Something went wrong Please try again later", "", "info")
            return false;
            }
            
            else{
            var data1 = data[0];
            jQuery("#"+control).append(jQuery("<option ></option>").val('0').html("Select Education"));
            for (var i = 0; i < data1.length; i++) {
            jQuery("#"+control).append(jQuery("<option></option>").val(data1[i].Qualif_id).html(data1[i].Qualif_name));
            }
            }
            
            }
            
            
            function FillCourse(funct,control,EducationId) {
            var path = serverpath + "subjectgroup/0/'" +$('#ExamPassed').val()+ "'/1"
            securedajaxget(path,funct,'comment',control);
            }
            
            function parsedatasecuredFillCourse(data,control){
            data = JSON.parse(data)
            if (data.message == "New token generated"){
            sessionStorage.setItem("token", data.data.token);
            FillCourse('parsedatasecuredFillCourse','Course',$('#ExamPassed').val());
            }
            else if (data.status == 401){
            toastr.warning("Unauthorized", "", "info")
            return true;
            }
            else if(data.errno) {
            toastr.warning("Something went wrong Please try again later", "", "info")
            return false;
            }
            
            else{
            jQuery("#"+control).empty();
            var data1 = data[0];
            jQuery("#"+control).append(jQuery("<option ></option>").val("0").html("Select Subject Group"));
            for (var i = 0; i < data1.length; i++) {
            jQuery("#"+control).append(jQuery("<option></option>").val(data1[i].Sub_Group_id).html(data1[i].Sub_Group_Name));
            }
            }
            }
            function FillDistrict(stateid) {
            jQuery.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: serverpath + "district/'"+stateid+"'/0/0/0",
            cache: false,
            dataType: "json",
            success: function (data) {
            jQuery("#district").empty();
            jQuery("#district").append(jQuery("<option ></option>").val("99999").html("Select District"));
            for (var i = 0; i < data[0].length; i++) {
            jQuery("#district").append(jQuery("<option></option>").val(data[0][i].DistrictId).html(data[0][i].DistrictName));
            }
            if(stateid=='0'){
            jQuery('#district').val('209')
            }
            },
            error: function (xhr) {
            toastr.success(xhr.d, "", "error")
            return true;
            }
            });
            }
            jQuery('#district').on('change', function () {
            FillCity(jQuery('#district').val());
            
            FillVillage('99999');
            
            });
            
            function FillCity(district) {
            jQuery.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: serverpath + "city/" + district + "/0/0/0",
            cache: false,
            dataType: "json",
            success: function (data) {
            var data1 = data[0];
            jQuery("#city").empty();
            jQuery("#city").append(jQuery("<option ></option>").val("99999").html("Select Tehsil"));
            for (var i = 0; i < data1.length; i++) {
            jQuery("#city").append(jQuery("<option></option>").val(data1[i].CityId).html(data1[i].CityName));
            }
            },
            error: function (xhr) {
            //swal(xhr.d, "", "error")
            }
            });
            }
            jQuery('#city').on('change', function () {
            FillVillage(jQuery('#city').val());
            });
            
            function FillVillage(city) {
            jQuery.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: serverpath + "village/" + city + "/0/0/0",
            cache: false,
            dataType: "json",
            success: function (data) {
            var data1 = data[0];
            jQuery("#Village").empty();
            
            
            jQuery("#Village").append(jQuery("<option ></option>").val("99999").html("Select City/Village"));
            jQuery("#Village").append(jQuery("<option ></option>").val("89898").html("Other"));
            for (var i = 0; i < data1.length; i++) {
            jQuery("#Village").append(jQuery("<option></option>").val(data1[i].VillageId).html(data1[i].VillageName));
            }
            },
            error: function (xhr) {
            //swal(xhr.d, "", "error")
            }
            });
            }
            function CheckValidation() {
            
            if(isValidate==true){
            var firstname=document.getElementById('jobseekerfirstname');
            var lastname=document.getElementById('jobseekerlastname');
            var fathername=document.getElementById('fathersname');
            var Phone=document.getElementById('Phone');
            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            
            if ($.trim(jQuery('#jobseekerfirstname').val())== '') {
            $(window).scrollTop(0);
            getvalidated('jobseekerfirstname','text','Frist Name');
            return false;
            
            
            }
            if(firstname.value.length < 2 && firstname.value.length > 0 ){
            checkLength('jobseekerfirstname','First Name','2');
            return false;
            
            
            
            
            }
            if ($.trim(jQuery('#jobseekerlastname').val()) == '') {
            $(window).scrollTop(0);
            getvalidated('jobseekerlastname','text','Last Name');
            return false;
            }
            if(lastname.value.length < 3 && lastname.value.length > 0 ){
            checkLength('jobseekerlastname','Last Name','3');
            return false;
            }
            
            if (jQuery('#fathersname').val() == '') {
            $(window).scrollTop(0);
            getvalidated('fathersname','text','Guardian/Father Name','3');
            return false;
            }
            if(fathername.value.length < 3 && fathername.value.length > 0 ){
            checkLength('fathersname','Guardian/Father Name','3');
            return false;
            }
            if (jQuery('#gender').val() == '0') {
            $(window).scrollTop(0);
            getvalidated('gender','select','Gender');
            return false;
            }
            
            
            if (jQuery('#district').val() == '99999') {
            $(window).scrollTop(0);
            getvalidated('district','select','District');
            return false;
            }
            
            if (jQuery('#city').val() == '99999') {
            $(window).scrollTop(0);
            getvalidated('city','select','City');
            return false;
            }
            if (jQuery('#Village').val() == '99999') {
            $(window).scrollTop(0);
            getvalidated('Village','select','City/Village');
            return false;
            }
            if (jQuery('#Phone').val() == '') {
            $(window).scrollTop(0);
            getvalidated('Phone','number','Mobile Number');
            return false;
            }
            if (jQuery('#Phone').val() != '' && Phone.value.length!=10) {
            getvalidated('Phone','number','Mobile Number');
            return false; }
            if (jQuery('#Email').val() == '') {
            $(window).scrollTop(0);
            getvalidated('Email','email','Email');
            return false;
            }
            if (jQuery('#idtype').val() == '0') {
            getvalidated('idtype','select','Identification');
            return false;
            }
            
            if (jQuery('#idinput').val() == '') {
            if (jQuery('#idtype').val() == '0'){
            getvalidated('idinput','text','Identification Number');
            return false;
            }
            if (jQuery('#idtype').val() == 'Aadhaar Card'){
            getvalidated('idinput','text','Aadhaar Number');
            return false;
            }
            if (jQuery('#idtype').val() == '2'){
            getvalidated('idinput','text','Pan Card Number');
            return false;
            }
            if (jQuery('#idtype').val() == '3'){
            getvalidated('idinput','text','Passport Number');
            return false;
            }
            if (jQuery('#idtype').val() == '4'){
            getvalidated('idinput','text','Driving License Number');
            return false;
            }
            }
            
            if (jQuery('#DOBtextbox').val() == '') {
            getvalidated('idtype','text','Date of birth');
            return false;
            }
            
            if (jQuery('#Category').val() == '0') {
            getvalidated('idtype','select','Category');
            return false;
            }
            
            if (jQuery('#ExamPassed').val() == '0') {
            getvalidated('idtype','select','Exam Passed');
            return false;
            }
            
            if (jQuery('#Course').val() == '0') {
            getvalidated('idtype','select','Course');
            return false;
            }
            
            if (jQuery('#username').val() == '0') {
            getvalidated('username','select','User Name');
            return false;
            }
            
            else{
                $('#proceedbtn').click();
            }
            }
            else{
                $('#proceedbtn').click();
            }
            
            };
                  $(document).ready(function () {
            $('.datepicker').datepicker();
                      FillDistrict('19');
                //      FillState();
                //   //   FillResident('parsedatasecuredFillResident','resident');
                      FillCategory();
                      FillCourse('parsedatasecuredFillCourse','Course');
                      FillEducation('parsedatasecuredFillEducation','ExamPassed');
                     
            
                     
            
            
            
                  });
            
               </script>