<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-login m-login--signin  m-login--5" id="m_login" style="background-image: url(../images/bg/bg-3.jpg);">
				<div class="m-login__wrapper-1 m-portlet-full-height">
					<div class="m-login__wrapper-1-1">
						<div class="m-login__contanier">
							<div class="m-login__content">
								<div class="m-login__logo">
									<a>
											<img src="../images/logo1.png" >
										<img src="../images/YATMLogo.png" style="    max-width: 31%;">
									
									</a>
								</div>
							
								<div class="m-login__title">
									<h3>
											MP ROJGAR PORTAL
									</h3>
								</div>
								<div class="m-login__desc">
									Directorate of Employment ,Madhaya Pradesh
								</br>
							</br>
								Department of Technical Education, Skills Development and Employment of Madhya Pradesh
								</div>



								<div class="m-login__form-action">
									<button id="submit" onclick="redirect()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" style="    background-color: #716aca;		    border-color: #716aca;	">
										Home
									</button>
								</div>


		








								
							</div>
						</div>
						<div class="m-login__border">
							<div></div>
						</div>
					</div>
				</div>
				<div class="m-login__wrapper-2 m-portlet-full-height">
					<div class="m-login__contanier">
						<div class="m-login__signin">
							<div class="m-login__head">
								<h3 class="m-login__title">
										Officially Sign In 
								</h3>
							</div>
						<div class="m-login__form m-form">
							<input type="hidden" name="_csrf" value="">
								<div class="form-group m-form__group">
									<input class="form-control m-input"  id="txtlogin" onfocusout="getvalidated('txtlogin','text','Username');" type="text" placeholder="Username" name="username" autocomplete="off" style="padding: .65rem;">
									<span id="validtxtlogin"
									style="font-size: 11px; color: #cc0033; "></span>
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" id="txtpassword" onfocusout="getvalidated('txtpassword','text','Password');" type="Password" placeholder="Password" name="password" style="padding: .65rem;">
									<span id="validtxtpassword"
									style="font-size: 11px; color: #cc0033; "></span>
								</div>
								<div class="form-group m-form__group">
										<tr>
										   <td align="left">
											  <strong><span style=" font-size: 15px;color: #cc0033">Please enter
													the Text Below in
													Text Box</span></strong>
										   </td>
										</tr>
									 </div>
									 <div class="form-group m-form__group">
											<div class="col-md-12">
										   <div class="col-md-4">
												 <div id="captchaheader">
													   
											   </div>
										   
										   </div>
								<div class="form-group m-form__group">
										<input class="form-control m-input" onfocusout="getvalidated('cpatchaTextBox','text','Captcha');"  placeholder="Captcha"  
										id="cpatchaTextBox"  />
										<span id="validcpatchaTextBox"
										style="font-size: 11px; color: #cc0033; "></span>
									</div>
								<!-- <div class="row m-login__form-sub">
										<div class="col m--align-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link">
											Forget Password ?
										</a>
									</div>
								</div> -->
								<div class="m-login__form-action">
									<button id="submit" onclick="CheckValidationHome()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" style="    background-color: #716aca;		    border-color: #716aca;	">
										Sign In
									</button>
								</div>
						
						</div>
					
				
					</div>
				</div>
				</div>
				<div class="m-login__forget-password">
						<div class="m-login__head">
							<h3 class="m-login__title">
								
Forgot your password ?
							</h3>
							<div class="m-login__desc">
							
									Please type your email address below and click "Submit." You must provide the email address associated with your member profile. An email will immediately be sent to the email address associated with your profile. The email will include a link back to the site to reset your password.
							</div>
						</div>
						<form class="m-login__form m-form" action="">
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off" style="padding: .65rem;">
							</div>
							<div class="form-group m-form__group">
									<tr>
									   <td align="left">
										  <strong><span style=" font-size: 15px;color: #cc0033">Please enter
												the Text Below in
												Text Box</span></strong>
									   </td>
									</tr>
								 </div>
								 <div class="form-group m-form__group">
										<div class="col-md-12">
									   <div class="col-md-4">
											 <div id="captchaforgot">
												   
										   </div>
									   
									   </div>
							<div class="form-group m-form__group">
									<input class="form-control m-input"  placeholder="Captcha"  
									id="cpatchaTextBox"  style="padding: .65rem;"/>

								</div>
						
							<div class="m-login__form-action">
								<button id="submitforgot"   onclick="CheckValidationHome()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" style="background-color:#716aca;border-color:#716aca;">
										Submit
								</button>
								<button id="m_login_forget_password_cancel" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" style="background-color:#716aca;border-color:#716aca;">
										Cancel
									</button>
							</div>
					
					</div>
				
			
				</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<% include ../partials/script %>
	
			<script src="../js/login.js" type="text/javascript"></script>
		<script src="../customjs/Adminlogin.js" type="text/javascript"></script> 
		<script src="../customjs/forgot.js" type="text/javascript"></script>
		<!--end::Page Snippets -->
		<script type="text/javascript">
		SessionClear()
		$(document).keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
		CheckValidationHome()
    }
});

			function redirect()
			{
				window.location = JobseekerPath;
	
			}
			</script>
	</body>
	<!-- end::Body -->
</html>
