<div class="form-group m-form__group row" >
    	<% include Search %>
</div>
<div class="form-group m-form__group row" style="    overflow: auto; ">
    <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
    <thead >
        <tr id="Detailhead" style="display: none;">
        </tr>
        <tr id="tablehead">
  
        </tr>
    </thead>
    <tbody id="tbodyvalue"></tbody>
</table>
</div>
</div>
