<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
            <% include ../../partials/head %>
            <style>
                a:hover {
    color: #2739c1;
    text-decoration: none;
}
            </style>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Employer Services
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														Dashboard
													</h3>
												</div>
											  
											</div>
                                        </div>
                                       
											<div class="m-portlet__body">
                                                <div class="form-group m-form__group row"  id='sendAlert'>
                                                    <div class="col-lg-3"></div>                 
                                                                            

                                                    <div class="col-lg-2">
                                                      <button type="button"  onclick="CheckCandidate('email')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        <a href='https://app.powerbi.com/view?r=eyJrIjoiNjBhNTc0MWUtMDQ5OS00YTRiLTg1MGUtNDgxOGZkZWYzZTE3IiwidCI6IjYzMzI3N2ExLTFmMDctNGU5Mi04MDQwLWNiOGNkYmQ2NTQxNCJ9&pageName=ReportSection6afc268c35498536796b' target="_blank" style="color: white;">Zoom</a>
                                                
                                                      </button>
                                                      </div>
                                                    </div>
                                              	<iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNjBhNTc0MWUtMDQ5OS00YTRiLTg1MGUtNDgxOGZkZWYzZTE3IiwidCI6IjYzMzI3N2ExLTFmMDctNGU5Mi04MDQwLWNiOGNkYmQ2NTQxNCJ9&pageName=ReportSection6afc268c35498536796b" frameborder="0" allowFullScreen="true"></iframe>
											</div>
											
										
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
        <% include ../../partials/script %>
        
         <script type="text/javascript">
        
                </script>
	</body>
	<!-- end::Body -->
</html>
