<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
    <% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
    class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <% include ../../partials/header %>
        <!-- end::Header -->
        <!-- begin::Body -->
        <div
            class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                <div class="m-grid__item m-body__nav">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                            <button
                                class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                                id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <% include ../../partials/Menu %>
                        </div>

                    </div>
                </div>
                <div
                    class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    <!-- BEGIN: Left Aside -->
                    <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
                        <i class="la la-close"></i>
                    </button>

                    <!-- END: Left Aside -->
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <!-- BEGIN: Subheader -->
                        <div class="m-subheader ">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h3 class="m-subheader__title m-subheader__title--separator">
                                            Employer Services
                                    </h3>
                                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                        <li class="m-nav__item m-nav__item--home">
                                            <a href="/index" class="m-nav__link m-nav__link--icon">
                                                <i class="m-nav__link-icon la la-home"></i>
                                            </a>
                                        </li>



                                    </ul>
                                </div>
                                <% include ../../partials/calendar %>
                                <div>

                                </div>
                            </div>
                        </div>
                        <!-- END: Subheader -->
                        <div class="m-content">
                            <div class="m-portlet">

                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <!-- <h3 class="m-portlet__head-text">
                                                                Jobseeker Information
                                                            </h3> -->
                                            <div class="m-portlet__body">
                                             <div class="m-form__group form-group row">
                                                    <div class="col-lg-2">
                                                        <button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            Allot NIC
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <a href=""><button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            Verify
                                                        </button></a>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            Modify Profile
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <a href=""><button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            Change Password
                                                        </button></a>
                                                    </div>
                                                    <div class="col-lg-3">
                                                            <button type="button" class="btn btn-success"
                                                                style="background-color:#716aca;border-color:#716aca;">
                                                                Print Registration Card
                                                            </button>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a href=""><button type="button" class="btn btn-success"
                                                                style="background-color:#716aca;border-color:#716aca;">
                                                                Download Profile
                                                            </button></a>
                                                        </div>



                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <h3 class="m-portlet__head-text">
                                                    Employer Registration Details
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <!--begin::Form-->
                                <form class="m-form">


                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions m-form__actions">
                                           
                        

                                            <h5>Corporate Details</h5>
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Registration Number :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="RegNo"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Registration Date :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="RegDate"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Company Type :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="CompanyType"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        Company Name :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="CompanyName"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Nature of Business :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="NatureOfBus"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        NIC Code :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="nicCode"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Office Type :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="OfficeType"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        No. of Employee :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="noOfEmp"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Username :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="Username"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        Password :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="Password"></h6>
                                                </div>
                                            </div>

                                            <h5>Contact Details</h5>
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Contact Person :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="Contactperson"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        Designation :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="Designation"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        State :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="state"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        District :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="district"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        City :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="city"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        Address :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="address"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Pin Code :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="pinCode"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        STD Code :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="stdCode"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Contact No. :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="ContactNo"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                        E-Mail ID :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="emailId"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                    <label class="col-lg-2 col-form-label">
                                                            Web Site :
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <h6 id="website"></h6>
                                                    </div>
                                                   
                                                </div>


                                            


                                        </div>



                                    </div>


                                </form>
                                <!--end::Form-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin::Body -->
        <% include ../../partials/footer %>
    </div>
    <!-- end:: Page -->


    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/EmployerServices/EmployerRegistrationDetails.js" type="text/javascript"></script>
		
<script type="text/javascript">
    $(document).ready(function () {
        FetchEmployerRegDetail('parsedataFetchEmployerRegDetail');

    });
   
</script>