<!DOCTYPE html>
<html>

<head>
	<% include ../../partials/head %>
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
	<meta charset="UTF-8">

	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
	<link href="/css/resumebuilder.css" rel="stylesheet">
	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top" style="height: auto;">
	<div class="row" style="margin-top: 2%;width: 70%;">
		<div class='col-md-6 col-sm-4'>
			<div class='listbtn'><a  style="font-size: 170%;float:right;cursor: pointer;color: #5867dd;" onclick="window.history.back();">Back</a></div>
		</div>
		<div class='col-md-6 col-sm-4'>
			<div class='listbtn'><a href='#' style="font-size: 170%;float:right;" id="PrintP">Print</a></div>
		</div>
	</div>






	<div id="cv" class="instaFade">
		<div class="mainDetails" id="mainDetails">
			<!-- <div id='headshot' class='quickFade' ></div>
			 
	        Employer Name -->

		</div>



		<div id="mainArea" class="quickFade delayFive" id="mainArea">
			<section id="one">
				<div class="headingresume"> Corporate Details </div>
				<div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Registration Number:</div>
						<div class="col-md-3 col-sm-4" id="RegistrationNo"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Registration Date:</div>
						<div class="col-md-3 col-sm-4" id="Registrationdate"></div>
					</div>

					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Sector :</div>
						<div class="col-md-3 col-sm-4" id="Sector"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Ownership:</div>
						<div class="col-md-3 col-sm-4" id="Ownership"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Establishment/Company Name:</div>
						<div class="col-md-3 col-sm-4" id="CompanyName"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Nature of Business:</div>
						<div class="col-md-3 col-sm-4" id="NatureofBusiness"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Office Type:</div>
						<div class="col-md-3 col-sm-4" id="OfficeType"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">No. of Employee:</div>
						<div class="col-md-3 col-sm-4" id="noofemp"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">User Name:</div>
						<div class="col-md-3 col-sm-4" id="username"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Pan No:</div>
						<div class="col-md-3 col-sm-4" id="PanNo"></div>
					</div>


				</div>
			</section>

			<section id="two">
				<div class="headingresume"> Contact Details </div>
				<div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2"> Contact Person:</div>
						<div class="col-md-3 col-sm-4" id="ContactPerson"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row" style="display: none;">
						<div class="col-md-3 col-sm-2"> Designation:</div>
						<div class="col-md-3 col-sm-4" id="Designation"></div>
					</div>

					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">State :</div>
						<div class="col-md-3 col-sm-4" id="State"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">District:</div>
						<div class="col-md-3 col-sm-4" id="District"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>

					<div class="row">
						<div class="col-md-3 col-sm-2">City:</div>
						<div class="col-md-3 col-sm-4" id="City"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row" style="display: none;">
						<div class="col-md-3 col-sm-2"> Address:</div>
						<div class="col-md-3 col-sm-4" id="Address"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2"> Address:</div>
						<div class="col-md-3 col-sm-4" id="CorrespondenceAddress"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">PIN Code:</div>
						<div class="col-md-3 col-sm-4" id="PINCode"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row" style="display: none;">
						<div class="col-md-3 col-sm-2">Fax :</div>
						<div class="col-md-3 col-sm-4" id="Fax"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>

					<div class="row">
						<div class="col-md-3 col-sm-2"> STD Code :</div>
						<div class="col-md-3 col-sm-4" id="STDCode"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">
						<div class="col-md-3 col-sm-2">Contact No.(Landline) :</div>
						<div class="col-md-3 col-sm-4" id="mobile"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">

						<div class="col-md-3 col-sm-2"> Contact No.(Mobile) :</div>
						<div class="col-md-3 col-sm-4" id="ContactNo"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">

						<div class="col-md-3 col-sm-2"> E-Mail ID :</div>
						<div class="col-md-3 col-sm-4" id="email"></div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="row">


						<div class="col-md-3 col-sm-2"> Website :</div>
						<div class="col-md-3 col-sm-4" id="Website"></div>
					</div>

				</div>
			</section>



			<div class="clear"></div>
			<div class="ft" id="CVFooter">
			</div>
			<!--// footer -->


		</div>

	</div>

	<% include ../../partials/script %>

	    
	<script src="../customjs/EmployerServices/EmpProfileview.js"></script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();



		$(document).ready(function () {
			fetchEmpprofile();
		});


		$("#PrintP").click(function () {
			
			$('#cv').removeClass('instaFade');
			$('#cv #mainArea').removeClass('quickFade delayFive');
			$('#cv #mainDetails #headshot').removeClass('quickFade');
			$('#cv #mainDetails #NameCV').removeClass('quickFade delayTwo');
			$('#cv').printThis({
			        debug: true,               // show the iframe for debugging
			        importCSS: true,            // import parent page css
			        importStyle: true,         // import style tags
			        printContainer: true,       // print outer container/$.selector
			        printDelay: 333,            // variable print delay
			        header: "",               // prefix to html
			        footer: null,               // postfix to html
			        base: true,                // preserve the BASE tag or accept a string for the URL
			        formValues: true,           // preserve input/form values
			        canvas: true,              // copy canvas content
			        doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
			        removeScripts: false,       // remove script tags from print content
			        copyTagClasses: true,      // copy classes from the html & body tag
			        afterPrint: function() {
						$('#cv').addClass('instaFade');
						$('#cv #mainArea').addClass('quickFade delayFive');
						$('#cv #mainDetails #headshot').addClass('quickFade');
						$('#cv #mainDetails #NameCV').addClass('quickFade delayTwo');
					}            // function called before iframe is removed);
			});
		});



	</script>





</body>

</html>