<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Employer Services
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														ER-1 Form
													</h3>
												</div>
											  
											</div>
										</div>
										
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                   
                                                                 <h6 style="text-decoration: underline;"><strong lang="en">Quarterly return to be submitted to the local Employment Exchange for the Quarter ended 
                                                                 </strong></h6>
                                                                 <p style="text-decoration: underline;"><strong lang="en"> The following information is required under the
                                                                    Employment Exchanges (Compulsory
                                                                    Notification of Vacancies) Act, 1959.
                                                                    Quarter Ended  
                                                                 </strong></p>
                                                               
                                                                 <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Name of the Employer  <span style="color: red"> * </span> :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <select type="text" id="companyname" class="form-control m-input" placeholder=""> </input>
                                                                               
                                                                        </select>        
                                                                  </div>
                                                                  <div class="col-lg-4">
                                                                    <button type="button"  onclick="handlenotreg()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                      Not Registered?
                                                                    </button>
                                                                   
                                                                </div>
                                                                </div>  
                                                                <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Address of the Employer:
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <input type="text" id="address" class="form-control m-input" placeholder="Address of the Employer"> </input>
                                                                               
                                                                        </div>
                                                            
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Whether Head Office/Branch Office<span style="color: red"> * </span>
                              
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <select name="" id="officetype" class="form-control">
                                                                            <option>Head Office</option>
                                                                            <option>Branch Office</option>
                                                                         </select>       
                                                                  </div>
                                                                </div> 
                                                                <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Nature of Business/Principal activity:
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                                <input type="text" id="BuisnessNature" class="form-control m-input" placeholder="" />
                                                                               
                                                                                
                                                                        </div>
                                                                   
                                                                    <label class="col-lg-2 col-form-label">
                                                                        HR Name
                              
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <input type="text" name="name" id="HR_name" class="form-control" autocomplete="off" >
                                     
                                                                  </div>
                                                                </div>
                                                                <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Contact Number:
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                            <input type="number" name="name" onkeypress="if (this.value.length >= 10) { return false; };" id="Contactnumber" autocomplete="off" class="form-control"   >
                                   
                                                                        </div>
                                                                   
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Email Id
                              
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <input type="text" name="name" id="EmailId"   autocomplete="off"
                                 
                                                                        class="form-control"  >
                                                                  </div>
                                                                </div>

                                                                <div class="form-group m-form__group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Year:
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                            <select type="text" name="name" id="yearddl"
                                                                            class="form-control">
                                                                          
                                                                          </select>
                                                                        </div>
                                                                 
                                                                    <label class="col-lg-2 col-form-label">
                                                                        Month
                              
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <select type="text" name="name" id="Month"
                                                                                 class="form-control">
                              
                                                                        </select>
                                                                  </div>
                                                                  
                                                                   </div>
                                                                   <div class="form-group m-form__group row">
                                                                   <h6 style=" float: left;">1(a) Employment </h6>
                                                                   <p style="text-align: left;color:black">Total number of persons including working proprietors/partners/commission agents/contingent paid and
                                                                    contractual workers on the pay rolls of the establishment excluding part-time workers and apprentices. (The figure
                                                                    should include every person whose wage or salary is paid by the establishment) 
                                                                    </p>
                                                                    <br>
                                                                  <table class="table">
                                                                    <tr class="profilesubheading">
                                              
                                                                      <th>Man
                                                                       power </th>
                                                                      <th style="width: 42%;">On the last working day of the previous
                                                                       quarter 
                                                                       </th>
                                                                      <th>On the last working day of the quarter under
                                                                       report </th>
                                                                
                                              
                                              
                                                                    </tr>
                                                                    <div class="clearfix"></div>
                                                                    <tbody >
                                              <tr >
                                                <td>
                                          Men
                                                </td>
                                                <td style='    width: 18%;'>
                                                  <input type="number" id="prequartermen" onfocusout="getTotalemployement('pre')" class="form-control" placeholder="" />
                                              
                                                </td>
                                                <td>
                                                  <input type="number" id="UndQuaterMen" onfocusout="getTotalemployement('und')"  class="form-control" placeholder="" />
                                                </td>
                                               
                                              </tr>
                                              <tr >
                                               <td>
                                                Women
                                               </td>
                                               <td style='    width: 18%;'>
                                                 <input type="number" id="PreQuaterWomen" onfocusout="getTotalemployement('pre')" class="form-control" placeholder="" />
                                             
                                               </td>
                                               <td>
                                                 <input type="number" id="UndQuaterWomen" onfocusout="getTotalemployement('und')" class="form-control" placeholder="" />
                                               </td>
                                              
                                             </tr>
                                             <tr>
                                             <td>Total
                                               </td>
                                               <td style='    width: 18%;'>
                                                 <input type="text" id="PreQuaterTotal" class="form-control" placeholder="" disabled/>
                                             
                                               </td>
                                               <td>
                                                 <input type="text" id="UndQuaterTotal" class="form-control" placeholder="" disabled/>
                                               </td>
                                              
                                             </tr>
                                                                    </tbody>
                                                                  </table>
                                                         
                                                                </div>
                                                                <div class="form-group m-form__group row">
                    
                    
                                                                  <div class="col-md-12">
                                                                     <div class="formrow">
                                                                        <label for="example-email-input" class="col-form-label">
                                                                           <span lang="en"><span style='color:red'>Note:</span> Establishments are reminded of their obligation under the Employment Exchanges  </span>
                                                                        </label>
                                                                        <label for="example-email-input" class="col-form-label">
                                                                           (Compulsory Notification of Vacancies) Rules, 1960 for notifying the Employment Exchanges details of vacancies
                                       specified under the Act, before they are filled. 
                                       </label>
                                       <br>
                                       <label for="example-email-input" class="col-form-label">
                                          2. Vacancies<br>
                                       Vacancies carrying total emoluments of Rs.60 or over per month, and of over 3 months duration. 
                                       
                                       </label>
                                       <br>
                                       <label for="example-email-input" class="col-form-label">
                                          2. (a) Number of vacancies occurred and notified during the quarter and the number filled during the quarter
                                          No. of vacancies which come within the purview of the Act 
                                       </label>
                                                                        <div class="formrow">
                                                                           <table class="table">
                                                                              <tr class="profilesubheading">
                                                        
                                                                                <th>Occurred</th>
                                                                                <th colspan="2">Notified to </th>
                                                                                <th>Filled </th>
                                                                                <th>Source (Describe the source
                                                                                 from which filled)
                                                                                 </th>
                                                                                 <th>Add
                                                                                 </th>
                                                        
                                                        
                                                                              </tr>
                                                                              <tr class="profilesubheading">
                                                        
                                                                                 <th></th>
                                                                                 <th>Local Employment
                                                                                    Exchange  </th>
                                                                                 <th>Central Employment
                                                                                    Exchange </th>
                                                                                 <th>
                                                                                  </th>
                                                                                  <th>
                                                                                 </th>
                                                                                 <th>
                                                                                 </th>
                                                         
                                                                               </tr>
                                                                              <div class="clearfix"></div>
                                                                              <tbody class="vacancydetailfilled" id="vacancydetailfilled">
                                                        <tr class="addrowvacancydetail">
                                                          <td>
                                                            <input type="text" id="occured0" class="form-control" placeholder="" />
                                                          </td>
                                                          <td style='    width: 18%;'>
                                                            <input type="text" id="localemp0" class="form-control" placeholder="" />
                                                        
                                                          </td>
                                                          <td>
                                                            <input type="text" id="centralemp0" class="form-control" placeholder="" />
                                                          </td>
                                                          <td>
                                                            <input type="text" id="filled0" class="form-control" placeholder="" />
                                                          </td>
                                                          <td>
                                                            <input type="text" id="source0" class="form-control" placeholder="" />
                                                          </td>
                                                        
                                                          <td>
                                                            <input type="submit"  class="btn" value="Add" onclick="addNewfilledvacancyRow()" />
                                                          </td>
                                                        </tr>
                                                                              </tbody>
                                                                            </table>  
                                                                            <br>
                                       
                                                                            </div>
                                                                     </div>
                                                                  </div>
                                                                  </div>
                                                                <div class="form-group m-form__group row">
                    
                    
                                                                    <div class="col-md-12">
                                                                       <div class="formrow">
                                                                          <label for="example-email-input" class="col-form-label" style="float: left;">
                                                                             <span lang="en">2. (b) Reasons for not notifying all vacancies occurred during the quarter under report view (a) above. </span>
                                                                          </label>
                                                                          <div class="formrow">
                                                                             <input type="text" name="name" id="Reason" autocomplete="off"
                                                                             
                                                                                class="form-control"  >
                                                                                <span id="validemailid" style="font-size: 11px; color: #cc0033; " ></span>
                                                                          </div>
                                                                       </div>
                                                                    </div>
                                                                    </div>
                                                                    <div class="form-group m-form__group row">
                    
                    
                                                                        <div class="col-md-12">
                                                                           <div class="formrow">
                                                                              
                                                                              <label for="example-email-input" class="col-form-label" style="float: left;">
                                                                                 3. Manpower Shortages 
                                       
                                             </label>
                                            </div>
                                        </div>
                                             <br>
                                             <div class="col-md-12">
                                             <label for="example-email-input"  style="float: left;">
                                                Vacancies/Posts unfilled because of shortage of suitable applicants: 
                                             
                                             </label>
                                             <br>
                                           
                                                                              <div class="formrow">
                                                                                 <table class="table">
                                                                                    <tr class="profilesubheading">
                                                              
                                                                                      <th colspan="5">Number of unfilled vacancies/posts 
                                                                                    </th>
                                                                                   
                                                              
                                                              
                                                                                    </tr>
                                                                                    <tr class="profilesubheading">
                                                              
                                                                                       <th>Name of the Occupation or designation of the post </th>
                                                                                       <th>Essential qualifications prescribed   </th>
                                                                                       <th>Essential experience </th>
                                                                                          <th>Experience not necessary  </th>
                                                                                        <th>Add</th>
                                                                                     </tr>
                                                                                    <div class="clearfix"></div>
                                                                                    <tbody class="vacancydetailunfilled" id="vacancydetailunfilled">
                                                              <tr class="addrowunfilled">
                                                                <td>
                                                                  <input type="text" id="occupation0" class="form-control" placeholder="" />
                                                                </td>
                                                                <td style='    width: 18%;'>
                                                                  <input type="text" id="qualification0" class="form-control" placeholder="" />
                                                              
                                                                </td>
                                                                
                                                                <td>
                                                                  <input type="text" id="experience0" class="form-control" placeholder="" />
                                                                </td>
                                                                <td>
                                                                  <input type="text" id="experiencenot0" class="form-control" placeholder="" />
                                                                </td>
                                                                <td>
                                                                  <input type="submit"  class="btn" value="Add" onclick="addNewunfilled()" />
                                                                </td>
                                                              </tr>
                                                                                    </tbody>
                                                                                  </table>  
                                                                                  <br> 
                                                                           </div>
                                                                           </div>
                                                                           </div>
                                                                           <div class="form-group m-form__group row">
                                                               <div class="col-md-12">
                                                                 <div class="formrow">
                                                                   <table class="table" id="vacancytable">
                                                                     <tr class="profilesubheading">
                                               
                                                                       
                                                                       <th>Requirement /Position </th>
                                                                       <th>Job Description</th>
                                                                       <th>Salary /CTC</th>
                                                                       <th>No of Requirements </th>
                                                                       <th>Job Location</th>
                                                                       <th>Add</th>
                                               
                                               
                                                                     </tr>
                                                                     <div class="clearfix"></div>
                                                                     <tbody class="vacancydetail" id="vacancydetail">
                                               <tr class="addproductrow">
                                                 
                                                 <td style='    width: 18%;'>
                                                   <input type="text" id="position0" class="form-control" placeholder="" />
                                               
                                                 </td>
                                                 <td>
                                                   <input type="text" id="jobdescription0" class="form-control" placeholder="" />
                                                 </td>
                                                 <td>
                                                   <input type="text" id="salary0" class="form-control" placeholder="" />
                                                 </td>
                                                 <td>
                                                   <input type="text" id="noofrequirement0" class="form-control" placeholder="" />
                                                 </td>
                                                 <td>
                                                   <input type="text" id="joblocation0" class="form-control" placeholder="" />
                                                 </td>
                                                 <td>
                                                   <input type="submit"  class="btn" value="Add" onclick="addNewProductRow()" />
                                                 </td>
                                               </tr>
                                                                     </tbody>
                                                                   </table>
                                                               </div>
                                                               </div>
                                                               </div>
                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                   Date
                          
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <div class="input-group date">
                                                                        <input type="text" class="form-control m-input" readonly=""
                                                                            onfocusout="getvalidated('m_datepicker_5','text','Date')"
                                                                            placeholder="(DD/MM/YYYY)" id="m_datepicker_5">
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text">
                                                                                <i class="la la-calendar-check-o"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <span id="validm_datepicker_5"
                                                                        style="font-size: 11px; color: #cc0033; "></span>
                
                                                                </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    Signature/Name of Employer :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <input type="text" name="name" id="Signature" autocomplete="off"
                                 
                                                                        class="form-control"  >
                                                                    </div>
                                                               </div>
                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                   Place
                          
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <input type="text" name="name" id="Place"   autocomplete="off"
                             
                                                                    class="form-control"  >
                                                              </div>
                                                               
                                                               </div>
                                                                <div class="form-group m-form__group row">
                    
                    
                                                                <div class="col-md-12">
                                                                   <div class="formrow">
                                                                      <label for="example-email-input" class="col-form-label" style="float: left;">
                                                                         <span lang="en">To,  </span>
                                                                      </label><br>
                                                                      <label for="example-email-input" class="col-form-label" style="float: left;">
                                                                         <span lang="en">The Employment Exchange  </span>
                                                                         <span lang="en">(Write address of Local Employment Exchange) 
                                                                        </span>
                                                                      </label>
                                                 
                                                                      <br>
                                                                      <br>
                                                                      <label for="example-email-input" class="col-form-label" style="float: left;">
                                                                         <span lang="en"><span style="color: red;">Note:-</span> This return shall relate to quarters ending 31st March / 30th June / 30th September and 31st December and
                                                                            shall be rendered to the local Employment Exchange within 30 days after the end of the quarter concerned.  
                                                                         </span>
                                                                      </label>
                                                                   </div>
                                                                </div>
                                                               
                                                                </div>
                                                                </br>
                                                                 <div class="form-group m-form__group row">
                                                      
                                                      
                                                                   <div class="col-md-12">
                                                                      <div class="formrow">
                                                                            <p style="    display: inline-block;width: 100%;text-align: left;" >Dear Sir/Madam,</p>
                                                                               <p style="    display: inline-block;width: 100%;text-align: left;">We have re-created the website for Directorate of Employment, Madhya Pradesh</p><p style="    display: inline-block;width: 100%;text-align: left;" >
                                                                                The link for the website is mprojgar.gov.in.</p><p style="    display: inline-block;width: 100%;text-align: left;">
                                                                                Kindly visit and do register your organization on the above mentioned URL, to endorse about your company & also</p> <p style="    display: inline-block;width: 100%;text-align: left;">do share the open vacancies with in your organization. 
                                                                                </p>  <p style="    display: inline-block;width: 100%;text-align: left;">The services on the My MP ROJGAR portal is free of cost and it covers a huge database of jobseekers from</p><p style="    display: inline-block;width: 100%;text-align: left;"> Madhya Pradesh and Pan India. 
                                                                                </p> <p style="    display: inline-block;width: 100%;text-align: left;">This platform is equipped with the match making of the candidate with the open position on the portal.
                                                                                </p> <p style="    display: inline-block;width: 100%;text-align: left;">The same will help you to have list of recommended candidates on the current open positions. </p>
                                                
                                                                      </div>
                                                                   </div>
                                                                  
                                                                   </div>
                                                                   <div class="form-group m-form__group row" style="    place-content: center;">
                                                                    <div class="col-lg-3">
                                                                      <button type="button" onclick="CheckER1();"  id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                          Submit 
                                                                      </button>
                                                                     
                                                                  </div>
                                                                 </div>
												</div>
											</div>
											
										
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
        <% include ../../partials/script %>
        
        <script src="../customjs/EmployerServices/ER1Form.js" type="text/javascript"></script>
         <script type="text/javascript">
         function handlenotreg(){
             sessionStorage.erType='er1form';
             window.location='/NewEmployerRegistration';
         }
            $(document).ready(function () {
                localStorage.Id='0';
                
                FillMonthER1('parsedatasecuredFillMonthER1','Month');
         FillYear('parsedatasecuredFillYear','yearddl');
                fetchInActiveEmp('0','1','Fetch')
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
