<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                                Employer Services
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										
											
										<div id="SearchGD"><div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            ER I-Form Submission and Verification

													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">

														<div class="m-portlet__foot m-portlet__foot--fit">
                                                                <div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
                                                                <h5 style="color: red;">  कैसे उपयोग करे </h5>
                                                          <ul>
                                                         <li>इस उपयोगिता के द्वारा, आप दिए गए विकल्पों के आधार पर उन सब Employers का रिकार्ड खोज सकते है जिनके द्वारा ER-I Submission Details भरा गया है या नही तथा उनका ER-I प्रमाणित है या नही ।
															</li>
                                                        
                                                         
                                                        
                                                            </ul>
        
                                                                </div>
                                                            </div>





                                                        <div class="m-form__group form-group row">
                                                      
                                                                <label class="col-lg-4 col-form-label">
                                                                        ER-I Session	:
                                                                </label>
                                                                <div class="col-lg-4">
                                                                 </div>
                                                            </div>
                                                 
							                    <div class="m-form__group form-group row">
                                                      
                                                        <label class="col-lg-2 col-form-label">
                                                                Company Type	:
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <select id="SubjectGroup" class="form-control m-input"></select>
                                                        </div>
                                                        <label class="col-lg-2 col-form-label">
                                                                Employer Name :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <select id="exchange" class="form-control m-input" ></select>
															</div>
							                    </div>
															<div class="m-form__group form-group row">
																<div class="col-lg-12">
															<input type="radio" name="radio" value="1" checked id='chkActiveStatusbyId' >ER-I Submitted <span style="color:red">Choose option and click on search button for list of Employer whose ER-I Submitted and click on Registration No. for view details.</span></br>
															<input type="radio" value="2" name="radio" id='chkActiveStatusbyId' >ER-I Not Submitted<span style="color:red">Choose option and click on search button for list of Employer whose ER-I is submitted and click on Registration No. for Submission of ER-I</span></br> 
															<input type="radio" value="12" name="radio" id='chkActiveStatusbyId'> ER-I Verified<span style="color:red">Choose option and click on search button for list of Employer whose ER-I is verified and click on Registration No. for view details.</span></br>
																				
															<input type="radio" value="13" name="radio" id='chkActiveStatusbyId' >ER-I Not Verified <span style="color:red">Choose option and click on search button for list of Employer whose ER-I is submitted but not verified and click on Registration No. for Verification.
																</span>
                                                                                      
														</div>
													</div>								
																		
															<!-- <ol>
                                                            <div class="col-lg-6">
                                                                    
                                                                          <li>  <input type="radio" name="radio" value="1" checked id='chkActiveStatusbyId' >ER-I Submitted</li>
																		</div>
																		<div class="col-lg-6">
																				<li>  <input type="radio" value="2" name="radio" id='chkActiveStatusbyId' >ER-I Not Submitted</li> 
																			</div>
																			<div class="col-lg-6">
                                                                           
																					<li>  <input type="radio" value="12" name="radio" id='chkActiveStatusbyId'> ER-I Verified</li>
																				</div>
																				<div class="col-lg-6">
																						<li> <input type="radio" value="13" name="radio" id='chkActiveStatusbyId' >ER-I Not Verified</li> 
                                                                                      
																					</div>
																				</ol> -->
																			</div>
																			 
                                                                    
                                                                                   
                                                                             
                                                                                    
                                                                            
                                                                                            
                                                                                    
                                                                                     
                                                                                                
                                                                                            
                                                                                             

                                                    

                                                   

											

												<div class="form-group m-form__group row">
														<div class="col-lg-5"></div>
																<div class="col-lg-2">
																	<button type="button"id="btnSubmit"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																		         	Search
																				</button>
																</div>
																
																
															</div>
											</div>
											
										</form></div>
										<!--end::Form-->
										
									
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
	
		      <script type="text/javascript">
            $(document).ready(function () {
		
							});
							
  
                </script>








