<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<% include ../../partials/head %>
	<style>
		.center1 {
			text-align: center;
		}

		.pagination {
			display: table-cell !important;
		}

		.pagination a {
			color: black;
			float: none;
			padding: 8px 16px;
			text-decoration: none;
			transition: background-color .3s;
			border: 1px solid #ddd;
			margin: 4px 4px 4px 4px;
		}

		.pagination a.active {
			background-color: #4CAF50;
			color: white;
			border: 1px solid #4CAF50;
		}

		.pagination a:hover:not(.active) {
			background-color: #ddd;
		}
	</style>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
	class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Header -->
		<% include ../../partials/header %>
		<!-- end::Header -->
		<!-- begin::Body -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-body__nav">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- begin::Horizontal Menu -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
							<button
								class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
								id="m_aside_header_menu_mobile_close_btn">
								<i class="la la-close"></i>
							</button>
							<% include ../../partials/Menu %>
						</div>

					</div>
				</div>
				<div
					class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
					<!-- BEGIN: Left Aside -->
					<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
						<i class="la la-close"></i>
					</button>

					<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
							<div class="d-flex align-items-center">
								<div class="mr-auto">
									<h3 class="m-subheader__title m-subheader__title--separator">
										Employer Services
									</h3>
									<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
										<li class="m-nav__item m-nav__item--home">
											<a href="/index" class="m-nav__link m-nav__link--icon">
												<i class="m-nav__link-icon la la-home"></i>
											</a>
										</li>



									</ul>
								</div>
								<% include ../../partials/calendar %>
								<div>

								</div>
							</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">
							<div class="m-portlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Interested Candidate Report
											</h3>
										</div>

									</div>
								</div>
								<!--begin::Form-->
								<!-- <form class="m-form"> -->
								<div class="m-portlet__body">
									<div class="m-form__section m-form__section--first">


										<div class="form-group m-form__group row">
											<label class="col-lg-2 col-form-label">
												Company/Client Name:
											</label>
											<div class="col-lg-4">
												<select id="companyname" onchange="fetchOpenVacancies()"
													onfocusout="getvalidated('companyname','select','Company/Client Name')"
													class="form-control">

												</select>

												<span id="validcompanyname"
													style="font-size: 11px; color: #cc0033; "></span>
											</div>

											<label class="col-lg-2 col-form-label">
												Vacancy:
											</label>
											<div class="col-lg-4">
												<select type="text" id="postvacancy"
													onfocusout="getvalidated('postvacancy','select','Vacancy')"
													class="form-control">

												</select>
												<span id="validpostvacancy"
													style="font-size: 11px; color: #cc0033; "></span>

											</div>


										</div>


										<div class="form-group m-form__group row">
											<label class="col-lg-4">

											</label>
											<div class="col-lg-3">

												<button type="button" id="btnSubmit" onclick="checkValidation()"
													class="btn btn-success"
													style="background-color:#716aca;border-color:#716aca;">
													Submit
												</button>

											</div>
										</div>





										<div class="m-portlet__foot m-portlet__foot--fit">

											<div class="m-form__actions m-form__actions">
												<a style="margin-left: 96%;"><i class="fa fa-file-excel-o"
														onclick="ExportExcel('tableglobal','interestedcandidiateList')"
														style="font-size:30px;color:green; margin-bottom:10px;margin-top: 10px"></i></a>

												<div class="form-group m-form__group row">
													<% include ../../pages/Search %>
												</div>
												<div class="form-group m-form__group row" style="    overflow: auto; ">
													<div class="col-lg-12" style='max-height: 400px;'
														id="paginationbind">
														<table
															class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand"
															id="tableglobal">
															<thead> 
																<tr> 
																<th colspan='9' id="companynamexl">  </th> </tr>
																<tr>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																</tr>
																<tr id="tablehead">

																</tr>
															</thead>
															<tbody id="tbodyvalue"></tbody>
														</table>
													</div>
												</div>

											</div>

										</div>

									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<% include ../../partials/footer %>

			<!-- end:: Page -->


			<!-- begin::Scroll Top -->
			<div id="m_scroll_top" class="m-scroll-top">
				<i class="la la-arrow-up"></i>
			</div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/EmployerServices/InterestedCandidateList.js" type="text/javascript"></script>

<script type="text/javascript">

	$(document).ready(function () {
		FillEmployer();
		var tablehead = "<th>SrNo</th><th>Candidate Name</th><th>Mobile Number</th><th>Email</th><th>Adhaar Number</th><th>District Name</th><th>Qualification</th><th>Experience</th><th>Application Date</th>";
		$("#tablehead").html(tablehead);
	});


	if (sessionStorage.getItem("CandidateId") == null) {
		window.location = "/";
	}
</script>