<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Employer Services
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
													 Employer Registration Form
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<div class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">

                                                        <div class="m-portlet__foot m-portlet__foot--fit">
                                                                <div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
                                                                <h5 style="color: red;">  कैसे उपयोग करे </h5>
                                                          <ul>
                                                         <li>इस उपयोगिता के द्वारा रोजगार कार्यालय के अधिकारी/कर्मचारी के द्वारा Employer का पंजीयन किया जा सकता है।</li>
                                                         <li>इस Form में रोजगार कार्यालय के अधिकारी/कर्मचारी को NIC Code भरना अनिवार्य है।</li>
                                                         
                                                        
                                                            </ul>
        
                                                                </div>
                                                            </div>

                                                    
                                                 <span style="color: red">Fields mark with * are Mandatory
                                                     </span>
                                                     
                                                    <h4>Corporate Details</h4>
                                                        <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Company Name <span style="color: red"> * </span> :
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="txtCompany" onfocusout="getvalidated('txtCompany','text','Establishment/Company Name');Cookies.set('CompanyName', this.value, { expires: 1, path: '/' });" class="form-control m-input" placeholder=""> </input>
                                                                            
                                                              </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    Company Type  :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <select type="text" id="ddlcompany" class="form-control m-input" placeholder=""> </input>
                                                                           
                                                                            </select>
                                                                    </div>
                                                               </div>  
                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Ownership<span style="color: red"> * </span> :
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <select type="text" id="ddlOwnership" class="form-control m-input" placeholder=""> </input>
                                                                        
                                                                        </select> 
                                                              </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    Sector<span style="color: red"> * </span> :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <select type="text" id="ddlsector" class="form-control m-input" placeholder=""> </input>
                                                                          
                                                                           </select> 
                                                                    </div>
                                                               </div> 
                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Nature of Business<span style="color: red"> * </span> :
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="NatureofBusiness" class="form-control m-input" placeholder=""> </input>
                                                                            
                                                              </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    
                                                             Annual Turn Over  :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <select  name="name" id="Annualturnover"  onchange="changeTurnover()"
                                                                        class="form-control"  >
                                                                        <option value="1">Greater Than 40 Lacs</option>
                                                                        <option value="2">Less Than 40 Lacs</option>
                                                                        
                                                                        </select>
                                                                    </div>
                                                               </div>               
                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    PAN:
                                                                </label>
                                                                <div class="col-lg-4">
                                                                  <input type="text" name="name"  id="Panno"  maxlength="15"    
                                                                    class="form-control" placeholder=" PAN Number of Company" >
                                                                    <span id="validPanno" style="font-size: 11px; color: #cc0033; "></span>       
                                                              </div>
                                                              <label for="example-email-input" class="col-2 col-form-label">
                                                                <span lang="en" >  
                                                                   PAN Upload</span></label>
                                                        
                                                          
                                                             <form class="m-form" enctype="multipart/form-data"
                                                             method="post" action="/PANUpload" id="panupload" >
                                                             <input type="submit" id="panpostattach"
                                                             class="btn btn-success" 
                                                             style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                                                             
                                                       
                                                          
                                                             <input type="file" name="myFile"
                                                               >
                                                             </form>
                                                               </div>  
                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    <span lang="en" id="gstLabel">  
                                                                        GST Number</span> :
                                                                </label>
                                                                <div class="col-lg-4">
                                                                    <input type="text" name="name" id="GSTNumber" maxlength="15" 
                                                                    class="form-control" placeholder="GST Number"  >
                                                                 <span id="validGSTNumber" style="font-size: 11px; color: #cc0033; "></span>       
                                                              </div>
                                                              <label for="example-email-input" class="col-2 col-form-label">
                                                                <span lang="en" id="gstupoloadLabel" >  
                                                                   GST Upload</span></label>
                                                        
                                                          
                                                                   <form class="m-form" enctype="multipart/form-data"
                                                                   method="post" action="/GSTUpload" id="gstupload"   >
                                                                   <input type="submit" id="postattach"
                                                                   class="btn btn-success" 
                                                                   style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                                                                   
                                                             
                                                                
                                                                   <input type="file" name="myFile"
                                                                      onclick="Cookies.set('modaltype', 'gstdoc', { expires: 1, path: '/' });">
                                                                   </form>
                                                               </div> 
                                                               <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Office Type :
                                                                </label>
                                                                <div class="col-lg-4">
                                                            <select type="text" id="ddlOfficeType" class="form-control m-input" placeholder=""></input> 
                                                            <option value="1">Head Office</option>   
                                                            <option value="2">Branch Office</option> 
                                                            </select>
                                                            </div>
                                                                <label class="col-lg-2 col-form-label">
                                                                    No. of Employee<span style="color: red"> * </span>  :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                            <input type="text" id="NumberofEmployee" class="form-control m-input" placeholder=""> </input>
                                                                            
                                                                    </div>
                                                               </div> 
                                                             


                                                               <h4>Contact Details</h4>
                                                               <div class="form-group m-form__group row">
                                                                       <label class="col-lg-2 col-form-label">
                                                                           Contact Person  <span style="color: red"> * </span> :
                                                                       </label>
                                                                       <div class="col-lg-4">
                                                                           <input type="text" id="txtContact" class="form-control m-input" placeholder=""> </input>
                                                                                   
                                                                     </div>
                                                                       <label class="col-lg-2 col-form-label">
                                                                        Designation<span style="color: red"> * </span>   :
                                                                           </label>
                                                                           <div class="col-lg-4">
                                                                                   <select  id="Designation" class="form-control m-input" > 
                                                                                   </select>
                                                                           </div>
                                                                      </div>  
                                                                      <div class="form-group m-form__group row">
                                                                       <label class="col-lg-2 col-form-label">
                                                                        State<span style="color: red"> * </span> :
                                                                       </label>
                                                                       <div class="col-lg-4">
                                                                           <select type="text" id="state" class="form-control m-input" placeholder=""> </input>
                                                                              </select>     
                                                                     </div>
                                                                       <label class="col-lg-2 col-form-label">
                                                                        District<span style="color: red"> * </span> :
                                                                           </label>
                                                                           <div class="col-lg-4">
                                                                                  <select type="text" id="district" class="form-control m-input" placeholder=""> </input>
                                                                                   </select> 
                                                                           </div>
                                                                      </div> 
                                                                      <div class="form-group m-form__group row">
                                                                       <label class="col-lg-2 col-form-label">
                                                                        Tehsil<span style="color: red"> * </span> :
                                                                       </label>
                                                                       <div class="col-lg-4">
                                                                            <select type="text" id="city" class="form-control m-input" placeholder=""> </input>
                                                                            </select>     
                                                                     </div>
                                                                       <label class="col-lg-2 col-form-label">
                                                                           
                                                                         Pin Code  :
                                                                           </label>
                                                                           <div class="col-lg-4">
                                                                                   <input type="text" id="Pin" maxlength="6" class="form-control m-input" placeholder=""> </input>
                                                                                   
                                                                           </div>
                                                                      </div>               
                                                       
       
                                                                      <div class="form-group m-form__group row">
                                                                       <label class="col-lg-2 col-form-label">
                                                                         Permanent Address<span style="color: red"> * </span>:
                                                                       </label>
                                                                       <div class="col-lg-4">
                                                                   <textarea type="text" id="permanentaddress" class="form-control m-input" placeholder=""></textarea> 
                                                                   <span style="color: red">(Address must be less than 150 Character)</span>
                                                                             
                                                                </div>
                                                                      

                                                                       <label class="col-lg-2 col-form-label">
                                                                        Correspondense Address :
                                                                           </label>
                                                                           <div class="col-lg-4">
                                                                                   <textarea type="text" id="presentaddress" class="form-control m-input" placeholder=""> </textarea>
                                                                                   <span style="color: red">(Address must be less than 150 Character)</span>
                                                                       
                                                                                </div>
                                                                            
                                                                            
                                                                    </div> 
                                                                      <div class="form-group m-form__group row">
                                                                     
                                                                       <label class="col-lg-2 col-form-label">
                                                                        STD Code  :
                                                                           </label>
                                                                           <div class="col-lg-4">
                                                                                   <input type="text" id="STDCode" class="form-control m-input" placeholder=""> </input>
                                                                                   
                                                                           </div>
                                                                    
                                                                        <label class="col-lg-2 col-form-label">
                                                                            Contact No.(Landline) :
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                    <input type="text" id="Landline" class="form-control m-input" placeholder=""></input> 
                                                                        </div>
                                                                    </div> 
                                                                    <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                            Contact No.(Mobile)<span style="color: red"> * </span>  :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <input type="text" id="Phone" maxlength="10" class="form-control m-input" placeholder=""> </input>
                                                                                    
                                                                            </div>
                                                                            <label class="col-lg-2 col-form-label">
                                                                                E- Mail ID<span style="color: red"> * </span>  :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <input type="text" id="Email" class="form-control m-input" placeholder="aaa@abc.com"> </input>
                                                                                        
                                                                                </div>
                                                                       </div> 
                                                                       <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                           CEO E- Mail ID<span style="color: red"> * </span>  :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <input type="text" id="ceoemail" class="form-control m-input" placeholder="aaa@abc.com"> </input>
                                                                                    
                                                                            </div>
                                                                        <label class="col-lg-2 col-form-label">
                                                                            Web Site :
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                    <input type="text" id="Website" class="form-control m-input" placeholder="www.abc.com"></input> 
                                                                        </div>
                                                                     
                                                                       </div> 
                                                                       <h4>Area Details</h4>
                                                                       <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                          Exchange<span style="color: red"> * </span>  :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                <select class="form-control" id="EmploymentExchange" onfocusout="getvalidated('EmploymentExchange','select','Employment Exchange')"
                          
                                                                                name="username" style="height:46px;">
                                                                             
                                                                                <span id="validEmploymentExchange" style="font-size: 11px; color: #cc0033; "></span>
                                                  
                                                                             </select>
                                                                            
                                                                        </div>
                                                                        <label class="col-lg-2 col-form-label">
                                                                            Password :
                                                                        </label>
                                                                        <div class="col-lg-4">
                                                                            <input id="passwordfield" onfocusout=" getvalidated('passwordfield','text','Password')" type="password" class="form-control" name="password" value=""
                                                                            placeholder="Password"  >
                                                                            <span id="validpasswordfield" style="font-size: 11px; color: #cc0033; "></span>
                                                                  
                                                                            <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;display: none;">Password must contain atleast one letter, atleast one number, and be longer than 8 charaters</span>
                                                                     </div>
                                                                     
                                                                       </div> 
                                                                       <div class="form-group m-form__group row">
                                                                        <label class="col-lg-2 col-form-label">
                                                                           Confirm Password<span style="color: red"> * </span>  :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                <input type="password" id="Repassword" name="Re-EnterPassword" class="form-control"
                                                                                placeholder="Confirm Password" >
                                                                                <span id="validRepassword" style="font-size: 11px; color: #cc0033; "></span>
                                                                            </div>
                                                                       
                                                                     
                                                                       </div> 


                                               
                                                    <div class="form-group m-form__group row" style="    place-content: center;">
                                                  <div class="col-lg-3">
                                                    <button type="button" onclick="CheckValidation();"  id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                        Submit 
                                                    </button>
                                                   
                                                </div>
											   </div>

											   
												</div>
											</div>
											
										</div>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
        <% include ../../partials/script %>
        <script src="../customjs/EmployerServices/NewEmployerRegistration.js" type="text/javascript"></script>
		 <script type="text/javascript">
            $(document).ready(function () {
                Fillempstate('parsedatasecuredFillempstate','state');
      Fillsector('parsedatasecuredFillSector','ddlsector');
      FillOwnership('parsedatasecuredFillOwnership','ddlOwnership');
      Fillsectortype('parsedatasecuredFillsectortype','ddlcompany');
      Fillexchangeoffice('parsedatasecuredFillexchangeoffice','EmploymentExchange');
      FillDesignation()
      $("#NICCode").val(localStorage.NICCode);
      localStorage.EmpId='0'
      localStorage.NICCode=''
                            });
                           
                </script>
	</body>
	<!-- end::Body -->
</html>
