<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
    <% include ../../partials/head %>
    <style>
        .center1 {
          text-align: center;
        }
        
        .pagination {
          display: table-cell !important;
        }
        
        .pagination a {
          color: black;
          float: none;
          padding: 8px 16px;
          text-decoration: none;
          transition: background-color .3s;
          border: 1px solid #ddd;
          margin: 4px 4px 4px 4px;
        }
        
        .pagination a.active {
          background-color: #4CAF50;
          color: white;
          border: 1px solid #4CAF50;
        }
        
        .pagination a:hover:not(.active) {background-color: #ddd;}
        th {
  position: sticky;
  top: 0; 
}
        </style>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
    class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <% include ../../partials/header %>
        <!-- end::Header -->
        <!-- begin::Body -->
        <div
            class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                <div class="m-grid__item m-body__nav">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                            <button
                                class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                                id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <% include ../../partials/Menu %>
                        </div>

                    </div>
                </div>
                <div
                    class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    <!-- BEGIN: Left Aside -->
                    <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
                        <i class="la la-close"></i>
                    </button>

                    <!-- END: Left Aside -->
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <!-- BEGIN: Subheader -->
                        <div class="m-subheader ">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h3 class="m-subheader__title m-subheader__title--separator">
                                        Tracker Report
                                    </h3>
                                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                        <li class="m-nav__item m-nav__item--home">
                                            <a href="/index" class="m-nav__link m-nav__link--icon">
                                                <i class="m-nav__link-icon la la-home"></i>
                                            </a>
                                        </li>



                                    </ul>
                                </div>
                                <% include ../../partials/calendar %>
                                <div>

                                </div>
                            </div>
                        </div>
                        <!-- END: Subheader -->
                        <div class="m-content">
                            <div class="m-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <h3 class="m-portlet__head-text">
                                                Tracker Report
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <!--begin::Form-->
                                <!-- <form class="m-form"> -->
                                <div class="m-portlet__body">
                                    <div class="m-form__section m-form__section--first">
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-2 col-form-label">
                                                 Date :
                                            </label>
                                            <div class="col-lg-4">
                                                    <div class="input-group date">
                                                            <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_5">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar-check-o"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                            </div>
                                            <label class="col-lg-2 col-form-label">
                                              Name Of Company/Client:
                                            </label>
                                            <div class="col-lg-4">
                                              <select type="text" id="clientddl" class="form-control m-input" placeholder="">
                                              
                                               </select></div>
                                        </div>
                                        <div class="m-form__group form-group row">
													
                                          <label class="col-lg-2 col-form-label">
                                          Candidate District  :
                                          </label>
                                          <div class="col-lg-4">
                                              
                                            <select type="text" class="form-control m-input" readonly="" id="districtddl">
                                             
                                             </select>
                                           
                                        </div>
                                        <label class="col-lg-2 col-form-label">
                                          Candidate Category  :
                                        </label>
                                        <div class="col-lg-4">
                                            
                                          <select type="text" class="form-control m-input" id="categoryddl">
                                           
                                           </select>
                                         
                                      </div>
                                    </div>
                                      <div class="m-form__group form-group row">
                                      <label class="col-lg-2 col-form-label">
                                        Candidate Gender :
                                      </label>
                                         <div class="col-lg-4">
                                        <select type="text" class="form-control m-input" id="genderdl">
                                          <option value="0">All</option>
                                           <option value="Male">Male</option>
                                            <option value="Female">Female</option> 
                                            <option value="Other">Other</option>	                                                      
                                        </select>   </div>
                                        <label class="col-lg-2 col-form-label recruiterlabel">
                                            Recruiter :
                                          </label>
                                             <div class="col-lg-4">
                                            <select type="text" class="form-control m-input" id="recruiterddl" style="display: none;">
                                            	                                                      
                                            </select>   </div>
                                        </div>
                                            <div class="form-group m-form__group row" style="display: block;">
                                              
                                                <div class="col-lg-4" style="margin: auto">
                                                    <button type="button"  class="btn btn-success"
                                                        style="background-color:#716aca;border-color:#716aca;" onclick="FillOutboundReport()">
                                                        Show Report
                                                    </button>

                                                </div>
                                                <div class="col-lg-2">

                                                </div>
                                            </div>
                                          
                                            <div class="m-form__actions m-form__actions">
                                                <a style="margin-left: 96%;"><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','PlacementDetails')" id="excelicon" style="font-size:30px;color:green; margin-bottom:10px;display: none;"></i></a>
												
                                                <div class="form-group m-form__group row" style="    overflow: auto; ">
                                                    <div class="col-lg-12" style='max-height: 500px;' id="paginationbind">
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                    <thead  id="tablehead">
                                                        <tr>
                                                            <th>SrNo</th>
                                                            <th>Portal Registration Number</th>
                                                            <th>Source</th>
                                                            <th>Client</th>
                                                            <th>Position</th>
                                                            <th>Month</th>
                                                            <th>Date of Calling</th>
                                                            <th>Category(SC/ST/OBC/UR)</th>
                                                            <th>Candidate District</th>
                                                            <th>Age</th>
                                                            <th>Candidate Name</th>
                                                            <th>Contact No.</th>
                                                            <th>Qualification</th>
                                                            <th>Total Experience</th>
                                                            <th>Job Location</th>
                                                            <th>Candidate Current Location</th>
                                                            <th>Current Company</th>
                                                            <th>Current Designation</th>
                                                            <th>Current/Last Salary</th>
                                                            <th>Expected Salary(in months)</th>
                                                            <th>Notice Period</th>
                                                            <th>Reason for change</th>
                                                            <th>Email id</th>
                                                            <th>Gender</th>
                                                            <th>Calling Status</th>
                                                            <th>Remarks</th>
                                                            <th>Date of Interview</th>
                                                            <th>Date of Joining</th>
                                                            <th>Follow Up(Reached/Not reached)</th>
                                                            <th>Interview Status(appeared/selected/rejected)</th>
                                                            <th>Recruiter</th>
                                                            <th>Modify</th>
                                                            <th>Whatsapp</th>
                                                            <th>Mail</th>
                                                            </tr>
                                                    </thead>
                                                    <tbody id="tbodyvalue"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                            </div>
                                      
                                     

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
                <% include ../../partials/footer %>

                <!-- end:: Page -->


                <!-- begin::Scroll Top -->
                <div id="m_scroll_top" class="m-scroll-top">
                    <i class="la la-arrow-up"></i>
                </div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>
<script src="../customjs/EmployerServices/OutboundTrackerReport.js" type="text/javascript"></script>
<script> 
	/* Add "https://api.ipify.org?format=json" statement 
	   this will communicate with the ipify servers in 
	   order to retrieve the IP address $.getJSON will 
	   load JSON-encoded data from the server using a 
	   GET HTTP request */ 

	$.getJSON("https://api.ipify.org?format=json", 
									  function(data) { 

	sessionStorage.ipAddress= data.ip; 
	}) 
</script>                                     
<script type="text/javascript">

    $(document).ready(function () {
        FillCategory();
        FillDistrict();
        FillEmployer();
        if(sessionStorage.User_Type_Id=='0' || sessionStorage.User_Type_Id=='1'){
        FillUsername('parsedatasecuredFillUsername','recruiterddl');
        $('#recruiterddl,.recruiterlabel').show();
        }
        //         var tablehead="<th>SrNo</th><th>JobfairId</th><th>CandidateJofairId</th><th>CandidateName</th><th>RegistratonNumber</th><th>MobileNo</th><th>Email</th><th>Selected</th><th>Hold</th><th>Reject</th>";
        // $("#tablehead").html(tablehead);
    });
 

    if (sessionStorage.getItem("CandidateId") == null) {
        window.location = "/";
    }
</script>