<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
			<style>
                .center1 {
                  text-align: center;
                }
                
                .pagination {
                  display: table-cell !important;
                }
                
                .pagination a {
                  color: black;
                  float: none;
                  padding: 8px 16px;
                  text-decoration: none;
                  transition: background-color .3s;
                  border: 1px solid #ddd;
                  margin: 4px 4px 4px 4px;
                }
                
                .pagination a.active {
                  background-color: #4CAF50;
                  color: white;
                  border: 1px solid #4CAF50;
                }
                
                .pagination a:hover:not(.active) {background-color: #ddd;}
                </style>

		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                                Employer Services
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										
											
										<div id="SearchGD"><div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Information of Job Seeker
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
							
                                                    <div class="m-form__group form-group row">
                                                        <label class="col-lg-2 col-form-label">
                                                                Exam Passed :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <select id="ExamPassed" class="form-control m-input"></select>
                                                        </div>
                                                        <label class="col-lg-2 col-form-label">
                                                                Subject Group :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <select id="SubjectGroup" class="form-control m-input"></select>
                                                        </div>
                                                    </div>

                                                    <div class="m-form__group form-group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                    Exchange :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <select id="exchange" class="form-control m-input" disabled></select>
                                                            </div>
                                                            <div class="col-lg-2">
                                                            <button type="button" onclick="fetchQualificationWiseJSDetail()"   class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                    Search
                                                                      </button>
                                                                    </div>
                                                        </div>

                                                   

												</div>
											</div>
											<div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions">
												<!-- <h5> Vacancy Details </h5> -->
										  <% include ../../pages/Table %>
												</div>
											</div>
										</form></div>
										<!--end::Form-->
										
									
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/QualificationWiseJSDetail.js" type="text/javascript"></script>
		<script src="../js/pagination.js" type="text/javascript"></script>
		      <script type="text/javascript">
            $(document).ready(function () {
				FillExamPassed('parsedatasecuredFillExamPassed','ExamPassed');
				FillSubjectGroup('parsedatasecuredFillSubjectGroup','SubjectGroup','1');
				FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','exchange');
                var tablehead="<th>Registration No</th><th>Registration Date</th><th>JobSeeker Name</th><th>Father's Name</th><th>Date of Birth</th><th>Gender</th><th>View Profile</th>";
        $("#tablehead").html(tablehead);
							});
							
  
                </script>
