<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                                Employer Services
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										
											<div  id="addjobdetails" >
													<div class="m-portlet__head">
															<div class="m-portlet__head-caption">
																<div class="m-portlet__head-title">
																		<div class="m-portlet__body">
																			
																<div class="col-lg-4">
																		
																		<button type="button"id="btnSubmit" onclick="CheckEmpoyer()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																				Post New Vacancy
																					</button> 
                                                                    </div>
                                                                          </div>
																	</div>
																
															</div>
															
														</div>
														<form class="m-form" id="addVacancyNotificationDetails" style="display:none">
																<div class="m-portlet__body">
																	<div class="m-form__section m-form__section--first">


																			<div class="m-portlet__foot m-portlet__foot--fit">
																					<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
																					<h5 style="color: red;">  कैसे उपयोग करे </h5>
																			  <ul>
																			 <li>इस उपयोगिता के द्वारा, आप दिए गए विकल्पों के आधार पर उन सब Employers का रिकार्ड खोज सकते है जिनके द्वारा ER-I Submission Details भरा गया है या नही तथा उनका ER-I प्रमाणित है या नही ।</li>
																			 
																			 
																			
																				</ul>
							
																					</div>
																				</div>



																			<!-- <h4>X-6 Vacancy Form</h4> -->
                                                                            <h4>Vacancy Details</h4>
																
																		
																		<div class="m-form__group form-group row">
                                                                            <!-- <h4>Vacancy Details</h4> -->

																			<label class="col-lg-2 col-form-label">
                                                                                    Name and address of employer:
																			</label>
																			<div class="col-lg-4">
                                                                            <h6 id="Nameandaddressofemployer"></h6>       
                                                                            </div>
																			<label class="col-lg-2 col-form-label">
																					Type of worker required (Designation) <span class="required" style="color:red;">*</span> :
																				</label>
																				<div class="col-lg-4">
																					<input type="text" id="Designation" class="form-control" name="end" />
																					
																				</div>
																			</div>
																		</div>
																		
																			<div class="m-form__group form-group row">
																					<label class="col-lg-2 col-form-label">
                                                                                            Description of duties :
																					</label>
																					<div class="col-lg-4">
																						<input class="form-control m-input"id="DutiesDesc" rows="3">
																						
																					</div>
																					<label class="col-lg-2 col-form-label">
																							Type of Vacancy:
																							</label>
																							<div class="col-lg-4">
																								<select class="form-control m-input" id="vacancyType">
                                                                                                    <option value="1">Regular</option>
                                                                                                    <option value="2">Temporary</option>
                                                                                                    <option value="3">Part Time</option>
                                                                                                </select>
																									</div>
	
																				</div>
																			
																						
																					
																					<div class="form-group m-form__group row">
																							<label class="col-lg-2 col-form-label">
                                                                                                    No. of Vacancies <span class="required" style="color:red;">*</span>:
																							</label>
																							<div class="col-lg-4">
																									<input type="text" class="form-control m-input"    placeholder="" id="TotalVacancies">
																								</div>
																							<label class="col-lg-2 col-form-label">
																									Pay/Allowances(per annum in INR):
																								</label>
																								<div class="col-lg-4">
																										<input type="text" class="form-control m-input"  placeholder=" "  id="payAllowance"></input>
																								</div>
																						</div>
																					
																						<div class="form-group m-form__group row">
																								<label class="col-lg-2 col-form-label">
                                                                                                        Place of Work(Name of Town/Village and District in which it is situated) :
																								</label>
																								<div class="col-lg-4">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="placeofwork"></input>
                                                                                                        </div>
                                                                                                        
																										  <label class="col-lg-2 col-form-label">
                                                                                                                Last date to apply :
                                                                                                        </label>
																										<div class="col-lg-4">
																											<div class="input-group date">
																													<input type="text" class="form-control m-input"  placeholder="" id="m_datepicker_2">
																													<div class="input-group-append">
																														<span class="input-group-text">
																															<i class="la la-calendar-check-o"></i>
																														</span>
																													</div>
																												</div>
																												</div>
                                                                                         </div>
                                                                                         
                                                                                         <div class="form-group m-form__group row">
																								<label class="col-lg-2 col-form-label">
                                                                                                        Gender :
																								</label>
                                                                                                <div class="col-lg-4">
																			                       <select type="text" class="form-control m-input"  placeholder=" "  id="Gender">
                                                                                                       <option value="M">Male</option>
                                                                                                       <option value="F">Female</option>
                                                                                                       <option value="A">Both</option>
                                                                                                   </select>
                                                                                                        </div>
                                                                                         </div>

																										  
                                                                                         
                                                                                         
                                                                                         <h4>Eligibility Criteria</h4>
                                                                                                       <div class="form-group m-form__group row">
                                                                                                            

                                                                                                            <label class="col-lg-2 col-form-label">
                                                                                                                    Age :
                                                                                                            </label>
                                                                                                            <label class="col-lg-1 col-form-label">Min Age<span style="color: red">*</span></label>
                                                                                                            <div class="col-lg-1">
                                                                                                               <input type="text" class="form-control m-input"  placeholder=" "  id="minAge"></input>
                                                                                                                    </div>
            
                                                                                                                    <label class="col-lg-1 col-form-label">Max  Age<span style="color: red">*</span></label>
                                                                                                              <div class="col-lg-1">
                                                                                                                            <input type="text" class="form-control m-input"  placeholder=" "  id="maxAge"></input>
                                                                                                                                 </div>
            
                                                                                                                                 <label class="col-lg-2 col-form-label">as on Date<span style="color: red">*</span></label>
                                                                                                                           <div class="col-lg-4">
                                                                                                                                        <div class="input-group date">
                                                                                                                                                <input type="text" class="form-control m-input" readonly=""   placeholder="" id="m_datepicker_5">
                                                                                                                                                <div class="input-group-append">
                                                                                                                                                    <span class="input-group-text">
                                                                                                                                                        <i class="la la-calendar-check-o"></i>
                                                                                                                                                    </span>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            </div>
            
                                                                                                                      
                                                                                                                                                  </div>

                                                                                         <div class="form-group m-form__group row">
																								<label class="col-lg-2 col-form-label">
                                                                                                        Essential Qualification<span style="color: red">*</span>:
																								</label>
																								<div class="col-lg-4">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="EQualification"></input>
                                                                                                        </div>
                                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                                Desired Qualification :
                                                                                                        </label>
                                                                                                        <div class="col-lg-4">
                                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id="DQualification"></input>
                                                                                                                </div>
																						 </div>
                                                                                         <div class="form-group m-form__group row">
																								<label class="col-lg-2 col-form-label">
                                                                                                        Probable date by which the vacancy will be :       
                                                                                                </label>
																								<div class="col-lg-4">
																									<div class="input-group date">
																											<input type="text" class="form-control m-input" readonly=""   placeholder="" id="m_datepicker_6">
																											<div class="input-group-append">
																												<span class="input-group-text">
																													<i class="la la-calendar-check-o"></i>
																												</span>
																											</div>
																										</div>
																										</div>
                                                                                                       
																						 </div>
                                                                                         
                                                                                         <h4>Particulars regarding interview/test of applicants</h4>
                                                                                         <div class="form-group m-form__group row">
                              
																								<label class="col-lg-2 col-form-label">
                                                                                                        	Date of interview/test:
																								</label>
																								<div class="col-lg-4">
																									<div class="input-group date">
																											<input type="text" class="form-control m-input" readonly=""   placeholder="" id="m_datepicker_1">
																											<div class="input-group-append">
																												<span class="input-group-text">
																													<i class="la la-calendar-check-o"></i>
																												</span>
																											</div>
																										</div>
																										</div>
                                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                                Time of interview/test :
                                                                                                        </label>
                                                                                                        <div class="col-lg-4">
                                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id="interviewtime"></input>
                                                                                                                </div>
                                                                                                </div>
                                                                                         
                                                                                         <div class="form-group m-form__group row">
																								<label class="col-lg-6 col-form-label">
                                                                                                        Whther there is obligation or arrangement for giving preference to any category of persons in filling up the vacancies ? Any other relevant information(Remark). :
                                                                                                        
																								</label>
																								<div class="col-lg-6">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="otherinfo"></input>
                                                                                                        </div>
                                                                                         </div>
                                                                                         <div class="form-group m-form__group row">
                                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                                Place of interview/test:
                                                                                                            </label>
                                                                                                        <div class="col-lg-4">
                                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id="Placeinterview"></input>
                                                                                                                </div>
                                                                                         </div>
                                                                                         

                                                                                         <h4>Confirm to publish on Job seeker account</h4>
                                                                                         <div class="form-group m-form__group row">
                                                                                                <div class="col-lg-2"> <input type="radio" name="YesNo" value="Yes" checked>Yes <br> </div>
                                                                                                <div class="col-lg-2"> <input type="radio" name="YesNo" value="No"> No<br> </div>
                                                                                         </div>
                                                                                         <div class="form-group m-form__group row">
                                                                                                
                                                                                    <!-- <input type="radio" name="YesNo" value="Yes" checked> Yes<br>
                                                                                    <input type="radio" name="YesNo" value="No"> No<br> -->

																								<label class="col-lg-2 col-form-label">
                                                                                                        Contact Person Name:
																								</label>
																								<div class="col-lg-4">
																			                       <input type="text" class="form-control m-input"  placeholder=" "  id="contactperson"></input>
                                                                                                        </div>
                                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                                Contact No.       
                                                                                                        </label>
                                                                                                        <div class="col-lg-4">
                                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id="contactno"></input>
                                                                                                                </div>
																						 </div>
                                                                                        </div>	

																<div class="form-group m-form__group row">
																<div class="col-lg-5"></div>
																		<div class="col-lg-2">
																			
																			<button type="button" onclick="InsUpdVacancyDetail()"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																		  Save
																			</button>
																				
																			<button type="button"id="btnSubmit" onclick="$('#addVacancyNotificationDetails').hide()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																					Cancel
																						</button>
																		</div>
																		
																		
																	</div>
																</form>
																</div>
										<div id="SearchGD"><div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            X-6 Vacancy Form
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
							
                                                    <div class="m-form__group form-group row">
                                                        <label class="col-lg-3 col-form-label">
                                                                Name of Employer 	<span class="required" style="color:red;">*</span> :
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <select id="ddlEmployer" class="form-control m-input">
																
															</select>
                                                        </div>
                                                    </div>
												</div>
											</div>
											<div class="m-portlet__foot m-portlet__foot--fit">
												<div class="m-form__actions m-form__actions">
												<h5> Vacancy Details </h5>
										  <% include ../../pages/Table %>
												</div>
											</div>
										</form></div>
										<!--end::Form-->
										
									
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/EmployerServices/VacancyNotificationDetails.js" type="text/javascript"></script>
		      <script type="text/javascript">
            $(document).ready(function () {
				FillEmployerByExchange();
				FillVacancyDetail('0');
				localStorage.Postid='0'
                var tablehead="<th>PostId</th><th>Employer Name</th><th>Submitted By</th><th>Designation</th><th>Posting Date</th><th>Verify Status</th><th>Modify</th><th>Delete</th><th>Create Order Card</th>";
        $("#tablehead").html(tablehead);
							});
							
  
                </script>
