<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Job Fair
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Employer Registration for Job Fair 
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
									
											
                                                                               
                                                								
			<div class="m-portlet__body">
				
				
				<div class="m-form__section m-form__section--first">
					<span style="color:red;">Fields mark with * are Mandatory.</span>


					<div class="m-form__group form-group row" style="padding-top:15px ;">
						<label class="col-lg-2 col-form-label">
							Company Name<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="CompanyName" autocomplete="off"
						placeholder="Company Name"	onfocusout=" getvalidated('CompanyName','text','Company Name')"
								class="form-control" name="end">
							<span id="validCompanyName"
								style="font-size: 11px; color: #cc0033; "></span>

						</div>
						<label class="col-lg-2 col-form-label">
							Company HR Name<span class="required" style="color:red;">*</span> :
						</label>

						<div class="col-lg-4">
							<input type="text" id="hrname" autocomplete="off"	placeholder="Company HR Name"	onfocusout=" getvalidated('hrname','text','Company HR Name')"
								class="form-control" name="end">
							<span id="validhrname" style="font-size: 11px; color: #cc0033; "></span>

						</div>

						

					</div>
						<div class="m-form__group form-group row">

							<label class="col-lg-2 col-form-label">
								Job Location<span class="required" style="color:red;">*</span> :
							</label>
							<div class="col-lg-4">
								<input type="text" id="JobLocation"   placeholder="Job Location" onfocusout="getvalidated('JobLocation-selectized','text','Job Location');"
	
									class="demo-default"  name="end">
								<span id="validJobLocation" style="font-size: 11px; color: #cc0033; "></span>
	
							</div>

							<label class="col-lg-2 col-form-label">
								Job Designation<span class="required" style="color:red;">*</span>:
							</label>
							<div class="col-lg-4">
								<input type="text" id="JobDesignation" placeholder="Job Designation" 
									onfocusout="getvalidated('JobDesignation-selectized','text','Job Designation');"
									class="demo-default" name="end">
									
								<span id="validJobDesignation"
									style="font-size: 11px; color: #cc0033; "></span>
		
							</div>
								
							
						</div>
						<div class="m-form__group form-group row">
							<label class="col-lg-2 col-form-label">
								Qualification<span class="required" style="color:red;">*</span>:
							</label>
							<div class="col-lg-4">
								<input type="text" id="Qualification" placeholder="Qualification" onfocusout="getvalidated('Qualification','text','Qualification');"
									class="demo-default" name="end">
								<span id="validQualification"
									style="font-size: 11px; color: #cc0033; "></span>
		
							</div>
							<label class="col-lg-2 col-form-label">
								Description<span class="required" style="color:red;">*</span>:
							</label>
							<div class="col-lg-4">
								<input type="text" id="Description" autocomplete="off"; maxlength="300"  placeholder="Description" 
									onfocusout="getvalidated('Description','text','Description');"
									class="form-control" name="end">
								<span id="validDescription"
									style="font-size: 11px; color: #cc0033; "></span>
		
							</div>
								
							
						</div>
					
					<div class="m-form__group form-group row">
						<label class="col-lg-2 col-form-label">
							Percentage <span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="Percentage" autocomplete="off" placeholder="Percentage" onfocusout="getvalidated('Percentage','text','Percentage'); percentageCheck();"
								class="form-control" name="end">
							<span id="validPercentage"
								style="font-size: 11px; color: #cc0033; "></span>
	
						</div>

						<label class="col-lg-2 col-form-label">
							Mobile Number<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" autocomplete="off" id="MobileNumber" onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)" 
							onkeypress="onlyNumbers(event)" maxlength="10"
						placeholder="Mobile Number"		onfocusout=" getvalidated('MobileNumber','number','Mobile Number');"
								class="form-control" name="end">
							<span id="validMobileNumber"
								style="font-size: 11px; color: #cc0033; "></span>

						</div>
						
					</div>
			

					
				

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">
						E-mail Id<span class="required" style="color:red;">*</span> :
					</label>
					<div class="col-lg-4">
						<input type="text" id="EmailId" autocomplete="off"
					placeholder="E-mail Id"		onfocusout=" getvalidated('EmailId','email','E-mail Id');"
							class="form-control" name="end">
						<span id="validEmailId"
							style="font-size: 11px; color: #cc0033; "></span>

					</div>

					<label class="col-lg-2 col-form-label">
						Age Criteria<span class="required" style="color:red;">*</span>:
					</label>
					<div class="col-lg-2">
						<input type="text" id="MinAge" autocomplete="off"
						placeholder="Min Age"	onfocusout=" getvalidated('MinAge','text','Min Age');CheckAgelength()" 
							class="form-control" name="end">
						<span id="validMinAge"
							style="font-size: 11px; color: #cc0033; "></span>

					</div>
					<div class="col-lg-2">
						<input type="text" id="MaxAge"  autocomplete="off" class="form-control" name="end"
					placeholder="Max Age"	onfocusout="getvalidated('MaxAge','text','Max Age');CheckAgelength()";  >
							
						<span id="validMaxAge" style="font-size: 11px; color: #cc0033; "></span>

					</div>
					
					
				
			

			</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">
						Salary<span class="required" style="color:red;">*</span>:
					</label>
					<div class="col-lg-2">
						<input type="text" id="Min" autocomplete="off" maxlength=""
						placeholder="Min Salary"	onfocusout=" getvalidated('Min','text','Min Salary');"
							class="form-control" name="end">
						<span id="validMin"
							style="font-size: 11px; color: #cc0033; "></span>
	
					</div>
					<div class="col-lg-2">
						<input type="text" id="Max" autocomplete="off"
						placeholder="Max Salary"	onfocusout=" getvalidated('Max','text','Max Salary');"
							class="form-control" name="end">
						<span id="validMax"
							style="font-size: 11px; color: #cc0033; "></span>
	
					</div>

					<label class="col-lg-2 col-form-label">
						No of Vacancy<span class="required" style="color:red;">*</span>:
					</label>
					<div class="col-lg-4">
						<input type="text" id="NoofVacancy" autocomplete="off"  maxlength="4"
						placeholder="No of Vacancy"	onfocusout="getvalidated('NoofVacancy','text','No of Vacancy');"
							class="form-control" name="end">
						<span id="validNoofVacancy"
							style="font-size: 11px; color: #cc0033; "></span>

					</div>
				
				</div>
					<div class="form-group m-form__group row">
						<label class="col-lg-2 col-form-label">
							Trade<span class="required" style="color:red;">*</span>:
						</label>
						<div class="col-lg-4">
							<input type="text" id="Trade"
							placeholder="Trade"	onfocusout="getvalidated('Trade','text','Trade');"
								class="demo-default" name="end">
							<span id="validTrade"
								style="font-size: 11px; color: #cc0033; "></span>
	
						</div>

                        <label class="col-lg-2 col-form-label">
                            Gender<span class="required" style="color:red;">*</span>:
                        </label>
                        <div class="col-lg-4">
                            <select id="Gender" onfocusout="getvalidated('Gender','text','Gender');"
								class="form-control m-input">
								
                                 <option value="0">Select Gender</option>
                                 <option value="Male">Male</option>
                                 <option value="FeMale">Female</option>
                                 <option value="Both">Both</option>
							</select>
							<span id="validGender"
							style="font-size: 11px; color: #cc0033; "></span>
                        </div>
						
							
					</div>

					<div class="form-group m-form__group row" id="fileuploaddiv">
					<label class="col-lg-2 col-form-label">
						Document Required<span class="required" style="color:red;"></span>:
					</label>
					<div class="col-lg-4">
						<form class="m-form" enctype="multipart/form-data"
						method="post" action="/ITI/CompanyRegister" id="companyupload" >
						<input type="submit" id="postattach"
						class="btn btn-success" 
						style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
						
				  
					 
						<input type="file" name="myFile"   onclick="Cookies.set('modaltype', 'iticompany', { expires: 1, path: '/' });"
						  >
						</form>
						</div>
				</div>
				</div>


				<div class="form-group m-form__group row">
					<div class="col-lg-5"></div>
					<div class="col-lg-2">

						<button type="button" onclick="CheckValidationRegistration();"
							class="btn btn-success"
							style="background-color:#716aca;border-color:#716aca;">
					Submit</button>
					

					</div>
					<input type="button" value="Back" onclick="goBack()" class="btn btn-success" id="Back"
												style="background-color:#716aca;border-color:#716aca;">

				</div>
		
	</div>
 
                                                 
  
												</div>
											
									
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->

		
			  
				 
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/ITI/CompanyRegister.js" type="text/javascript"></script>
		 <script type="text/javascript">
            $(document).ready(function () {
				localStorage.flag='2'
				FillTrades()
				FillDesignation() 
				FillLocation()
				FillQualification()
				if(sessionStorage.type=='editMode'){
					
			setTimeout(function(){ Fetchemployerdetail(); }, 300);
				}
				

							
               });
        
                </script>
	</body>
	<!-- end::Body -->
</html>
