<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Job Fair
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Job Fair Result 
													</h3>
												</div>
											  
											</div>
										</div>
										
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                
                                                    
                                                        <div class="form-group m-form__group row">
                                                            <label class="col-lg-2 col-form-label">
                                                                Job Fair :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <select type="text" id="JobFair" class="form-control" placeholder="" onchange="Cookies.set('JFTitle', $('#JobFair option:selected').text(), { expires: 1, path: '/' });FillJFJsReg();FillJFEmpNotReg(); jQuery('#hiddenjf').val(this.value);">
                                                               
                                                               </select>
                                                          </div>

                                                          <label class="col-lg-2 col-form-label">
                                                            Employer :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <select type="text" id="Employer" class="form-control" placeholder="" onchange="Cookies.set('Employer', $('#Employer option:selected').text(), { expires: 1, path: '/' })">
                                                           
                                                           </select>
                                                      </div>

                                                      <div class="col-lg-4" style="display: none;">
                                                        <select type="text" id="hiddenjf" class="form-control" placeholder="">
                                                       
                                                       </select>
                                                  </div>

                                                    </div>

                                                       <div class="m-portlet__foot m-portlet__foot--fit">
                                                                     
                                                                        <div class="m-form__actions m-form__actions">
                                                                            <a style="margin-left: 96%;" ><i class="fa fa-file-excel-o" onclick="ExportExcel('tableglobal','jobfairresult')" style="font-size:30px;color:green; margin-bottom:10px;margin-top: 10px"></i></a>
											
                                                                        <% include ../../pages/Table %>
                                                      
                                                                    </div>
                                                                    <div class="form-group m-form__group row" style="display: block;" id='sendAlert'>
                                                                           
                                                                        <div class="col-lg-4">
                                                                            <button type="button"  data-toggle='modal' data-target='#modalresultJf' class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                Upload Result
                                                                             </button>
                                                                             <button type="button"  onclick="AddCandidate()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                Send Email
                                                                             </button>
                                                                          </div>
                                                                          <div class="col-lg-2">
                                                                 
                                                                          </div>
                                                                              </div>
                                                                          </div>
                                                                                 
                                                                            </div>
                                                                           
                                                                                </div>   
                                                                  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal fade" id="modalresultJf" style="overflow: auto !important;" role="dialog" tabindex="-1"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            
                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-body" id="modalbody">
                                                            <div class="userccount" style="padding: 5px 20px !important">
                                                                <div class="formpanel">
                                                                      <button type="button" class="close" data-dismiss="modal" onclick="callcloseme()" style="margin-top: -10px;font-size: xx-large;">×</button>
                                                                 
                                                                   <h5>Job Fair Document</h5>
                                                            
                                                                  
                                                                   <div class="form-group m-form__group row">
                                             
                                                                    <div class="col-md-8">
                                                                        <form  action="/ITI/JobFairResultUpload" enctype="multipart/form-data" method="post" id="reportupload">
                                                                            
                                                                            <input type="submit" id="postattach" class="btn btn-success"
                                                                                style="background-color:#716aca;border-color:#716aca;display:none"
                                                                                placeholder="Submit">
                                                                                <input type="file" name="myFile" onclick="Cookies.set('modaltype', 'jobfairresult', { expires: 1, path: '/' });" style="padding-top: 15px;">
                                                                           
                    
                    
                                                                        </form>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <button type="submit" onclick="$('#postattach').click()"  class="btn btn-success"
                                                                        style="background-color:#716aca;border-color:#716aca;" >Upload</button>
                                                                      </div>
                                                                </div>
                                                            
                                                             </div>
                                                            </div> 
                                                            </div>
                                                            
                                                            </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                                    <% include ../../partials/footer %>
                                                                
                                                                <!-- end:: Page -->
                                                            
                                                               
                                                                <!-- begin::Scroll Top -->
                                                                <div id="m_scroll_top" class="m-scroll-top">
                                                                    <i class="la la-arrow-up"></i>
                                                                </div>
                                                            </body>
                                                            <!-- end::Body -->
                                                        </html>
                                                        
                                                        <!-- end::Scroll Top -->	
                                                                <% include ../../partials/script %>
                                                                <script src="../customjs/ITI/JobFairResult.js" type="text/javascript"></script>
                                                        
                                                                <script type="text/javascript">
                                                            
                                                                    $(document).ready(function () {
                                                                        EmailConfig()
                                                                        FillJobFairDDL();
                                                                       
                                                                        FillJobFairDDLHidden()
                                                                        var tablehead="<th>SrNo</th><th>JobfairId</th><th>CandidateJofairId</th><th>CandidateName</th><th>RegistratonNumber</th><th>MobileNo</th><th>Email</th><th>Selected</th><th>Hold</th><th>Reject</th>";
                                                                $("#tablehead").html(tablehead);
                                                                                    });
                                                                                    localStorage.s_id="0"
                                                                                   if(sessionStorage.SearchCandidate=='Y'){
                                                                                    FillSearchCandidate();
                                                                                   }
                                                            						if (sessionStorage.getItem("CandidateId") == null) {
                                                            window.location = "/";
                                                         }
                                                                        </script>