<div class="modal fade" id="modalresultJf" style="overflow: auto !important;" role="dialog" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body" id="modalbody">
<div class="userccount" style="padding: 5px 20px !important">
    <div class="formpanel">
          <button type="button" class="close" data-dismiss="modal" onclick="callcloseme()" style="margin-top: -10px;font-size: xx-large;">×</button>
     
       <h5>Domicile Document</h5>

      

    <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="formrow">
                      <% if (typeof msg != 'undefined'){%>
                            <% if(msg.length > 0){ %>
                                  <% if(type == "domiciledocs"){ %>
                               <% if (msg == "File Uploaded!"){ %>
                                  <div class="alert alert-success alert-dismissable" id="dommsg" style="display: none"> <%=msg%></div>
                               <% } else if (msg == "Error: No File Selected!"){ %>  
                                  <div class="alert alert-warning alert-dismissable" id="dommsg" style="display: none"> <%=msg%></div>
                               <% } else { %>  
                                  <div class="alert alert-info alert-dismissable" id="dommsg" style="display: none"> <%=msg%></div>
                               <% } %>
                               <% } %>
                            <% } %>
                         <% } %>
                      <form  id="domiciledocsaction" enctype="multipart/form-data" method="post">
                            <input type="file" name="myFile">
                            <div class="row">
                              <div class="col-md-12">
                                 
                            <input type="submit" class="btn" style="margin-top: 80px;    width: 118%;" onclick="callme('Domicile')" value="Upload Document">
                           
                            <p class="profilesubheading">(Only accept .docx/.doc/.pdf file and of 1MB)</p>
                           
                            
                           </div>
                           </div>
                          </form>
                </div>
          </div> 
          <div class="col-md-2"></div>
        </div>

 </div>
</div> 
</div>

</div>
</div>
</div>