<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                            Report Proforma Entry
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                        E.S.1.1 Reports (Monthly Exchange Report )
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
														<div class="m-portlet__foot m-portlet__foot--fit">
																<div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
																<h5 style="color: red;">  कैसे उपयोग करे </h5>
														  <ul>
														 <li>इस उपयोगिता के द्वारा Month & Year के आधार पर  Exchange Officer " E.S.1.1 (Monthly)" रिकार्ड खोजा जा सकता है ।</li>
														 <li>Report print करने के लिए Print Report button पर click करें । </li>
														
														 <li>Report Head Office को भेञने के लिए Send to Head Office button पर Click करे। Head Office में Send करने के बाद इसे Modify नही किया जा सकता।</li>
														 
															</ul>
		
																</div>
															</div>
                                                 
                                                      
                                                               
                                                            </div>                
                                                
                                                    
                                                            <div class="form-group m-form__group row">
																	<label class="col-lg-2 col-form-label">
																			Select Month & Year	:
																	 </label>
																	 <div class="col-lg-2">
																		 <select id="SubjectGroup" class="form-control m-input">
																				
																				
																				 <option value="3">January</option> 
																				 <option value="2">February</option>
																				 <option value="3">March</option> 
																				 <option value="2">April</option>
																				 <option value="3">May</option> 
																				 <option value="2">June</option>
																				 <option value="3">July</option> 
																				 <option value="2">August</option>
																				 <option value="3">September</option> 
																				 <option value="2">October</option>
																				 <option value="3">November</option>
																				 <option value="3">December</option>  
																		 </select>
																	 </div>
                                                                    <div class="col-lg-2">
                                                                            <select type="text" id="" class="form-control m-input" placeholder="Month">
																					
																					<option value="3">2017</option> 
																					<option value="2">2018</option>
																					<option value="3">2019</option> 
                                                                                </select>
                                                                    
                                                                   
                                                                </div>
                                                                <!-- <div class="col-lg-2">
                                                                    <select type="text" id="" class="form-control m-input" placeholder="Month">
                                                                             
                                                                        </select>
                                                            
                                                           
                                                        </div> -->
                                                                
                                                            </div>
                                                            <div class="form-group m-form__group row">
                                                                    <div class="col-lg-3"></div>
                                                                <div class="col-lg-3">
                                                                    <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                        Search Report
                                                                    </button>
                                                                    <!-- <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                        Add
																	 </button> -->
																</div>
															</div>

															
															
																	
																	 
															
																</div>
																<div class="m-portlet__foot m-portlet__foot--fit">
																		<div class="m-form__actions m-form__actions">
																		
																		<% include ../../pages/Table %>
																		</div>
																	</div> 
                                                                
                                                            </div>
                                                               
                                                               
                                                                   
                                               
                                                  
												</div>
											</div>
					
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
        <script type="text/javascript">
            $(document).ready(function () {
                
               
                var tablehead="<th>Sr. No</th><th>Item</th><th>Men</th><th>Women</th><th>Total</th>";
        $("#tablehead").html(tablehead);
    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
