<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Exchange Major Reports
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														Total Registred Employer Destais
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
                                                    <div class="form-group m-form__group row" style="    place-content: flex-end;">
													
                                                        
														<div class="col-lg-2">
                                                           <button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                          Print
															</button>
															<button type="button" id="btnSubmit" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																	Excel
																	  </button>
                                                        </div>
                                                      
                                                        
													</div>
														
													<div class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions">
														
														<% include ../../pages/Table %>
														</div>
													</div>
													</div>
                                                   
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
		<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							Employer Details
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						
					<div class="form-group m-form__group row" style="    overflow: auto; ">
						<div class="col-lg-12">
							<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
								<thead>
									<tr id="tableheadmodal">
							  
									</tr>
								</thead>
								<tbody id="tbodyvaluemodal"></tbody>
							</table>
							  </div>
					</div>
					
					</div>
				
				</div>
			</div>
		</div>
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/RegistredEmployerDetails.js" type="text/javascript"></script>

		<script type="text/javascript">
	
            $(document).ready(function () {
                var tablehead="<th><a  style='color: white;'>S.No</a></th><th>	Office Name</th><th>Total Registred Employer</th><th></th>";
        $("#tablehead").html(tablehead);
		fetchregemp();		
		var tableheadmodal="<th><a  style='color: white;'>S.No.</a></th><th>Company Name</th><th>Contact Person  </th><th>Std</th><th>Contact Details</th><th>Mobile</th><th>Email Id</th><th>Address</th>";
        $("#tableheadmodal").html(tableheadmodal);
	});
						
							
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
