<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												Jobseeker Services
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
									
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<div class="m-content">
									<!--begin::Portlet-->
									<div class="m-portlet m-portlet--space">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<h3 class="m-portlet__head-text">
                                                            JobSeeker Profile
													</h3>
												</div>
											</div>
										
										</div>
										<div class="m-portlet__body">
											<div class="row">
												<div class="col-xl-3">
													<div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
														<ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">
															<li class="m-nav__item" >
																<a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" href="#">
																	<span class="m-nav__link-text">
																		Personal Details
																	</span>
																</a>
															</li>
															<li class="m-nav__item" >
																	<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_4" href="#">
																		<span class="m-nav__link-text">
                                                                                Qualification Details
																		</span>
																	</a>
																</li>
																<li class="m-nav__item" >
																		<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_5" href="#">
																			<span class="m-nav__link-text">
																				Skills
																			</span>
																		</a>
																	</li>
																	<li class="m-nav__item" >
																			<a class="m-nav__link m-tabs__item m-tabs" data-tab-target="#m_section_6" href="#">
																				<span class="m-nav__link-text">
                                                                                        Experience Summary
																				</span>
																			</a>
																		</li>
																		
																			
														</ul>
													</div>
												</div>
												<div class="col-xl-9">
													<div class="m-tabs-content" id="m_sections">
														<!--begin::Section 1-->
														
														<div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
															
															<div class="m-accordion m-accordion--bordered" id="m_section_1_content">
																<!--begin::Item-->
																<div class="m-accordion__item">
																		<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																				<span class="m-accordion__item-title">
																						Personal Details
																				</span>
																			</div>
																	<div class="m-accordion__item-body collapse show" id="m_section_1_content_1_body" role="tabpanel" aria-labelledby="m_section_1_content_1_head" data-parent="#m_section_1_content">
																		<div class="m-accordion__item-content">
                                                                             <h6 id="registrationno"></h6> 
                                                                            <span style="color: red">Fields mark with * are Mandatory.</span>
																				<div class="m-form__group form-group row">
																						<label class="col-lg-2 col-form-label">
                                                                                                First Name<span class="required" style="color:red;">*</span> :
																						</label>
																						<div class="col-lg-4">
																							<input id="basicjobseekerfirstname" class="form-control m-input"></input>
                                                                                        </div>
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Surname :
																						</label>
																						<div class="col-lg-4">
																							<input id="jobseekerLastname" class="form-control m-input"></input>
																						</div>
																					</div>
																					<div class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
                                                                                                    आवेदक का नाम :
																							</label>
																							<div class="col-lg-10">
																								<input id="CandidateName" class="form-control m-input">
                                                                                            </div>
                                                                                            
																						</div>
																						<div class="m-form__group form-group row">
                                                                                            <label class="col-lg-2 col-form-label">
																								Guardian/Father Name <span style="color: red">*</span>
																							</label>
																							<div class="col-lg-4">
																								<input id="jobseekerfathername" class="form-control m-input">
                                                                                            </div>
                                                                                            <label class="col-lg-2 col-form-label">
																								Gender :
																							</label>
                                                                                            <div class="col-lg-4">
																								<select id="gender" class="form-control m-input">
																							  <option>Select Gender</option>
																							  <option value="Male">Male</option>
																							  <option value="Female">Female</option>
																							  <option value="Other">Other</option>
																								</select>
																								</div>
																								
                                                                                            </div>
                                                                                            
                                                                                           
                                                                                                    
                                                                                            <div class="m-form__group form-group row">
                                                                                                    <label class="col-lg-2 col-form-label">
																										Date of birth:
                                                                                                    </label>
                                                                                                    <div class="col-lg-4">
																											<div class="input-group date">
																													<input type="text" class="form-control m-input" id="DOBtextbox"  placeholder="(DD/MM/YYYY)" id="m_datepicker_5">
																													<div class="input-group-append">
																														<span class="input-group-text">
																															<i class="la la-calendar-check-o"></i>
																														</span>
																													</div>
																												</div>
                                                                                                       
                                                                                                        </div>
																										<label class="col-lg-2 col-form-label">
																											Blood Group:
																										</label>
																										<div class="col-lg-4">
																											<select id="BloodGroup" placeholder="" class="form-control m-input" >
																										   </select>
																											</div>
                                                                                                        
                                                                                                    </div>
                                                                                                    
                                                                                           

                                                                                                    <div class="m-form__group form-group row">
                                                                                                            
                                                                                                            <label class="col-lg-2 col-form-label">
																												Marital Status :
                                                                                                            </label>
                                                                                                            <div class="col-lg-4">
                                                                                                                    <select id="Marital" class="form-control m-input">
                                                                                                                    </select>
																													</div>
																													<label class="col-lg-2 col-form-label">
																														Domicile:
																												</label>
																												<div class="col-lg-4">
																													<select id="resident" placeholder="" class="form-control m-input" >
																												   <option>MP</option>
																												   <option>Non-MP</option>
																													</select>
																													</div>
                                                                                                            </div>

                                                                                                            <div class="m-form__group form-group row">
                                                                                                                    <label class="col-lg-2 col-form-label">
																														Category :
                                                                                                                    </label>
                                                                                                                    <div class="col-lg-4">
                                                                                                                        <select id="Category" placeholder="" class="form-control m-input" >
                                                                                                                        </select>
                                                                                                                        </div>
                                                                                                                    <label class="col-lg-2 col-form-label">
																														Religion :
                                                                                                                    </label>
                                                                                                                    <div class="col-lg-4">
                                                                                                                            <select id="Religion" class="form-control m-input">
                                                                                                                            </select>
																															</div>
                                                                                                                        
																													</div>
																													
																													<div class="m-form__group form-group row">
																														<label class="col-lg-2 col-form-label">
																															Sub-Caste	:
																														</label>
																														<div class="col-lg-4">
																															<input id="SubCaste" class="form-control m-input">
																														</div>
																															<label class="col-lg-2 col-form-label">
																																Nationality	:
																														</label>
																														<div class="col-lg-4">
																															<select id="nationality" class="form-control m-input">
																															</select>
																															</div>
																															</div>

																															<div class="m-form__group form-group row">
																																<label class="col-lg-2 col-form-label">
																																	Area Of Interest	:
																																</label>
																																<div class="col-lg-4">
																																	<select id="AreaOfInterest" class="form-control m-input">
																																	</select>
																																	</div>
																																	<label class="col-lg-2 col-form-label">
																																		Employed Status	:
																																</label>
																																<div class="col-lg-4">
																																	<select id="Proficiency" class="form-control m-input">
																																</select>
																																	</div>
																																	</div>

																																
					

                                                                                                                    <div class="m-form__group form-group row">
                                                                                                                            <label class="col-lg-2 col-form-label">
                                                                                                                                    Green Card:
                                                                                                                            </label>
                                                                                                                            <div class="col-lg-4">
                                                                                                                                <input id="chkgreencardStatus" type="checkbox" name="" value="yes" >
                                                                                                                                </div>
                                                                                                                                </div>
																		</div>
																	</div>
																</div>
																<!--end::Item-->    
																<div class="m-accordion__item">
																		<div class="m-accordion__item-head" role="tab" id="m_section_1_content_2_head" data-toggle="collapse" href="#m_section_1_content__body">
																				<span class="m-accordion__item-title">
																						Contact Details
																				</span>
																			</div>
																		<div class="m-accordion__item-body collapse show" id="m_section_1_content_2_body" role="tabpanel" aria-labelledby="m_section_1_content_2_head" data-parent="#m_section_2_content">
																				<div class="m-accordion__item-content">
																					<div class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
                                                                                                    Area :
																							</label>
																							<div class="col-lg-4">
																								<select id="Area" class="form-control m-input">
                                                                                                </select>
                                                                                            </div>
                                                                                            <label class="col-lg-2 col-form-label" id="Block1">
																								Block  :
																							</label>
																							<div class="col-lg-4" id="Block2">
																								<select id="Block" class="form-control m-input">
                                                                                                </select>
																							</div>
																						</div>

																						<div id="Panch" class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
																								Panchayat :
																							</label>
																							<div class="col-lg-4">
																								<select id="Panchayat" class="form-control m-input">
                                                                                                </select>
                                                                                            </div>
																							<label class="col-lg-2 col-form-label">
																								
																							</label>
																							<div class="col-lg-4">
																								<input id="other" class="form-control m-input">
                                                                                            </div>
																						</div>

																						
																						

																							
																						<div class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
																								Permanent Address<span style="color: red">*</span> :
																							</label>
																							<div class="col-lg-4">
																								<textarea id="permanentaddress" class="form-control m-input" rows="3"></textarea>
                                                                                                
                                                                                            </div>
                                                                                            <label class="col-lg-2 col-form-label">
																								Present Address  :
																							</label>
																							<div class="col-lg-4">
																								<textarea id="presentaddress" class="form-control m-input" rows="3"></textarea>
                                                                                            </div>
																						</div>

																						
																						<div class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
																								Pin Code :
																							</label>
																							<div class="col-lg-4">
																								<input id="Pin" class="form-control m-input">
                                                                                            </div>
                                                                                            <label class="col-lg-2 col-form-label">
																								E-mail  :
																							</label>
																							<div class="col-lg-4">
																								<input id="email" class="form-control m-input">
                                                                                            </div>
																						</div>

																						
																						<div class="m-form__group form-group row">
																							 <label class="col-lg-2 col-form-label">
																								Mobile<span style="color: red">*</span>  :
																							</label>
																							<div class="col-lg-4">
																								<input id="Phone" class="form-control m-input">
                                                                                            </div>
																						</div>
		
																			</div>
																			<!-- <div class="form-group m-form__group row" style="    place-content: center;">
																				<div class="col-lg-3">
																				  <button type="button" onclick="InsUpdPersonalDetail();InsUpdPersonal()"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																					  Save 
																				  </button>
																			 </div>
																			 </div> -->

																		</div>
																	</div>
								
																	<div class="m-accordion__item">
																			<div class="m-accordion__item-head" role="tab" id="m_section_1_content_3_head" data-toggle="collapse" href="#m_section_1_content__body">
																					<span class="m-accordion__item-title">
																						Differently Abled
																					</span>
																				</div>
																			<div class="m-accordion__item-body collapse show" id="m_section_1_content_3_body" role="tabpanel" aria-labelledby="m_section_1_content_3_head" data-parent="#m_section_3_content">
																					<div class="m-accordion__item-content">
																						<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																									Differently Abled:
																								</label>
																								<div class="col-lg-4">
																									<select id="differentlyabled" class="form-control m-input">
																										<option value="Handicap">Yes</option>
																										<option value="Non-Handicap">No</option>
																									</select>
																								</div>
																								<!-- <div id="DisabilityType">     -->
																								<label id="handiCategory1" class="col-lg-2 col-form-label">
																									 Handicapped Category  :
																								</label>
																								<div class="col-lg-4" id="handiCategory2">
																									<select id="DisabilityDetail" class="form-control m-input">
																									</select>
																								</div>
																							<!-- </div> -->
																							</div>

																							<div id="DisablityPrio" class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																									Handicapped Sub Category :
																								</label>
																								<div class="col-lg-4">
																									<select id="HandicappedSubCategory" class="form-control m-input">
																									</select>
																								</div>
																								<label class="col-lg-2 col-form-label">
																									Disablity Priority  :
																								</label>
																								<div class="col-lg-4">
																									<select id="DisablityPriority" class="form-control m-input">
																									</select>
																								</div>
																							</div>

																							
																							<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																									Chest(In Centimeter) :
																								</label>
																								<div class="col-lg-4">
																									<input id="txtchest" class="form-control m-input">
																								</div>
																								<label class="col-lg-2 col-form-label">
																									Height(Centimeter) :
																								</label>
																								<div class="col-lg-4">
																									<input id="txtHeight" class="form-control m-input">
																								</div>
																							</div>

																							
																							<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																									Weight (In Kg.) :
																								</label>
																								<div class="col-lg-4">
																									<input id="txtWeight" class="form-control m-input">
																								</div>
																								<label class="col-lg-2 col-form-label">
																									Eye Sight   :
																								</label>
																								<div class="col-lg-4">
																									<select id="Eyesight" class="form-control m-input">
																									</select>
																								</div>
																							</div>
																				</div>
																			</div>
																		</div>


																		<div class="m-accordion__item">
																			<div class="m-accordion__item-head" role="tab" id="m_section_1_content_3_head" data-toggle="collapse" href="#m_section_1_content__body">
																					<span class="m-accordion__item-title">
																						Other Activities
																					</span>
																				</div>
																			<div class="m-accordion__item-body collapse show" id="m_section_1_content_3_body" role="tabpanel" aria-labelledby="m_section_1_content_3_head" data-parent="#m_section_3_content">
																					<div class="m-accordion__item-content">
																						<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																									Sports Name :
																								</label>
																								<div class="col-lg-4">
																									<select id="sportname" class="form-control m-input">
																									</select>
																								</div>
																								<label class="col-lg-2 col-form-label">
																									Sports Certificate :
																								</label>
																								<div class="col-lg-4">
																									<select id="sportcertificate" class="form-control m-input">
																									</select>
																								</div>
																							</div>

																							<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																									NCC Certificate :
																								</label>
																								<div class="col-lg-4">
																									<select id="NCCcertificate" class="form-control m-input">
																									</select>
																								</div>
																							</div>
																							<div class="m-form__group form-group row">
																								<label class="col-lg-4 col-form-label">
																									NOTE: NA For Not Applicable
																								</label>
																								
																							</div>

																							
																							
																				</div>

																				<div class="form-group m-form__group row" style="    place-content: center;">
																					<div class="col-lg-3">
																					  <button type="button" onclick="InsUpdPersonalDetail();InsUpdPersonal();InsUpdPhysicalDetail();"    class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																						  Save & Continue
																					  </button>
																					  
																				 </div>
																				 </div>

																			</div>
																		</div>

															</div>
														</div>
														<!--begin::Section 1-->  
					   
								<div class="m-tabs-content__item m-tabs-content" id="m_section_4">
															
										<div class="m-accordion m-accordion--bordered" id="m_section_4_content">  
					<!--begin::Item-->
											<div class="m-accordion__item">
												
												<div class="m-accordion__item-body collapse show" id="m_section_4_content_4_body" role="tabpanel" aria-labelledby="m_section_4_content_4_head" data-parent="#m_section_4_content">
														<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																<span class="m-accordion__item-title">
																		Qualification Details
																</span>
															</div>	
													<div class="m-accordion__item-content">
																 <h6 id="registrationno"></h6>  
																<div class="form-group m-form__group row">
																		<div class="col-lg-6"></div>	
																		<div class="col-lg-3">
																				<button type="button"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																					Go For Allot NCO
																				</button>
																		  </div>
																	<div class="col-lg-3">
																		  <button type="button"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																			  Skip & Continue
																		  </button>
																	</div>
																	 </div>
															<div class="m-form__group form-group row">
																	<label class="col-lg-2 col-form-label">
																		Qualification :
																	</label>
																	<div class="col-lg-4">
																		<select id="ExamPassed" class="form-control m-input"></select>
																	</div>
																	<label class="col-lg-2 col-form-label">
																			Subject Group :
																	</label>
																	<div class="col-lg-4">
																		<select id="Course" class="form-control m-input"></select>
																	</div>
																</div>
																<div class="m-form__group form-group row">
																		<label class="col-lg-2 col-form-label">
																				Subject :
																		</label>
																		<div class="col-lg-4">
																			<input id="Specialization" class="form-control m-input"></input>
																		</div>
																		<label id="coursetype1" class="col-lg-2 col-form-label">
																			Course Type :
																		</label>
																		<div class="col-lg-4" id="coursetype2">
																			<select id="CourseType" class="form-control m-input"></select>
																		</div>
																	</div>
																	<div id="uniboardpassotyr" class="m-form__group form-group row">
																			<label class="col-lg-2 col-form-label">
																				University/Board	
																			</label>
																			<div class="col-lg-4">
																				<select  id="university" class="form-control m-input"></select>
																			</div>
																			<label class="col-lg-2 col-form-label">
																				Passing Out Year :		
																			</label>
																			   <div class="col-lg-4">
																				   <select id="PassingOutYear" class="form-control m-input"></select>
																			   </div>
																		</div>
																		<div id="diviper" class="m-form__group form-group row">
																				<label class="col-lg-2 col-form-label">
																					Division :
																				</label>
																				<div class="col-lg-4">
																					<select id="Division" class="form-control m-input"></select>
																				</div>
																				<label class="col-lg-2 col-form-label">
																					Percentage :
																				</label>
																				<div class="col-lg-4">
																					<input id="Percentage" class="form-control m-input"></input>
																				</div>
																			</div>
																			
													</div>

													<div class="form-group m-form__group row">
														<div class="col-lg-5"></div>	
													<div class="col-lg-3">
														  <button type="button" onclick="InsUpdEducation()"    class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
															  Save & Continue
														  </button>
													</div>
													 </div>

													<!-- <div class="form-group m-form__group row">
															<div class="col-lg-5"></div>	
														<div class="col-lg-3">
															  <button type="button"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																  Save
															  </button>
														 </div>
														 </div> -->

												</div>

												<!-- <div class="m-accordion__item-body collapse show" id="m_section_4_content_4_body" role="tabpanel" aria-labelledby="m_section_4_content_4_head" data-parent="#m_section_4_content">
														<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																<span class="m-accordion__item-title">
																		Desired Job Details
																</span>
															</div>	
													<div class="m-accordion__item-content">
															<div class="m-form__group form-group row">
																	<label class="col-lg-2 col-form-label">
																			Preferred Location :
																	</label>
																	<div class="col-lg-4">
																		<select id="" class="form-control m-input"></select>
																	</div>
																	<label class="col-lg-2 col-form-label">
																			Job Type :
																	</label>
																	<div class="col-lg-4">
																		<select id="ddlDistrict" class="form-control m-input"></select>
																	</div>
																</div>
																<div class="m-form__group form-group row">
																		<label class="col-lg-4 col-form-label">
																				Minimum Local Salary Per Month (INR) :
																		</label>
																		<div class="col-lg-2">
																			<select id="" class="form-control m-input"></select>
																		</div>
																		<label class="col-lg-4 col-form-label">
																				Minimum Outside Salary Per Month(INR) :
																		</label>
																		<div class="col-lg-2">
																			<input id="" class="form-control m-input">
																		</div>
																	</div>
																	<div class="m-form__group form-group row">
																			<label class="col-lg-2 col-form-label">
																					Area of Interest	
																			</label>
																			<div class="col-lg-4">
																				<select type="checkbox" id="" class="form-control m-input"></select>
																			</div>
																			
																		</div>
																		
													</div>

													<div class="form-group m-form__group row">
															<div class="col-lg-5"></div>	
														<div class="col-lg-3">
															  <button type="button" onclick="InsUpdEducation()"    class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																  Save & Continue
															  </button>
														</div>
														 </div>
														 </div> -->

												</div>


											</div>
											<!--end::Item-->   
										</div>
										<div class="m-tabs-content__item m-tabs-content" id="m_section_5">
													
												<div class="m-accordion m-accordion--bordered" id="m_section_5_content">  
							<!--begin::Item-->
													<div class="m-accordion__item">
															<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																	<span class="m-accordion__item-title">
																			Known Language's
																	</span>
																</div>
														<div class="m-accordion__item-body collapse show" id="m_section_5_content_5_body" role="tabpanel" aria-labelledby="m_section_5_content_5_head" data-parent="#m_section_5_content">
																<div class="m-accordion__item-content">
																	<div class="m-form__group form-group row">
																			<label class="col-lg-4 col-form-label">
																					Language :
																			</label>
																			<div class="col-lg-8">
																				<select type="text" id="Language" class="form-control m-input" placeholder=""></select>
																			</div>
																		</div>
																				<div class="m-form__group form-group row">
																						        <div class="col-lg-4"><input type="checkbox" id="Read" value="1" name="Read"> Read </div>
																								<div class="col-lg-4"><input type="checkbox" id="Write" value="2" name="Write"> Write </div>
																								<div class="col-lg-4"><input type="checkbox" id="Speak" value="3" name="Speak"> Speak </div>
																						
																				</div>

																				<!-- <div class="form-group m-form__group row">
                                                                                   <div class="col-lg-5"></div>
																						<button type="button"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																								Save
																							</button>		
																				</div> -->
																	</div>
																	<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																			<span class="m-accordion__item-title">
																					Typing/Steno Details
																			</span>
																		</div>
																		<div class="m-accordion__item-content">
																				<div class="m-form__group form-group row">
																						<label class="col-lg-2 col-form-label">
																								Language :
																						</label>
																						<div class="col-lg-4">
																							<select type="text" id="language" class="form-control m-input" placeholder="">
																						</select>
																						</div>
																						<label class="col-lg-2 col-form-label">
																								Type :
																						</label>
																						<div class="col-lg-4">
																							<select type="text" id="type" class="form-control m-input" placeholder=""></select>
																						</div>
																					</div>

																					<div class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
																									Institute :
																							</label>
																							<div class="col-lg-4">
																								<select type="text" id="Institute" class="form-control m-input" placeholder=""></select>
																							</div>
																							<label class="col-lg-2 col-form-label">
																									Passed Year :
																							</label>
																							<div class="col-lg-4">
																								<select type="text" id="passYear" class="form-control m-input" placeholder=""></select>
																							</div>
																						</div>

																						<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																										Speed :
																								</label>
																								<div class="col-lg-4">
																									<input type="text" id="Speed" class="form-control m-input" placeholder="">
																								</div>

																								<!-- <div class="col-lg-4">
																										<button type="button"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																												Save
																											</button>		
																								</div> -->
																							</div>
																							
																				</div>
																				<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																						<span class="m-accordion__item-title">
																								Driving License Details
																						</span>
																					</div>
																					<div class="m-accordion__item-content">
																							<div class="m-form__group form-group row">
																									<label class="col-lg-2 col-form-label">
																											License Type :
																									</label>
																									<div class="col-lg-4">
																										<select type="text" id="licensetype" class="form-control m-input" placeholder="">
																									<option value="Driving License">Driving License</option>
																								</select>
																									</div>
																									
																									<label class="col-lg-2 col-form-label">
																											License No :
																									</label>
																									<div class="col-lg-4">
																										<input type="text" id="cardno" class="form-control m-input" placeholder="">
																									</div>
																								</div>

																								<div class="m-form__group form-group row">
																										<label class="col-lg-2 col-form-label">
																												Date :
																										</label>
																										<div class="col-lg-4">
																												<div class="input-group date">
																														<input type="text" id="IdDate" class="form-control m-input"    placeholder="(DD/MM/YYYY)" id="m_datepicker_5">
																														<div class="input-group-append">
																															<span class="input-group-text">
																																<i class="la la-calendar-check-o"></i>
																															</span>
																														</div>
																													</div>
																											<!-- <input type="text" id="IdDate" class="form-control m-input" placeholder="(dd/mm/yyyy)"> -->
																										</div>
																										<label class="col-lg-2 col-form-label">
																												Valid Upto :
																										</label>
																										<div class="col-lg-4">
																												<div class="input-group date">
																														<input type="text" id="ValidUpto" class="form-control m-input"    placeholder="(DD/MM/YYYY)" id="m_datepicker_55">
																														<div class="input-group-append">
																															<span class="input-group-text">
																																<i class="la la-calendar-check-o"></i>
																															</span>
																														</div>
																													</div>
																											<!-- <input type="text" id="ValidUpto" class="form-control m-input" placeholder="(dd/mm/yyyy)"></input> -->
																										</div>
																									</div>

																									<div class="m-form__group form-group row">
																											<label class="col-lg-2 col-form-label">
																													Authority :
																											</label>
																											<div class="col-lg-4">
																												<input type="text" id="IssuingAuthority" class="form-control m-input" placeholder="">
																											</div>
																											
																											<!-- <div class="col-lg-4">
																													<button type="button"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																															Save
																														</button>	
																											</div> -->
																										</div>
																										
																							</div>

																							<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																									<span class="m-accordion__item-title">
																											Electric License Details
																									</span>
																								</div>
																								<div class="m-accordion__item-content">
																										<div class="m-form__group form-group row">
																												<label class="col-lg-2 col-form-label">
																														License Type :
																												</label>
																												<div class="col-lg-4">
																													<select type="text" id="licensetype" class="form-control m-input" placeholder="">
																														<option value="Electric License">Electric License</option>
																													</select>
																												</div>
																												<label class="col-lg-2 col-form-label">
																														License No :
																												</label>
																												<div class="col-lg-4">
																												  <input type="text" id="cardno" class="form-control m-input" placeholder="">
																												</div>
																											</div>

																											<div class="m-form__group form-group row">
																													<label class="col-lg-2 col-form-label">
																															Date :
																													</label>
																													<div class="col-lg-4">
																															<div class="input-group date">
																																	<input type="text" id="IdDate" class="form-control m-input"    placeholder="(DD/MM/YYYY)" id="m_datepicker_11">
																																	<div class="input-group-append">
																																		<span class="input-group-text">
																																			<i class="la la-calendar-check-o"></i>
																																		</span>
																																	</div>
																																</div>
																														<!-- <input type="text" id="IdDate" class="form-control m-input" placeholder="(dd/mm/yyyy)"> -->
																													</div>
																													<label class="col-lg-2 col-form-label">
																															Valid Upto :
																													</label>
																													<div class="col-lg-4">
																															<div class="input-group date">
																																	<input type="text" id="ValidUpto" class="form-control m-input"    placeholder="(DD/MM/YYYY)" id="m_datepicker_22">
																																	<div class="input-group-append">
																																		<span class="input-group-text">
																																			<i class="la la-calendar-check-o"></i>
																																		</span>
																																	</div>
																																</div>
																														<!-- <input type="text" id="ValidUpto" class="form-control m-input" placeholder="(dd/mm/yyyy)"></input> -->
																													</div>
																											</div>
																													<div class="m-form__group form-group row">
																													<label class="col-lg-2 col-form-label">
																															Issuing Authority :
																													</label>
																													<div class="col-lg-4">
																														<input type="text" id="IssuingAuthority" class="form-control m-input" placeholder="">
																													</div>
																												</div>
																													
																												<div class="form-group m-form__group row">
																														<div class="col-lg-5"></div>
																														<div class="col-lg-3">
																														  <button type="button" onclick="InsUpdLanguage();InsUpdTypingOrSteno();InsUpdIdentificationDetail();"    class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																															  Save & Continue
																														  </button>
																													 </div>
																													 </div>

																										</div>

														</div>
													</div>
													<!--end::Item-->   
												</div>
											</div>
											

											<div class="m-tabs-content__item m-tabs-content" id="m_section_6">
													
													<div class="m-accordion m-accordion--bordered" id="m_section_6_content">  
								<!--begin::Item-->
														<div class="m-accordion__item">
																<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																		<span class="m-accordion__item-title">
																				Experience Summary
																		</span>
																	</div>
															<div class="m-accordion__item-body collapse show" id="m_section_6_content_6_body" role="tabpanel" aria-labelledby="m_section_6_content_6_head" data-parent="#m_section_6_content">
																	<div class="m-accordion__item-content">
																		<div class="m-form__group form-group row">
																				<label class="col-lg-2 col-form-label">
																						Designation :
																				</label>
																				<div class="col-lg-4">
																						<input type="text" id="Designation" class="form-control m-input" placeholder="">
																						<!-- <select type="text" id="Designation" class="form-control m-input" placeholder=""></select> -->
																					</div>

																					<label class="col-lg-2 col-form-label">
																							Organization :
																					</label>
																					<div class="col-lg-4">
																						<input type="text" id="Organization" class="form-control m-input" placeholder="">
																					</div>
																			</div>
																					
																			<div class="m-form__group form-group row">
																					<label class="col-lg-2 col-form-label">
																							Is your Current Company? :
																					</label>
																					<div class="col-lg-4">
																						<select type="text" id="iscurrentcompany" class="form-control m-input" placeholder=""></select>
																					</div>

																					<label class="col-lg-2 col-form-label">
																							Started Working From Year :
																					</label>
																					<div class="col-lg-4">
																						<select type="text" id="startedworkinginyear" class="form-control m-input" placeholder=""></select>
																					</div>
																					
																				</div>
	
																				<div class="m-form__group form-group row">
																						<label class="col-lg-2 col-form-label">
																								Started Working From Month :
																						</label>
																						<div class="col-lg-4">
																							<select type="text" id="startedworkinginmonth" class="form-control m-input" placeholder=""></select>
																						</div>
	
																						<label class="col-lg-2 col-form-label">
																								Work Till :
																						</label>
																						<div class="col-lg-4">
																							<input type="text" id="present" class="form-control m-input" placeholder=""></input>
																						</div>
																						
																					</div>

																					<div class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
																									Worked Till Year :
																							</label>
																							<div class="col-lg-4">
																								<select type="text" id="workinyear" class="form-control m-input" placeholder=""></select>
																							</div>
																							<label class="col-lg-2 col-form-label">
																									Worked Till Month :
																							</label>
																							<div class="col-lg-4">
																								<select type="text" id="workinmonth" class="form-control m-input" placeholder=""></select>
																							</div>
																						</div>

																						<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
																										Salary in Lacs :
																								</label>
																								<div class="col-lg-4">
																									<select type="text" id="inlacs" class="form-control m-input" placeholder=""></select>
																								</div>
																								<label class="col-lg-2 col-form-label">
																										Salary in Thousands :
																								</label>
																								<div class="col-lg-4">
																									<select type="text" id="inthousands" class="form-control m-input" placeholder=""></select>
																								</div>
																							</div>
																							
																							<div class="m-form__group form-group row">
																									<label class="col-lg-2 col-form-label">
																											Describe your Job Profile :
																									</label>
																									<div class="col-lg-4">
																										<textarea type="text" id="JobProfile" class="form-control m-input" placeholder=""></textarea>
																									</div>
																									<label class="col-lg-2 col-form-label">
																											Notice Period :
																									</label>
																									<div class="col-lg-4">
																										<select type="text" id="noticeperiod" class="form-control m-input" placeholder="">
																										<option value="0">Notice Period</option>
																										<option>15 Days or less</option>
																										<option>1 Month</option>
																										 <option>2 Months</option>  
																										 <option>3 Months</option> 
																										 <option>More than 3 Months</option>   
																										 <option>Serving Notice Period</option> 
																										</select>
																									</div>
																								</div>



																						<div class="m-portlet__foot m-portlet__foot--fit">
																								<div class="m-form__actions m-form__actions">
																						<div class="form-group m-form__group row" style="    overflow: auto; ">
																								<div class="col-lg-12">
																									<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
																										<thead>
																											<tr id="tablehead">
																									  
																											</tr>
																										</thead>
																										<tbody id="tbodyvalue"></tbody>
																									</table>
																									  </div>
																							</div>
																								</div>
																						</div>
																		</div>
																		<div class="m-accordion__item-head" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content__body">
																				<span class="m-accordion__item-title">
																						Experience Details
																				</span>
																			</div>
																			<div class="m-accordion__item-content">
																					<div class="m-form__group form-group row">
																							<label class="col-lg-2 col-form-label">
																									Employer Name :
																							</label>
																							<div class="col-lg-4">
																								<input type="text" id="Organization" class="form-control m-input" placeholder="">
																							</div>
																							<label class="col-lg-2 col-form-label">
																									Nature of Work :
																							</label>
																							<div class="col-lg-4">
																								<input type="text" id="keyskilldetail" class="form-control m-input" placeholder="">
																							</div>
																						</div>
	
	
																							<div class="m-form__group form-group row">
																									
																									<label class="col-lg-2 col-form-label">
																											Remarks :
																									</label>
																									<div class="col-lg-4">
																										<textarea type="text" id="resumehealdline" class="form-control m-input" placeholder=""></textarea>
																									</div>
	
																								</div>

																								<div class="form-group m-form__group row" style="    place-content: center;">
																										<div class="col-lg-3">
																										  <button type="button" onclick="InsUpdResumeHeadline();InsUpdKeySkill();InsUpdEmployement();"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																											  Save
																										  </button>
																										  <!-- <button type="button"     class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																											  Reset
																										  </button> -->
																									  </div>
																									 </div>
																								
																					</div>
																					
																						
	
																							
																									
	
															</div>
														</div>
														<!--end::Item-->   
													</div>
												</div>
													
									</div>
									
													
													</div>
												</div>
											</div>
										</div>
										
									</div>
									<!--end::Portlet-->
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>

		<script src="../customjs/JobseekerServices/JobSeekerPersonalDetails.js"></script>
		<script src="../customjs/JobseekerServices/PersonalBasicDetail.js"></script>
		<script src="../customjs/JobseekerServices/PhysicalDetail.js"></script>
		
		<script src="../customjs/JobseekerServices/Education.js"></script>
		<script src="../customjs/JobseekerServices/Language.js"></script>
		<script src="../customjs/JobseekerServices/TypingOrSteno.js"></script>
		<script src="../customjs/JobseekerServices/IdentificationDetail.js"></script>  
		<script src="../customjs/JobseekerServices/Keyskill.js"></script>
		<script src="../customjs/JobseekerServices/ResumeHeadline.js"></script>
	    <script src="../customjs/JobseekerServices/Employement.js"></script> 
		
		 <script type="text/javascript">
            $(document).ready(function () {

				FillDesignationSecured('parsedatasecureddesignation');
				FillIscurrentcompany('parsedatasecuredFillIscurrentcompany','iscurrentcompany');
				Fillstartedworkinginyear('parsedatasecuredFillstartedworkinginyear');
				FillStartedworkinginmonth('parsedatasecuredFillStartedworkinginmonth');
				FillSalaryinlacs('parsedatasecuredFillSalaryinlacs');
                
				FillKeySkillSecured('parsedatasecuredkeyskill');
				FillResumeHeadlineSecured('parsedatasecuredresumeheadline','resumehealdline');
				FillPassingYear('parsedatasecuredFillPassingYear','passYear');
				FillTSLanguage('parsedatasecuredFillTSLanguage','language');
				FillTSType('parsedatasecuredFillTSType','type');
				FillTSInstitute('parsedatasecuredFillTSInstitute','Institute');
				FillEducation('parsedatasecuredFillEducation');
				Filluniversity('parsedatasecuredFilluniversity','university');
				FillPassingOutYear('parsedatasecuredFillPassingOutYear','PassingOutYear');
				FillDivision('parsedatasecuredFillDivision','Division');
				FillCourseType('parsedatasecuredFillCourseType','CourseType');
				fillFetchEducation('parsedatasecuredfillFetchEducation');
				

				FillLanguage('parsedatasecuredFillLanguage','Language');
				FillProfileDetail('parsedatasecuredFillProfileDetail');
				FillArea('parsedatasecuredFillArea','Area');
                FillBlock('parsedatasecuredFillBlock','Block');
				FillCategory('parsedatasecuredFillCategory');
                FillReligion('parsedatasecuredFillReligion');
				FillPersonalDetailSecured('parsedatasecuredpersonaldetails');
				FillMaritalstatus('parsedatasecuredFillMaritalstatus','Marital');
				FillBloodGroup('parsedatasecuredFillBloodGroup','BloodGroup');
				FillNationality('parsedatasecuredFillNationality','nationality');
				FillAreaOfInterest('parsedatasecuredFillAreaOfInterest','AreaOfInterest');
				FillEmploymentstatus('parsedatasecuredFillEmploymentstatus','Proficiency');
				FillResident('parsedatasecuredFillResident','resident');
				FillHCCategory('parsedatasecuredFillHCCategory','DisabilityDetail');
				FillHCsubCategory('parsedatasecuredFillHCsubCategory','HandicappedSubCategory');
				
				FillDisablityPriority('parsedatasecuredFillDisablityPriority','DisablityPriority');
				FillEyesight('parsedatasecuredFillEyesight','Eyesight');
				FillSportname('parsedatasecuredFillSportname','sportname');
				FillSportcertificate('parsedatasecuredFillSportcertificate','sportcertificate');
				FillNCCcertificate('parsedatasecuredFillNCCcertificate','NCCcertificate');
				FetchPhysicalDetail('parsedatasecuredFetchPhysicalDetail');
			
				FillPersonalDetailSecured('parsedatasecuredpersonaldetails');
				// FillEmployementSecured('parsedatasecuredemployement');
				// FillIdentificationDetailSecured('parsedatasecuredidentificationdetails');
			    // FetchLanguage('parsedatasecuredFetchLanguage');
				// FetchTyping('parsedatasecuredFetchTyping');
			

				    $("#Block1").hide();
					$("#Block2").hide();
                    $("#Panch").hide();

				jQuery('#differentlyabled').on('change', function () {
                if ($("#differentlyabled" ).val() == "Handicap") {
					$("#handiCategory1").show();
					$("#handiCategory2").show();
                    $("#DisablityPrio").show();
                    $("#DisabilityDetail").val("0")
                    $("#HandicappedSubCategory").val("0")
                    $("#DisablityPriority").val("0")
                }
                else {
					$("#handiCategory1").hide();
					$("#handiCategory2").hide();
                    $("#DisablityPrio").hide();
                    $("#DisabilityDetail").val("0")
                    $("#HandicappedSubCategory").val("0")
                    $("#DisablityPriority").val("0")
                }
			});
			
			jQuery('#Area').on('change', function () {
                if ($("#Area").val() == "0") {
					$("#Block1").hide();
					$("#Block2").hide();
                    $("#Panch").hide();
                    $("#Block").val("0")
                    $("#Panchayat").val("0")
                   
				}
				else  if ($("#Area").val() == "1") {
					$("#Block1").hide();
					$("#Block2").hide();
                    $("#Panch").hide();
                    $("#Block").val("0")
                    $("#Panchayat").val("0")
                }
                else if ($("#Area").val() == "2") {
					$("#Block1").show();
					$("#Block2").show();
					$("#Panch").show();
                    $("#Block").val("0")
                    $("#Panchayat").val("0")
				}
			
            });

			
			jQuery('#ExamPassed').on('change', function () {
                if ($("#ExamPassed" ).val() == "24") {
                    $("#Specialization").show(); 
                    $("#Course").show();
                    $("#Course").val("0")
                    $("#coursetype1").hide();
                    $("#coursetype2").hide();
                    $("#uniboardpassotyr").hide();
                    $("#diviper").hide();
                }
                else if ($("#ExamPassed" ).val() == "23") {
                    $("#Specialization").show();
                    $("#Course").show();
                    $("#Course").val("0")
					$("#coursetype1").hide();
                    $("#coursetype2").hide();
                    $("#uniboardpassotyr").hide();
                    $("#diviper").hide();
                }
                else  {
                    $("#Specialization").show();
                    $("#Course").show();
					$("#Course").val("0")

					$("#coursetype1").show();
                    $("#coursetype2").show();
                    $("#uniboardpassotyr").show();
                    $("#diviper").show();
                    // $("#CourseType").show();
                    // $("#university").show();
                    // $("#PassingOutYear").show();
                    // $("#Division").show();
                    // $("#Percentage").show();
                }
            });


			
			  var tablehead="<th>Employer Name</th><th> Nature of Work </th><th> From Date </th><th> To Date </th><th> Remarks </th><th> Modify </th><th> Delete </th>";
        $("#tablehead").html(tablehead);
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
