<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
    <% include ../../partials/head %>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body style="background-image: url(../images/bg/bg-1.jpg)"
    class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <% include ../../partials/header %>
        <!-- end::Header -->
        <!-- begin::Body -->
        <div
            class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                <div class="m-grid__item m-body__nav">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                            <button
                                class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                                id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <% include ../../partials/Menu %>
                        </div>

                    </div>
                </div>
                <div
                    class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    <!-- BEGIN: Left Aside -->
                    <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
                        <i class="la la-close"></i>
                    </button>

                    <!-- END: Left Aside -->
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <!-- BEGIN: Subheader -->
                        <div class="m-subheader ">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h3 class="m-subheader__title m-subheader__title--separator">
                                        Jobseeker Services
                                    </h3>
                                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                        <li class="m-nav__item m-nav__item--home">
                                            <a href="/index" class="m-nav__link m-nav__link--icon">
                                                <i class="m-nav__link-icon la la-home"></i>
                                            </a>
                                        </li>



                                    </ul>
                                </div>
                                <% include ../../partials/calendar %>
                                <div>

                                </div>
                            </div>
                        </div>
                        <!-- END: Subheader -->
                        <div class="m-content">
                            <div class="m-portlet">

                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <!-- <h3 class="m-portlet__head-text">
                                                                Jobseeker Information
                                                            </h3> -->
                                            <div class="m-portlet__body">
                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-2">
                                                       <a href="CVTemplate"> <button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            View Profile
                                                        </button></a>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <a href="JobSeekerProfile"><button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            Modify JobSeeker profile
                                                        </button></a>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <a href="PrintRegCard"><button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            Print Registration Card
                                                        </button></a>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <a href="JobseekerServices/ChangePass"><button type="button" class="btn btn-success"
                                                            style="background-color:#716aca;border-color:#716aca;">
                                                            Change Password
                                                        </button></a>
                                                    </div>



                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <h3 class="m-portlet__head-text">
                                                Jobseeker Information
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <!--begin::Form-->
                                <form class="m-form">


                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions m-form__actions">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    Next Renewal Month & Year :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="NextRenewalDate"></h6>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    Number of Time Submitted :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="NumberofTimeSubmitted"></h6>
                                                </div>

                                            </div>

                                            <h5>Personal Details</h5>
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Registration Number :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="RegistrationNumber"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Registration Date :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="RegistrationDate"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Applicant Name :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="ApplicantName"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Father's/Husband Name :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="FatherOrHusbandName"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Date of Birth :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="DateofBirth"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Marital Status :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="MaritalStatus"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Category :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="Category"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Gender :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="Gender"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Username :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="Username"></h6>
                                                </div>
                                            </div>

                                            <h5>Contact Details</h5>
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Area :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="Area"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Address :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="Address"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    District :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="District"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    City :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="City"></h6>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    PinCode :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="PinCode"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Mobile No :
                                                </label>
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="MobileNo"></h6>
                                                </div>
                                            </div>

                                            <!-- <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Std :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="Std"></h6>
                                                </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Contact No. :
                                                </label>
                                                <div class="col-lg-4">
                                                    <h6 id="ContactNo"></h6>
                                                </div>
                                            </div> -->

                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                    Email_id :
                                                </label>
                                                
                                                <div class="col-lg-4" style="margin-top: 1%;">
                                                    <h6 id="Emailid"></h6>
                                                </div>
                                            
                                            </div>


                                            <div class="m-portlet__foot m-portlet__foot--fit">
                                                <div class="m-form__actions m-form__actions">
                                                    <h5> Experience Details</h5>

                                                    <div class="form-group m-form__group row"
                                                        style="    overflow: auto; ">
                                                        <div class="col-lg-12">
                                                            <table
                                                                class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                                                <thead>
                                                                    <tr id="tablehead">

                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbodyvalue"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <h5> Qualification Details </h5>
                                                    <div class="form-group m-form__group row"
                                                        style="    overflow: auto; ">
                                                        <div class="col-lg-12">
                                                            <table
                                                                class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                                                <thead>
                                                                    <tr id="tablehead2">

                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbodyvalue2"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>


                                        </div>



                                    </div>


                                </form>
                                <!--end::Form-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin::Body -->
        <% include ../../partials/footer %>
    </div>
    <!-- end:: Page -->


    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
</body>
<!-- end::Body -->

</html>

<!-- end::Scroll Top -->
<% include ../../partials/script %>   
<script src="../customjs/JobseekerServices/JobseekerInformation.js" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {

        FetchJobseekerInformation('parsedataFetchJobseekerInformation');

        var tablehead = "<th>Employer</th><th>Nature of Work </th><th>From Date</th><th>To Date</th><th>Remark</th>";
        $("#tablehead").html(tablehead);

        var tablehead2 = "<th>Passed Exam</th><th>Subject </th><th>Division</th><th>Percentage</th><th>Institute/University</th><th>Passing Year</th>";
        $("#tablehead2").html(tablehead2);
    });
    if (sessionStorage.getItem("CandidateId") == null) {
        window.location = "/";
    }
</script>