<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>

</head>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                    <div class="job-header">
                            <div class="jobinfo">
                              <div class="row">
                    <div class="col-md-10 col-sm-10"> 
                            <!-- Candidate Info -->
                            <div class="candidateinfo">
                              <div class="userPic" style="width:95px ;height:165px; background: none"><img style="max-width:91%" src="images/05032016070225indus_logo.png" alt=""></div>
                              <div class="title" style="    padding-bottom: 10px; font-size: 18px;text-align: -webkit-center;">Department of Technical Education, Skill Development and Employment, Government of Madhya Pradesh</div>
                              <div class="title" style="    padding-bottom: 10px; font-size: 18px;text-align: -webkit-center;">Directorate of Employment, Madhya Pradesh</div>
                              <div class="title" style="    padding-bottom: 10px;text-align: -webkit-center;"> District Employment Exchange, Bhopal</div>
                              <div class="title" style="    padding-bottom: 10px;font-size: 18px;text-align: -webkit-center;">IDENTITY CARD</div>
                              <div class="desi" style="    padding-bottom: 10px;text-align: -webkit-center;">(It is not an Identity Card for Interview with Employers)</div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2"> 
                                <div class="candidateinfo">
                                        <div class="userPic" style="width:95px ; background: none; float: right">
                                            <img style="max-width:100%;     height: 80px" src="/images/favicon.ico" alt=""></div>
                                      </div>
            </div>
            </div>
            <div class="clearfix" style="padding-top: 30px"></div>
            <div class="row" style="border:solid 1px">
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                    <div class="col-md-2 col-sm-2">Name:</div>
                    <div class="col-md-4 col-sm-4" id="cadName"> </div>
                    <div class="col-md-2 col-sm-2">Date-of Birth:</div>
                    <div class="col-md-4 col-sm-4" id="dateofbirth"></div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-2 col-sm-2">Registration No:</div>
                    <div class="col-md-4 col-sm-4" id="RegistrationId"></div>
                    <div class="col-md-2 col-sm-2">Registration Date:</div>
                    <div class="col-md-4 col-sm-4" id="regdate"></div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-2 col-sm-2">Qualification/Skills:</div>
                    <div class="col-md-4 col-sm-4" id="educationName"></div>
                    <div class="col-md-2 col-sm-2">Category:</div>
                    <div class="col-md-4 col-sm-4" id="txtCategory"></div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-2 col-sm-2">Domicile:</div>
                    <div class="col-md-4 col-sm-4" id="domicile"></div>
                    <div class="col-md-2 col-sm-2">Handicapped:</div>
                    <div class="col-md-4 col-sm-4" id="handicapp"></div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
            </div>
            <div class="row" style="border:solid 1px">
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                    <div class="col-md-12 col-sm-12">Next Renewal Month and Year: <span id="renewal"></span> </div>
                    
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-12 col-sm-12">User Name: <span id="username"></span> </div>
                   <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-12 col-sm-12">* For further information Login into our Website at www.mprojgar.gov.in</div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
            </div>
            <div class="row" style="border:solid 1px">
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                    <div class="col-md-12 col-sm-12">
                        <p>
                        DISCLAIMER (अस्वीकरण) : पहचान पत्र (Identity Card) आवेदक द्वारा www.mprojgar.gov.in  पर दर्ज की गयी स्वघोषित जानकारी के अनुसार स्वतः मुद्रित हुआ है , अतः पहचान पत्र को रोजगार कार्यालय से सत्यापित / प्रमाणित / हस्ताक्षरित कराने की आवश्यकता नहीं है। आवेदक द्वारा दी गयी स्वघोषित जानकारी / डेटा की सत्यता के लिए विभाग जिम्मेदार नहीं है, नियुक्ति के समय आवेदक के मूल प्रमाण पत्रों की सत्यता की जांच का दायित्व नियोजक का होगा। 
                    </p>
                    </div>
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                </div>
                <div class="row">
                        <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                        <div class="col-md-6 col-sm-12">
                            <p>
                                 Print Date:<span id="printdate"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                            <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                            <div class="col-md-6 col-sm-12">
                        <button type="button" id="Print">
                            Print 
                         </button></div>
                         <div class="col-md-6 col-sm-12">
                               <a href="JobseekerInformation"> <button type="button" onclick="window.history.back();">
                                    Back
                                 </button></a>
                                </div>
                        
                    </div>
              
            </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
    </div>

    </div>
    <% include ../../partials/script %>
    <script src="../customjs/JobseekerServices/PrintRegcard.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        FillPrint('parsedatasecuredFillPrint','');
       
      });
      $("#Print").click(function(){
        window.print();
// $('.container').printThis({
//         debug: false,               // show the iframe for debugging
//         importCSS: true,            // import parent page css
//         importStyle: false,         // import style tags
//         printContainer: true,       // print outer container/$.selector
//         loadCSS: "",                // path to additional css file - use an array [] for multiple
//         pageTitle: "Print Check",              // add title to print page
//         removeInline: false,        // remove inline styles from print elements
//         removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
//         printDelay: 333,            // variable print delay
//         header: "Print Check",               // prefix to html
//         footer: null,               // postfix to html
//         base: false,                // preserve the BASE tag or accept a string for the URL
//         formValues: true,           // preserve input/form values
//         canvas: false,              // copy canvas content
//         doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
//         removeScripts: false,       // remove script tags from print content
//         copyTagClasses: false,      // copy classes from the html & body tag
//         beforePrintEvent: null,     // callback function for printEvent in iframe
//         beforePrint: null,          // function called before iframe is filled
//         afterPrint: null            // function called before iframe is removed);
// });
});
      </script>