<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                                Jobseeker Services 
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										
											<div  id="addjobdetails" >
													
														
																</div>
										<div id="SearchGD"><div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Manual Transfer Recieved System
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form" id="">
                                                <div class="m-portlet__body">
                                                    <div class="m-form__section m-form__section--first">
                                                            <span style="color: red">Fields mark with * are Mandatory.</span>
                                                            <h4> Previous Registration Details </h4>
                                                
                                                        
                                                        <div class="m-form__group form-group row">
                                                            <label class="col-lg-3 col-form-label">
                                                                    Registration Transfer From  :
                                                            </label>
                                                            <div class="col-lg-9">
                                                                <input type="text" id="" class="form-control" name="end" />
                                                                           
                                                            </div>
                                                           
                                                            </div>
                                                        </div>
                                                        
                                                            <div class="m-form__group form-group row">
                                                                    <label class="col-lg-2 col-form-label">
                                                                            Old Registration No :
                                                                    </label>
                                                                    <div class="col-lg-4">
                                                                        <input class="form-control m-input"id="" >
                                                                        
                                                                    </div>
                                                                    <label class="col-lg-2 col-form-label">
                                                                            Registration Date :
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <input class="form-control m-input" placeholder="(dd/mm/yyyy)" id="" >
                                                                                    </div>

                                                                </div>
                                                            
                                                                        
                                                                    <h4>Personal Details</h4>
                                                                    <div class="form-group m-form__group row">
                                                                            <label class="col-lg-2 col-form-label">
                                                                                    Category :       
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                    <select type="text" class="form-control m-input" readonly=""    placeholder="" id="">
                                                                                   <option>UR</option>
                                                                                   <option>SC</option>
                                                                                   <option>ST</option>
                                                                                   <option>OBC</option>
                                                                                    </select>
                                                                                    </div>
                                                                            <label class="col-lg-2 col-form-label">
                                                                                    Gender:
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <select type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                            <option>Male</option>
                                                                                            <option>Female</option>
                                                                                            
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                    
                                                                        <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                        Domicile :
                                                                                     </label>
                                                                                <div class="col-lg-4">
                                                                                   <select type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                       <option>Mp</option>
                                                                                       <option>Non-Mp</option>
                                                                                   </select>
                                                                                        </div>
                                                                                        
                                                                                          <label class="col-lg-2 col-form-label">
                                                                                                First Name<span style="color: red">*</span> :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                                <input type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                                      
                                                                                                </div>
                                                                         </div>
                                                                         
                                                                         <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                        Surname :
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                        <input type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                                
                                                                                        </div>

                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Father's/Husband Name<span style="color: red">*</span> :
                                                                                            </label>
                                                                                            <div class="col-lg-4">
                                                                                               <input type="text" class="form-control m-input"  placeholder=" "  id=""></input>
                                                                                                    </div>
                                                                         </div>

                                                                                          
                                                                         
                                                                         
                                                                                                       <div class="form-group m-form__group row">                                      

                                                                                                                 <label class="col-lg-2 col-form-label">
                                                                                                                        DOB <span style="color: red">*</span>:
                                                                                                                    </label>
                                                                                                                    <div class="col-lg-2">
                                                                                                                        <div class="input-group date">
                                                                                                                                <input type="text" class="form-control m-input" readonly=""   placeholder="(dd/mm/yyyy)" id="m_datepicker_5">
                                                                                                                                <div class="input-group-append">
                                                                                                                                    <span class="input-group-text">
                                                                                                                                        <i class="la la-calendar-check-o"></i>
                                                                                                                                    </span>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            </div>

                                                                                                                            <label class="col-lg-1 col-form-label">
                                                                                                                                   Age<span style="color: red">*</span>:
                                                                                                                                </label>
                                                                                                                                <div class="col-lg-1">
                                                                                                                                        <input type="text" class="form-control m-input" readonly=""   placeholder="" id="m_datepicker_5">
                                                                                                                              
                                                                                                                                    </div>
                                                                                                                                    <div class="col-lg-6">
                                                                                                                                   <input type="checkbox" name="check" value="check"> <span style="color: red">** if you don't know your DOB then √ and fill age</span>
                                                                                                                                </div>  
                                                                                                                                </div>
                                                                           <h4>Contact Details</h4>
                                                                         <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                        Area:
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                   <select type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                       <option>Urban </option>
                                                                                       <option>Rural</option>
                                                                                   </select>
                                                                                        </div>
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                District  :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                           <select type="text" class="form-control m-input"  placeholder=" "  id=""></select>
                                                                                                </div>
                                                                         </div>
                                                                         <div class="form-group m-form__group row">
                                                                                <label class="col-lg-2 col-form-label">
                                                                                        City/Towne :       
                                                                                </label>
                                                                                <div class="col-lg-4">
                                                                                   <select type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                   </select>
                                                                                        </div>
                                                                                      
                                                                                <label class="col-lg-2 col-form-label">
                                                                                        Date of interview/test:
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                               <input type="text" class="form-control m-input"  placeholder=" "  id=""></input>
                                                                                    </div> 
                                                                         </div>
                                                                         
                                                                         <div class="form-group m-form__group row">
              
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Time of interview/test :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id=""></input>
                                                                                                </div>

                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                        Block :
                                                                                                </label>
                                                                                                <div class="col-lg-4">
                                                                                                   <select type="text" class="form-control m-input"  placeholder=" "  id=""></select>
                                                                                                        </div>
                                                                                </div>
                                                                         
                                                                                <div class="form-group m-form__group row">
              
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Panchayat :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                           <select type="text" class="form-control m-input"  placeholder=" "  id=""></select>
                                                                                                </div>

                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                        Village :
                                                                                                </label>
                                                                                                <div class="col-lg-2">
                                                                                                   <select type="text" class="form-control m-input"  placeholder=" "  id=""></select>
                                                                                                        </div>
                                                                                                        <div class="col-lg-2">
                                                                                                                <input type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                                                     </div>
                                                                                </div>
                                                                        
                                                                                <div class="form-group m-form__group row">
              
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Address :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                           <textarea type="text" class="form-control m-input"  placeholder=" " rows="3"  id="" ></textarea>
                                                                                                </div>
                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                        पता  :
                                                                                               </label>
                                                                                               <div class="col-lg-4">
                                                                                                  <textarea type="text" class="form-control m-input"  placeholder=" "  id="" rows="3"></textarea>
                                                                                                       </div>
                                                                                </div>
                                                                        
                                                                                <div class="form-group m-form__group row">
              
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Pin Code  :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                                </div>
                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                        E-mail  :
                                                                                               </label>
                                                                                               <div class="col-lg-4">
                                                                                                  <input type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                                       </div>
                                                                                </div>
                                                                                <div class="form-group m-form__group row">
              
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Phone :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                                </div>
                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                        Mobile :
                                                                                               </label>
                                                                                               <div class="col-lg-4">
                                                                                                  <input type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                                       </div>
                                                                                </div>

                                                                                <h4>Differently Abled</h4>
                                                                                <div class="form-group m-form__group row">
                                                                                    <label class="col-lg-2 col-form-label">
                                                                                        Differently Abled :
                                                                                        </label>
                                                                                        <div class="col-lg-4">
                                                                                           <select type="text" class="form-control m-input"  placeholder=" "  id="">
                                                                                        <option>Yes</option>   
                                                                                        <option>No</option> 
                                                                                        </select>      
                                                                                        </div>
                                                                                                
                                                                                </div>

                                                                                <h4> NCO Details </h4>
                                                                                <div class="form-group m-form__group row">
                                                                                    <label class="col-lg-4 col-form-label">
                                                                                            Education Qualification<span style="color: red">*</span> :
                                                                                        </label>
                                                                                        <div class="col-lg-8">
                                                                                           <input type="text" class="form-control m-input"  placeholder=" "  id=""></input>
                                                                                              
                                                                                        </div>
                                                                                       
                                                                                </div>

                                                                                <div class="form-group m-form__group row">
                                                                                        <label class="col-lg-2 col-form-label">
                                                                                                Main NCO<span style="color: red">*</span> :
                                                                                            </label>
                                                                                            <div class="col-lg-4">
                                                                                               <input type="text" class="form-control m-input"  placeholder=" "  id=""></input>
                                                                                                  
                                                                                            </div>
                                                                                           
                                                                                            <label class="col-lg-2 col-form-label">
                                                                                                    Seniority Date<span style="color: red">*</span> :
                                                                                                </label>
                                                                                                <div class="col-lg-4">
                                                                                                        <div class="input-group date">
                                                                                                                <input type="text" class="form-control m-input" readonly="" placeholder="(dd/mm/yyyy)"  id="m_datepicker_6">
                                                                                                                <div class="input-group-append">
                                                                                                                    <span class="input-group-text">
                                                                                                                        <i class="la la-calendar-check-o"></i>
                                                                                                                    </span>
                                                                                                                </div>
                                                                                                            </div>    
                                                                                                </div>
                                                                                    </div>

                                                                                    <div class="form-group m-form__group row">
                                                                                            <label class="col-lg-2 col-form-label">
                                                                                                    Alternate NCO I :
                                                                                                </label>
                                                                                                <div class="col-lg-4">
                                                                                                   <input type="text" class="form-control m-input"  placeholder=" "  id=""></input>
                                                                                                      
                                                                                                </div>
                                                                                               
                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                       	
                                                                                                  Seniority Date :
                                                                                                    </label>
                                                                                                    <div class="col-lg-4">
                                                                                                            <div class="input-group date">
                                                                                                                    <input type="text" class="form-control m-input" readonly="" placeholder="(dd/mm/yyyy)"  id="m_datepicker_6">
                                                                                                                    <div class="input-group-append">
                                                                                                                        <span class="input-group-text">
                                                                                                                            <i class="la la-calendar-check-o"></i>
                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                </div>   
                                                                                                    </div>
                                                                                        </div>
                                                                         
                                                                                        <div class="form-group m-form__group row">
                                                                                                <label class="col-lg-2 col-form-label">
                                                                                                        Alternate NCO II :
                                                                                                    </label>
                                                                                                    <div class="col-lg-4">
                                                                                                       <input type="text" class="form-control m-input"  placeholder=" "  id=""></input>
                                                                                                          
                                                                                                    </div>
                                                                                                   
                                                                                                    <label class="col-lg-2 col-form-label">
                                                                                                               
                                                                                                      Seniority Date :
                                                                                                        </label>
                                                                                                        <div class="col-lg-4">
                                                                                                                <div class="input-group date">
                                                                                                                        <input type="text" class="form-control m-input" readonly="" placeholder="(dd/mm/yyyy)"  id="m_datepicker_6">
                                                                                                                        <div class="input-group-append">
                                                                                                                            <span class="input-group-text">
                                                                                                                                <i class="la la-calendar-check-o"></i>
                                                                                                                            </span>
                                                                                                                        </div>
                                                                                                                    </div>   
                                                                                                        </div>
                                                                                            </div>
                                                                        
                                                                                            <div class="m-form__group form-group row">
                                                                                                    <div class="col-lg-5"></div>
                                                                                            <button type="button"   class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                                    Register
                                                                                            </button>
                                                                                        </div>
                                                                    </div>

                                                                    
                                                     </form>
										
                                    </div>
										<!--end::Form-->
										
									
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		      <script type="text/javascript">
            $(document).ready(function () {
				
                var tablehead="<th>PostId</th><th>Employer Name</th><th>Submitted By</th><th>Designation</th><th>Posting Date</th><th>Verify Status</th><th>Modify</th><th>Delete</th><th>Create Order Card</th>";
        $("#tablehead").html(tablehead);
							});
							
  
                </script>
