<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
											Jobseeker Service
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									
									
									<div class="m-portlet" >
										
											<div  >
													<div class="m-portlet__head">
															<div class="m-portlet__head-caption">
																<div class="m-portlet__head-title">
																	<span class="m-portlet__head-icon m--hide">
																		<i class="la la-gear"></i>
																	</span>
																	<h3 class="m-portlet__head-text" >
																			Job Seeker Registration Transfer System
																	</h3>
																</div>
															  
															</div>
														</div>
													<form class="m-form" >
															<div class="m-portlet__body">
															
																	
																		<div class="m-form__group form-group row">
																				<label class="col-lg-2 col-form-label">
                                                                                        Enter Registration Number:
																				</label>
																				<div class="col-lg-4">
                                                                                        <input type="text" class="form-control" name="end" id="txtad"
                                                                                        >		
																				</div>
																			
																						<div class="col-lg-4">
                                                                                                <button type="button" onclick="$('#JSdetailsById').show()"   class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                                       Search
                                                                                                          </button></div>

																			</div>
																		
																					
																				
																
															</form>	
																</div>
															
														<div id="JSdetailsById" style="display:none">
																	
																	<!--begin::Form-->
																	<form class="m-form" id="" >
																			<div class="m-portlet__body">
																				<div class="m-form__section m-form__section--first">
																						
																		   
																			
																					
																					<div class="m-form__group form-group row">
																						<label class="col-lg-2 col-form-label">
                                                                                                Registration No.:
																						</label>
																						<div class="col-lg-4">
																						<p id='RegNoById'><p>
																						</div>
																						<label class="col-lg-2 col-form-label">
																								Registration Date :
																							</label>
																							<div class="col-lg-4">
																									<p id='RegDateById'><p>
																						</div>
																					</div>
																					
																						<div class="m-form__group form-group row">
																								<label class="col-lg-2 col-form-label">
                                                                                                        Renewal Date:
																								</label>
																								<div class="col-lg-4">
																										<p id='renewdtById'><p></div>
																								<label class="col-lg-2 col-form-label">
																										Job Seeker Name:
																										</label>
																										<div class="col-lg-4">
																												<p id='JSNameById'><p></div>
				
																							</div>
																						
																									
																								
																								<div class="form-group m-form__group row">
																										<label class="col-lg-2 col-form-label">
                                                                                                                Father's/Husband Name:
																										</label>
																										<div class="col-lg-4">
																												<p id='FathernameById'><p>			
																										</div>
																										<label class="col-lg-2 col-form-label">
																												Date of Birth:
																											</label>
																											<div class="col-lg-4">
																													<p id='DoBById'><p></div>
																									</div>
																								
																									<div class="form-group m-form__group row">
																											<label class="col-lg-2 col-form-label">
																													Category:
																											</label>
																											<div class="col-lg-4">
																							
																													  </div>
																													  <label class="col-lg-2 col-form-label">
																															Gender:
                                                                                                                    </label>
                                                                                                                    <div class="col-lg-4">
																							
                                                                                                                        </div>
                                                                                                     </div>
                                                                                                     <div class="form-group m-form__group row">
																											<label class="col-lg-2 col-form-label">
																													Transfer To:
																											</label>
																											<div class="col-lg-4">
                                                                                                                    <select id="AddCCexchange" class="form-control m-input"></select>
																		
																													  </div>
																													 
																									 </div>
																									
																									 
																			<div class="form-group m-form__group row">
																			<div class="col-lg-5"></div>
																					<div class="col-lg-2">
																						<button type="button"id="btnSubmit"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
																								Transfer
																									</button>
																					</div>
																					
																					
																				</div>
																			</form>	
															
															
																
														
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<% include ../../partials/script %>

        <script type="text/javascript">
            $(document).ready(function () {
			
				// FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice','careercounsellingdetailexchange');
				
    
                            });
                            if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
                </script>
	</body>
	<!-- end::Body -->
</html>
