<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
												
                                                Jobseeker Service
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            Job Seeker Verification
													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                 
														<div class="m-form__group form-group row">
																<label class="col-lg-3 col-form-label">
																	Search Employer according to	
																</label>
																<div class="col-lg-4">
                                                                    <select name="ddltype" onchange="SearchType(this.value)" id="ddlSearchType"  class="form-control m-input"><option value="1">Registration Number </option>
                                                                        <option value="2">Candidate Name</option>
                                                                        <option value="3">Registration Date</option>
                                                                        <option value="4">Date of Birth</option>
                                                                        <option value="5">Registration Month and Year</option>
                                                                    </select>
																</div>
                                                            </div>
                                                            <div class="m-portlet__head">
                                                                <div class="m-portlet__head-caption">
                                                                    <div class="m-portlet__head-title">
                                                                        <span class="m-portlet__head-icon m--hide">
                                                                            <i class="la la-gear"></i>
                                                                        </span>
                                                                        <h3 class="m-portlet__head-text" id="typehead">
                                                                           
                                                                        </h3>
                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
															<div class="m-form__group form-group row" style="display: none" id="regno">
                                                                
																<label class="col-lg-3 col-form-label">
																	Registration Number:		
																</label>
																<div class="col-lg-4">
                                                                    <input type="text" id="txtRegNo"  class="form-control" name="end" placeholder="Registration Number">
																				
                                                                </div>
                                                               
                                                                
                                                                <div class="col-lg-2">
                                                                    <select name="ddltype" class="form-control m-input"><option value="0">Not Verified</option>
                                                                        <option value="1">Verified</option>
                                                                       
                                                                    </select>	
                                                                </div>
                                                                <div class="col-lg-2">
                                                                                
                                                                    <button type="button" onclick="fetchJobseeker($('#txtRegNo').val(),'0','0','0','0','0')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                 Search
                                                                    </button>
                                                                            
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <div class="m-form__group form-group row" style="display: none" id="candidatename">
                                                                
                                                                            <label class="col-lg-3 col-form-label">
                                                                                    Candidate Name:		
                                                                            </label>
                                                                            <div class="col-lg-4">
                                                                                <input type="text" id="txtCandidateName" class="form-control" name="end" placeholder="Candidate Name">
                                                                                            
                                                                            </div>
                                                                           
                                                                           
                                                                            <div class="col-lg-2">
                                                                                <select name="ddltype" class="form-control m-input"><option value="0">Not Verified</option>
                                                                                    <option value="1">Verified</option>
                                                                                   
                                                                                </select>	
                                                                            </div>
                                                                            <div class="col-lg-2">
                                                                                            
                                                                                <button type="button" onclick="fetchJobseeker('0',$('#txtCandidateName').val(),'0','0','0','0')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                             Search
                                                                                </button>
                                                                                        
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                    <div class="m-form__group form-group row" style="display: none" id="regdate">
                                                                
                                                                    
                                                                           
                                                                                    <label class="col-lg-3 col-form-label">
                                                                                            Registration Date (dd/mm/yyyy):			
                                                                                    </label>
                                                                                  
                                                                                            <div class="col-lg-4">
                                                                                                    <div class="input-group date">
                                                                                                            <input type="text" class="form-control m-input" readonly="" placeholder="Registration Date " id="m_datepicker_5">
                                                                                                            <div class="input-group-append">
                                                                                                                <span class="input-group-text">
                                                                                                                    <i class="la la-calendar-check-o"></i>
                                                                                                                </span>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <span id="validm_datepicker_5" style="font-size: 11px; color: #cc0033; "></span>
                                                                                                        
                                                                                            </div>               
                                                                                       
                                                                                  
                                                                            <div class="col-lg-2">
                                                                                <select name="ddltype" class="form-control m-input"><option value="0">Not Verified</option>
                                                                                    <option value="1">Verified</option>
                                                                                   
                                                                                </select>	
                                                                            </div>
                                                                            <div class="col-lg-2">
                                                                                            
                                                                                <button type="button" onclick="fetchJobseeker('0','0',$('#m_datepicker_5').val(),'0','0','0')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                             Search
                                                                                </button>
                                                                                        
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                            <div class="m-form__group form-group row" style="display: none" id="DOBsearch">
                                                                
                                                                                                    <label class="col-lg-3 col-form-label">
                                                                                                            Date of Birth(dd/mm/yyyy)	:		
                                                                                                    </label>
                                                                                                    <div class="col-lg-4">
                                                                                                            <div class="input-group date">
                                                                                                                    <input type="text" class="form-control m-input" readonly="" placeholder="Date of Birth" id="m_datepicker_6">
                                                                                                                    <div class="input-group-append">
                                                                                                                        <span class="input-group-text">
                                                                                                                            <i class="la la-calendar-check-o"></i>
                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <span id="validm_datepicker_5" style="font-size: 11px; color: #cc0033; "></span>
                                                                                                                
                                                                                                    </div>   
                                                                                                   
                                                                                                   
                                                                                                    <div class="col-lg-2">
                                                                                                        <select name="ddltype" class="form-control m-input"><option value="0">Not Verified</option>
                                                                                                            <option value="1">Verified</option>
                                                                                                           
                                                                                                        </select>	
                                                                                                    </div>
                                                                                                    <div class="col-lg-2">
                                                                                                                    
                                                                                                        <button type="button" class="btn btn-success" onclick="fetchJobseeker('0','0','0',$('#m_datepicker_6').val(),'0','0')" style="background-color:#716aca;border-color:#716aca;">
                                                                                                     Search
                                                                                                        </button>
                                                                                                                
                                                                                                                
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="m-form__group form-group row" style="display: none" id="remonthyear">
                                                                
                                                                    
                                                                           
                                                                                                                <label class="col-lg-3 col-form-label">
                                                                                                                        Month and Year			
                                                                                                                </label>
                                                                                                                <div class="col-lg-2">
                                                                                                                        <select id="ddlregmonth" class="form-control m-input">
                                                                                                                          
                                                                                                                        </select>         
                                                                                                                </div>
                                                                                                                <div class="col-lg-2">
                                                                                                                        <select id="ddlregyear" class="form-control m-input">
                                                                                                                           
                                                                                                                        </select>         
                                                                                                                
                                                                                                                </div>
                                                                                                              
                                                                                                        <div class="col-lg-2">
                                                                                                            <select name="ddltype" class="form-control m-input"><option value="0">Not Verified</option>
                                                                                                                <option value="1">Verified</option>
                                                                                                               
                                                                                                            </select>	
                                                                                                        </div>
                                                                                                        <div class="col-lg-2">
                                                                                                                        
                                                                                                            <button type="button" onclick="fetchJobseeker('0','0','0','0',$('#ddlregmonth').val(),$('#ddlregyear').val())" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                                         Search
                                                                                                            </button>
                                                                                                                    
                                                                                                                    
                                                                                                                </div>
                                                                                                            </div>
													<div class="m-portlet__foot m-portlet__foot--fit">
														<div class="m-form__actions m-form__actions">
														
														<% include ../../pages/Table %>
														</div>
													</div>
													</div>
                                                   
												</div>
											</div>
											
										</form>
										<!--end::Form-->
										
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Body -->
			<% include ../../partials/footer %>
		</div>
		<!-- end:: Page -->
    
       
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
	</body>
	<!-- end::Body -->
</html>

<!-- end::Scroll Top -->	
		<% include ../../partials/script %>
		<script src="../customjs/JobseekerServices/Verification.js" type="text/javascript"></script>
		<script type="text/javascript">
		
            $(document).ready(function () {
                SearchType('1');
                $('#input-group date').datetimepicker({
  format: 'DD-MM-YYYY',
  pickTime: false
});
                var tablehead="<th><a  style='color: white;'>Registration No</a></th><th>Registration Date</th><th>First Name</th><th>Surname</th><th>Father's/Husband Name</th><th>Date of Birth</th>";
        $("#tablehead").html(tablehead);
							});
							if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/";
  }
function  SearchType(value){
    if(value=="1"){
$("#typehead").html('Enter Registration Number');
$("#regno").show();
$("#DOBsearch").hide();
$("#regdate").hide();
$("#candidatename").hide();
$("#remonthyear").hide();
   }
   if(value=='2'){
$("#typehead").html('Enter Jobseeker Name');
$("#regno").hide();
$("#DOBsearch").hide();
$("#regdate").hide();
$("#candidatename").show();
$("#remonthyear").hide();

   }
   if(value=='3'){
$("#typehead").html('Enter Registration Date');
$("#regno").hide();
$("#DOBsearch").hide();
$("#regdate").show();
$("#candidatename").hide();
$("#remonthyear").hide();
   }
   if(value=='4'){
$("#typehead").html('Enter Jobseeker DOB');
$("#regno").hide();
$("#DOBsearch").show();
$("#regdate").hide();
$("#candidatename").hide();
$("#remonthyear").hide();
   }
   if(value=='5'){
$("#typehead").html('Select Month & Year');
$("#regno").hide();
$("#DOBsearch").hide();
$("#regdate").hide();
$("#candidatename").hide();
$("#remonthyear").show();
FillMonth('parsedatasecuredFillMonth','ddlregmonth');
FillYear('parsedatasecuredFillYear','ddlregyear');
   }
     
}
                </script>
