<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
			<% include ../../partials/head %>
		</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  style="background-image: url(../images/bg/bg-1.jpg)"  class="m-page--boxed m-body--fixed m-header--static m-aside-left--enabled m-aside-left--offcanvas m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::Header -->
			<% include ../../partials/header %>
			<!-- end::Header -->
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
					<div class="m-grid__item m-body__nav">
						<div class="m-stack m-stack--ver m-stack--desktop">
							<!-- begin::Horizontal Menu -->
							<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
								<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
									<i class="la la-close"></i>
								</button>
								<% include ../../partials/Menu %>
							</div>
						
						</div>
					</div>
					<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
						<!-- BEGIN: Left Aside -->
						<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
							<i class="la la-close"></i>
						</button>
					
						<!-- END: Left Aside -->
						<div class="m-grid__item m-grid__item--fluid m-wrapper">
							<!-- BEGIN: Subheader -->
							<div class="m-subheader ">
								<div class="d-flex align-items-center">
									<div class="mr-auto">
										<h3 class="m-subheader__title m-subheader__title--separator">
                                               Back log Verification
										</h3>
										<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
											<li class="m-nav__item m-nav__item--home">
												<a href="/index" class="m-nav__link m-nav__link--icon">
													<i class="m-nav__link-icon la la-home"></i>
												</a>
											</li>
										
											
										
										</ul>
									</div>
									<% include ../../partials/calendar %>
									<div>
									
									</div>
								</div>
							</div>
							<!-- END: Subheader -->
							<div class="m-content">
									<div class="m-portlet">
										
											
										<div id="SearchGD"><div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
                                                            
                                                            Search Jobseeker from Backlog Expired Records and Send it to LR


													</h3>
												</div>
											  
											</div>
										</div>
										<!--begin::Form-->
										<form class="m-form">
											<div class="m-portlet__body">
												<div class="m-form__section m-form__section--first">
                                                    <div class="m-form__actions m-form__actions" style="    border: solid;background-color: whitesmoke;padding-bottom: inherit;">
														<h5 style="color: red;">  कैसे उपयोग करे </h5>
												  <ul>
												 <li>इस उपयोगिता के द्वारा रोजगार कार्यालय के अधिकारी/कर्मचारी के द्वारा चुने गये विकल्पो के आधार पर JOb Seeker का Record खोजा जा सकता हैं, तथा Verification कर Data Backlog से Live Register में लाया जा सकता हैं।</li>
												 
													</ul>

														</div>
                                                 
							                    <div class="m-form__group form-group row">
                                                      
                                                        <label class="col-lg-4 col-form-label"> 

                                                                Search JobSeeker according to  :
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <select id="SubjectGroup" class="form-control m-input">
                                                                   
                                                                    <option value="2"selected>Registration Number</option>
                                                                    <option value="3">Candidate Name</option> 
                                                                    <option value="3">Registration Date</option>
                                                                    <option value="3">Date of Birth</option>
                                                                    <option value="3">Father's/Husband Name</option>
                                                                     
                                                            </select>
                                                        </div>
                                                    </div>
                                                        <h4 class="m-portlet__head-text">
                                                            
                                                                Enter Registration Number

    
    
                                                        </h4>
                                                        </div>
                                                       
                                                        <div class="m-form__group form-group row">
                                                        <label class="col-lg-4 col-form-label">
                                                                Registration Number	:	 :
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <input id="exchange" class="form-control m-input" >
                                                                       
                                                                                                                               
                                                            </div>
                                                        </div>   

                                                        
                                                        
                                                        <div class="form-group m-form__group row">
                                                                <div class="col-lg-5"></div>
                                                                        <div class="col-lg-2">
                                                                            <button type="button"id="btnSubmit"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                                             Search 
                                                                                        </button>
                                                                        </div>
                                                                        
                                                                        
                                                                    </div>
</form>
                                                     
                                                                   
                                                                
                                                                
                                                                 </div>
                                                        </div>
							                    </div>
                                                           
                                                             
                                                                       
                                                                    </div>
                                                </div>
                                             
                                            		
                                                   
																			</div>
                                                                            
                                                                        </div>
                                                                        
                                                                    </form></div>
                                                                    <!--end::Form-->
                                                                    
                                                                
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- begin::Body -->
                                        <% include ../../partials/footer %>
                                    </div>
                                    <!-- end:: Page -->
                                
                                   
                                    <!-- begin::Scroll Top -->
                                    <div id="m_scroll_top" class="m-scroll-top">
                                        <i class="la la-arrow-up"></i>
                                    </div>
                                </body>
                                <!-- end::Body -->
                            </html>
                            
                            <!-- end::Scroll Top -->	
                                    <% include ../../partials/script %>
                                
                                          <script type="text/javascript">
                                        $(document).ready(function () {
                                    
                                                        });
                                                        
                              
                                            </script>
                            
                            
                                                 
                                                                    
                                                                                   
                                                                             
                                                                                    
                                                                            
                                                                                            
                                                                                    
                                                                                     
                                                                                                
                                                                                            
                                                                                             

                                                    

                                                   

											






